@{
    ViewBag.Title = "Home Page";
}


<div class="featured">
    <div class="content-wrapper banner-home @ViewBag.TextClass"
         style="background-image:url('@Url.Content("~/")@ViewBag.EntHomeBackgroundImage');">
        <div class="HomePageLogo">
            <img src="@Url.Content("~/")@ViewBag.EntHomePageLogo" />
        </div>
        <div class="banner-title-text" style="background-position:center;background-size:cover;">
            <br />
                <h2 class="@ViewBag.TextClass">
                    @ViewBag.EntName
                </h2>
                <p class="@ViewBag.TextClass">
                @ViewBag.EntAddress1 <br />
                @ViewBag.EntAddress2 <br />
                @ViewBag.EntAddress3 <br />
                @ViewBag.EntAddress4 <br />
                @ViewBag.EntAddress5 <br />
            </p>
        </div>
    </div>
</div>

<div>
    <h3>Modules</h3>
    <span>
        @( ViewBag.ConfigVersion != "" || ViewBag.DBActive != "" ? "Configuration: " : "")
        @( ViewBag.ConfigVersion != "" ? " Web: " + ViewBag.ConfigVersion : "" )
        @( ViewBag.DBActive != "" ? " | DB: " + ViewBag.DBActive : "" )
    </span>
</div>

<div class="row">
    @foreach (var t in ViewBag.EntServices)
    {
        <div class="col-md-4">
 
            <a href="@Url.Action("Service","Module", new { id=@t.Id })">
                <img src="@Url.Content("~/")@t.IconPath" style="height:90px;margin:20px" alt="Edit" />
            </a>
            <p>
                <h3> @t.Description </h3>
            </p>
        </div>
    }
</div>
<br /><br />