@model IEnumerable<JobsV1.Models.ReportingViewModels.JobSummary>

@{
    ViewBag.Title = "Jobs Summary";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal TotalAmount = 0;
    decimal TotalExpense = 0;
    decimal TotalPayments = 0;
    decimal TotalDriversRate = 0;
    int TotalCount = 0;
}

<h2>Jobs Summary</h2>
<div>
    @using (Html.BeginForm())
    {


<form>
        <div class="col-md-3" style="margin-bottom:5px;padding-left:0px;">
            <select name="month" class="form-control" aria-label="Select Month">
                <option selected>Filter Month</option>
                <option value="1">January</option>
                <option value="2">Febuary</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>


        <div class="col-md-3" style="margin-bottom:5px;">
            <select name="year" class="form-control" aria-label="Select Year">
                <option selected>Filter Year</option>
                @foreach (var year in ViewBag.Yearlist as List<int>)
                {
                    <option value="@year">@year</option>
                }

            </select>

        </div>
        <div class="col-md-2" style="margin-bottom:10px;">
            <input class="btn btn-primary" type="submit" value="Filter" style="margin-top: 0px">
        </div>
    </form>
    }
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Account
        </th>
        <th>
            Service Date
        </th>
        <th>
            Rate
        </th>
        <th>
            Drivers Rate
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        TotalCount += 1;
        TotalAmount += item.Amount;
        TotalExpense += item.Expenses;
        TotalPayments += item.Payment;
        TotalDriversRate += item.DriversRate;

        decimal amountVariance = item.Amount * (decimal)0.1;
        var paymentAmount = item.Payment;
        <tr>
            <td>
                <a href="/JobOrder/JobServices?JobMainId=@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company) <br />
                @Html.DisplayFor(modelItem => item.Contact)

                @if (!String.Equals(item.Contact.ToLower(), item.Description.ToLower()))
                {
                    if (item.Contact != item.Description)
                    {

                    }
                    <br />@Html.DisplayFor(modelItem => item.Description)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate) -
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <b>@item.Amount.ToString("#,##0.00")</b>
            </td>
            <td>
                @item.DriversRate.ToString("#,##0.00")
            </td>
            <td>
                <span class="text-red">@item.Expenses.ToString("#,##0.00")</span>
            </td>
            <td> 

                @if ((paymentAmount < (item.Amount - amountVariance) ||
                      paymentAmount > (item.Amount + amountVariance)))
                {
                    <img src="~/Images/SalesLead/high-importance.png" width="20"
                         alt="Payment Amount  reached a 10% variance of the Invoice Amount"
                         title="Payment Amount  reached a 10% variance of the  Invoice Amount" />
                }

                <span class="text-success">@item.Payment.ToString("#,##0.00")</span>
            </td>
            <td>

                @if (item.Status == "INQUIRY")
                {
                    <span class="label label-default">
                        @item.Status
                    </span>
                }
                else if (item.Status == "RESERVATION")
                {
                    <span class="label label-info">
                        @item.Status
                    </span>
                }
                else if (item.Status == "CONFIRMED")
                {
                    <span class="label label-success">
                        @item.Status
                    </span>
                }
                else if (item.Status == "CLOSED")
                {
                    <span class="label label-primary">
                            @item.Status
                    </span>
                }
                else
                {
                    <span class="label label-warning pull-right">
                            @item.Status
                    </span>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "JobSummaryDetails", new { id = item.Id })
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">
            Jobs Count: @TotalCount
        </td>
        <td>
            <span class="text-muted" style="font-size:10px;"> Total Amount </span><br />
            <b class="text-bold">@TotalAmount.ToString("#,##0.00")</b>
        </td>
        <td>
            <span class="text-muted" style="font-size:10px;"> Total Drivers Rate </span><br />
            <span class="text-nowrap">@TotalDriversRate.ToString("#,##0.00")</span>
        </td>
        <td>
            <span class="text-muted" style="font-size:10px;"> Total Expense </span><br />
            <span class="text-red">@TotalExpense.ToString("#,##0.00")</span>
        </td>
        <td>
            <span class="text-muted" style="font-size:10px;"> Total Payment </span><br />
            <span class="text-success">@TotalPayments.ToString("#,##0.00")</span>
        </td>
        <td colspan="2">

        </td>
    </tr>
</table>

@section Scripts{

    <script type="text/javascript" src="~/Scripts/DateRangePicker/moment.min.js"></script>
    <script>
        
    </script>
}