@model IEnumerable<JobsV1.Areas.Personel.Models.RptCrBillingReport>
@{
    ViewBag.Title = "BillingReport";

    decimal TotalAmount = 0;
    decimal TotalOT = 0;
    decimal TotalAddon = 0;
}

<h2>Billing Report</h2>

<table class="table">
    <tr>
        <th> Date     </th>
        <th> Driver   </th>
        <th> Description </th>
        <th> Amount   </th>
        <th> Overtime </th>
        <th> Add'l Charges </th>
    </tr>

    @foreach (var trip in Model)
    {

        TotalAmount = trip.Amount;
    <tr>
        <td>
            @trip.Date.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @trip.Driver
        </td>
        <td>
            @trip.Description   
        </td>
        <td>
            @trip.Amount.ToString("N0")
        </td>
        <td>
            @trip.Overtime.ToString("N0")
        </td>
        <td>
            @trip.Addon.ToString("N0")
        </td>
    </tr>
    }
</table>

