@model IEnumerable<JobsV1.Areas.Personel.Models.RptCrDriverTripSummary>
@{
    ViewBag.Title = "Driver Trip Summary";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal TotalSalary = 0;
    decimal TotalCA = 0;
    decimal TotalPayments = 0;

    var driverList = ViewBag.driverList as IEnumerable<JobsV1.Areas.Personel.Models.crLogDriver>;


}

<h2>Drivers Trip Summary</h2>

<p>
    @Html.ActionLink("Back to Unit Expenses Reports", "Index", "crRptUnitExpenses")
</p>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h4 class="col-lg-1  control-label form-label form-filter-label"> Filter: </h4>

            <div class="col-lg-4 form-label" style="position:relative;float:left;padding-bottom:10px;padding-left:0;">
                <a class="cursor-hand" onclick="VehicleSummaryFilter_AddDays(-7)"> Last 7 Days </a> |
                <a class="cursor-hand" onclick="VehicleSummaryFilter_AddDays(-15)"> Last 15 Days </a> |
                <a class="cursor-hand" onclick="VehicleSummaryFilter_AddDays(-30)"> Last 30 Days </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Filters -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-left:0px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> Driver </label>
                <select name="driverId" id="driverId" class="form-control col-md-12 col-xs-10 form-filter-input" value="@ViewBag.driverId">
                    <option value="0"> All </option>
                    @foreach (var driver in driverList)
                    {
                        <option value="@driver.Id"> @driver.Name.Trim() </option>
                    }
                </select>
            </div>

            <div class=" form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> Start&nbsp;Date </label>
                <input id="DtStart" name="DtStart" type="text" class="form-control form-filter-input" />
            </div>
            <div class="form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> End&nbsp;Date </label>
                <input id="DtEnd" name="DtEnd" type="text" class="form-control form-filter-input" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" style="padding:0px;">
                <label> &nbsp; </label>
                <button type="submit" class="btn btn-default col-lg-2 col-md-2 col-sm-2 col-xs-8 form-filter-input" style="min-width:80px;margin-top:5px;"> Filter </button>
            </div>
        </div>

    </div>
}


<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Driver
        </th>
        <th>
            Total Days
        </th>
        <th>
            Salary
        </th>
        <th>
            CA
        </th>
        <th>
            Payment
        </th>
    </tr>
    @foreach (var driver in Model.OrderBy(d=>d.Driver.Name))
    {

        TotalSalary += driver.Salary;
        TotalCA += driver.CA;
        TotalPayments += driver.Payment;

        <tr>
            <td>
                @driver.Count
            </td>
            <td>
                @Html.ActionLink(driver.Driver.Name, "DriverSummary", "CarRentalLog", new { id = driver.Id }, null)
            </td>
            <td>
                @if (driver.TotalDays > 1)
                {
                    <span>
                        @driver.TotalDays Days
                    </span>
                }
                else if (driver.TotalDays == 1)
                {
                    <span>
                        @driver.TotalDays Day
                    </span>
                }
            </td>
            <td>
                @driver.Salary.ToString("#,##0.00")
            </td>
            <td>
                @driver.CA.ToString("#,##0.00")
            </td>
            <td>
                @driver.Payment.ToString("#,##0.00")
            </td>
        </tr>

    }
    @if (Model.Count() > 0)
    {
        <tr>
            <td>
            </td>
            <td colspan="2">
                <span class="pull-right">Total</span>
            </td>
            <td>
                @TotalSalary.ToString("#,##0.00")
            </td>
            <td>
                @TotalCA.ToString("#,##0.00")
            </td>
            <td>
                @TotalPayments.ToString("#,##0.00")
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="6">
                <p class="text-center"> No results found </p>
            </td>
        </tr>
    }

</table>


@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script>
        $(() => {
            Initialize();
        });

        function Initialize() {
            var dtStart = '@ViewBag.DtStart';
            var dtEnd = '@ViewBag.DtEnd';

            if (dtStart == '') {
                $('#DtStart').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtStart').val(moment(dtStart).format("MM/DD/YYYY"));
            }
            if (dtEnd == '') {
                $('#DtEnd').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtEnd').val(moment(dtEnd).format("MM/DD/YYYY"));
            }

            var driverId = parseInt('@ViewBag.driverId');
            console.log(driverId);
            if (driverId > 0) {
                $("#driverId").val(driverId);
            } else {
                $("#driverId").val(0);
            }
        }


        function VehicleSummaryFilter_AddDays(days) {
            console.log("add days")
            $("#DtStart").val(moment().add(days, 'days').format("MM/DD/YYYY"));
        }

    </script>
}


