@model IEnumerable<JobsV1.Areas.Personel.Models.RptCrVehiclePaymentSummary>
@{
    ViewBag.Title = "Car Rental Report - Vehicle Summary Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    int TotalTrips = 0;
    int TotalOdo = 0;
    decimal TotalFuel = 0;
    decimal TotalMaintenance = 0;
    decimal TotalDriversFee = 0;
    decimal TotalCash = 0;
    decimal TotalCC = 0;
    decimal TotalPO = 0;


    var unitList = ViewBag.unitList as IEnumerable<JobsV1.Areas.Personel.Models.crLogUnit>;
}

<h2>Vehicle Payment Summary Report</h2>

<p>
    @Html.ActionLink("Back to Unit Expenses Reports", "Index", "crRptUnitExpenses")
</p>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h4 class="col-lg-1  control-label form-label form-filter-label"> Filter: </h4>

            <div class="col-lg-4 form-label" style="position:relative;float:left;padding-bottom:10px;padding-left:0;">
                <a class="cursor-hand" onclick="VehicleSummaryFilter_AddDays(-7)"> Last 7 Days </a> |
                <a class="cursor-hand" onclick="VehicleSummaryFilter_AddDays(-15)"> Last 15 Days </a> |
                <a class="cursor-hand" onclick="VehicleSummaryFilter_AddDays(-30)"> Last 30 Days </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Unit Filters -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-left:0px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> Unit </label>
                <select name="unitId" id="unitId" class="form-control col-md-12 col-xs-10 form-filter-input" value="@ViewBag.unitId">
                    <option value="0"> All </option>
                    @foreach (var unit in unitList)
                    {
                        <option value="@unit.Id"> @unit.Description.Trim() </option>
                    }
                </select>
            </div>

            <div class=" form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> Start&nbsp;Date </label>
                <input id="DtStart" name="DtStart" type="text" class="form-control form-filter-input" />
            </div>
            <div class="form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> Start&nbsp;Date </label>
                <input id="DtEnd" name="DtEnd" type="text" class="form-control form-filter-input" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" style="padding:0px;">
                <label> &nbsp; </label>
                <button type="submit" class="btn btn-default col-lg-2 col-md-2 col-sm-2 col-xs-8 form-filter-input" style="min-width:80px;margin-top:5px;"> Filter </button>
            </div>
        </div>

    </div>
}


<table class="table">
    <tr>
        <th>
            Unit
        </th>
        <th>
            Driver
        </th>
        <th>
            Total Trips
        </th>
        <th>
            Total Odo
        </th>
        <th>
            Total Fuel
        </th>
        <th>
            Total Maintenance
        </th>
        <th>
            Total DriversFee
        </th>
        <th>
            Total Cash
        </th>
        <th>
            Total CreditCard
        </th>
        <th>
            Total PO
        </th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var trip in item.DriverList)
        {
            TotalTrips += trip.Trips;
            TotalOdo += trip.Odo;
            TotalFuel += trip.Fuel;
            TotalMaintenance += trip.Maintenance;
            TotalDriversFee += trip.DriversFee;

            //payment types total
            TotalCash += trip.PaymentTypeSummary.Cash;
            TotalCC += trip.PaymentTypeSummary.CreditCard;
            TotalPO += trip.PaymentTypeSummary.PO;

            <tr>
                <td>
                    @Html.ActionLink(item.Vehicle.Description, "VehicleTripReport", new { DtStart = @ViewBag.DtStart, DtEnd = @ViewBag.DtEnd, unitId = item.Vehicle.Id, driverId = trip.Driver.Id })
                </td>
                <td>
                    @trip.Driver.Name
                </td>
                <td>
                    @trip.Trips
                </td>
                <td>
                    @trip.Odo
                </td>
                <td>
                    @trip.Fuel
                </td>
                <td>
                    @trip.Maintenance
                </td>
                <td>
                    @trip.DriversFee
                </td>
                <td>
                    @trip.PaymentTypeSummary.Cash
                </td>
                <td>
                    @trip.PaymentTypeSummary.CreditCard
                </td>
                <td>
                    @trip.PaymentTypeSummary.PO
                </td>
            </tr>
        }
    }

    <tr style="background-color:whitesmoke;">
        <td colspan="2">
            Total
        </td>
        <td>
            <span>
                @TotalTrips.ToString("N0")
            </span>
        </td>
        <td>
            <span>
                @TotalOdo.ToString("N0")
            </span>
        </td>
        <td>
            <span>
                @TotalFuel.ToString("N0")
            </span>
        </td>
        <td>
            <span >
                @TotalMaintenance.ToString("N0")
            </span>
        </td>
        <td>
            <span >
                @TotalDriversFee.ToString("N0")
            </span>
        </td>
        <td>
            <span>
                @TotalCash.ToString("N0")
            </span>
        </td>
        <td>
            <span >
                @TotalCC.ToString("N0")
            </span>
        </td>
        <td>
            <span >
                @TotalPO.ToString("N0")
            </span>
        </td>
    </tr>
</table>

@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script>
        $(() => {
            Initialize();
        });

        function Initialize() {
            var dtStart = '@ViewBag.DtStart';
            var dtEnd = '@ViewBag.DtEnd';

            if (dtStart == '') {
                $('#DtStart').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtStart').val(moment(dtStart).format("MM/DD/YYYY"));
            }
            if (dtEnd == '') {
                $('#DtEnd').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtEnd').val(moment(dtEnd).format("MM/DD/YYYY"));
            }

            var unitId = parseInt('@ViewBag.unitId');
            console.log(unitId);
            if (unitId > 0) {
                $("#unitId").val(unitId);
            } else {
                $("#unitId").val(0);
            }
        }


        function VehicleSummaryFilter_AddDays(days) {
            console.log("add days")
            $("#DtStart").val(moment().add(days, 'days').format("MM/DD/YYYY"));
        }

    </script>
}
    