@model IEnumerable<JobsV1.Areas.Personel.Models.crLogOdo>

@{
    ViewBag.Title = "Odo Logs";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }
</style>

<h2>Odo Logs</h2>

<p>

    @Html.ActionLink("Trip Logs", "Index", "CarRentalLog", null, null) |
    Odo |
    @Html.ActionLink("Expenses", "Index", "CrLogFuels", null, null)
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtReading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crLogUnit.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crLogDriver.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdoCurrent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtReading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdoCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
