@model JobsV1.Areas.Personel.Models.crLogTrip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>crLogTrip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtTrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtTrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogDriver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogDriver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogUnit.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogUnit.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogCompany.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogCompany.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogClosing.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogClosing.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
