@model JobsV1.Areas.Personel.Models.crLogTrip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>crLogTrip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtTrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtTrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogDriver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogDriver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogUnit.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogUnit.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogCompany.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogCompany.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crLogClosing.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crLogClosing.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
