@model JobsV1.Areas.Personel.Models.crDriverSummary

@{
    ViewBag.Title = "DriverSummary";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal _drivertrips = 0;
    decimal _drivercash = 0;
    decimal _driverpayment = 0;

    var reqStatus = (int)ViewBag.reqStatus;
    var IsAdmin = (bool)ViewBag.IsAdmin;
}
<div class="view-header" style="border-bottom:none;">
    <h2>@Model.Driver.Name</h2>
    <div class="header-btn-list">
        @Html.DropDownList("crLogDriverId", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div hidden>
        <p id="DriversId">@Model.Driver.Id</p>
    </div>
</div>

<a href="~/Personel/CarRentalCashRelease" id="request-success-message" hidden>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> Salary Request Added!</strong> Click here to go Request Transactions
    </div>
</a>


<a href="~/Personel/CarRentalCashRelease" id="ca-success-message" hidden>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> CA Request Added!</strong> Click here to go Request Transactions and request for approval
    </div>
</a>

<h3>Trips</h3>
<table class="table" id="summary-table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Rate
        </th>
        <th>
            Addon
        </th>
        <th>
            Expense
        </th>
        <th>
            Driver
        </th>
        <th>
            <input type="checkbox" id="select-all-checkbox" onclick="SelectAllCheckBox()" /> All
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DriverTrips)
    {
        _drivertrips += item.DriverFee;

        <tr name="summary-data">
            <td name="date">
                @Html.DisplayFor(modelItem => item.DtTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
                /
                @Html.DisplayFor(modelItem => item.crLogCompany.Name)
                /
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses)
            </td>
            <td name="driversFee">
                @Html.DisplayFor(modelItem => item.DriverFee)
            </td>
            <td>
                <input type="checkbox" class="item-checkbox" onclick="OnSelectCheckBox(this)" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
            <td name="id" hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        </tr>
    }

    <tr>
        <td colspan="5" align="right">Total Driver's fee</td>
        <td>@_drivertrips</td>
        <td>
            <span id="Total-Selected-DriverFee"> 0 </span>

        </td>
        <td> <a class="cursor-hand" onclick="CreateSalaryRequest()"> Create Salary Request </a> </td>
    </tr>

    @foreach (var item in Model.DriverCash)
    {
        _drivercash += item.Amount;

        <tr>
            <td>
                @item.DtRelease.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td colspan="3">
                CA
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td></td>
            <td colspan="2">
                @if (IsAdmin)
                {
                    @Html.ActionLink("Edit", "EditCashTrx", new { id = item.Id })
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" align="right">Total Driver's CA</td>
        <td>@_drivercash</td>
        <td></td>
        <td> <a class="cursor-hand" onclick="CreateCARequest()"> Create CA Request </a>  </td>
    </tr>


    @foreach (var item in Model.DriverPayments)
    {
        _driverpayment += item.Amount;

        <tr>
            <td>
                @item.DtRelease.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td colspan="3">
                Payment
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td></td>
            <td colspan="2">
                @if (IsAdmin)
                {
                    @Html.ActionLink("Edit", "EditCashTrx", new { id = item.Id })
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" align="right">Total Driver's Payment</td>
        <td>@_driverpayment</td>
        <td></td>
        <td> <a class="cursor-hand" onclick="CreatePaymentRequest()"> Create Payment </a>  </td>
    </tr>
</table>

@if(Model.NoStatus.Count() > 0)
{
    <h3>Trips w/ no status</h3>
    <table class="table" id="summary-table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Rate
            </th>
            <th>
                Addon
            </th>
            <th>
                Expense
            </th>
            <th>
                Driver
            </th>
            <th>

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.NoStatus)
        {
            <tr>
                <td>
                    @item.DtRelease.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td colspan="3">
                  NA
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td></td>
                <td colspan="2">
                    @if (IsAdmin)
                    {
                        @Html.ActionLink("Edit", "EditCashTrx", new { id = item.Id })
                    }
                </td>
            </tr>
        }


    </table>

}


@{ decimal _balance = (_drivertrips + _driverpayment - _drivercash); }
<h3>Driver's Balance: @_balance </h3>
<h4>
    @Html.ActionLink("Pay and Close", "PaytoClose", new { id = Model.Driver.Id, amount = _balance })
</h4>
<br />
<p>
    @Html.ActionLink("Go to Trip Log", "Index") | @Html.ActionLink("Go to Cash Trx", "Index", "CarRentalCashRelease")
</p>

@Html.Partial("_DriverSalaryReqModal")
@Html.Partial("_DriverPaymentModal")
@Html.Partial("_DriverCAModal")

@section Scripts{
    <script src="~/Areas/Personel/Script/DriverSummary.js"></script>
    <script src="~/Scripts/Filters/FormInputFilter.js"></script>
    <script>

        $(() => {
            Initialize();
        })

        function Initialize() {
            CalculateTotalSalary();

            if ('@reqStatus' == '1') {
                $("#request-success-message").show();
            }


            if ('@reqStatus' == '2') {
                $("#ca-success-message").show();
            }
        }

    </script>

}