@model JobsV1.Areas.Personel.Models.crDriverSummary

@{
    ViewBag.Title = "DriverSummary";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal _drivertrips = 0;
    decimal _drivercash = 0;
    decimal _driverpayment = 0;
    decimal _driverbalance = 0;
    int tripCount = 0;
    var reqStatus = (int)ViewBag.reqStatus;
    var IsAdmin = (bool)ViewBag.IsAdmin;
}
<div class="view-header" style="border-bottom:none;">
    <h2>@Model.Driver.Name</h2>
    <div class="header-btn-list">
        @Html.DropDownList("crLogDriverId", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div hidden>
        <p id="DriversId">@Model.Driver.Id</p>
    </div>
</div>

<a href="~/Personel/CarRentalCashRelease" id="request-success-message" hidden>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> Salary Request Added!</strong> Click here to go Request Transactions
    </div>
</a>


<a href="~/Personel/CarRentalCashRelease" id="ca-success-message" hidden>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> CA Request Added!</strong> Click here to go Request Transactions and request for approval
    </div>
</a>



<a id="closeTRx-success-message" hidden>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> CA and Payments Closed!</strong> All Cash Advance and Payment Transactions are now closed.
    </div>
</a>

<a id="closeTRx-error-message" hidden>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> Error!</strong> Unable to close all CA and Payments Transactions
    </div>
</a>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h4 class="col-lg-1  control-label form-label form-filter-label"> Filter: </h4>

            <div class="col-lg-4 form-label" style="position:relative;float:left;padding-bottom:10px;padding-left:0;">
                <a class="cursor-hand" onclick="DriverSummaryFilter_AddDays(-7)"> Last 7 Days </a> |
                <a class="cursor-hand" onclick="DriverSummaryFilter_AddDays(-15)"> Last 15 Days </a> |
                <a class="cursor-hand" onclick="DriverSummaryFilter_AddDays(-30)"> Last 30 Days </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class=" form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> Start&nbsp;Date </label>
                <input id="DtStart" name="DtStart" type="text" class="form-control form-filter-input" />
            </div>
            <div class="form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <label class="col-lg-1 col-xs-1" style="padding-left:0px;margin-right:5px;margin-top:5px;"> End&nbsp;Date </label>
                <input id="DtEnd" name="DtEnd" type="text" class="form-control form-filter-input" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" style="padding:0px;">
                <label> &nbsp; </label>
                <button type="submit" class="btn btn-default col-lg-2 col-md-2 col-sm-2 col-xs-8 form-filter-input" style="min-width:80px;margin-top:5px;"> Filter </button>
            </div>
        </div>

    </div>
}

<p class="text-muted" id="show-date-text" hidden> Showing @ViewBag.rptName trips from @ViewBag.DtStart to @ViewBag.DtEnd  </p>

<h3>Trips</h3>
<table class="table" id="summary-table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Rate
        </th>
        <th>
            Addon
        </th>
        <th>
            Expense
        </th>
        <th>
            Driver
        </th>
        <th>
            <input type="checkbox" id="select-all-checkbox" onclick="SelectAllCheckBox()" /> All
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DriverTrips)
    {
        if (item.DriverFee > 0 && item.DriverFee != null)
        {
            _drivertrips += item.DriverFee;
        }
        tripCount++;
        <tr name="summary-data">
            <td name="date">
                @item.DtTrip.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
                /
                @Html.DisplayFor(modelItem => item.crLogCompany.Name)
                /
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @item.Rate.ToString("N0")
            </td>
            <td>
                @item.Addon.ToString("N0")
            </td>
            <td>
                @item.Expenses.ToString("N0")
            </td>
            <td name="driversFee">
                @item.DriverFee
            </td>
            <td>
                <input type="checkbox" class="item-checkbox" onclick="OnSelectCheckBox(this)" />
            </td>
            <td>
                @if (IsAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
            </td>
            <td name="id" hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        </tr>
    }
    @if (Model.DriverTrips.Count() > 0)
    {
        <tr>
            <td>
                Trip Count:
                @if (tripCount > 1)
                {
                    <span>
                        @tripCount Days
                    </span>
                }
                else
                {
                    <span>
                        @tripCount Day
                    </span>
                }
            </td>
            <td colspan="4" align="right">Total Driver's fee</td>
            <td>@_drivertrips.ToString("N0")</td>
            <td>
                <span id="Total-Selected-DriverFee"> 0 </span>

            </td>
            <td> <a class="cursor-hand" onclick="CreateSalaryRequest()"> Create Salary Request </a> </td>
        </tr>
        <tr>
            <td colspan="5">
                <span class="pull-right"> Total Selected </span>
            </td>
            <td></td>
            <td colspan="2">
                <span id="Total-Selected-Count"> </span>
            </td>
        </tr>

    }
    else
    {
        <tr>
            <td colspan="8">
                <p class="text-center"> No trips found </p>
            </td>
        </tr>
    }

</table>



<h4> CA and Payments </h4>
<p>
    <a class="cursor-hand" onclick="CreateCARequest()"> Create CA Request </a> |
    <a class="cursor-hand" onclick="CreatePaymentRequest()"> Create Payment </a>
</p>
<table class="table" id="CAPayments-table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            CA
        </th>
        <th>
            Payments
        </th>
        <th>
            Remarks
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DriverTrx)
    {


        <tr>
            <td>
                @item.DtRelease.ToShortDateString()
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.crLogCashType.Description)
            </td>
            <td>
                <!-- CA -->
                @if (item.crLogCashTypeId == 2)
                {
                    _drivercash += item.Amount;
                    <span> @item.Amount.ToString("N0")</span>
                }
            </td>
            <td>
                <!-- Payments -->
                @if (item.crLogCashTypeId == 3)
                {
                    _driverpayment += item.Amount;
                    <span> @item.Amount.ToString("N0")</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @if (IsAdmin)
                {
                    <span>
                        @Html.ActionLink("Edit", "EditCashTrx", new { id = item.Id })&nbsp;
                    </span>
                }
            </td>
        </tr>
    }

    @{
        _driverbalance = _drivercash - _driverpayment;
    }

    @if (Model.DriverTrx.Count() > 0)
    {
        <tr>
            <td colspan="2" align="right">Total</td>
            <td> @_drivercash.ToString("N0")</td>
            <td> @_driverpayment.ToString("N0") </td>
            <td><span class="text-muted"> Balance: </span> @_driverbalance.ToString("N0") </td>
            <td>
                @if (IsAdmin)
                {
                    if (_driverbalance == 0)
                    {
                        <span>
                            @*<a class="cursor-hand" onclick="CloseAllCAPayments()"> Close All CA & Payments </a>*@

                            @Html.ActionLink("Close All CA & Payments ", "CloseCashBalance", new { id = ViewBag.DriverId })
                        </span>
                    }
                    else
                    {
                        <span> Please settle the balance to Close</span>
                    }
                }

            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="6">
                <p class="text-center"> No cash transaction found </p>
            </td>
        </tr>
    }

</table>

@if (Model.NoStatus.Count() > 0)
{
    <h3>Trips w/ no status</h3>
    <table class="table" id="summary-table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Rate
            </th>
            <th>
                Addon
            </th>
            <th>
                Expense
            </th>
            <th>
                Driver
            </th>
            <th>

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.NoStatus)
        {
            <tr>
                <td>
                    @item.DtRelease.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td colspan="3">
                    NA
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td></td>
                <td colspan="2">
                    @if (IsAdmin)
                    {
                        <span>
                            @Html.ActionLink("Edit", "EditCashTrx", new { id = item.Id })&nbsp;|&nbsp;
                            @Html.ActionLink("Close", "CloseCashTrx", new { id = item.Id })
                        </span>
                    }
                </td>
            </tr>
        }


    </table>

}


@{ decimal _balance = (_drivertrips + _driverpayment - _drivercash); }
<h3>Driver's Balance: @_balance </h3>
@*<h4>
    @Html.ActionLink("Pay and Close", "PaytoClose", new { id = Model.Driver.Id, amount = _balance })
</h4>*@
<br />

<p>
    @if (IsAdmin)
    {
        @Html.ActionLink("Drivers Salary", "DriverTrxHistory", new { id = ViewBag.DriverId }) 
        <span> | </span>
        @Html.ActionLink("Drivers Expenses", "DriverExpenseHistory", new { id = ViewBag.DriverId })
    }
</p>
<p>
    @Html.ActionLink("Go to Trip Log", "Index") | @Html.ActionLink("Go to Cash Trx", "Index", "CarRentalCashRelease") |

    @Html.ActionLink("Driver Trip List", "DriversTripList", "crLogPassengers", new { id = ViewBag.DriverId }, null)
</p>

@Html.Partial("_DriverSalaryReqModal")
@Html.Partial("_DriverPaymentModal")
@Html.Partial("_DriverCAModal")

@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script src="~/Areas/Personel/Script/DriverSummary.js"></script>
    <script src="~/Scripts/Filters/FormInputFilter.js"></script>
    <script>

        $(() => {
            Initialize();
            Initialize_Date();
        })

        function Initialize() {
            CalculateTotalSalary();

            if ('@reqStatus' == '1') {
                $("#request-success-message").show();
            }


            if ('@reqStatus' == '2') {
                $("#ca-success-message").show();
            }


            if ('@reqStatus' == '4') {
                $("#closeTRx-success-message").show();
            }



            if ('@reqStatus' == '5') {
                $("#closeTRx-error-message").show();
            }
        }


        function Initialize_Date() {
            var dtStart = '@ViewBag.DtStart';
            var dtEnd = '@ViewBag.DtEnd';

            if (dtStart == '') {
                $('#DtStart').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtStart').val(moment(dtStart).format("MM/DD/YYYY"));
            }
            if (dtEnd == '') {
                $('#DtEnd').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtEnd').val(moment(dtEnd).format("MM/DD/YYYY"));
            }

            if (dtStart  != '' && dtEnd != '') {
                $("#show-date-text").show();
            }

            var driverId = parseInt('@ViewBag.driverId');
            console.log(driverId);
            if (driverId > 0) {
                $("#driverId").val(driverId);
            } else {
                $("#driverId").val(0);
            }
        }

        function DriverSummaryFilter_AddDays(days) {
            console.log("add days")
            $("#DtStart").val(moment().add(days, 'days').format("MM/DD/YYYY"));
        }

    </script>
}