@model JobsV1.Areas.Personel.Models.crDriverSummary

@{
    ViewBag.Title = "DriverSummary";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal _drivertrips = 0;
    decimal _drivercash = 0;
}
<div class="view-header" style="border-bottom:none;">
    <h2>@Model.Driver.Name</h2>
    <div class="header-btn-list">
        @Html.DropDownList("crLogDriverId", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div>
    </div>
</div>



<h3>Trips</h3>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Rate
        </th>
        <th>
            Addon
        </th>
        <th>
            Expense
        </th>
        <th>
            Driver
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DriverTrips)
    {
        _drivertrips += item.DriverFee;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
                /
                @Html.DisplayFor(modelItem => item.crLogCompany.Name)
                /
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverFee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" align="right">Total Driver's fee</td>
        <td>@_drivertrips</td>
        <td></td>
    </tr>



    @foreach (var item in Model.DriverCash)
    {
        _drivercash += item.Amount;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td colspan="3">Cash Voucher</td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditCashTrx", new { id = item.Id })
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" align="right">Total Driver's CA</td>
        <td>@_drivercash</td>
        <td></td>
    </tr>


</table>

@{ decimal _balance = (_drivertrips - _drivercash); }
<h3>Driver's Balance: @_balance </h3>
<h4>
    @Html.ActionLink("Pay and Close", "PaytoClose", new { id = Model.Driver.Id, amount = _balance })
</h4>
<br />
<p>
    @Html.ActionLink("Go to Trip Log", "Index") | @Html.ActionLink("Go to Cash Trx", "Index", "CarRentalCashRelease")
</p>

@section Scripts{

    <script>
        $("select[name=crLogDriverId]").change(() => {
            let selectedDriver = $("select[name=crLogDriverId] :selected").val();

            window.location.href = "../DriverSummary/" + selectedDriver;
        })
    </script>

}