@model IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>

@{
    ViewBag.Title = "Trip Log";
}

<h2>Trip Log</h2>

<p>
    @Html.ActionLink("Add New Trip", "Create")
    | @Html.ActionLink("Cash Advance", "Index","CarRentalCashRelease")
</p>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Rate
        </th>
        <th>
            Addon
        </th>
        <th>
            Expense
        </th>
        <th>
            Driver
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
                /
                @Html.DisplayFor(modelItem => item.crLogCompany.Name)
                /
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverFee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Driver Summary", "DriverSummary", new { id = item.crLogDriverId })
            </td>
        </tr>
    }

</table>
