@model IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>

@{
    ViewBag.Title = "Trip Log";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .datepicker {
        z-index: 1100 !important;
    }
</style>

<h2>Trip Log</h2>

<p>
    Trip Logs |
    @Html.ActionLink("Drivers", "Index", "crLogDrivers") |
    @Html.ActionLink("Units", "Index", "crLogUnits") |
    @Html.ActionLink("Companies", "Index", "crLogCompanies") |
    @Html.ActionLink("Cash Transactions", "Index", "CarRentalCashRelease") |
    @Html.ActionLink("Expenses", "Index", "CrLogFuels", null, null) |
    @Html.ActionLink("Unit Expenses Reports", "Index", "crRptUnitExpenses")
</p>
<p>
    @Html.ActionLink("Passengers", "Index", "crLogPassengerList") |
    @Html.ActionLink("Passenger Master List", "Index", "crLogPassengerMasters") |
    @Html.ActionLink("Passenger Search", "SearchPassenger", "crLogPassengerList")
</p>
<p>
    @Html.ActionLink("Add New Trip", "Create") |
    @Html.ActionLink("Copy Trip", "CopyTrip")  |
    @Html.ActionLink("Add Trip Odo", "UpdateTripLogOdo") |
    <a class="cursor-hand" onclick="ShowFinalizeTrip(this)"> Show Finalize Trip </a> |
    @Html.ActionLink("Billing View", "IndexBilling") |
</p>

<p class="col-md-10">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#FilterModal">Filter</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SummaryModal">Summary</button>

    <button type="button" class="btn btn-default" onclick="PrevDay('@ViewBag.FilteredsDate')">
        &#171; Prev Day
    </button>

    <button type="button" class="btn btn-default" onclick="NextDay('@ViewBag.FilteredsDate')">
        Next Day &#187;
    </button>

    <button type="button" class="btn btn-default" id="FinalizeTrip-Btn" onclick="FinalizeCheckedTrips()" style="display:none"> Finalize Selected Trip </button>
</p>

<div class="col-md-2 pull-right">
    @*<span> Shuttle Only </span>
        <input type="checkbox" id="isShuttle" name="IsShuttle" />*@
    <button type="button" class="btn btn-default" id="isShuttle" data-toggle="button" onclick="ClickShowShuttle()">
        Show Shuttle Only
    </button>
</div>

<!-- Filter Modal -->
<div class="modal fade" role="dialog" id="FilterModal" data-keyboard="false" data-backdrop="static" modal="false">
    <div class="modal-dialog" style="width:340px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Find Logs by Date</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:0px;padding:10px;padding-left:25px">
                    @using (Html.BeginForm())
                    {
                        <form id="FilterForm" method="post">
                            <p style="padding-left:0px;">
                                <label>Date options: </label><br />
                                <a class="cursor-pointer" onclick="SetStartDate(-7)"> This Week </a> |
                                <a class="cursor-pointer" onclick="SetStartDate(-15)"> Last 15 Days </a> |
                                <a class="cursor-pointer" onclick="SetStartDate(-30)"> Last 30 Days </a>
                            </p>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-date-label"> Start Date: </label>
                                <input type="text" name="startDate" id="filter-sdate" class="form-control" style="margin-bottom:10px;" />
                                <label for="filter-date-label"> End Date: </label>
                                <input type="text" name="endDate" id="filter-edate" class="form-control" />
                            </div>


                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-unit">Unit:</label>
                                <select name="unit" id="filter-unit" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogUnitList as List<JobsV1.Areas.Personel.Models.crLogUnit>)
                                    {
                                        <option value="@unit.Description"> @unit.Description </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-driver">Driver:</label>
                                <select name="driver" id="filter-driver" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogDriverList as List<JobsV1.Areas.Personel.Models.crLogDriver>)
                                    {
                                        <option value="@unit.Name"> @unit.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-company">Company:</label>
                                <select name="company" id="filter-company" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogCompanyList as List<JobsV1.Areas.Personel.Models.crLogCompany>)
                                    {
                                        <option value="@unit.Name"> @unit.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-company">Owner:</label>
                                <select name="owner" id="filter-owner" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var owner in ViewBag.crLogOwnerList as List<JobsV1.Areas.Personel.Models.crLogOwner>)
                                    {
                                        <option value="@owner.Name"> @owner.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="sort-by">Sort:</label>
                                <select name="sortby" id="sort-by" class="form-control">
                                    <option value="Date"> Date Asc </option>
                                    <option value="Date-Desc"> Date Desc</option>
                                    <option value="Unit"> Unit </option>
                                    <option value="Company"> Company </option>
                                    <option value="Driver"> Driver </option>
                                </select>
                            </div>

                            <br />
                            <div class="col-lg-offset-5 col-md-7 col-xs-offset-5 col-xs-7">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="SubmitFilterBtn">Submit</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table" id="TripLogs-Table">
    <tr>
        <th id="tb-hd-finalize" hidden>
            <a class="cursor-hand" onclick="FinalizeAll()"> All </a>
        </th>
        <th width="100">
            Date
        </th>
        <th>
            Driver
        </th>
        <th>
            Company
        </th>
        <th>
            Description
        </th>
        <th>
            Remarks
        </th>
        <th>
            Rate
        </th>
        <th>
            Addon
        </th>
        <th>
            Expense
        </th>
        <th>
            Driver
        </th>
        <th>
            Driver&nbsp;OT
        </th>
        @*<th>
                Odo Start
            </th>
            <th>
                Odo End
            </th>*@
        <th>
            Pass
        </th>
        <th></th>
    </tr>
    @{

        var count = 0;
        decimal totalRate = 0;
        decimal totalAddon = 0;
        decimal totalExpenses = 0;
        decimal totalDriverFee = 0;
        decimal totalDriverOT = 0;
    }
    @foreach (var item in Model)
    {
        var color = "black";

        if (item.DtTrip.DayOfWeek.ToString() == "Sunday")
        {
            color = "red";
        }
        else if (item.DtTrip.DayOfWeek.ToString() == "Saturday")
        {
            color = "dodgerblue";
        }
        else
        {
            color = "black";
        }

        count += 1;
        totalRate += item.Rate;
        totalAddon += item.Addon;
        totalExpenses += item.Expenses;
        totalDriverFee += item.DriverFee;
        totalDriverOT += item.DriverOT;

        <tr id="trip-@item.Id">
            <td class="trip-Finalize" hidden>
                @if (!item.IsFinal)
                {
                    <input type="checkbox" value="@item.Id" />
                }
            </td>
            <td>
                @item.DtTrip.ToString("MMM dd yyyy")
                <span style="color:@color;"> @item.DtTrip.ToString(" (ddd) ")</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogCompany.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
            </td>
            <td>
                <span style="color:#3d3d3d;">
                    @Html.DisplayFor(modelItem => item.Remarks)
                </span>
            </td>
            <td>
                @item.Rate.ToString("#,##0.00")
            </td>
            <td>
                @item.Addon.ToString("#,##0.00")
            </td>
            <td>
                @item.Expenses.ToString("#,##0.00")
            </td>
            <td>
                @item.DriverFee.ToString("#,##0.00")
            </td>
            <td>
                @item.DriverOT.ToString("#,##0.00")
            </td>

            @*<td class="trip-OdoStart">
                    @item.OdoStart
                </td>
                <td class="trip-OdoEnd">
                    @item.OdoEnd
                </td>*@

            <td>
                @{ Html.RenderAction("GetTripPassengersCount", "crLogPassengers", new { id = item.Id }); }
            </td>
            <td class="actions">

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (!item.IsFinal)
                        {
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </li>
                            <li><a class="cursor-pointer" onclick="Show_OdoUpdateModal('@item.Id')"> Update Odo </a></li>
                            <li><a class="cursor-pointer" onclick="Show_OTUpdateModal('@item.Id')"> Update OT </a></li>
                            <li><a class="cursor-pointer" onclick="RequestPOFuel(this, @item.crLogDriverId, @item.crLogUnitId)"> Request Fuel </a></li>
                        }

                        <li>@Html.ActionLink("Driver Summary", "DriverSummary", new { id = item.crLogDriverId })</li>
                        <li>@Html.ActionLink("Passengers", "TripPassengers", "crLogPassengers", new { id = item.Id }, null)</li>
                        <li>@Html.ActionLink("Driver Trip List", "DriversTripList", "crLogPassengers", new { id = item.crLogDriverId }, null)</li>
                    </ul>
                </div>
            </td>
        </tr>

    }

    @{
        <tr>
            <td colspan="5">
                <p> Total Count: @count </p>
            </td>
            <td>
                @totalRate.ToString("#,##0.00")
            </td>
            <td>
                @totalAddon.ToString("#,##0.00")
            </td>
            <td>
                @totalExpenses.ToString("#,##0.00")
            </td>
            <td>
                @totalDriverFee.ToString("#,##0.00")
            </td>
            <td>
                @totalDriverOT.ToString("#,##0.00")
            </td>
            <td colspan="3"></td>
        </tr>
    }

</table>

@Html.Partial("_LogSummaryModal", null, new ViewDataDictionary { { "DriversLogSummary" , ViewBag.DriversLogSummary },
    { "CompaniesLogSummary", ViewBag.CompaniesLogSummary }, { "UnitsLogSummary", ViewBag.UnitsLogSummary } })

@Html.Partial("_LogOdoUpdateModal")

@Html.Partial("_LogOTUpdateModal")

@Html.Partial("_VehicleSummaryFilter")

@Html.Partial("_VehicleTripFilter")

<!-- For Report Redirect -->
@Html.Hidden("VehicleSummaryReport", Url.Action("VehicleSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId" }))
@Html.Hidden("VehicleTripReport", Url.Action("VehicleTripReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId", driverId = "_driverId" }))

@section Scripts{
    <script src="~/Areas/Personel/Script/CarRentalLog.js"></script>
    <script src="~/Scripts/Filters/FormInputFilter.js"></script>
    <script src="~/Areas/Personel/Script/CreateTripLogTime.js"></script>
    <script src="~/Areas/Personel/Script/CarRentalLogFinalize.js"></script>
    <script>
        $(document).ready(() => {
            $("#filter-unit").val("@ViewBag.FilteredUnit")
            $("#filter-driver").val("@ViewBag.FilteredDriver")
            $("#filter-company").val("@ViewBag.FilteredCompany")
            $("#sort-by").val("@ViewBag.SortBy")

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().format("MM/DD/YYYY"))
            }

            var shuttle_cookie = getCookie('shuttle_cookie');
            if (shuttle_cookie) {
                console.log('shuttle cookie is ' + shuttle_cookie);

                if (shuttle_cookie == 1) {
                    $("#isShuttle").removeClass("btn-default");
                    $("#isShuttle").addClass("btn-primary");
                } else {
                    $("#isShuttle").addClass("btn-default");
                    $("#isShuttle").removeClass("btn-primary");
                }
            } else {
                console.log('no shuttle cookie found');
            }

             $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        });



        function ShowLoading() {
            $("#overlay").show();
        }

        function HideLoading() {
            $("#overlay").hide();
        }


    </script>
}