@model IEnumerable<JobsV1.Models.CheckerActivity>

@{
    ViewBag.Title = "User Activities : " + @ViewBag.User;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}
<h2>
    Sales Rep :
    @ViewBag.User
</h2>
<p>
    @Html.ActionLink("Back to List", "Performance")
</p>

<h3>Checker Activities</h3>

<!-- Search -->
<div class="row" style="margin-left:0px;">
    @*<div class="col-md-8 col-xs-8" style="padding:0px;margin-bottom:10px;">
        <h4 class="col-md-2 col-xs-2 control-label" style="width:10%;padding-left:0px;">Filter: </h4>
        <input id="DtStart" name="DtStart" type="text" class="form-control col-md-2 col-xs-2" style="margin-right:10px;max-width:140px;" />
        <input id="DtEnd" name="DtEnd" type="text" class="form-control col-md-2 col-xs-2" style="margin-right:10px;max-width:140px;" />
        <div class="col-md-2 col-xs-2"><button class="btn btn-default" style="margin-top:0px;" onclick="Search()"> Search </button></div>
    </div>*@
</div>
<br />
<div class="panel panel-default">
    <div class="panel-body">

        <h4>Company Activities</h4>
        <table class="table" id="Act-Main-Table">
            <tr>
                <th style="width:120px">
                    @Html.DisplayNameFor(model => model.DtActivity)
                </th>
                <th>
                    ProjectName
                </th>
                <th>
                    SalesCode
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>
                    Company
                </th>
                <th>
                   Remarks
                </th>
                <th>
                    Assigned
                </th>
                <th>
                     Points
                </th>
                <th></th>
            </tr>


            <!-- Total Points -->
            @{ int totalPoints = 0; }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @DateTime.Parse(item.DtActivity.ToString()).ToString("MMM-dd yyyy")
                        <br />
                        @DateTime.Parse(item.DtActivity.ToString()).ToString("hh:mm tt")
                    </td>
                    <td>
                        @item.SalesLead.Details)
                    </td>
                    <td>
                        <a style="cursor:pointer;" onclick="SearchCodeActivities('@item.SalesLead.SalesCode')">  @Html.DisplayFor(modelItem => item.SalesLead.SalesCode) </a>
                    </td>
                    <td>
                        @Decimal.Parse(item.SalesLead.Price.ToString()).ToString("N0")
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckerActivityType.Type)
                    </td>
                    <td>
                        @if (@item.SalesLead.SalesLeadCompanies.Count > 0)
                        {
                            <span>
                                @item.SalesLead.SalesLeadCompanies.FirstOrDefault().CustEntMain.Name /
                                @item.SalesLead.CustName
                            </span>
                        }
                    
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @item.CheckedBy
                    </td>
                    <td>
                        @if (ViewBag.IsAdmin && item.CheckerActivityType.Points != 0)
                        {
                            @Html.DisplayFor(modelItem => item.CheckerActivityType.Points)
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "CheckerActsEdit", new { id = item.Id })
                    </td>
                </tr>
                totalPoints += item.CheckerActivityType.Points;
            }

            <tr>
                <td colspan="9"></td>
                <td>  Total Points:</td>
                <td> <b> @totalPoints </b></td>
                <td>  </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script src="~/Scripts/Activities/SearchByCode.js"></script>

    <script type="text/javascript">
        $(document).ready(Initialize());

        function Initialize() {
            setDateDefault();
            setDefaultValues();

            //check table row count
            if ($('#Act-Main-Table tr').length == 1) {

                content = "<tr>";
                content += "<td colspan=10> <p class='text-center'> No Results Found </p> </td>";
                content += "</tr>";

                $(content).appendTo("#Act-Main-Table");
            }

        }

        function setDefaultValues() {
            $("#act-create-assigned").val("@ViewBag.User");
            $("#act-edit-assigned").val("@ViewBag.User");
        }

        //Default date
        function setDateDefault() {
            //test
            console.log("moment date:" +  moment().format("L") );
            console.log("js date:" +  new Date() );

            //Get URL Parameters
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var sDate = urlParams.get('sDate');
            var eDate = urlParams.get('eDate');
            var user  = '@ViewBag.User';

            //update dates input fields from url parameters
            $('input[name="DtStart"]').val(sDate);
            $('input[name="DtEnd"]').val(eDate);
            ShowSalesReportMsg(sDate, eDate, " ");
            ShowTypeReportMsg(sDate, eDate, " ");

            //when url dates are empty, assign dates 1 week as default
            if (sDate == null || eDate == null) {
                var today = moment(new Date());
                let pastWeek = moment().add(-7, 'days');

                let oneMonthAgo = moment().add(-30, 'days');

                //convert to string
                var sDate = oneMonthAgo.format("MM/DD/YYYY");
                var eDate = today.format("MM/DD/YYYY");
                console.log("today: " + eDate);

                window.location.href = "UserActivities?user="+ user +"&sDate=" + sDate + "&eDate=" + eDate;
            }
        }

        function Search() {
            var sDate = $('input[name="DtStart"]').val();
            var eDate = $('input[name="DtEnd"]').val();
            var user  = '@ViewBag.User';
            console.log("sDate : " + sDate + " - edate: " + eDate  );
            window.location.href = "UserActivities?user="+ user +"&sDate=" + sDate + "&eDate="+eDate;
        }


        /**
         *  Activity Type Summary
         **/
        function FilterTypeSummary( type ) {
            var user = '@ViewBag.User';
            var sDate = moment();
            var eDate = moment();

            $("#Act-Type-Filter-"+type).css("color","black");
            $("#Act-Type-Filter-"+type).siblings("a").css("color","#008ac9");

            switch (type) {
                case "Weekly":
                    sDate = moment().add(-7, 'days').format('MM/DD/YYYY');
                    break;
                case "Monthly":
                    sDate = moment().startOf('month').format('MM/DD/YYYY');
                    break;
                case "Yearly":
                    sDate = moment().startOf('year').format('MM/DD/YYYY');
                    break;
                default:
                    break;
            }
            eDate = eDate.format('MM/DD/YYYY');

            //build json object
            var data = {
                user: user,
                sDate: sDate,
                eDate: eDate
            };

            //request data from server using ajax call
            $.ajax({
                url: '/Activities/GetUserTypeSummary/',
                //url: 'CustEntMains/TableResult',
                type: "GET",
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log("ATTEMPT TO FILTER TYPE TABLE");
                    ReLoadTypeSummary(data);
                    ShowTypeReportMsg(sDate, eDate, type);
                },
                error: function (data) {
                    console.log("ERROR");
                    console.log(data);
                    //LoadTable(data);
                }
            });
        }

        //populate data result to the type summary table
        function ReLoadTypeSummary(data) {

            //clear table data
            $("#TypeSummaryTable").find("tr:gt(0)").remove();

            content = "<tr>";
            content += "<td> " + data["User"] + "</td>";
            content += "<td> " + data["Sales"] + "</td>";
            content += "<td> " + data["Quotation"] + "</td>";
            content += "<td> " + data["Meeting"] + "</td>";
            content += "<td> " + data["Procurement"] + "</td>";
            content += "<td> " + data["CallsAndEmail"] + "</td>";
            content += "</tr>";

            $(content).appendTo("#TypeSummaryTable");
        }

        function ShowTypeReportMsg(sDate, eDate, filter) {

            sDate = moment(sDate).format("MMM DD YYYY");
            eDate = moment(eDate).format("MMM DD YYYY");

            $("#Act-Type-Filter-Msg").show();
            $("#Act-Type-Filter-Msg").text("Showing " + filter + " Report from " + sDate +" to " + eDate+ " ");
        }


        /**
         *  Activity Sales Summary
         **/
        function FilterSalesSummary( type ) {
            var user = '@ViewBag.User';
            var sDate = moment();
            var eDate = moment();

            $("#Act-Sales-Filter-"+type).css("color","black");
            $("#Act-Sales-Filter-"+type).siblings("a").css("color","#008ac9");

            switch (type) {
                case "Weekly":
                    sDate = moment().add(-7, 'days').format('MM/DD/YYYY');
                    break;
                case "Monthly":
                    sDate = moment().startOf('month').format('MM/DD/YYYY');
                    break;
                case "Yearly":
                    sDate = moment().startOf('year').format('MM/DD/YYYY');
                    break;
                default:
                    break;
            }
            eDate = eDate.format('MM/DD/YYYY');

            //build json object
            var data = {
                user: user,
                sDate: sDate,
                eDate: eDate
            };

            //request data from server using ajax call
            $.ajax({
                url: '/Activities/GetUserSalesSummary/',
                //url: 'CustEntMains/TableResult',
                type: "GET",
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log("ATTEMPT TO FILTER SALES TABLE");
                    ReLoadSalesSummary(data);
                    console.log(data);
                    ShowSalesReportMsg(sDate, eDate, type);
                },
                error: function (data) {
                    console.log("ERROR");
                    console.log(data);
                    //LoadTable(data);
                }
            });
        }

        //populate data result to the type summary table
        function ReLoadSalesSummary(data) {

            //clear table data
            $("#SalesSummaryTable").find("tr:gt(0)").remove();

            content = "<tr>";
            content += "<td> " + data["User"].toLocaleString() + "</td>";
            content += "<td> " + data["TotalSales"].toLocaleString() + "</td>";
            content += "<td> " + data["TotalQuotation"].toLocaleString() + "</td>";
            content += "<td> " + data["TotalProcurement"].toLocaleString() + "</td>";
            content += "<td> " + data["TotalJobOrder"].toLocaleString() + "</td>";
            content += "</tr>";

            $(content).appendTo("#SalesSummaryTable");
        }

        function ShowSalesReportMsg(sDate, eDate, filter) {
            sDate = moment(sDate).format("MMM DD YYYY");
            eDate = moment(eDate).format("MMM DD YYYY");
            $("#Act-Sales-Filter-Msg").show();
            $("#Act-Sales-Filter-Msg").text("Showing " + filter + " Report from " + sDate +" to " + eDate+ " ");
        }


        function CreateActivity() {
            $("#ActivityCreate").modal("show");
        }

        //DELETE
        function DeleteActivity(id) {
            if (confirm("Do you want to remove this activity?")) {
                ajax_DeleteActivity(id);
            }
        }

        function ajax_DeleteActivity(id) {

            //build json object
            var data = {
                id: id
            };

            console.log(data);

            var url = '/Activities/DeleteActivityRecord';

            //Post data from server using ajax call
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                dataType: 'text',
                success: function (data) {
                    console.log("ATTEMPTING DELETE");
                    console.log(data);
                    ReloadActivitySummary();
                },
                error: function (data) {
                    console.log("ERROR");
                ReloadActivitySummary();
                    console.log(data);
                }
            });
        }



    /**
      *  Activity Summary
      **/
    function ReloadActivitySummary() {
            //Get URL Parameters
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var sDate = urlParams.get('sDate');
            var eDate = urlParams.get('eDate');
            var user  = '@ViewBag.User';

            //eDate = moment(eDate).format('MM/DD/YYYY');

            //build json object
            var data = {
                user: user,
                sDate: sDate,
                eDate: eDate
            };

            //request data from server using ajax call
            $.ajax({
                url: '/Activities/GetUserActivitySummary',
                //url: 'CustEntMains/TableResult',
                type: "GET",
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log("Reloading table");
                    UpdateActivityTable(data);
                },
                error: function (data) {
                    console.log("ERROR");
                    console.log(data);
                    //LoadTable(data);
                }
            });
        }

        //populate data result to the type summary table
        function UpdateActivityTable(data) {
            var isAdmin = "@ViewBag.IsAdmin";
            var totalPoints = 0;

            //clear table data
            $("#Act-Main-Table").find("tr:gt(0)").remove();

            for (let i = 0; i < data.length; i++){
                var id = data[i]["Id"];
                content = "<tr>";
                content += "<td> " + moment(data[i]["Date"]).format("MMM-DD YYYY") + "</td>";
                content += "<td> " + data[i]["ProjectName"] + "</td>";
                content += "<td> " + data[i]["SalesCode"] + "</td>";
                content += "<td> " + data[i]["Amount"].toLocaleString() + "</td>";
                content += "<td> " + data[i]["Status"] + "</td>";
                content += "<td> " + data[i]["Type"] + "</td>";
                content += "<td> " + data[i]["ActivityType"] + "</td>";
                content += "<td> " + data[i]["Company"] + "</td>";
                content += "<td> " + data[i]["Remarks"] + "</td>";
                content += "<td> " + data[i]["Assigned"] + "</td>";
                totalPoints += data[i]["Points"];

                //check if user is admin
                if (isAdmin == "True") {
                    content += "<td> " + data[i]["Points"] + "</td>";
                    content += "<td> ";
                    content += " <a class='cursor-hand' onclick='EditActivity(" + id + ")'>Edit</a> | ";
                    content += " <a class='cursor-hand' onclick='DeleteActivity(" + id + ")'>Delete</a> ";
                    content += "</td> ";
                }


                content += "</tr>";
                $(content).appendTo("#Act-Main-Table");
            }


            //check if user is admin
            if (isAdmin == "True") {
                var totalPointsRow = "";
                totalPointsRow += "<tr>";
                totalPointsRow += "<td colspan='9'> </td>";
                totalPointsRow += "<td > Total Points: </td>";
                totalPointsRow += "<td> <b>" + totalPoints + "</b></td>";
                totalPointsRow += "</tr>";
                $(totalPointsRow).appendTo("#Act-Main-Table");
            }
    }


    </script>

}
