@model IEnumerable<JobsV1.Models.CustEntActivity>

@{
    ViewBag.Title = "Daily Activities";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}
<br />
<div style="padding:10px 0px;">
    <h2>Customer Activities</h2>
</div>

<div class="col-md-12 col-xs-12" style="padding:0px;">
    <div class="col-md-7 col-xs-7" style="padding:0px;margin-bottom:10px;">
        <h4 class="col-md-2 col-xs-2 control-label" style="width:10%;padding-left:0px;">Filter: </h4>
        <input id="DtStart" name="DtStart" type="text" class="form-control col-md-2 col-xs-5" style="margin-right:10px;max-width:140px;" />
        <input id="DtEnd" name="DtEnd" type="text" class="form-control col-md-2 col-xs-5" style="margin-right:10px;max-width:140px;" />
        <button class="btn btn-default" style="margin-top:0px;" onclick="Filter()"> Filter </button>
    </div>

    <div class="col-lg-offset-1 col-md-4 col-xs-4" style="padding:0px;">
        <button class="btn btn-default search-group pull-right" style="margin-top:0px;" id="srch-btn" onclick="SubmitActivityCode()">Search</button>
        <input class="form-control search-cat pull-right" id="srch-field" type="search" placeholder="Search Code"  value="@ViewBag.SrchCode" />
    </div>

</div>

<h4>Company Activities</h4>

<table class="table">
    <tr>
        <th style="min-width:120px;"> Date    </th>
        <th style="min-width:150px;"> Project </th>
        <th> Code    </th>
        <th> Amount  </th>
        <th> Status  </th>
        <th> Commodity    </th>
        <th> Company </th>
        <th> Remarks </th>
        <th> AssignedTo </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @DateTime.Parse(item.Date.ToString()).ToString("MMM dd yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @*<a style="cursor:pointer;" onclick="SearchCodeActivities('@item.SalesCode')">  @Html.DisplayFor(modelItem => item.SalesCode) </a>*@
                @Html.ActionLink(item.SalesCode, "IndexActivity", "Activities", new { code = item.SalesCode }, null)
            </td>
            <td>
                @if (item.Amount != null)
                {
                    @(((Decimal)item.Amount).ToString("N0"))
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustEntActStatu.Status)
            </td>
            <td>
                @if (item.CustEntMain.SalesLeadCompanies.FirstOrDefault() != null)
                {
                    <span>
                        @item.CustEntMain.SalesLeadCompanies.FirstOrDefault().SalesLead.Commodity
                    </span>
                }
                else
                {
                    <br />
                    @item.Commodity
                }
            </td>
            <td>
                @Html.ActionLink(item.CustEntMain.Name, "Index", "CustEntActivities", new { id = item.CustEntMainId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a href="@Url.Action("UserActivities", "Activities", new { user = item.Assigned })">
                    @{var input = @item.Assigned;}
                    @try
                    {
                        char ch = '@';
                        int idx = input.IndexOf(ch);
                        <text> @input.Substring(0, idx)</text>
                    }
                    catch 
                    {
                        <text> NA </text>
                    }
                </a>
            </td>
            <td>
                @if (ViewBag.IsAdmin == true)
                {
                    <text>
                        @Html.ActionLink("Edit", "CompanyActsEdit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "CompanyActsDelete", new { id = item.Id })
                    </text>
                }
            </td>
        </tr>
    }
</table>


<h4>Suppliers Activities</h4>

<table class="table">
    <tr>
        <th style="min-width:120px;"> Date    </th>
        <th> Code  </th>
        <th> Amount  </th>
        <th> Suppliers  </th>
        <th> Activity </th>
        <th> Type </th>
        <th> Status </th>
        <th> Remarks </th>
        <th> Assigned</th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.SupplierActivities as IOrderedEnumerable<JobsV1.Models.SupplierActivity>)
    {
        <tr>
            <td>
                @DateTime.Parse(item.DtActivity.ToString()).ToString("MMM dd yyyy")
            </td>
            <td>
                <a style="cursor:pointer;" onclick="SearchCodeSupActivities('@item.Code')">  @Html.DisplayFor(modelItem => item.Code) </a>
            </td>
            <td>
                @if (item.Amount != null)
                {
                    <span>
                    @(((Decimal)item.Amount).ToString("N0"))&nbsp;@item.Currency
                    </span>
                }
            </td>
            <td>
                @Html.ActionLink(item.Supplier.Name, "Records", "SupplierActivities", new { id = item.SupplierId }, null)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierActStatu.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a href="@Url.Action("SupActivities", "Activities", new { user = item.Assigned })">
                    @{var input = @item.Assigned;}
                    @try
                    {
                        char ch = '@';
                        int idx = input.IndexOf(ch);
                        <text> @input.Substring(0, idx)</text>
                    }
                    catch 
                    {
                        <text>  input </text>
                    }
                </a>
            </td>
            <td>
                @if (ViewBag.IsAdmin == true)
                {
                    <text>
                        @Html.ActionLink("Edit", "SupplierActsEdit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "SupplierActsDelete", new { id = item.Id })
                    </text>
                }
            </td>
        </tr>
    }
</table>

@Html.Partial("_SalesCodeModal")

<!-- For Report Redirect -->
@Html.Hidden("SearchResult", Url.Action("SearchActivities", "Activities", new { srchCode = "_srchCode" }))

@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script src="~/Scripts/Activities/Activities.js"></script>
    <script src="~/Scripts/Activities/SearchByCode.js"></script>
    <script>
        function SubmitActivityCode() {

            var search_string = $("#srch-field").val();

            var url = $("#SearchResult").val();
            url = url.replace('_srchCode', search_string);

            window.location.href = url;
        }

        $('#srch-field').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                SubmitActivityCode();
                return false;
            }
        });   

    </script>

}