@model IEnumerable<JobsV1.Models.Class.cSupActivityActiveList>
@{
    ViewBag.Title = "Suppleir Activities - Status";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Supplier Activities - Status</h2>

<div class="filter-panel">
    <div class="sort-panel">
        <div class="btn-group" id="filter-group">
            <button class="btn btn-default disabled">
                Status:
            </button>
                @Html.ActionLink("Active", "SupStatusActivities", null, new { @id = "default", @class = "btn btn-default" })
                @Html.ActionLink("Open", "SupStatusActivities", new { status = "1" }, new { @id = "Open", @class = "btn btn-default" })
                @Html.ActionLink("In Progress", "SupStatusActivities", new { status = "2" }, new { @id = "InProgress", @class = "btn btn-default" })
                @Html.ActionLink("Cancelled", "SupStatusActivities", new { status = "3" }, new { @id = "Cancelled", @class = "btn btn-default" })
                @Html.ActionLink("Closed", "SupStatusActivities", new { status = "4" }, new { @id = "Close", @class = "btn btn-default" })
        </div>
    </div>
</div>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td  style="min-width:300px;">
                <p style="margin-bottom:0px;">
                    @Html.ActionLink(item.Code, "SearchActivities", new { srchCode = item.Code })
                    <span> - </span>
                    @Html.ActionLink(item.Name, "Details", "CustEntMains", new { id = item.SupId }, null)
                    <span> | </span>
                    <span class="text-muted"> @item.Activity </span> |
                    <span class="text-muted"> @item.ActType </span>
                    <span class="text-success">( @item.Amount.ToString("N0") )</span>
                </p>
                <p class="text-muted">Last Activity: @item.DtActivity.ToString("MMM dd yyyy")</p>
            </td>
            <td  style="min-width:350px;">
                <div class="col-lg-12">
                    @{ 
                        var doneList = item.StatusDoneList;
                    }
                    @foreach (var status in item.StatusList)
                    {

                        if (doneList.Contains(status))
                        {
                            <span class="btn btn-success btn-arrow-right" style="margin-right:10px;">
                                <span style="color:white;font-size:9px;"> @status </span>
                            </span>
                        }
                        else
                        {
                            <span class="btn btn-primary btn-arrow-right" style="margin-right:10px;">
                                <span style="color:white;font-size:9px;">
                                    @status
                                </span>
                            </span>
                        }
                    }
                        
                </div>
            </td>
        </tr>
    }
</table>


@section Scripts{
    <script>
        $(() => {
            InitialFilter('@ViewBag.Status');
        });

        function InitialFilter(filter) {
            $("#filter-group").children("a").removeClass("active");
            switch (filter) {
                case "1":
                    $("#Open").addClass("active");
                    break;
                case "2":
                    $("#InProgress").addClass("active");
                    break;
                case "3": 
                    $("#Cancelled").addClass("active");
                    break;
                case "4":
                    $("#Close").addClass("active");
                    break;
                default:
                    $("#default").addClass("active");
                    break;
            }

        }

        
        $("#Open, #InProgress, #Cancelled, #Close, #default").click(() => {
            $("#overlay").show();
        });
    </script>
}