@model JobsV1.Models.CustEntActivity


    <!-- Add Contact Modal -->
    <div class="modal fade" id="ActivityCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Activity</h4>
                </div>

                <div class="modal-body row" id="modal2-content" >
                    <div class=" form-horizontal" style="padding-left:30px;">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "act-create-date" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Company </b>
                            <div class="col-md-10">
                                @Html.DropDownList("CustEntMainId", null, htmlAttributes: new { @class = "form-control", @id = "act-create-companyId" })
                                @Html.ValidationMessageFor(model => model.CustEntMainId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", @id = "act-create-projectName", @maxlength = 60 } })
                                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SalesCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SalesCode, new { htmlAttributes = new { @class = "form-control", @id = "act-create-salesCode", @maxlength = 30 } })
                                @Html.ValidationMessageFor(model => model.SalesCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @id = "act-create-amount", @maxlength = 15 } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control", @id = "act-create-status" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control", @id = "act-create-type" })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <b class="control-label col-md-2"> Activity Type </b>
                            <div class="col-md-10">
                                @Html.DropDownList("ActivityType", null, htmlAttributes: new { @class = "form-control", @id = "act-create-activityType" })
                                @Html.ValidationMessageFor(model => model.ActivityType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @id = "act-create-remarks", @maxlength = 80 } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Assigned, htmlAttributes: new { @class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("Assigned", null, htmlAttributes: new { @class = "form-control", @id = "act-create-assigned" })
                                @Html.ValidationMessageFor(model => model.Assigned, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="createActivityBtn" onclick="ajax_AddRecord()">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <script type="text/javascript">

            //Add Assigned Record
            function ajax_AddRecord() {

                //build json object
                var data = {
                    actDate: $("#act-create-date").val(),
                    Assigned: $("#act-create-assigned").find(":selected").val(),
                    ProjectName: $("#act-create-projectName").val(),
                    SalesCode: $("#act-create-salesCode").val(),
                    Amount: $("#act-create-amount").val(),
                    Status: $("#act-create-status").find(":selected").val(),
                    Remarks: $("#act-create-remarks").val(),
                    CustEntMainId: $("#act-create-companyId").find(":selected").val(),
                    Type: $("#act-create-type").find(":selected").val(),
                    ActivityType: $("#act-create-activityType").find(":selected").val(),
                };

                console.log(data);

                var url = '/Activities/CreateActivity';

                //Post data from server using ajax call
                $.ajax({
                    url: url,
                    type: "POST",
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        console.log("SUCCESS");
                        console.log(data);
                    },
                    error: function (data) {
                         console.log("ERROR");
                        console.log(data);
                    }
                });
            }

        </script>
   