@model IEnumerable<JobsV1.Models.Class.cUserActivity>

@{
    ViewBag.Title = "User Activities : " + @ViewBag.User;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}
<h2>
    Sales Rep :
    @ViewBag.User
</h2>

<h3>Customer Activities</h3>

<!-- Search -->
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span> Filter: </span>
            <input type="text" class="form-control" name="DtStart" placeholder="Date From" style="width: 150px;"> -
            <input type="text" class="form-control" name="DtEnd" placeholder="Date To" style="width: 150px;">
            <span class="input-group-btn" style="width:0%;">
                <button class="btn btn-default" style="margin-top:0px;" type="button" onclick="Search()">Go!</button>
            </span>
        </div>
    </div><!-- /.col-lg-6 -->
</div>
<br />
<div class="panel panel-default">
    <div class="panel-body">

        <h4>Company Activities</h4>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    Work
                </th>
                <th>
                    Company
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assigned)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @DateTime.Parse(item.Date.ToString()).ToString("MMM-dd yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesCode)
                    </td>
                    <td>
                        @Decimal.Parse(item.Amount.ToString()).ToString("N0")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @item.UserRemoveEmail(item.Assigned)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @{Html.RenderPartial("UserActivities_PartialTypeReport", (JobsV1.Models.Class.cUserPerformanceReport)ViewBag.PerfSummary);}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @{Html.RenderPartial("UserActivities_PartialSalesReport", (JobsV1.Models.Class.cUserSalesReport)ViewBag.SalesSummary);}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script type="text/javascript">
        function Search() {
            var sDate = $('input[name="DtStart"]').val();
            var eDate = $('input[name="DtEnd"]').val();
            var user  = '@ViewBag.User'; 
            console.log("sDate : " + sDate);
            window.location.href = "UserActivities?user="+ user +"&sDate=" + sDate + "&eDate="+eDate;
        }
    </script>
}