@model IEnumerable<ArModels.Models.ArTransaction>
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    ViewBag.Title = "Ar Management";
    DateTime today = ViewBag.today;
}

<h2>Receivables Management</h2>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, null) |
    Management |
    @Html.ActionLink("For Approval", "Approval", "ArMgt", new { area = "Receivables" }, null) |
    @Html.ActionLink("For Settlement", "Settlement", "ArMgt", new { area = "Receivables" }, null) |
</p>

<h4> Incoming Due </h4>
<table class="table">
    <tr>
        <th> Invoice </th>
        <th> Invoice Date</th>
        <th> Due Date</th>
        <th> Account </th>
        <th> Desc </th>
        <th> Status </th>
        <th> Amount </th>
        <th> Actions </th>
    </tr>
    @foreach (var transaction in Model)
    {
        var color = "white";
        var textColor = "black";
        var dttoday = today;
        var res = (transaction.DtDue == dttoday.Date);
        if (transaction.DtDue == dttoday.Date)
        {
            color = "dodgerBlue";
            textColor = "White";
        }

        decimal paymentTotal = 0;
        foreach (var payments in transaction.ArTransPayments)
        {
            paymentTotal += payments.ArPayment.Amount;
        }

        var totalAmount = transaction.Amount;
        if (paymentTotal >= totalAmount)
        {
            textColor = "ForestGreen";
        }


        <tr style="background-color:@color;color:@textColor;">
            <td> @transaction.InvoiceId </td>
            <td> @transaction.DtInvoice.ToString("MMM dd yyyy") </td>
            <td> @transaction.DtDue.ToString("MMM dd yyyy") </td>
            <td> @transaction.ArAccount.Name </td>
            <td> @transaction.Description </td>
            <td> @transaction.ArTransStatu.Status </td>
            <td> @transaction.Amount.ToString("#,#00.00") </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="" data-toggle="modal" data-target="#ChangeDueDateModal" onclick="InitChangeDueDate(@transaction.Id ,'@transaction.DtDue.ToString("MMM dd yyyy")')"> Change Due Date </a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#ContactModal" onclick="InitContactModal(@transaction.Id,'@transaction.ArAccount.Mobile', '@transaction.ArAccount.Name')"> Contact </a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#EmailReminderModal" onclick="InitEmailReminderModal(@transaction.Id, '@transaction.ArAccount.Email', '@transaction.ArAccount.Name')"> Send Reminder </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li> @Html.ActionLink("Edit", "Edit", "ArTransactions", new { id = transaction.Id }, null) </li>
                        <li> @Html.ActionLink("Details", "Details", "ArTransactions", new { id = transaction.Id }, null) </li>
                        <li> @Html.ActionLink("Activities", "TransactionHistory", "ArTransactions", new { id = transaction.Id }, null) </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>


<h4> Over Due </h4>
<table class="table">
    <tr>
        <th> Invoice </th>
        <th> Invoice Date</th>
        <th> Due Date</th>
        <th> Account </th>
        <th> Desc </th>
        <th> Status </th>
        <th> Amount </th>
        <th> Actions </th>
    </tr>
    @foreach (var transaction in ViewBag.OverDueTrans as IEnumerable<ArModels.Models.ArTransaction>)
    {
        <tr>
            <td> @transaction.InvoiceId </td>
            <td> @transaction.DtInvoice.ToString("MMM dd yyyy") </td>
            <td> @transaction.DtDue.ToString("MMM dd yyyy") </td>
            <td> @transaction.ArAccount.Name </td>
            <td> @transaction.Description </td>
            <td> @transaction.ArTransStatu.Status </td>
            <td> @transaction.Amount.ToString("#,#00.00") </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="" data-toggle="modal" data-target="#ChangeDueDateModal" onclick="InitChangeDueDate(@transaction.Id ,'@transaction.DtDue.ToString("MMM dd yyyy")')"> Change Due Date </a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#ContactModal" onclick="InitContactModal(@transaction.Id,'@transaction.ArAccount.Mobile', '@transaction.ArAccount.Name')"> Contact </a>
                        </li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#EmailReminderModal" onclick="InitEmailReminderModal(@transaction.Id ,'@transaction.ArAccount.Email', '@transaction.ArAccount.Name')"> Send Reminder </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li> @Html.ActionLink("Edit", "Edit", "ArTransactions", new { id = transaction.Id }, null) </li>
                        <li> @Html.ActionLink("Details", "Details", "ArTransactions", new { id = transaction.Id }, null) </li>
                        <li> @Html.ActionLink("Activities", "TransactionHistory", "ArTransactions", new { id = transaction.Id }, null) </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

@Html.Partial("_ModalChangeDueDate")
@Html.Partial("_ModalContact")
@Html.Partial("_ModalEmailReminder")

@section Scripts{
    <script type="text/javascript" src="~/Areas/Receivables/Scripts/Mgt/DueDate.js"></script>
    <script type="text/javascript" src="~/Areas/Receivables/Scripts/Mgt/ArMgt.js"></script>
}