@model IEnumerable<ArModels.Models.ArTransaction>
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    ViewBag.Title = "For Settlement";
}

<h2>For Settlement</h2>

@*<p>
    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, null) | 
    @Html.ActionLink("Management", "Index", "ArMgt", new { area = "Receivables" }, null) |
    @Html.ActionLink("For Approval", "Approval", "ArMgt", new { area = "Receivables" }, null) |
    For Settlement |
</p>*@

<table class="table">
    <tr>
        <th> Invoice </th>
        <th> Invoice Date</th>
        <th> Due Date</th>
        <th> Account </th>
        <th> Desc </th>
        <th> Status </th>
        <th> Amount </th>
        <th> Payment </th>
        <th> Actions </th>
    </tr>
    @foreach (var transaction in Model)
    {
        decimal paymentTotal = 0;
        foreach (var payments in transaction.ArTransPayments)
        {
            paymentTotal += payments.ArPayment.Amount;
        }

        var color = "white";
        var textColor = "black";
        var totalAmount = transaction.Amount;
        if (paymentTotal >= totalAmount)
        {
            textColor = "ForestGreen";
        }

        <tr>
            <td> @transaction.InvoiceId </td>
            <td> @transaction.DtInvoice.ToString("MMM dd yyyy") </td>
            <td> @transaction.DtDue.ToString("MMM dd yyyy") </td>
            <td> @transaction.ArAccount.Name </td>
            <td> @transaction.Description </td>
            <td> @transaction.ArTransStatu.Status </td>
            <td style="color:@textColor"> @transaction.Amount.ToString("#,##0.00") </td>
            <td style="color:@textColor"> @paymentTotal.ToString("#,##0.00") </td>
            <td>
                <div class="dropdown">
                    <li> @Html.ActionLink("Add Payment", "CreateSettlePayment", "ArPayments", new { transId = transaction.Id }, null) </li>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Actions
                        <span class="caret"> </span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li>
                            <a class="cursor-link" onclick="UpdateStatus(@transaction.Id, 6)"> Close </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li> @Html.ActionLink("Edit", "Edit", new { id = transaction.Id }) </li>
                        <li> @Html.ActionLink("Details", "Details", new { id = transaction.Id }) </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>


@section Scripts{
    <script type="text/javascript" src="~/Areas/Receivables/Scripts/Mgt/Settlement.js"></script>
}