@model IEnumerable<ArModels.Models.ArTransaction>
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    ViewBag.Title = "Settlement";
    decimal TotalAmount = 0;
}

<h2>Settlement</h2>

@*<p>
           @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, null) |
           @Html.ActionLink("Management", "Index", "ArMgt", new { area = "Receivables" }, null) |
           @Html.ActionLink("For Approval", "Approval", "ArMgt", new { area = "Receivables" }, null) |
           For Settlement |
    </p>*@
<div class="row" style="margin-bottom:5px;">
    <div class="col-lg-offset-11 col-md-1">
        <button class="btn btn-default" onclick="CheckSelected_Print()"> <i class="glyphicon glyphicon-print"></i> Print </button>
    </div>
</div>
<table class="table" id="settlement-table">
    <tr>
        <th>  <a href="#" type="checkbox" id="payables-table-checkAll" onclick="CheckAllPayableItems()">All </a> </th>
        <th> Invoice </th>
        <th> Invoice Date</th>
        <th> Payment Date</th>
        <th> Deposit Date</th>
        <th> Account </th>
        <th> Status </th>
        <th> Amount </th>
        @*<th> Payment </th>*@
        <th> Actions </th>
    </tr>
    @foreach (var transaction in Model)
    {
        decimal paymentTotal = 0;
        string paymentType = "";
        bool paymentDeposited = false;
        string paymentRemarks = "";

        foreach (var payments in transaction.ArTransPayments)
        {
            paymentTotal += payments.ArPayment.Amount;
            paymentType = payments.ArPayment.ArPaymentType.Type;
            paymentDeposited = payments.ArPayment.IsDeposited ?? false;
            paymentRemarks += payments.ArPayment.Reference + " " + payments.ArPayment.Remarks;

            if (transaction.ArTransPayments.Count() > 1 && !String.IsNullOrEmpty(paymentRemarks))
            {
                paymentRemarks +=  " / " ;
            }
        }

        var textColor = "black";
        var totalAmount = transaction.Amount;
        if (paymentTotal >= totalAmount)
        {
            textColor = "ForestGreen";
        }

        <tr>
            <th>
                <input value="@transaction.Id" type="checkbox" class="print-Checkbox" onclick="CheckRepeatItems(this)" />
            </th>
            <td>
                @transaction.InvoiceId
            </td>
            <td>
                @transaction.DtInvoice.ToString("MMM dd yyyy")
            </td>

            <td>
                @if (transaction.ArTransPayments.Count() > 0)
                {
                    var latestPayment = transaction.ArTransPayments.LastOrDefault();

                    <span> @latestPayment.ArPayment.DtPayment.ToString("MMM dd yyyy")  </span>
                }
            </td>
            
            <td>
                @if (transaction.ArTransPayments.FirstOrDefault() != null)
                {
                    var paymentDeposit = transaction.ArTransPayments.FirstOrDefault().ArPayment;

                    if (paymentDeposit.DtDeposit != null)
                    {
                        var depositDate = (DateTime)paymentDeposit.DtDeposit;
                        <span> @depositDate.ToString("MMM dd yyyy") </span>
                    }
                }
            </td>
            <td>
                <b>@transaction.ArAccount.Company</b>

                @if (transaction.ArAccount != null)
                {
                    if (transaction.ArAccount.Name != "Personal Account" && transaction.ArAccount.Name.Trim() != @transaction.Description.Trim())
                    {
                        <span> / </span> @transaction.ArAccount.Name
                    }
                }

                <br />

                @transaction.Description <br />

                <span style="font-size:11px;color:gray;"> @transaction.Remarks</span>
            </td>
            <td>

                @if (transaction.ArTransStatusId == 1)
                {
                    <span class="label label-default">@Html.DisplayFor(modelItem => transaction.ArTransStatu.Status)</span>
                }
                else if (transaction.ArTransStatusId == 2)
                {
                    <span class="label label-info">@Html.DisplayFor(modelItem => transaction.ArTransStatu.Status)</span>
                }
                else if (transaction.ArTransStatusId == 3)
                {
                    <span class="label label-primary">@Html.DisplayFor(modelItem => transaction.ArTransStatu.Status)</span>
                }
                else if (transaction.ArTransStatusId == 4)
                {
                    <span class="label label-primary">@Html.DisplayFor(modelItem => transaction.ArTransStatu.Status)</span>
                }
                else if (transaction.ArTransStatusId == 5)
                {
                    <span class="label label-success">@Html.DisplayFor(modelItem => transaction.ArTransStatu.Status)</span>
                }
                else
                {
                    <span class="label label-default">@Html.DisplayFor(modelItem => transaction.ArTransStatu.Status)</span>
                }

            </td>
            <td style="color:@textColor">
                @paymentTotal.ToString("#,##0.00")
                <br />
                <span style="font-size:11px;color:gray;">@paymentType</span>
                @if (paymentDeposited)
                {
                    <span style="font-size:11px;color:gray;"> - Deposited </span>
                }
                <br />
                <span style="font-size:11px;color:gray;">
                        @paymentRemarks
                </span>

            </td>
            <td>
                <a class="btn btn-default" onclick="UpdateStatus(@transaction.Id, 6)"> Close </a>
                @if (paymentType != "Bank" && !paymentDeposited)
                {
                 
                   <a class="btn btn-default" onclick="UpdateStatusAndDeposit(@transaction.Id)"> Deposited </a>
                   
                }

            </td>
        </tr>

        TotalAmount += paymentTotal;
    }

    <tr>
        <td colspan="7"></td>
        <td>
            <h4> @TotalAmount.ToString("#,##0.00")</h4>
        </td>
        <td></td>
    </tr>
</table>


<a class="btn btn-default" onclick="ClosedChecked()"> Close Checked</a>
<a class="btn btn-default" onclick="DepositAndClosedChecked()"> Close & Deposit Checked</a>
@section Scripts{
    <script type="text/javascript" src="~/Areas/Receivables/Scripts/Mgt/Settlement.js"></script>
}