@model ArModels.Models.ArTransaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ArTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtEncoded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtEncoded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRepeating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRepeating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArTransStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArTransStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArAccount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArAccount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArCategory.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
