@model IEnumerable<ArModels.Models.ArTransaction>
@{
    ViewBag.Title = "Statement Print";
    decimal totalPayment = 0;
    decimal totalAmount = 0;

    DateTime today = ViewBag.DateToday;
}
<div class="row">
    <div class="col-md-9">
        <h2 >Statement </h2>

        <h3>Billed to: @ViewBag.Company </h3>
    </div>
    <div class="col-md-3">
        <br />
        <p> Statement Date: @today.ToString("MMM dd yyyy")</p>

        <p> Period Covered: StartDate to EndDate </p>
        <p> Amount Due: __________ </p>
        <p> Payment Due Date: 15 Days from receipt</p>
    </div>
</div>

<table class="table">
    <tr>
        <th> Invoice Date</th>
        <th> Invoice </th>
        <th> Payment Date</th>
        <th> Account </th>
        <th> Desc </th>
        <th> Amount </th>
    </tr>
    @foreach (var transaction in Model)
    {
        decimal transPayments = 0;
        string paymentType = "";
        bool paymentDeposited = false;

        foreach (var payments in transaction.ArTransPayments)
        {
            transPayments += payments.ArPayment.Amount;
            paymentType = payments.ArPayment.ArPaymentType.Type;
            paymentDeposited = payments.ArPayment.IsDeposited ?? false;
        }

        totalAmount += transaction.Amount;
        totalPayment += transPayments;

        <tr>
            <td> @transaction.DtInvoice.ToString("MMM dd yyyy") </td>
            <td> @transaction.InvoiceId </td>
            <td>
                @if (transaction.ArTransPayments.Count() > 0)
                {
                    var latestPayment = transaction.ArTransPayments.LastOrDefault();

                    <span> @latestPayment.ArPayment.DtPayment.ToString("MMM dd yyyy")  </span>
                }
            </td>
            <td>
                @transaction.Description 
                @if (!String.IsNullOrEmpty(transaction.Remarks))
                {
                    <span> - @transaction.Remarks </span>
                }
                
            <td> @transaction.Amount.ToString("#,##0.00") </td>
            <td>
                @transPayments.ToString("#,##0.00")
                <br />
                <span style="font-size:11px;color:gray;">@paymentType</span>
                @if (paymentDeposited)
                {
                    <span style="font-size:11px;color:gray;"> - Deposited </span>
                }
            </td>

        </tr>
    }
    <tr>
        <td colspan="5" style="border-top:1px solid black"></td>
        <td style="border-top:1px solid black">
                <b> @totalAmount.ToString("#,##0.00")</b>
            </td>
        <td style="border-top:1px solid black">
            <b> @totalPayment.ToString("#,##0.00")</b>
        </td>
    </tr>
</table>

<hr />
