@model IEnumerable<JobsV1.Areas.Personel.Models.HrPerTraining >

@{
    int personnelId = Convert.ToInt32(ViewData["personnelId"]);
}

<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-12">

            <h3>
                Trainings
            </h3>
        </div>
        <div class="col-lg-12">
            <a href="" id="catbtn" data-toggle="modal" data-target="#perTrainingsModal" onclick="resetSkillsPrompt()">Add Training</a>
            @foreach (var perTraining in Model)
            {
                <p>
                    @perTraining.HrTraining.Desc.ToString() -
                    @perTraining.DtCompleted.ToString("MMM dd yyyy")
                  
                   @Html.ActionLink("[x]", "RemoveTraining", new { id = perTraining.Id , pId = personnelId })
                </p>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="perTrainingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Training List</h4>
                </div>

                <div class="modal-body" id="modal2-content">

                    <div class="row form-group">
                        <b class="col-md-2 modal-label"> Date: </b>
                        <div class="col-md-10">
                            <input type="date" class="form-control" id="trn-dateStart" />  &nbsp;
                        </div><p></p>
                    </div>  
                    <div class="list-group row" id="categorylist_Skills">

                        @foreach (var training in ViewBag.TrainingsList as IEnumerable<JobsV1.Areas.Personel.Models.HrTraining>)
                        { 
                            <a  class="list-group-item skills" onclick="addPerTraining(@training.Id,@personnelId)"> 
                                @training.Desc
                            </a>
                        @*<a href="@Url.Action("AddTraining", "HrPersonels", new {id = training.Id, pId = personnelId },null)" class="list-group-item">
                            @training.Desc
                        </a>*@
                        }

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script>
    $(document).ready(
        function () {
            var parsedTime = moment().format('YYYY-MM-DD');
            $("#trn-dateStart").val(parsedTime);
        }
    );

    function getDate() {
        return $("#trn-dateStart").val();
    }

    //set skills and proficieny for the user
    function addPerTraining(id, pId) {
        //build json object
        var data = {
            id: id,      //traning id
            pId: pId,    //personel id
            date: getDate(),
        };


        //request data from server using ajax call
        $.ajax({
            url: '/Personel/HrPersonels/AddTraining',
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
            },
            error: function (data) {
                //console.log("ERROR");
                console.log(data);
                refreshPage();
            }
        });


        //hidel skills modal
        $('#perTrainingsModal').modal('hide');
    }

    function refreshPage() {
        location.reload();
    }
</script>