@model IEnumerable<JobsV1.Areas.Personel.Models.HrPayroll >

@{
    int personnelId = Convert.ToInt32(ViewData["personnelId"]);
}

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Payroll
            </h3>
        </div>
        <div class="col-lg-12">
            <a href="" id="catbtn" data-toggle="modal" data-target="#perPayrollModal" style="margin-bottom:10px;">Add Payroll Record</a>
            <table class="table ">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Salary</th>
                    <th>Allowance</th>
                    <th>Deductions</th>
                    <th></th>
                </tr>
                @foreach (var payroll in Model)
                {
                    <tr>
                        <td>
                            @payroll.DtStart.ToString("MMM dd yyyy")
                        </td>
                        <td>
                            @payroll.DtEnd.ToString("MMM dd yyyy")
                        </td>
                        <td>
                            @payroll.Salary
                        </td>
                        <td>
                            @payroll.Allowance
                        </td>
                        <td>
                            @payroll.Deduction
                        </td>
                        <td>
                            @Html.ActionLink("Calculate", "UpdatePayrollSalary", new { payrollId = payroll.Id }) |
                            @Html.ActionLink("Remove", "RemovePayroll", new { id = payroll.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="perPayrollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Payroll Record</h4>
                </div>

                <div class="modal-body" id="modal2-content">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <span class="control-label col-md-3"> DtStart </span>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" id="PayrollDtStart" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> DtEnd </span>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" id="PayrollDtEnd" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> Salary </span>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" id="PayrollSalary" onkeypress='validate(event)' value="0"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> Allowance </span>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" id="PayrollAllowance" onkeypress='validate(event)' value="0" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> Deduction </span>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" id="PayrollDeduction" onkeypress='validate(event)' value="0" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> Yearno </span>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" id="PayrollYearNo" onkeypress='validate(event)' value="2019" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> MonthNo </span>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" id="PayrollMonthNo" onkeypress='validate(event)' value="1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-md-3"> Status </span>
                                <div class="col-md-9">
                                   
                                    <select name="Status" class="form-control" id="PayrollStatus" >
                                        <option value="ACT">ACT</option>
                                        <option value="INC">INC</option>
                                        <option value="BAD">BAD</option>
                                    </select>

                                </div>
                            </div>
                        </div>    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="addPayroll(@personnelId)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
@*<script src="~/Scripts/Personnel/Payroll.js"></script>*@
<script>
    //--- Handle Number Validations ---//

    //prevent invalid inputs 
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    //handle numbers only on Payroll Salary
    $('#PayrollSalary').on('input', function() {
        //backspace
        if (isNaN($('#PayrollSalary').val())) {
            var txt = $('#PayrollSalary');
            txt.val(txt.val().slice(0, -1));
        } else {
            //handle negative number
            if ($('#PayrollSalary').val() < 0) {
                $('#PayrollSalary').val(0);
            }
        }
    });

    //handle numbers only on Payroll Allowance
    $('#PayrollAllowance').on('input', function () {
        //backspace
        if (isNaN($('#PayrollAllowance').val())) {
            var txt = $('#PayrollAllowance');
            txt.val(txt.val().slice(0, -1));
        } else {
            //handle negative number
            if ($('#PayrollAllowance').val() < 0) {
                $('#PayrollAllowance').val(0);
            }
        }
    });

    //handle numbers only on Payroll Deductions
    $('#PayrollDeduction').on('input', function () {
        //backspace
        if (isNaN($('#PayrollDeduction').val())) {
            var txt = $('#PayrollDeduction');
            txt.val(txt.val().slice(0, -1));
        } else {
            //handle negative number
            if ($('#PayrollDeduction').val() < 0) {
                $('#PayrollDeduction').val(0);
            }
        }
    });

    //handle numbers only on Payroll Year Number
    $('#PayrollYearNo').on('input', function () {
        //backspace
        if (isNaN($('#PayrollYearNo').val())) {
            var txt = $('#PayrollYearNo');
            txt.val(txt.val().slice(0, -1));
        } else {
            //handle negative number
            if ($('#PayrollYearNo').val() < 0) {
                $('#PayrollYearNo').val(0);
            }
        }
    });

    //handle numbers only on Payroll Month Number
    $('#PayrollMonthNo').on('input', function () {
        //backspace
        if (isNaN($('#PayrollMonthNo').val())) {
            var txt = $('#PayrollMonthNo');
            txt.val(txt.val().slice(0, -1));
        } else {
            //handle negative number
            if ($('#PayrollMonthNo').val() < 1) {
                $('#PayrollMonthNo').val(1);
            }
            //handle 1-12 only
            if ($('#PayrollMonthNo').val() > 12) {
                $('#PayrollMonthNo').val(12);
            }
        }
    });
    //--- End of Number Validations ---//

    //set skills and proficieny for the user
    function addPayroll(PersonnelId) {
        var DtStart = $('#PayrollDtStart').val();
        var DtEnd = $('#PayrollDtEnd').val();

        var salary = $('#PayrollSalary').val();
        var allowance = $('#PayrollAllowance').val();
        var deduction = $('#PayrollDeduction').val();
        var yearno = $('#PayrollYearNo').val();
        var monthno = $('#PayrollMonthNo').val();
        var status = $('#PayrollStatus').val();

        //build json object
        var data = {
            custId: 0
        };

        //request data from server using ajax call
        $.ajax({
            url: '/Personel/HrPersonels/AddPayroll?id=' + PersonnelId + '&DtStart=' + DtStart + '&DtEnd=' + DtEnd +
                '&salary=' + salary + '&allw=' + allowance + '&ded=' + deduction +
                '&year=' + yearno + '&mon=' + monthno + '&status=' + status,
            type: "POST",
            data: JSON.stringify(data),
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
                //$('input[name="Password"]').val(data["responseText"]);
            },
            error: function (data) {
                console.log("ERROR");
                console.log(data);
                refreshPage();
                //$('input[name="Password"]').val(data["responseText"]);
            }
        });
    }
    //reload page
    function refreshPage() {
        location.reload();
    }
</script>