@model IEnumerable<JobsV1.Areas.Personel.Models.HrPerPosition>

@{
    int personnelId = Convert.ToInt32(ViewData["personnelId"]);
}


<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Position
            </h3>
        </div>
        <div class="col-lg-12">

            <a href="" id="catbtn" data-toggle="modal" data-target="#perPositionModal" style="margin-bottom:10px;">Add Position</a>
            @foreach (var perPos in Model)
            {
                <p>
                    @perPos.HrPosition.Desc.ToString() -
                    @perPos.DtStart.ToString("MMM dd yyyy")
                    @Html.ActionLink("[x]", "RemovePosition", new { id = perPos.Id })
                </p>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="perPositionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Position List</h4>
                </div>

                <div class="modal-body" id="modal2-content">

                    <div class="row form-group">
                        <b class="col-md-2 modal-label"> Date: </b>
                        <div class="col-md-10">
                            <input type="date"  class="form-control" id="pos-dateStart" />  &nbsp;
                        </div><p></p>
                    </div>
                    <div class="row">
                        <div class="list-group" id="categorylist">

                            @foreach (var position in ViewBag.PositionList as IEnumerable<JobsV1.Areas.Personel.Models.HrPosition>)
                            {
                                @*<a href="@Url.Action("AddPosition", "HrPersonels", new {id = position.Id, pId = personnelId },null)" class="list-group-item">
                                      @position.Desc
                                 </a>*@

                                <a class="list-group-item" onclick="addPerPosition(@position.Id, @personnelId)">
                                    @position.Desc
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script>
    $(document).ready(
        function () {
            var parsedTime = moment().format('YYYY-MM-DD');
            $("#pos-dateStart").val(parsedTime);
        }
    );

    function getDate() {
        return $("#pos-dateStart").val();
    }

    //set skills and proficieny for the user
    function addPerPosition(id, pId) {
        //build json object
        var data = {
            id: id, //position id
            pId: pId,
            date: getDate(),
        };


        //request data from server using ajax call
        $.ajax({
            url: '/Personel/HrPersonels/AddPosition',
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
            },
            error: function (data) {
                //console.log("ERROR");
                //console.log(data);
                refreshPage();
            }
        });


        //hidel skills modal
        $('#perPositionModal').modal('hide');
    }

    function refreshPage() {
        location.reload();
    }
</script>