@model JobsV1.Areas.Personel.Models.HrProfile

@{
    int personnelId = Convert.ToInt32(ViewData["personnelId"]);
}


<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Profile
            </h3>
            <p>
                @Html.ActionLink("Edit", "Edit_Profile", "HrProfiles", new { personnelId = personnelId }, null)

                @*@*<a href="" id="catbtn" data-toggle="modal" data-target="#edit-ProfileModal" 
                   onclick="EditProfile('@Model.Id ', '@Model.FirstName', '@Model.LastName', '@Model.MiddleName', '@Model.Mobile1',
                   '@Model.Mobile2','@Model.Email','@Model.fbAccount','@Model.PresentAddress','@Model.ProvincialAddress',
                   '@Model.Spouse' )">
                Edit</a> |*@
            </p>
        </div>

        <div class="col-md-3">

            <p>
                FirstName : 
                <b>
                    @Html.DisplayFor(model => model.FirstName)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.LastName) : 
                <b>
                    @Html.DisplayFor(model => model.LastName)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.MiddleName) :
                <b>
                    @Html.DisplayFor(model => model.MiddleName)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.Mobile1) :
                <b>
                    @Html.DisplayFor(model => model.Mobile1)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.Mobile2) :
                <b>
                    @Html.DisplayFor(model => model.Mobile2)
                </b>
            </p>
        </div>
        <div class="col-md-3">

            <p>
                @Html.DisplayNameFor(model => model.Email)  :
                <b>
                    @Html.DisplayFor(model => model.Email)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.fbAccount) :
                <b>
                    @Html.DisplayFor(model => model.fbAccount)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.PresentAddress) :
                <b>
                    @Html.DisplayFor(model => model.PresentAddress)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.ProvincialAddress) :
                <b>
                    @Html.DisplayFor(model => model.ProvincialAddress)
                </b>
            </p>

            <p>
                @Html.DisplayNameFor(model => model.Spouse) :
                <b>
                    @Html.DisplayFor(model => model.Spouse)
                </b>
            </p>
        </div>

    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-ProfileModal" tabindex="-1" role="dialog" aria-labelledby="Edit Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit info</h4>
            </div>

            <div class="modal-body row">

                <div class="form-group hidden">
                    <b class="col-md-2 modal-label"> Id: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="20" class="form-control" id="prof-Id" />  &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> FirstName: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="20" class="form-control" id="prof-fname" />  &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> LastName: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="30" class="form-control" id="prof-lname" />
                         &nbsp; 
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="modal-label col-md-2"> MiddleName: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="30" class="form-control" id="prof-midname" />
                         &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> Mobile 1: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="20" class="form-control" id="prof-mobile1" />
                        &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> Mobile 2: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="20" class="form-control" id="prof-mobile2" />
                        &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> Email: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="80" class="form-control" id="prof-email" />
                        &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> FbAccount: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="120" class="form-control" id="prof-fbaccount" />
                        &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> Present Adress: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="180" class="form-control" id="prof-presAddress" />
                        &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> Provincial Address: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="180" class="form-control" id="prof-provAddress" />
                        &nbsp;
                    </div><p></p>
                </div>

                <div class="form-group">
                    <b class="col-md-2 modal-label"> Spouse: </b>
                    <div class="col-md-10">
                        <input type="text" maxlength="80" class="form-control" id="prof-spouse" />
                        &nbsp;
                    </div><p></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="ajax_EditProfile(@Model.Id)">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="~/Scripts/jquery-3.3.1.js"> </script>
<script>


    //Edit - POST
    //Submit changes to the product
    //using ajax, then reload page
    function ajax_EditProfile(Id) {
        var fname = $("#prof-fname").val();
        var lname = $("#prof-lname").val();
        var midname = $("#prof-midname").val();
        var mobile1 = $("#prof-mobile1").val();
        var mobile2 = $("#prof-mobile2").val();
        var email = $("#prof-email").val();
        var fbaccount = $("#prof-fbaccount").val();
        var presAddress = $("#prof-presAddress").val();
        var provAddress = $("#prof-provAddress").val();
        var spouse = $("#prof-spouse").val();

        console.log("Id:" + Id);
        console.log("fname:"+fname);
        console.log("lname:"+lname);
        console.log("midname:"+midname);
        console.log("mobile1:"+mobile1);
        console.log("mobile2:"+mobile2);
        console.log("email:"+email);
        console.log("fbaccount:"+fbaccount);
        console.log("presAddress:"+presAddress);
        console.log("provAddress:"+provAddress);
        console.log("spouse:"+spouse);

        var data = {
            id: Id,
            fname : fname,
            lname : lname,
            midname: midname,
            mobile1 : mobile1,
            mobile2 : mobile2,
            email: email,
            fbaccount : fbaccount,
            presAddress : presAddress,
            provAddress : provAddress,
            spouse : spouse
        };

        console.log("data:" + data["id"]);
        //public ActionResult EditProfile(int Id, string fname, string lname, string midname, string mobile1, string mobile2,
        //    string email, string fbaccount, string presAddress, string provAddress, string spouse)

        //url = "/Personel/HrPersonels/EditProfile/";

        url = "/Personel/HrPersonels/EditProfile?"+Id + "&fname="+fname + "&lname="+lname + "&midname="+midname + "&mobile1="+mobile1
         + "&mobile2="+mobile2 + "&email="+email + "&fbaccount="+fbaccount + "&presAddress="+presAddress + "&provAddress="+provAddress
        + "&spouse="+spouse ;

        //Submit data to server using ajax
        $.ajax({
            url: url,
            type: "POST",
            //data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
            },
            error: function (data) {
                //// console.log("ERROR");
                console.log(data);
                console.log(data["status"]);
                if(data["status"] == "200"){
                    //location.reload();
                    //console.log(data["status"]);
                }
                if(data["status"] == "500"){
                    //location.reload();
                    alert("Unable to perform action.");
                }
            }
        });
    }

    //Edit
    //transfer values of selected product
    //to the edit form 
    function EditProfile(Id,fname,lname,midname,mobile1,mobile2,email,
        fbaccount,presAddress,provAddress,spouse){
        
        $("#prof-Id").val(Id);
        $("#prof-fname").val(fname);
        $("#prof-lname").val(lname);
        $("#prof-midname").val(midname);
        $("#prof-mobile1").val(mobile1);
        $("#prof-mobile2").val(mobile2);
        $("#prof-email").val(email);
        $("#prof-fbaccount").val(fbaccount);
        $("#prof-presAddress").val(presAddress);
        $("#prof-provAddress").val(provAddress);
        $("#prof-spouse").val(spouse);


    }

    function refreshPage() {
        location.reload();
    }
</script>