@model IEnumerable<JobsV1.Areas.Personel.Models.HrPerSkill>

@{
    int personnelId = Convert.ToInt32(ViewData["personnelId"]);
}

<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-12">

            <h3>
                Skills
            </h3>
        </div>
        <div class="col-lg-12">
            <a href="" id="catbtn" data-toggle="modal" data-target="#perSkillsModal" onclick="resetSkillsPrompt()">Add Skill</a>
            @foreach (var perSkill in Model)
            {
                <p>
                    @perSkill.HrSkill.Desc.ToString() -
                    @perSkill.HrProficiency.Level -
                    @perSkill.DtAcquired.ToString("MMM dd yyyy")
                    @Html.ActionLink("[x]", "RemoveSkill", new { id = perSkill.Id })
                </p>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="perSkillsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Skills List</h4>
                </div>

                <div class="modal-body" id="modal2-content">

                    <div class="list-group" id="categorylist_Skills">
                        <h4>Select Skill</h4>
                        @foreach (var skill in ViewBag.SkillsList as IEnumerable<JobsV1.Areas.Personel.Models.HrSkill>)
                        { 
                            <a  class="list-group-item skills" onclick="selectSkill(@skill.Id,@personnelId)"> 
                                @skill.Desc
                            </a>
                            @*<a href="@Url.Action("AddSkills", "HrPersonels", new {id = position.Id, pId = personnelId },null)" class="list-group-item">
                                @position.Desc
                            </a>*@
                        }

                    </div>

                    <div class="list-group" id="categorylist_Prof" style="display:none;">

                        <h4>Select Skill Proficiency</h4>
                        @foreach (var skillsProf in ViewBag.Proficiency as IEnumerable<JobsV1.Areas.Personel.Models.HrProficiency>)
                        {
                            <a class="list-group-item proficiency" onclick="selectProf(@skillsProf.Id)"> 
                                @skillsProf.Level
                            </a>
                            @*<a href="@Url.Action("AddSkills", "HrPersonels", new {id = position.Id, pId = personnelId },null)" class="list-group-item">
                                @position.Desc
                            </a>*@
                        }

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    var personnelID;
    var profID;
    var skillsID;
    
    function selectSkill(skID, perID) {
        
        personnelID = perID;
        skillsID = skID;

        //alert("personnelID: " + personnelID);
        //alert("skillsID: " + skillsID);

        hideSkills();
        showProficiency();
    }

    function showProficiency(){
        $('#categorylist_Prof').css('display','block')
    }

    function hideProficiency(){
        $('#categorylist_Prof').css('display','none')
    }

    function showSkills(){
        $('#categorylist_Skills').css('display','block')
    }

    function hideSkills(){
        $('#categorylist_Skills').css('display','none')
    }

    function selectProf(value) {
        profID = value;

        //alert("personnelID: " + personnelID);
        //alert("skillsID: "    + skillsID);
        //alert("profID: " + profID);

        //submit data to server using ajax, 
        //refresh page
        addPerSkills();

        //hidel skills modal
        $('#perSkillsModal').modal('hide'); 
    }

    //reset skills selection modal
    //by showing skills list and 
    //hiding proficiency list
    function resetSkillsPrompt(){
        showSkills();
        hideProficiency();
    }

    function refreshPage() {
        location.reload();
    }

    //set skills and proficieny for the user
    function addPerSkills() {
       
        //build json object
        var data = {
            custId: 0
        };

        //request data from server using ajax call
        $.ajax({
            url: '/Personel/HrPersonels/AddSkills?perID=' + personnelID + '&sID=' + skillsID + '&pID=' + profID,
            type: "POST",
            data: JSON.stringify(data),
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
                //$('input[name="Password"]').val(data["responseText"]);

            },
            error: function (data) {
                //console.log("ERROR");
                //console.log(data);
                refreshPage()
                //$('input[name="Password"]').val(data["responseText"]);
            }
        });
    }
</script>