@model IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>

@{
    ViewBag.Title = "Passenger Manifest";
    DateTime datetimeNow = ViewBag.DateTimeNow;
    TimeSpan timeNow = datetimeNow.TimeOfDay;
}
@if (ViewBag.CompanyId != 0)
{
    <a href="/mod/110/company/trip/@ViewBag.CompanyId">
        <h2> @ViewBag.Company  </h2>
    </a>
}

<h2>Passenger Manifest</h2>
<h4>as Of: @datetimeNow.ToString("MMM dd yyyy hh:mm tt")</h4>
<p>
    <span style="margin-right:10px;"></span>
    <span style="margin-right:10px;">
        <span class="status-circle-green"> </span> Done
    </span>
    <span style="margin-right:10px;">
        <span class="status-circle-orange"> </span> Declined
    </span>
    <span style="margin-right:10px;">
        <span class="status-circle-red">  </span> Failed
    </span>
</p>

<table class="table">

    @foreach (var item in Model)
    {
        if (ViewBag.CompanyId == 0)
        {
            <tr>
                <th colspan="3">
                    <a href="/mod/110/company/trip/@item.crLogCompanyId">  @Html.DisplayFor(modelItem => item.crLogCompany.Name)</a>
                </th>
            </tr>
        }

        <tr>
            <th>
                Driver: @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </th>
            <th>
                Unit: @Html.DisplayFor(modelItem => item.crLogUnit.Description)
            </th>
            <th>
                Date: @Html.DisplayFor(modelItem => item.DtTrip)
            </th>
        </tr>
        <tr>
            <td colspan="3">
                @{ int passcnt = 0;}
                <table style="border:3px solid cadetblue;">
                    <tr>
                        <th>&nbsp;</th>
                        <th>##</th>
                        <th>Name And Contact</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>STATUS</th>
                        <th>Contacted</th>
                        <th>Boarded</th>
                        <th>Delivered</th>
                        <th>Options</th>

                    </tr>

                    @foreach (var pass in item.crLogPassengers.OrderBy(s => s.PickupTime))
                    {
                        passcnt++;
                        DateTime tripDt = pass.crLogTrip.DtTrip;

                        <tr>
                            <td style="padding-top:20px;">
                                &nbsp;
                                @if (pass.timeContacted.Trim().Length > 2)
                                {
                                    if (pass.crLogPassStatusId == 5)
                                    {
                                        //declined
                                        <span class="status-circle-orange" title="Passenger Declined"> </span>
                                    }
                                    else if (pass.crLogPassStatusId == 6)
                                    {
                                        //failed
                                        <span class="status-circle-red" title="Driver Failed to Contact Passenger"> </span>
                                    }
                                    else
                                    {
                                        //success
                                        <span class="status-circle-green" title="Passenger Contacted"> </span>
                                    }
                                }
                                else
                                {
                                    DateTime dt0 = datetimeNow;
                                    string st1 = pass.PickupTime;
                                    DateTime dt1 = new DateTime(
                                        tripDt.Year, tripDt.Month, tripDt.Day,
                                        int.Parse(st1.Substring(0, st1.IndexOf(":"))) + 12,
                                        int.Parse(st1.Substring(st1.IndexOf(":") + 1, 2)),
                                        0).AddHours(-1);

                                    if (DateTime.Compare(dt0, dt1) <= 0)
                                    {
                                        <span class="status-circle-gray" title="Passenger not yet contacted"> </span>
                                    }
                                    else
                                    {
                                        <span class="status-circle-red" title="Driver failed to contact passenger on time"> </span>
                                    }

                                }

                                @if (pass.timeBoarded.Trim().Length > 2)
                                {
                                    if (pass.crLogPassStatusId == 5)
                                    {
                                        //declined
                                        <span class="status-circle-orange" title="Passenger declined"> </span>
                                    }
                                    else if (pass.crLogPassStatusId == 6)
                                    {
                                        //failed
                                        <span class="status-circle-red" title="Passenger not yet boarded"> </span>
                                    }
                                    else
                                    {
                                        //success
                                        <span class="status-circle-green" title="Passenger is on board"> </span>
                                    }
                                }
                                else
                                {
                                    DateTime dt0 = datetimeNow;
                                    string st1 = pass.PickupTime;
                                    DateTime dt1 = new DateTime(
                                        tripDt.Year, tripDt.Month, tripDt.Day,
                                        int.Parse(st1.Substring(0, st1.IndexOf(":"))) + 12,
                                        int.Parse(st1.Substring(st1.IndexOf(":") + 1, 2)),
                                        0);

                                    if (DateTime.Compare(dt0, dt1) <= 0)
                                    {
                                        <span class="status-circle-gray" title="Passenger not yet boarded"> </span>
                                    }
                                    else
                                    {
                                        <span class="status-circle-red" title="Failed to board Passenger on pickup time"> </span>
                                    }

                                }

                                @if (pass.timeDelivered.Length > 2)
                                {
                                    if (pass.crLogPassStatusId == 5)
                                    {
                                        //declined
                                        <span class="status-circle-orange" title="Passenger declined"> </span>
                                    }
                                    else if (pass.crLogPassStatusId == 6)
                                    {
                                        //failed
                                        <span class="status-circle-red" title="Failed to Dropped Passenger"> </span>
                                    }
                                    else
                                    {
                                        //success
                                        <span class="status-circle-green" title="Passenger Dropped"> </span>
                                    }
                                }
                                else
                                {
                                    DateTime dt0 = datetimeNow;
                                    string st1 = pass.DropTime;
                                    DateTime dt1 = new DateTime(
                                        tripDt.Year, tripDt.Month, tripDt.Day,
                                        int.Parse(st1.Substring(0, st1.IndexOf(":"))) + 12,
                                        int.Parse(st1.Substring(st1.IndexOf(":") + 1, 2)),
                                        0);

                                    if (DateTime.Compare(dt0, dt1) <= 0)
                                    {
                                        <span class="status-circle-gray" title="Passenger not yer dropped"> </span>
                                    }
                                    else
                                    {
                                        <span class="status-circle-red" title="Failed to Dropped passenger on time"> </span>
                                    }
                                }
                                &nbsp;

                            </td>
                            <td>(@passcnt)&nbsp;</td>
                            <td>
                                @pass.Name / @pass.Contact&nbsp;
                            </td>
                            <td>
                                [ @pass.PickupTime / @pass.PickupPoint ] &nbsp;
                            </td>
                            <td>
                                [ @pass.DropTime / @pass.DropPoint ] &nbsp;
                            </td>
                            <td style="text-align:center;color:darkslateblue;">
                                @pass.crLogPassStatu.Status
                            </td>

                            @{
                                var sContacted = pass.timeContacted.Trim() == "" ? "--:--" : pass.timeContacted;
                                var sBoarded = pass.timeBoarded.Trim() == "" ? "--:--" : pass.timeBoarded;
                                var sDelivered = pass.timeDelivered.Trim() == "" ? "--:--" : pass.timeDelivered;
                            }

                            <td style="text-align:center;">
                                @sContacted &nbsp;
                            </td>
                            <td style="text-align:center;">
                                @sBoarded &nbsp;
                            </td>
                            <td style="text-align:center;">
                                @sDelivered
                            </td>

                            <td>
                                &nbsp;[ @Html.ActionLink("Transfer", "TransferPassenger", new { id = pass.Id }) ]
                            </td>

                        </tr>

                    }

                    <tr><td colspan="4">&nbsp</td></tr>
                </table>

            </td>

        </tr>
        <tr>
            <td colspan="6">
                &nbsp;
            </td>
        </tr>
    }

</table>

<script>
    window.setInterval(function () {
        //reload page every one minute
        location.reload();
    }, 60000);
</script>