@model JobsV1.Areas.Personel.Controllers.crLogTripBilling

@{
    ViewBag.Title = "Trip Log";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    int totalHrsOT = 0;
    int TotalSundayCount = 0;
    int TotalOTCount = 0;

    decimal TotalSundayRate = 0;
    decimal TotalOTRate = 0;
    double TotalOTHrs = 0;
}
<style href=""></style>
<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }
</style>

<h2>Trip Log - OT Billing </h2>

<p>
    Trip Logs |
    @Html.ActionLink("Drivers", "Index", "crLogDrivers") |
    @Html.ActionLink("Units", "Index", "crLogUnits") |
    @Html.ActionLink("Companies", "Index", "crLogCompanies") |
    @Html.ActionLink("Cash Transactions", "Index", "CarRentalCashRelease") |
    @Html.ActionLink("Expenses", "Index", "CrLogFuels", null, null) |
    @Html.ActionLink("Unit Expenses Reports", "Index", "crRptUnitExpenses")
</p>
<div><p>
    @*@Html.ActionLink("Add New Trip", "Create") |
        @Html.ActionLink("Copy Trip", "CopyTrip") |
        @Html.ActionLink("Add Trip Odo", "UpdateTripLogOdo") |
        @Html.ActionLink("Cash Advance", "Index", "CarRentalCashRelease") |*@
    @*OT Billing |
        @Html.ActionLink("Daily Rate Billing", "IndexBillingDaily", new { company = ViewBag.Company }) | |
        @Html.ActionLink("Sunday Billing", "IndexBillingSunday")*@
    <div class="col-md-7">
         @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog", null, new { @class = " btn btn-default" }) 
    </div>
    <!-- Billing Links -->
    <div class="col-md-5 btn-group">
        @Html.ActionLink("OT Billing", "IndexBilling", null, new { @class = " btn btn-default active" })
        @Html.ActionLink("Daily Rate Billing", "IndexBillingDaily", null, new { @class = " btn btn-default" })
        @Html.ActionLink("Sunday Billing", "IndexBillingSunday", null, new { @class = " btn btn-default" })
    </div>
</p></div>

<p class="col-md-12">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#FilterModal">Filter</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SummaryModal">Summary</button>
    <button type="button" class="btn btn-default" onclick="PrevDay()"> &#171; Prev Day </button>
    <button type="button" class="btn btn-default" onclick="NextDay()"> Next Day &#187; </button>
    <button type="button" class="btn btn-default pull-right" onclick="PrintBilling()">  <img src="~/Images/Icons/icon-print.png" width="14" /> Print Form </button>
</p>

<!-- Filter Modal -->
<div class="modal fade" role="dialog" id="FilterModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="width:340px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Find Logs by Date</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:0px;padding:10px;padding-left:25px">
                    @using (Html.BeginForm())
                    {
                        <form id="FilterForm" method="post">
                            <p style="padding-left:0px;">
                                <label>Date options: </label><br />
                                <a class="cursor-pointer" onclick="SetStartDate(-7)"> This Week </a> |
                                <a class="cursor-pointer" onclick="SetStartDate(-15)"> Last 15 Days </a> |
                                <a class="cursor-pointer" onclick="SetStartDate(-30)"> Last 30 Days </a>
                            </p>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-date-label"> Start Date: </label>
                                <input type="text" name="startDate" id="filter-sdate" class="form-control" style="margin-bottom:10px;" />
                                <label for="filter-date-label"> End Date: </label>
                                <input type="text" name="endDate" id="filter-edate" class="form-control" />
                            </div>


                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-unit">Unit:</label>
                                <select name="unit" id="filter-unit" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogUnitList as List<JobsV1.Areas.Personel.Models.crLogUnit>)
                                    {
                                        <option value="@unit.Description"> @unit.Description </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-driver">Driver:</label>
                                <select name="driver" id="filter-driver" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogDriverList as List<JobsV1.Areas.Personel.Models.crLogDriver>)
                                    {
                                        <option value="@unit.Name"> @unit.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-company">Company:</label>
                                <select name="company" id="filter-company" class="form-control">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogCompanyList as List<JobsV1.Areas.Personel.Models.crLogCompany>)
                                    {
                                        <option value="@unit.Name"> @unit.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="sort-by">Sort:</label>
                                <select name="sortby" id="sort-by" class="form-control">
                                    <option value="Date"> Date Asc </option>
                                    <option value="Date-Desc"> Date Desc</option>
                                    <option value="Unit"> Unit </option>
                                    <option value="Company"> Company </option>
                                    <option value="Driver"> Driver </option>
                                </select>
                            </div>

                            <br />
                            <div class="col-lg-offset-5 col-md-7 col-xs-offset-5 col-xs-7">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="SubmitFilterBtn">Submit</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<div class="hidden">
    <h4>Sundays</h4>
    <table class="table">
        <tr>
            <td>
                Driver
            </td>
            <td>
                Date
            </td>
            <td>
                Unit
            </td>
            <td>
            </td>
            <td>
                Rate
            </td>
            <td>
            </td>
        </tr>
        @foreach (var trip in Model.SundayTrips)
        {
            TotalSundayCount += 1;
            TotalSundayRate += trip.Rate;

            <tr>
                <td>@trip.Driver</td>
                <td>@trip.DtTrip.ToString("MMM dd yyyy")</td>
                <td>@trip.Unit</td>
                <td></td>
                <td>@trip.Rate.ToString("#,##0") </td>
                <td> </td>
            </tr>
        }
        <tr>
            <td colspan="4"> Total Count: @TotalSundayCount</td>
            <td>
                <span style="font-size:9px;"> Total Rate</span><br />
                @TotalSundayRate.ToString("#,##0")
            </td>
        </tr>
    </table>
</div>

<h4>OverTime</h4>
<table class="table">
    <tr>
        <td>
            Driver
        </td>
        <td>
            Date
        </td>
        <td>
            Unit
        </td>
        <td>
            Time
        </td>
        <td>
            Rate
        </td>
        <td>
            Overtime
        </td>
        <td>

        </td>
    </tr>
    @foreach (var tripGroup in Model.OTTrips.GroupBy(t => t.DtTrip.Date))
    {
        <tr><td colspan="6"> </td></tr>
        foreach (var trip in tripGroup)
        {
                TotalOTCount += 1;
                TotalOTRate += trip.OTRate;
                TotalOTHrs += trip.OTHours;

                <tr>
                    <td>@trip.Driver</td>
                    <td>@trip.DtTrip.ToString("MMM dd yyyy (ddd)")</td>
                    <td>@trip.Unit</td>
                    <td>@trip.StartTime - @trip.EndTime</td>
                    <td>
                        <span class="OT-Rate"> @trip.OTRate.ToString("#,##0") </span>
                    </td>
                    <td>
                        @trip.OTHours Hrs
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditOTBilling", new { id = trip.Id }) 
                    </td>
                </tr>
        }
    }
    <!-- Summary -->
    <tr>
        <td colspan="4"> Total Count: @TotalOTCount </td>

        <td>
            <span style="font-size:9px;"> Total OT Rate</span><br />
            @TotalOTRate.ToString("#,##0")
        </td>
        <td>
            <span style="font-size:9px;"> Total OT Hours</span><br />
            @TotalOTHrs
        </td>
    </tr>
</table>


@Html.Partial("_LogSummaryModal", null, new ViewDataDictionary { { "DriversLogSummary" , ViewBag.DriversLogSummary },
    { "CompaniesLogSummary", ViewBag.CompaniesLogSummary }, { "UnitsLogSummary", ViewBag.UnitsLogSummary } })

@Html.Partial("_LogOdoUpdateModal")

@Html.Partial("_LogOTUpdateModal")

@Html.Partial("_VehicleSummaryFilter")

@Html.Partial("_VehicleTripFilter")

<!-- For Report Redirect -->
@Html.Hidden("VehicleSummaryReport", Url.Action("VehicleSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId" }))
@Html.Hidden("VehicleTripReport", Url.Action("VehicleTripReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId", driverId = "_driverId" }))

@section Scripts{
    <script src="~/Scripts/Filters/FormInputFilter.js"></script>
    <script src="~/Areas/Personel/Script/CarRentalLog.js"></script>
    <script src="~/Areas/Personel/Script/CreateTripLogTime.js"></script>
    <script>
        $(document).ready(() => {
            $("#filter-unit").val("@ViewBag.FilteredUnit")
            $("#filter-driver").val("@ViewBag.FilteredDriver")
            $("#filter-company").val("@ViewBag.FilteredCompany")
            $("#sort-by").val("@ViewBag.SortBy")

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredeDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().format("MM/DD/YYYY"))
            }

            var shuttle_cookie = getCookie('shuttle_cookie');
            if (shuttle_cookie) {
                console.log('shuttle cookie is ' + shuttle_cookie);

                if (shuttle_cookie == 1) {
                    $("#isShuttle").removeClass("btn-default");
                    $("#isShuttle").addClass("btn-primary");
                } else {
                    $("#isShuttle").addClass("btn-default");
                    $("#isShuttle").removeClass("btn-primary");
                }
            } else {
                console.log('no shuttle cookie found');
            }

            GetOTHours();
            GetOTRate();
        });

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = date.toUTCString();
            }
            document.cookie =  name + "=" + (value || "") +";expires="+ expires + ";path=/";
            console.log(document.cookie);
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }



        function PrevDay() {

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").add(-1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().add(-1, 'days').format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredeDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").add(-1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().add(-1, 'days').format("MM/DD/YYYY"))
            }


            $("#SubmitFilterBtn").click();
        }


        function NextDay() {

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").add(1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().add(1, 'days').format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredeDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").add(1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().add(1, 'days').format("MM/DD/YYYY"))
            }

            $("#SubmitFilterBtn").click();
        }

        function GetOTHours() {
            var totalOTHours = 0;
            $('#TripLogs-Table tr td .OT-Hours').each(function () {

                console.log("Checked " + $(this).val());

                let OTHours = parseFloat($(this).text());
                console.log(OTHours);
                totalOTHours = totalOTHours + OTHours;

            });

            //$("#totalOTHours").text(totalOTHours);
        }

        function GetOTRate() {
            var totalOTRate = 0;
            $('#TripLogs-Table tr td .OT-Rate').each(function () {

                console.log("Checked " + $(this).val());

                let OTRate = parseFloat($(this).text());
                console.log(OTRate);
                totalOTRate = totalOTRate + OTRate;

            });

            //$("#totalOTRate").text(totalOTRate);
        }

        
        function GetOTCompanyRate() {
            var totalOTRate = 0;
            $('#TripLogsOT-Table tr td .OTCompanyRate').each(function () {

                console.log("Checked " + $(this).val());

                let OTRate = parseFloat($(this).text());
                console.log(OTRate);
                totalOTRate = totalOTRate + OTRate;

            });

            //$("#totalOTCompanyRate").text(totalOTRate);
        }

        
        function ShowLoading() {
            $("#overlay").show();
        }

        function HideLoading() {
            $("#overlay").hide();
        }

        function ToggleDriverTrip() {
            $("#TripLogs-Table").toggle();
        }
        
        function PrintBilling() {
            ShowLoading();
            location.href = "/Personel/CarRentalLog/PrintIndexBilling"
        }


    </script>
}