@model JobsV1.Areas.Personel.Models.crBillingDetails_Supplier

@{
    ViewBag.Title = "Trip Log";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    int TotalCount = 0;
    decimal TotalRate = 0;
    decimal TotalOTRate = 0;
    decimal TotalAddon = 0;
    decimal Total = 0;
}
<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .table > tbody > tr > td {
        border-top: none;
    }

    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .table > tbody > tr > td {
        border-top: none;
    }

    .no-padding-child td {
        padding: 3px !important;
        padding-left: 5px !important;
    }

        .no-padding-child td:first-child {
            padding-left: 10px !important;
        }

    .with-border {
        border: 1px solid black !important;
    }

    .td-border {
        border: 1px solid black;
    }

    .paper-size {
        width: 680px;
    }

    .div-no-margin p {
        margin-bottom: 0px;
    }

    .border-left {
        border-left: 1px solid black;
        padding-right: 5px;
    }

        .border-left span {
            padding: 5px;
        }

    .table-bordered {
        width: 100%;
        border: 1px solid black;
    }

        .table-bordered > tbody > tr > td {
            border: 1px solid black;
        }

    .table-header tr td {
        padding: 5px;
    }

    /* Table Header*/

    .table-header tr {
        padding: 5px;
        border: 1px solid black !important;
    }

    .table-header-logo-td {
        padding: 5px;
    }

        .table-header-logo-td > img {
            float: left;
        }

    .table-header-text-td {
        text-align: left;
    }

    .header-text-company {
        font: bold 18px arial, verdana;
        display: block;
        left: -50px;
        text-align: left;
    }

    .header-text-details {
        font: 9px arial, verdana;
        color: royalblue;
        display: block;
    }

    /*Table Statement Title */

    .table-statement {
        width: 100%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-bottom: 0px;
    }

    .no-border-right {
        border-right: none !important;
    }

    .no-border-left {
        border-left: none !important;
    }

    .td-border-top{
        border-top:1px solid black !important;
    }
</style>

<h2>Trip Log - Daily Rate Billing </h2>

<p>
    Trip Logs |
    @Html.ActionLink("Drivers", "Index", "crLogDrivers") |
    @Html.ActionLink("Units", "Index", "crLogUnits") |
    @Html.ActionLink("Companies", "Index", "crLogCompanies") |
    @Html.ActionLink("Cash Transactions", "Index", "CarRentalCashRelease") |
    @Html.ActionLink("Expenses", "Index", "CrLogFuels", null, null) 
</p>
<p>
    <div class="col-md-7">
        @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog", null, new { @class = " btn btn-default" })
    </div>
    <div class="col-md-5 btn-group">
        @Html.ActionLink("OT Billing", "IndexBilling", null, new { @class = " btn btn-default" })
        @Html.ActionLink("Daily Rate Billing", "IndexBillingDaily", null, new { @class = " btn btn-default " })
        @Html.ActionLink("Supplier Billing", "IndexSupplierBilling", null, new { @class = " btn btn-default active" })
    </div>
</p>

<p class="col-md-12">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#FilterModal">Filter</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SummaryModal">Summary</button>
    <button type="button" class="btn btn-default" onclick="PrevDay()"> &#171; Prev Day </button>
    <button type="button" class="btn btn-default" onclick="NextDay()"> Next Day &#187; </button>
    <button type="button" class="btn btn-default pull-right" onclick="PrintBilling()">  <img src="~/Images/Icons/icon-print.png" width="14" /> Print Form </button>
    <button type="button" class="btn btn-default pull-right" onclick="PrintBillingNoDriver()">  <img src="~/Images/Icons/icon-print.png" width="14" /> Print Form No Driver </button>
</p>

<!-- Filter Modal -->
<div class="modal fade" role="dialog" id="FilterModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="width:340px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Find Logs by Date</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:0px;padding:10px;padding-left:25px">
                    @using (Html.BeginForm())
                    {
                        <form id="FilterForm" method="post">
                            <p style="padding-left:0px;">
                                <label>Date options: </label><br />
                                <a class="cursor-pointer" onclick="SetStartDate(-7)"> This Week </a> |
                                <a class="cursor-pointer" onclick="SetStartDate(-15)"> Last 15 Days </a> |
                                <a class="cursor-pointer" onclick="SetStartDate(-30)"> Last 30 Days </a>
                            </p>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-date-label"> Start Date: </label>
                                <input type="text" name="startDate" id="filter-sdate" class="form-control" style="margin-bottom:10px;" />
                                <label for="filter-date-label"> End Date: </label>
                                <input type="text" name="endDate" id="filter-edate" class="form-control" />
                            </div>


                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-unit">Unit:</label>
                                <select name="unit" id="filter-unit" class="form-control dropdown-search" style="width:95%;">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogUnitList as List<JobsV1.Areas.Personel.Models.crLogUnit>)
                                    {
                                        <option value="@unit.Description"> @unit.Description </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-driver">Driver:</label>
                                <select name="driver" id="filter-driver" class="form-control dropdown-search" style="width:95%;">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogDriverList as List<JobsV1.Areas.Personel.Models.crLogDriver>)
                                    {
                                        <option value="@unit.Name"> @unit.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-company">Company:</label>
                                <select name="company" id="filter-company" class="form-control dropdown-search" style="width:95%;">
                                    <option value="all">All</option>
                                    @foreach (var unit in ViewBag.crLogCompanyList as List<JobsV1.Areas.Personel.Models.crLogCompany>)
                                    {
                                        <option value="@unit.Name"> @unit.Name </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="filter-company">Owner:</label>
                                <select name="owner" id="filter-owner" class="form-control dropdown-search" style="width:95%;">
                                    <option value="all">All</option>
                                    @foreach (var owner in ViewBag.crLogOwnerList as List<JobsV1.Areas.Personel.Models.crLogOwner>)
                                    {
                                        <option value="@owner.Name"> @owner.Name </option>
                                    }
                                </select>
                            </div>
                            <div class="form-group" style="padding-right:5px;padding-bottom:10px;">
                                <label for="sort-by">Sort:</label>
                                <select name="sortby" id="sort-by" class="form-control">
                                    <option value="Date"> Date Asc </option>
                                    <option value="Date-Desc"> Date Desc</option>
                                    <option value="Unit"> Unit </option>
                                    <option value="Company"> Company </option>
                                    <option value="Driver"> Driver </option>
                                </select>
                            </div>

                            <br />
                            <div class="col-lg-offset-5 col-md-7 col-xs-offset-5 col-xs-7">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="SubmitFilterBtn">Submit</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />

<div class="paper-size">
    <table class="table-bordered table-header">
        <tr>
            <td class="table-header-logo-td">
                <img src="~/Images/LOGO_AJRENTACAR.jpg" width="100" class="pull-right" style="margin-right:20px;" />
            </td>
            <td class="table-header-logo-td">
                <span class="header-text-company">
                    AJ88 Davao Car Rental Services
                </span>
                <span class="header-text-details">
                    <br />Door 1 Travelers Inn Bldg., Matina Crossing Rd., Matina Pangi, Davao City, 8000
                    <br />Tel# (+63)82 333-5157; (+63)916-755-8473; (+63)933-089-5358
                    <br />Email: ajdavao88@gmail.com; Website: http://www.AJDavaoCarRental.com
                </span>
            </td> 
        </tr>
    </table>
    <table class="table table-statement">
        <tr>
            <td colspan="3" class="no-padding td-border-top">
                <h2 class="text-center no-margin"> Statement Account </h2>
                <p class="text-center no-margin">
                    @Model.BillingDate
                </p>
            </td>
        </tr>
        <tr class="no-padding-child">
            <td colspan="2">
                <b>To: @Model.Supplier </b><br />
                Company : @ViewBag.Company
            </td>
            <td>
                <p class="pull-right" style="padding-right:5px;">
                    SOA #: @Model.PONum <br />
                    Date : @Model.GeneratedDate.ToString("MMM dd yyyy")
                </p>
            </td>
        </tr>
    </table>

    <table class="table table-report" style="border:1px solid black;">

        <tr>
            <td class="border-left" width="70">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Date </h6>
            </td>
            <td class="border-left" width="110">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Driver </h6>
            </td>
            <td class="border-left">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Description </h6>
            </td>
            <td colspan="1" class="border-left">
                <h6 style="font-weight: 600; margin: 5px;">Amount</h6>
            </td>
            <td colspan="1" class="border-left">
                <h6 style="font-weight: 600; margin: 5px;">Overtime</h6>

            </td>
            <td colspan="1" class="border-left" width="60">
                <h6 style="font-weight: 600; margin: 5px;">Add'l</h6>

            </td>
        </tr>


        @foreach (var tripGroup in Model.Daily.GroupBy(c => c.DtTrip))
        {
            var currentDate = tripGroup.Key.ToString("MMM dd");

            foreach (var trip in tripGroup)
            {
                TotalCount += 1;

                <tr class="no-padding-child">
                    <td>
                        @currentDate
                    </td>
                    <td class="border-left text-center">
                        <span cl> @trip.Driver</span>
                    </td>
                    <td class="border-left">
                        <span>
                            @trip.Unit (@trip.StartTime - @trip.EndTime)
                        </span>
                        @if (!String.IsNullOrEmpty(trip.Remarks))
                        {
                            <br /><span>@trip.Remarks</span>
                        }
                    </td>
                    <td class="border-left text-right">
                        <span> @trip.Rate.ToString("#,##0.00") </span>
                    </td>
                    <td class="border-left text-right">
                        @if (trip.OTRate > 0)
                        {
                            <span>
                                @trip.OTRate.ToString("#,##0.00")
                            </span>
                        }
                    </td>
                    <td class="border-left text-right">
                        @if (trip.AddOns != 0)
                        {

                            <span>
                                @trip.AddOns.ToString("#,##0.00")
                            </span>
                        }

                    </td>
                </tr>
            }
        }

        <tr class="no-padding-child" style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"> Total : @TotalCount </td>
            <td colspan="1">
                <span class="pull-left"> Sub-Total </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @Model.SubTotalRate.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @Model.SubTotalOT.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px;padding-left:15px;padding:5px;"> @Model.SubTotalAddon.ToString("#,##0.00")  </span>
            </td>
        </tr>

        <tr class="no-padding-child">
            <td colspan="6">
                <b> Deductions</b>
                <span class="pull-right">
                    <input type="checkbox" id="checkboxDriverSalary" />

                </span>
            </td>
        </tr>

        @foreach (var driversSalary in Model.DriversSalary)
        {

            <tr class="no-padding-child">
                <td colspan="4">

                    @driversSalary.DriverDetails
                </td>
                <td colspan="1">
                    <h5 class="no-margin" style="font-size:12px;font-weight:600;"> @driversSalary.DriversSalary </h5>
                </td>
                <td colspan="1">
                    <h5 class="no-margin" style="font-size:12px;font-weight:600;">  @driversSalary.DriverOTRate </h5>
                </td>
            </tr>
        }

        <tr class="no-padding-child" style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"> Total : @TotalCount </td>
            <td colspan="2">
                <span class="pull-left"> Sub-Total </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @Model.SubTotaDriverRate.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px;padding-left:15px;padding:5px;"> @Model.SubTotalDriverOT.ToString("#,##0.00")  </span>
            </td>
        </tr>

        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 11px;margin:0px;"> TOTAL CHARGES </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 11px;"> @Model.TotalNet.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 11px;margin:0px;"> TOTAL DEDUCTIONS </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 11px;"> @Model.SubTotalDeductions.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 11px;margin:0px;"> Less 10% Tax </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 11px;"> @Model.TotalBalanceLessTax.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 13px;margin:0px;"> GRAND TOTAL </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 15px;"> Php @Model.TotalBalance.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
    </table>
    <div>
        <p>
            Received by : ________________________
        </p>
        <p>
            Received Date : ______________________
        </p>
        <br />
    </div>

</div>


@Html.Partial("_VehicleSummaryFilter")

@Html.Partial("_VehicleTripFilter")

@section Scripts{
    <script src="~/Scripts/Filters/FormInputFilter.js"></script>
    <script src="~/Areas/Personel/Script/CarRentalLog.js"></script>
    <script src="~/Areas/Personel/Script/CreateTripLogTime.js"></script>
    <script>
        $(document).ready(() => {
            $("#filter-unit").val("@ViewBag.FilteredUnit")
            $("#filter-driver").val("@ViewBag.FilteredDriver")
            $("#filter-company").val("@ViewBag.FilteredCompany")
            $("#filter-owner").val("@ViewBag.Owner")
            $("#sort-by").val("@ViewBag.SortBy")

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredeDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().format("MM/DD/YYYY"))
            }

            var shuttle_cookie = getCookie('shuttle_cookie');
            if (shuttle_cookie) {
                console.log('shuttle cookie is ' + shuttle_cookie);

                if (shuttle_cookie == 1) {
                    $("#isShuttle").removeClass("btn-default");
                    $("#isShuttle").addClass("btn-primary");
                } else {
                    $("#isShuttle").addClass("btn-default");
                    $("#isShuttle").removeClass("btn-primary");
                }
            } else {
                console.log('no shuttle cookie found');
            }

            GetOTHours();
            GetOTRate();
        });

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = date.toUTCString();
            }
            document.cookie =  name + "=" + (value || "") +";expires="+ expires + ";path=/";
            console.log(document.cookie);
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }



        function PrevDay() {

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").add(-1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().add(-1, 'days').format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredeDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").add(-1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().add(-1, 'days').format("MM/DD/YYYY"))
            }


            $("#SubmitFilterBtn").click();
        }


        function NextDay() {

            if ("@ViewBag.FilteredsDate" != "") {
                $("#filter-sdate").val(moment("@ViewBag.FilteredsDate").add(1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-sdate").val(moment().add(1, 'days').format("MM/DD/YYYY"))
            }

            if ("@ViewBag.FilteredeDate" != "") {
                $("#filter-edate").val(moment("@ViewBag.FilteredeDate").add(1, 'days').format("MM/DD/YYYY"))
            } else {
                $("#filter-edate").val(moment().add(1, 'days').format("MM/DD/YYYY"))
            }

            $("#SubmitFilterBtn").click();
        }

        function GetOTHours() {
            var totalOTHours = 0;
            $('#TripLogs-Table tr td .OT-Hours').each(function () {

                console.log("Checked " + $(this).val());

                let OTHours = parseFloat($(this).text());
                console.log(OTHours);
                totalOTHours = totalOTHours + OTHours;

            });

            //$("#totalOTHours").text(totalOTHours);
        }

        function GetOTRate() {
            var totalOTRate = 0;
            $('#TripLogs-Table tr td .OT-Rate').each(function () {

                console.log("Checked " + $(this).val());

                let OTRate = parseFloat($(this).text());
                console.log(OTRate);
                totalOTRate = totalOTRate + OTRate;

            });

            //$("#totalOTRate").text(totalOTRate);
        }


        function GetOTCompanyRate() {
            var totalOTRate = 0;
            $('#TripLogsOT-Table tr td .OTCompanyRate').each(function () {

                console.log("Checked " + $(this).val());

                let OTRate = parseFloat($(this).text());
                console.log(OTRate);
                totalOTRate = totalOTRate + OTRate;

            });

            //$("#totalOTCompanyRate").text(totalOTRate);
        }


        function ShowLoading() {
            $("#overlay").show();
        }

        function HideLoading() {
            $("#overlay").hide();
        }

        function ToggleDriverTrip() {
            $("#TripLogs-Table").toggle();
        }

        function PrintBilling() {
            ShowLoading();
            location.href = "/Personel/crLogBilling/PrintIndexSupplierBilling"
        }

        function PrintBillingNoDriver() {
            ShowLoading();
            location.href = "/Personel/crLogBilling/PrintIndexSupplierBillingNoDriver"
        }

        //For Initializing search in dropdowns
        //Add class dropdown-search in dropdown inputs
        function InitDropdownSearch() {
            $('.dropdown-search').select2();
        }

        function CheckIncludePaymentDriversSalary() {


            //set session for including drivers salary in 
            var includeDriverSalary = localStorage['includeDriverSalary'];
            if ($('#checkboxDriverSalary').is(":checked")) {

                if (!includeDriverSalary) {
                    // open popup
                    localStorage['includeDriverSalary'] = "true";
                }

            } else {
                if (!includeDriverSalary) {
                    // open popup
                    localStorage['includeDriverSalary'] = "false";
                }
            }
        }
    </script>
}