@model JobsV1.Areas.Personel.Models.crLogTripBilling

@{
    ViewBag.Title = ViewBag.Company + " Billing Particulars - Daily";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int TotalCount = 0;
    decimal TotalRate = 0;
    decimal TotalOTRate = 0;
    decimal TotalOT = 0;
    decimal Total = 0;
}

<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .table > tbody > tr > td {
        border-top: none;
    }


    .with-border {
        border: 2px solid black !important;
    }
</style>


<table>
    <tr>
        <td valign="top" style="margin-right:10px;">
            <img src="~/Images/LOGO_AJRENTACAR.jpg" width="135" />
        </td>
        <td>
            <span style="font:bold 21px arial, verdana;">AJ88 Davao Car Rental </span>
            <span style="font:12px arial, verdana;color:royalblue">
                <br />Door 1 Travelers Inn Bldg., Matina Crossing Rd., Matina Pangi, Davao City, 8000
                <br />Tel# (+63)82 333-5157; (+63)916-755-8473; (+63)933-089-5358
                <br />Email: ajdavao88@gmail.com; Website: http://www.AJDavaoCarRental.com
            </span>
        </td>
    </tr>
</table>
<hr />

<h3 class="text-center">Particulars</h3>
<h4 class="text-center">@DateTime.Parse(ViewBag.FilteredsDate).ToString("MMM dd yyyy") - @DateTime.Parse(ViewBag.FilteredeDate).ToString("MMM dd yyyy")</h4>

<br />
<h4>Daily Rates </h4>
<table class="table">
    <tr>
        <td>
            Driver
        </td>
        <td>
            Date
        </td>
        <td>
            Unit
        </td>
        <td>
        </td>
        <td>
            Rate
        </td>
        <td>
            OT Rate
        </td>
        <td>
            OT Hrs
        </td>
    </tr>
    @foreach (var tripGroup in Model.OTTrips.GroupBy(c => c.Unit))
    {
        <tr>
            <td colspan="7">
            </td>
        </tr>

        foreach (var trip in tripGroup)
        {
            var dtcolor = "black";


            if (trip.DtTrip.DayOfWeek.ToString() == "Saturday")
            {
                dtcolor = "blue";
            }

            TotalCount += 1;
            TotalRate += trip.Rate;
            TotalOTRate += trip.OTRate;
            TotalOT += (decimal)trip.OTHours;

            <tr>
                <td>@trip.Driver</td>
                <td style="color:@dtcolor;">@trip.DtTrip.ToString("MMM dd yyyy (ddd)")</td>
                <td>@trip.Unit</td>
                <td> </td>
                <td>@trip.Rate.ToString("#,##0") </td>
                <td>
                    @if (trip.OTRate > 0)
                    {
                        <span>
                            @trip.OTRate.ToString("#,##0")
                        </span>
                    }
                </td>
                <td>
                    @if (trip.OTHours > 0)
                    {
                        <span>
                            @trip.OTHours.ToString("#,##0.0") Hrs
                        </span>
                    }
                </td>
            </tr>

        }
    }

    @{
        Total = TotalRate + TotalOTRate;
    }
    <tr>
        <td colspan="4"> Total Count: @TotalCount</td>
        <td>
            <span style="font-size:9px;"> Total Rate</span><br />
            <span style="font-weight:bold;"> @TotalRate.ToString("#,##0") </span>
        </td>
        <td>
            <span style="font-size:9px;"> Total Rate</span><br />
            <span style="font-weight:bold;"> @TotalOTRate.ToString("#,##0") </span>
        </td>
        <td>
            <span style="font-size:9px;"> Total Rate</span><br />
            <span style="font-weight:bold;"> @TotalOT.ToString("#,##0") </span>
        </td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>
            <span style="font-size:9px;"> Total </span><br />
            <span style="font-weight:bold;"> @Total.ToString("#,##0") </span>
        </td>
        <td></td>
    </tr>
</table>
