@model JobsV1.Areas.Personel.Models.crBillingDetails_Supplier

@{
    ViewBag.Title = "Supplier Billing ";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    int TotalCount = 0;
    decimal TotalRate = 0;
    decimal TotalOTRate = 0;
    decimal TotalAddon = 0;
    decimal Total = 0;
}
<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .table > tbody > tr > td {
        border-top: none;
    }

    .no-padding-child td {
        padding: 3px !important;
        padding-left: 5px !important;
    }

        .no-padding-child td:first-child {
            padding-left: 10px !important;
        }

    .with-border {
        border: 1px solid black !important;
    }

    .td-border {
        border: 1px solid black;
    }

    .paper-size {
        width: 680px;
    }

    .div-no-margin p {
        margin-bottom: 0px;
    }

    .border-left {
        border-left: 1px solid black;
        padding-right: 5px;
    }

        .border-left span {
            padding: 5px;
        }

    .table-bordered {
        width: 100%;
        border: 1px solid black;
    }

        .table-bordered > tbody > tr > td {
            border: 1px solid black;
        }

    .table-header tr td {
        padding: 5px;
    }

    /* Table Header*/

    .table-header tr {
        padding: 5px;
        border: 1px solid black !important;
    }

    .table-header-logo-td {
        padding: 5px;
    }

        .table-header-logo-td > img {
            float: left;
        }

    .table-header-text-td {
        text-align: left;
    }

    .header-text-company {
        font: bold 18px arial, verdana;
        display: block;
        left: -50px;
        text-align: left;
    }

    .header-text-details {
        font: 9px arial, verdana;
        color: royalblue;
        display: block;
    }

    /*Table Statement Title */

    .table-statement {
        width: 100%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-bottom: 0px;
    }

    .no-border-right {
        border-right: none !important;
    }

    .no-border-left {
        border-left: none !important;
    }
    .td-border-top {
        border-top: 1px solid black !important;
    }
</style>

<div class="paper-size">
    <table class="table-bordered table-header">
        <tr>
            <td class="table-header-logo-td">
                <img src="~/Images/LOGO_AJRENTACAR.jpg" width="100" class="pull-right" style="margin-right:20px;" />
            </td>
            <td class="table-header-logo-td">
                <span class="header-text-company">
                    AJ88 Davao Car Rental Services
                </span>
                <span class="header-text-details">
                    <br />Door 1 Travelers Inn Bldg., Matina Crossing Rd., Matina Pangi, Davao City, 8000
                    <br />Tel# (+63)82 333-5157; (+63)916-755-8473; (+63)933-089-5358
                    <br />Email: ajdavao88@gmail.com; Website: http://www.AJDavaoCarRental.com
                </span>
            </td>
        </tr>
    </table>
    <table class="table table-statement">
        <tr>
            <td colspan="3" class="no-padding td-border-top">
                <h2 class="text-center no-margin"> Statement Account </h2>
                <p class="text-center no-margin">
                    @Model.BillingDate
                </p>
            </td>
        </tr>
        <tr class="no-padding-child">
            <td colspan="2">
                <b>To: @Model.Supplier </b><br />
                Company : @ViewBag.Company
            </td>
            <td>
                <p class="pull-right" style="padding-right:5px;">
                    SOA #: @Model.PONum <br />
                    Date : @Model.GeneratedDate.ToString("MMM dd yyyy")
                </p>
            </td>
        </tr>
    </table>

    <table class="table table-report" style="border:1px solid black;">

        <tr>
            <td class="border-left" width="70">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Date </h6>
            </td>
            <td class="border-left" width="110">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Driver </h6>
            </td>
            <td class="border-left">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Description </h6>
            </td>
            <td colspan="1" class="border-left">
                <h6 style="font-weight: 600; margin: 5px;">Amount</h6>
            </td>
            <td colspan="1" class="border-left">
                <h6 style="font-weight: 600; margin: 5px;">Overtime</h6>

            </td>
            <td colspan="1" class="border-left" width="60">
                <h6 style="font-weight: 600; margin: 5px;">Add'l</h6>

            </td>
        </tr>


        @foreach (var tripGroup in Model.Daily.GroupBy(c => c.DtTrip))
        {
            var currentDate = tripGroup.Key.ToString("MMM dd");

            foreach (var trip in tripGroup)
            {
                TotalCount += 1;

                <tr class="no-padding-child">
                    <td>
                        @currentDate
                    </td>
                    <td class="border-left text-center">
                        <span cl> @trip.Driver</span>
                    </td>
                    <td class="border-left">
                        <span>
                            @trip.Unit (@trip.StartTime - @trip.EndTime)
                        </span>
                        @if (!String.IsNullOrEmpty(trip.Remarks))
                        {
                            <br /><span>@trip.Remarks</span>
                        }
                    </td>
                    <td class="border-left text-right">
                        <span> @trip.Rate.ToString("#,##0.00") </span>
                    </td>
                    <td class="border-left text-right">
                        @if (trip.OTRate > 0)
                        {
                            <span>
                                @trip.OTRate.ToString("#,##0.00")
                            </span>
                        }
                    </td>
                    <td class="border-left text-right">
                        @if (trip.AddOns != 0)
                        {

                            <span>
                                @trip.AddOns.ToString("#,##0.00")
                            </span>
                        }

                    </td>
                </tr>
            }
        }

        <tr class="no-padding-child" style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2">  </td>
            <td colspan="1">
                <span class="pull-left"> Sub-Total </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @Model.SubTotalRate.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @Model.SubTotalOT.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px;padding-left:15px;padding:5px;"> @Model.SubTotalAddon.ToString("#,##0.00")  </span>
            </td>
        </tr>

        <tr class="no-padding-child">
            <td colspan="6">
                <b> Deductions</b>
            </td>
        </tr>

        @foreach (var driversSalary in Model.DriversSalary)
        {

            <tr class="no-padding-child">
                <td colspan="4">

                    @driversSalary.DriverDetails

                </td>
                <td colspan="1">
                    <h5 class="no-margin" style="font-size:12px;font-weight:600;"> @driversSalary.DriversSalary </h5>
                </td>
                <td colspan="1">
                    <h5 class="no-margin" style="font-size:12px;font-weight:600;">  @driversSalary.DriverOTRate </h5>
                </td>
            </tr>
        }

        <tr class="no-padding-child" style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"> Total : @TotalCount </td>
            <td colspan="2">
                <span class="pull-left"> Sub-Total </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @Model.SubTotaDriverRate.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px;padding-left:15px;padding:5px;"> @Model.SubTotalDriverOT.ToString("#,##0.00")  </span>
            </td>
        </tr>

        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 11px;margin:0px;"> TOTAL CHARGES </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 11px;"> @Model.TotalNet.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 11px;margin:0px;"> TOTAL DEDUCTIONS </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 11px;"> @Model.SubTotalDeductions.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 11px;margin:0px;"> Less 10% Tax </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 11px;"> @Model.TotalBalanceLessTax.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
        <tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 13px;margin:0px;"> GRAND TOTAL </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 15px;"> Php @Model.TotalBalance.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>
    </table>
    <div>
        <p>
            Received by : ________________________
        </p>
        <p>
            Received Date : ______________________
        </p>
        <br />
    </div>

</div>