@model JobsV1.Areas.Personel.Models.crLogTripBilling

@{
    ViewBag.Title = ViewBag.Company + " Billing Particulars - Daily AWESOMEOS";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int TotalCount = 0;
    double TotalOTHrs = 0;
    decimal TotalRate = 0;
    decimal TotalOTRate = 0;
    decimal TotalAddon = 0;
    decimal Totalof_Subtotal_Rate_OT = 0;
    decimal Totalof_Subtotal_Rate_OT_Addon = 0;
    decimal Total = 0;

    string BillingTIN = ViewBag.BillingTIN;
    string BillingStyle = ViewBag.BillingStyle;

    IEnumerable<string> DriverList = ViewBag.DriverList;
    IEnumerable<string> UnitList = ViewBag.UnitList;
}

<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .table > tbody > tr > td {
        border-top: none;
    }

    .no-padding-child td {
        padding: 3px !important;
        padding-left: 5px !important;
    }

    .no-padding-child td:first-child {
        padding-left: 10px !important;
    }

    .with-border {
        border: 1px solid black !important;
    }

    .td-border {
        border: 1px solid black;
    }

    .paper-size{
        width:680px;    
    }

    .div-no-margin p {
        margin-bottom:0px;
    }

    .border-left {
        border-left: 1px solid black;
        padding-right:5px;
    }


    .border-bottom {
        border-bottom: 1px solid black;
    }

    .border-left span {
        padding: 5px;
    }

    .table-bordered {
        width: 100%;
        border: 1px solid black;
    }

        .table-bordered > tbody > tr > td {
            border: 1px solid black;
        }

        .table-header tr td {
            padding: 5px;
        }

    /* Table Header*/

    .table-header tr {
        padding: 5px;
        border: 1px solid black !important;
    }

    .table-header-logo-td {
        padding: 5px;
        
    }

        .table-header-logo-td > img {
            float: left;

        }

    .table-header-text-td {
        text-align: left;
    }

        .header-text-company {
            font: bold 18px arial, verdana;
            display: block;
            left: -50px;
            text-align: left;
        }

        .header-text-details {
            font: 9px arial, verdana;
            color: royalblue;
            display: block;
        }

    /*Table Statement Title */

    .table-statement {
        width: 100%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-bottom: 0px;
    }

    .no-border-right {
        border-right: none !important;
    }

    .no-border-left {
        border-left: none !important;
    }


</style>

<div class="paper-size">
    <table class="table-bordered table-header">
        <tr>
            <td class="table-header-logo-td text-right" >
                <img src="~/Images/LOGO_AJRENTACAR.jpg" width="100" class="pull-right" style="margin-right:20px;"/>
            </td>
            <td class="table-header-logo-td">
                <span class="header-text-company">
                    AJ88 Davao Car Rental Services
                </span>
                <span class="header-text-details">
                    <br />Door 1 Travelers Inn Bldg., Matina Crossing Rd., Matina Pangi, Davao City, 8000
                    <br />Tel# (+63)82 333-5157; (+63)916-755-8473; (+63)933-089-5358
                    <br />Email: ajdavao88@gmail.com; Website: http://www.AJDavaoCarRental.com
                </span>
            </td>
        </tr>
    </table>
    <table class="table table-statement">
        <tr>
            <td colspan="3" class="no-padding">
                <h2 class="text-center no-margin"> Statement Account </h2>
                <p class="text-center no-margin">
                    @DateTime.Parse(ViewBag.FilteredsDate).ToString("MMM dd yyyy") - 
                    @DateTime.Parse(ViewBag.FilteredeDate).ToString("MMM dd yyyy")
                </p>
            </td>
        </tr>
        <tr class="no-padding-child">
            <td colspan="2">
                <b>To: @ViewBag.BillingCompany </b><br />
                <b> @ViewBag.BillingAddress </b> <br />

                @if (!String.IsNullOrEmpty(BillingTIN))
                {
                    <b>TIN No.: @BillingTIN </b><br />
                }

                @if (!String.IsNullOrEmpty(BillingStyle))
                {
                    <b>Business Style: @BillingStyle </b>
                }
            </td>
            <td width="200">
                <p class="pull-right" style="padding-right:5px;">
                    SOA #: @ViewBag.SOANum <br />
                    Date : @ViewBag.DateToday  
                </p>
            </td>
        </tr>
        <tr class="no-padding-child">
            <td colspan="3">
                <div>
                    <span>  DRIVER:  </span>
                    @foreach (var driver in DriverList)
                    {
                        <span> @driver / </span>
                    }
                </div>

                <br />

                <div>
                    <span>  UNIT:  </span>
                    @foreach (var unit in UnitList)
                    {
                        <span> @unit / </span>
                    }
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-report" style="border:1px solid black;">

        <tr>
            <td class="border-left text-center" width="70">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Date </h6>
            </td>
            <td class="border-left text-center" width="110">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Driver </h6>
            </td>
            <td class="border-left text-center" width="150">
                <b> 10&nbsp;HRS RATE </b>
            </td>
            <td class="border-left border-bottom text-center" colspan="2">
                <b> OVERTIME</b>
            </td>
            <td class="border-left text-center">
                <b> TOTAL</b>
            </td>
            <td class="border-left border-bottom text-center" colspan="2">
                <b> Additional&nbsp;Charges</b>
            </td>
            <td class="border-left text-center">
                <b> Remarks</b>
            </td>
            <td class="border-left text-center">
                <b> Subtotal</b>
            </td>
            @*<td colspan="1" class="border-left">
            <h6 style="font-weight: 600; margin: 5px;">Amount</h6>
        </td>
        <td colspan="1" class="border-left">
            <h6 style="font-weight: 600; margin: 5px;">Overtime</h6>

        </td>
        <td colspan="1" class="border-left" width="60">
            <h6 style="font-weight: 600; margin: 5px;">Add'l</h6>

        </td>*@
        </tr>
        <tr>
            <td class="border-left border-bottom">
            </td>
            <td class="border-left border-bottom">
            </td>
            <td class="border-left border-bottom">
            </td>

            <td class="border-left text-center border-bottom" width="140" style="padding:2px;">
                <span style="font-size:9px;padding:0px;"> HOURS </span>

            </td>
            <td class="border-left text-center border-bottom" width="180" style="padding:2px;">
                <span style="font-size: 9px; padding: 0px;"> 350&nbsp;PER&nbsp;HOUR </span>

            </td>
            <td class="border-left border-bottom">
            </td>
            <td class="border-left text-center border-bottom" width="140" style="padding:2px;">
                <span style="font-size:9px;padding:0px;"> DESTINATION </span>

            </td>
            <td class="border-left text-center border-bottom" width="140" style="padding:2px;">
                <span style="font-size:9px;padding:0px;"> AMOUNT </span>

            </td>
            <td class="border-left border-bottom">
            </td>
            <td class="border-left border-bottom">
            </td>
        </tr>
        @foreach (var tripGroup in Model.OTTrips.GroupBy(c => c.DtTrip))
        {

            decimal subtotalRate = 0;
            decimal subtotalOTRate = 0;
            decimal subtotalAddOn = 0;

            var currentDate = tripGroup.Key.ToString("dd-MMM");
            var dateDisplayed = false;
            var dtcolor = "black";

            if (tripGroup.Key.DayOfWeek.ToString() == "Saturday")
            {
                dtcolor = "blue";
            }

            foreach (var trip in tripGroup)
            {


                TotalCount += 1;
                TotalRate += trip.Rate;
                TotalOTRate += trip.OTRate;
                TotalAddon += trip.AddOns;
                TotalOTHrs += trip.OTHours;

                subtotalRate += trip.Rate;
                subtotalOTRate += trip.OTRate;
                subtotalAddOn += trip.AddOns;


                decimal subtotal_Rate_OT = TotalRate + TotalOTRate;
                decimal subtotal_Rate_OT_Addon = subtotal_Rate_OT + TotalAddon;

                Totalof_Subtotal_Rate_OT += subtotal_Rate_OT;
                Totalof_Subtotal_Rate_OT_Addon += subtotal_Rate_OT_Addon;

                <tr class="no-padding-child">
                    <td class="border-left border-bottom">
                        @if (dateDisplayed == false)
                        {
                            dateDisplayed = true;
                        }

                        @currentDate
                    </td>
                    <td class="border-left border-bottom text-center">
                        <span cl> @trip.Driver</span>
                    </td>
                    @*<td class="border-left">
                        <span>@trip.Unit (@trip.StartTime - @trip.EndTime)</span>
                        @if (!String.IsNullOrEmpty(trip.Remarks))
                        {
                            <br /><span>@trip.Remarks</span>
                        }
                    </td>*@
                    <td class="border-left border-bottom text-right">
                        <span> @trip.Rate.ToString("#,##0.00") </span>
                    </td>
                    <td class="border-left border-bottom text-center">
                        <span> @trip.OTHours.ToString("#,##0.0") </span>
                    </td>
                    <td class="border-left border-bottom text-right">
                        @if (trip.OTRate > 0)
                        {
                            <span>
                                @trip.OTRate.ToString("#,##0.00")
                            </span>
                        }
                    </td>
                    <td class="border-left border-bottom text-right">
                        <span>
                            @subtotal_Rate_OT.ToString("#,##0.00")
                        </span>
                    </td>
                    <td class="border-left border-bottom text-right">
                        <span>
                            @trip.Remarks
                        </span>
                    </td>
                    <td class="border-left border-bottom text-right">
                        @if (trip.AddOns != 0)
                        {

                            <span>
                                @trip.AddOns.ToString("#,##0.00")
                            </span>
                        }

                    </td>
                    <td class="border-left border-bottom text-right">

                    </td>
                    <td class="border-left border-bottom text-right">
                        @subtotal_Rate_OT_Addon.ToString("#,##0.00")
                    </td>
                </tr>
                }
            }

        @{
            Total = TotalRate + TotalOTRate + TotalAddon;
        }
        <tr class="no-padding-child" style="border-top:1px solid black;margin-top:20px;">
            @*<td colspan="3"> Total Count: @TotalCount</td>*@
            @*<td colspan="2"> Total : @TotalCount </td>
            <td colspan="1">
                <span class="pull-left"> Sub-Total </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @TotalRate.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px; padding: 5px;"> @TotalOTRate.ToString("#,##0.00") </span>
            </td>
            <td class="text-right">
                <span style="font-weight: bold; font-size: 12px;padding-left:15px;padding:5px;"> @TotalAddon.ToString("#,##0.00")  </span>
            </td>*@
            <td colspan="2"  class="border-left text-center">
                <b> GRAND TOTAL </b>
            </td>
            <td  class="border-left text-right">
                <span> @TotalRate.ToString("#,##0.00") </span>
            </td>
            <td  class="border-left text-center">
                <span> @TotalOTHrs.ToString("#,##0.0") </span>
            </td>
            <td  class="border-left text-right">
                <span> @TotalOTRate.ToString("#,##0.00") </span>
            </td>
            <td  class="border-left text-right">
                <span> @Totalof_Subtotal_Rate_OT.ToString("#,##0.00") </span>
            </td>
            <td  class="border-left text-right">

            </td>
            <td  class="border-left text-right">
                <span> @TotalAddon.ToString("#,##0.00") </span>
            </td>
            <td  class="border-left text-right" colspan="2">
                <b style="font-size:14px;"> @Totalof_Subtotal_Rate_OT_Addon.ToString("#,##0.00") </b>
            </td>
        </tr>
        
        @*<tr style="border-top:1px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 13px;margin:0px;"> GRAND TOTAL </h5>
            </td>
            <td colspan="2">
                <span style="font-weight: bold; font-size: 15px;"> Php @Total.ToString("#,##0.00") </span>
            </td>
            <td></td>
        </tr>*@
    </table>
    <div>
        <p>
            Received by : ________________________
        </p>
        <p>
            Received Date : ______________________
        </p>
        <br />
    </div>

    <table>
        <tr>
            <td width="30%">
                <div class="div-no-margin">
                    <p> Prepared By: </p>
                    <br />
                    <img src="@ViewBag.UserSign" width="100" />
                    <p> @ViewBag.UserName</p>
                    @*<p> Administrative Officer</p>*@
                    <br />
                    @if (@ViewBag.BillingCompany == "Transcom")
                    {
                        <text>
                            PO #:
                            <input type="text" width="200" />
                        </text>
                    }

                </div>
            </td>
            <td width="30%">
            </td>
            <td width="30%">
                <div class="div-no-margin">
                    <p><b> If Payment is thru bank </b></p>
                    <p><b> AJ88 CAR RENTAL SERVICES </b></p>
                    <p><b> Acct#: 000 860 729 575</b></p>
                    <p> BDO-SM Ecoland Branch </p>
                    <p> Davao City </p>

                </div>
            </td>
        </tr>
    </table>
</div>