@model JobsV1.Areas.Personel.Models.crLogTripBilling

@{
    ViewBag.Title = ViewBag.Company + " Billing Particulars - Daily";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int TotalCount = 0;
    decimal TotalRate = 0;
    decimal TotalOTRate = 0;
    decimal TotalOT = 0;
    decimal Total = 0;
}

<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .container-content {
        background-color: #eff3f6;
        border: none;
    }

    .table > tbody > tr > td {
        border-top: none;
    }

    .no-padding-child td {
        padding: 0px !important;
    }
    .no-padding-child td:first-child {
        padding-left: 10px !important;
    }

    .with-border {
        border: 2px solid black !important;
    }

    .paper-size{
        width:680px;    
    }

    .div-no-margin p {
        margin-bottom:0px;
    }


    .border-solid-black {
        border-right: 2px solid black;
    }
</style>

<div class="paper-size">
    <table style="width: 100%; border: 2px solid black;">
        <tr class="border-solid-black">
            <td style="text-align: center; padding: 10px;width:0px;">
                <div style="height:10px;"><img src="~/Images/LOGO_AJRENTACAR.jpg" width="100" style="float: left;" /></div>
            </td>
            <td style="padding:5px;">
                <span style="font: bold 18px arial, verdana; display: block; left:-50px;text-align:center;">AJ88 Davao Car Rental Services</span>
                <span style="font: 9px arial, verdana; color: royalblue; display: block; text-align: center;">
                    <br />Door 1 Travelers Inn Bldg., Matina Crossing Rd., Matina Pangi, Davao City, 8000
                    <br />Tel# (+63)82 333-5157; (+63)916-755-8473; (+63)933-089-5358
                    <br />Email: ajdavao88@gmail.com; Website: http://www.AJDavaoCarRental.com
                </span>
            </td>
        </tr>

    </table>
    <table class="table" style="width: 100%; border-left: 2px solid black; border-right: 2px solid black; margin-bottom: 0px;">
        <tr>
            <td colspan="2" class="no-padding">
                <h2 class="text-center no-margin">Statement</h2>
                <p class="text-center no-margin">@DateTime.Parse(ViewBag.FilteredsDate).ToString("MMM dd yyyy") - @DateTime.Parse(ViewBag.FilteredeDate).ToString("MMM dd yyyy")</p>
            </td>
        </tr>
        <tr class="no-padding-child">
            <td style="width: 400px;">
                <b>To: @ViewBag.CompanyBilling </b>
            </td>
            <td>
                <p class="pull-right" style="padding-right:5px;">SOA #: @ViewBag.SOANum </p><br />
            </td>
        </tr>
        <tr class="no-padding-child">
            <td style="width: 400px;">
                <p> @ViewBag.BillingAddress </p>
            </td>
            <td>
                <p class="pull-right"  style="padding-right:5px;">Date: @ViewBag.DateToday </p><br />
            </td>
        </tr>
    </table>

    <table class="table table-report" style="border:2px solid black;">
        <tr class="border-solid-black">
            <td colspan="3">
                <h6 class="text-center" style="font-weight: 600; margin: 5px;">Description </h6>
            </td>
            <td colspan="1">
                <h6 style="font-weight: 600; margin: 5px;">Basic Rate</h6>
            </td>
            <td colspan="2"> 
                <h6 style="font-weight: 600; margin: 5px;">Overtime</h6> 
            
            </td>
            <td></td>
        </tr>
        @foreach (var tripGroup in Model.OTTrips.GroupBy(c => c.Unit).OrderBy(c=>c.Key.Count()))
        {
            <tr>
                <td colspan="7">
                    <h5 style="font-weight:600;">@tripGroup.Key - @tripGroup.Count() DAYS </h5>
                </td>
            </tr>

            decimal subtotalRate = 0;
            decimal subtotalOTRate = 0;
            decimal subtotalOTHrs = 0;

            foreach (var trip in tripGroup)
            {
                var dtcolor = "black";


                if (trip.DtTrip.DayOfWeek.ToString() == "Saturday")
                {
                    dtcolor = "blue";
                }

                TotalCount += 1;
                TotalRate += trip.Rate;
                TotalOTRate += trip.OTRate;
                TotalOT += (decimal)trip.OTHours;

                subtotalRate += trip.Rate;
                subtotalOTRate += trip.OTRate;
                subtotalOTHrs += (decimal)trip.OTHours;

                <tr class="no-padding-child border-solid-black">
                    <td>@trip.Driver</td>
                    <td style="color:@dtcolor;">@trip.DtTrip.ToString("MMM dd yyyy (ddd)")</td>
                    <td>
                    </td>
                    <td>@trip.Rate.ToString("#,##0") </td>
                    <td>
                        @if (trip.OTRate > 0)
                        {
                            <span>
                                @trip.OTRate.ToString("#,##0")
                            </span>
                        }
                    </td>
                    <td>
                        @if (trip.OTHours > 0)
                        {
                            <span>
                                @trip.OTHours.ToString("#,##0.0") Hrs
                            </span>
                        }
                    </td>
                    <td></td>
                </tr>

            }
            <tr style="border-top: 1px solid black;"  class="no-padding-child border-solid-black">
                <td colspan="3">
                    <i class="pull-right"  style="padding-right:15px;"> Subtotal </i>
                </td>
                <td>
                    <b> @subtotalRate.ToString("#,##0")</b>
                </td>
                <td>
                    @if (subtotalOTRate > 0)
                    {
                        <b> @subtotalOTRate.ToString("#,##0")</b>
                    }
                </td>
                <td>
                    @if (subtotalOTHrs > 0)
                    {
                        <b>@subtotalOTHrs.ToString("#,##0.0") Hrs</b>
                    }
                </td>
                <td></td>
            </tr>
        }

        @{
            Total = TotalRate + TotalOTRate;
        }
        <tr class="no-padding-child" style="border-top:2px solid black;margin-top:20px;">
            @*<td colspan="3"> Total Count: @TotalCount</td>*@
            <td colspan="1"></td>
            <td colspan="2">
                <h5 class="no-margin" style="font-size:12px;font-weight:600;"> TOTAL - DAILY CHARGES </h5>
            </td>
            <td>
                <span style="font-weight: bold; font-size: 12px;"> @TotalRate.ToString("#,##0") </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr class="no-padding-child">
            <td colspan="1">
            </td>
            <td colspan="3">
                <h5 class="no-margin" style="font-size:12px;font-weight:600;"> TOTAL - OVERTIME CHARGES</h5>
            </td>
            <td>
                <span style="font-weight: bold; font-size: 12px;"> @TotalOTRate.ToString("#,##0") </span>
            </td>
            <td>
                <span style="font-weight: bold; font-size: 12px;padding-left:15px;"> @TotalOT.ToString("#,##0.0")  </span>HRS
            </td>
            <td></td>
        </tr>
        <tr style="border-top:2px solid black;margin-top:20px;">
            <td colspan="2"></td>
            <td colspan="1">
                <h5 style="font-weight: bold; font-size: 13px;margin:0px;"> GRAND TOTAL </h5>
            </td>
            <td>
                <span style="font-weight: bold; font-size: 15px;"> Php @Total.ToString("#,##0") </span>
            </td>
            <td colspan="3"></td>
        </tr>
    </table>
    <div>
        @*<p> DUE DATE: @ViewBag.DueDate  </p>*@
        @*<p> FAILURE TO SETTLE ON OR BEFORE THE DUE DATE IS SUBJECT TO 3% SURCHARGE </p>*@
        <p> Payment due date is 15 days after received date.  </p>
        <p>
            Received by : ________________________
        </p>
        <p>
            Received Date : ______________________
        </p>
        <br />
    </div>

    <table>
        <tr> 
            <td width="30%">
                <div class="div-no-margin">
                    <p> Prepared By: </p>
                    <br />
                    <img src="@ViewBag.UserSign" width="100" />
                    <p> @ViewBag.UserName</p>
                    @*<p> Administrative Officer</p>*@

                </div>
            </td>
            <td width="30%">
            </td>
            <td width="30%">
                <div class="div-no-margin">
                    <p><b> If Payment is thru bank </b></p>
                    <p><b> AJ88 CAR RENTAL SERVICES </b></p>
                    <p><b> Acct#: 000 860 729 575</b></p>
                    <p> BDO-SM Ecoland Branch </p>
                    <p> Davao City </p>

                </div>
            </td>
        </tr>
    </table>
</div>