@model JobsV1.Models.InvCarMntRcmd

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>InvCarMntRcmd</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.InvItemId, "Unit", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("InvItemId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InvItemId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Recommendation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Recommendation, new { htmlAttributes = new { @class = "form-control", @maxlength = "160" } })
            @Html.ValidationMessageFor(model => model.Recommendation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InvCarMntPriorityId, "Priority",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("InvCarMntPriorityId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InvCarMntPriorityId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateDue, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateDue, new { htmlAttributes = new { @class = "form-control datePicker dateDue" } })
            @Html.ValidationMessageFor(model => model.DateRec, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.DateRec, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateRec, new { htmlAttributes = new { @class = "form-control datePicker" } })
            @Html.ValidationMessageFor(model => model.DateRec, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group" hidden>
        @Html.LabelFor(model => model.IsDone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsDone)
                @Html.ValidationMessageFor(model => model.IsDone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script>
        $(() => {
            //$(".datePicker").val(moment().format("MM/DD/YYYY"));

            $(".dateDue").val(moment().add(15,'days').format("MM/DD/YYYY"));
        })
    </script>

}