@model IEnumerable<JobsV1.Models.JobServices>

@{
    ViewBag.Title = "Jobs After Sale";
    Session["ROOTMENUID"] = 18;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}
<div class="panel">
    <div class="panel-body">
        <h2>Jobs After Sale</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th colspan="4" >
                    Vehicle Info
                </th>
                <td colspan="4">
                    Previous Transaction
                </td>
                <th colspan="3" >
                    Post Sale Info
                </th>
            </tr>
            <tr>
                <th>
                    Plate Number
                </th>
                <th>
                    Year Model
                </th>
                <th>
                    Make
                </th>
                <th>
                    Variant
                </th>
                <th>
                    Mileage
                </th>
                <th>
                    JobId
                </th>
                <th>
                    Service
                </th>
                <th>
                    Date
                </th>
                <th></th>
                <th>
                    Done By
                </th>
                <th>
                   Remarks
                </th>
            </tr>

            @foreach (var item in Model)
            {


                var jobvehicle = new JobsV1.Models.JobVehicle();
                if (item.JobMain.JobVehicles.FirstOrDefault() != null)
                {
                    jobvehicle = item.JobMain.JobVehicles.LastOrDefault();
                }

                <tr>
                    <td>
                        @jobvehicle.Vehicle.PlateNo
                    </td>
                    <td>
                        @jobvehicle.Vehicle.YearModel
                    </td>
                    <td>
                        @jobvehicle.Vehicle.VehicleModel.Make
                    </td>
                    <td>
                        @jobvehicle.Vehicle.VehicleModel.Variant
                    </td>
                    <td>
                        @jobvehicle.Mileage
                    </td>
                    <td>
                        @item.JobMain.Id
                    </td>
                    <td>
                        @item.Service.Name
                    </td>
                    <td>
                        @DateTime.Parse(item.DtStart.ToString()).ToString("MMM dd, yyyy")
                    </td>

                    @if (item.JobPostSales.FirstOrDefault() == null)
                    {
                        <td>
                            @Html.ActionLink("Create", "Create", new { id = item.Id })
                        </td>
                    }
                    else
                    {
                        var postSaleDetails = item.JobPostSales.FirstOrDefault();
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = postSaleDetails.Id })
                        </td>
                        <td>
                            @postSaleDetails.DoneBy.Substring(0, postSaleDetails.DoneBy.IndexOf('@'))
                        </td>
                        <td>
                            @postSaleDetails.Remarks
                        </td>
                    }

                </tr>
            }

        </table>
    </div>
</div>