@model IEnumerable<JobsV1.Models.CustNotif>

@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    ViewBag.Title = "Customer Notification List";
}

<h2>Notification List</h2>

<p>
    @Html.ActionLink("Create New", "CreateNotif") |
    @Html.ActionLink("Activity", "Activity")
</p>
<p>
    <span> Status: </span>
    @Html.ActionLink("Active", "Index", new { status = "ACTIVE" }) |
    @Html.ActionLink("Inactive", "Index", new { status = "INACTIVE" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MsgTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtEncoded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtScheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occurence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MsgTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtEncoded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtScheduled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occurence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button class="btn btn-default" onclick="sendEmail(@item.Id)" id="send-test">Send Test</button>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a href="#" id="catbtn" data-toggle="modal" data-target="#recipientModal" onclick="setNotifId(@item.Id)"> Recipients </a>
                @*@Html.ActionLink("Recipients", "RecipientsList", new { id=item.Id }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>

<p>
   <a class="cursor-pointer" onclick="EmailTest()"> Send Test </a>
</p>

@{ Html.RenderPartial("RecipientList", new ViewDataDictionary { }); }
@{ Html.RenderPartial("RecipientAdd", new ViewDataDictionary { { "Customers", ViewBag.Customers } }); }

@section Scripts{
    <script src="~/Scripts/CustNotif/CustNotifs.js"></script>
    <script>
        function EmailTest() {
            $.post("/CustNotifs/EmailTest", null, (result) => {
                console.log("Test Email Response: ");
                console.log(result);
                if (result == "True") {
                    console.log("Email sent successfully");
                } else {
                    console.log("Email not sent");
                }
            });
        }
    </script>
}

