@model JobsV1.Areas.Products.Models.SmProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SmProduct</h4>
    <hr />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            Branch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmBranch.Name )
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmProdStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contracted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contracted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmProdStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmProdStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmBranch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmBranch.Name)
        </dd>

    </dl>
</div>

@{Html.RenderPartial("PartialView_Desc",    (IEnumerable<JobsV1.Areas.Products.Models.SmProdDesc>)ViewBag.prodDesc, new ViewDataDictionary { { "prodId", Model.Id } });}
@{Html.RenderPartial("PartialView_Info",    (IEnumerable<JobsV1.Areas.Products.Models.SmProdInfo>)ViewBag.prodInfo, new ViewDataDictionary { { "prodId", Model.Id } });}
@{Html.RenderPartial("PartialView_Cat" ,    (IEnumerable<JobsV1.Areas.Products.Models.SmProdCat>)ViewBag.prodCat,  new ViewDataDictionary { { "prodId", Model.Id }, { "prodCatList", ViewBag.prodCatList } });}
@{Html.RenderPartial("PartialView_ProdSup", (IEnumerable<JobsV1.Areas.Products.Models.SmProdSupplier>)ViewBag.prodSup,   new ViewDataDictionary { { "prodId", Model.Id }, { "supList", ViewBag.supList} });}
@{Html.RenderPartial("PartialView_Rates",   (IEnumerable<JobsV1.Areas.Products.Models.SmRate>)ViewBag.prodrates, new ViewDataDictionary { { "prodId", Model.Id }, { "rateUOMList", ViewBag.rateUOMList } });}
@{Html.RenderPartial("PartialView_Files",   (IEnumerable<JobsV1.Areas.Products.Models.SmFile>)ViewBag.files, new ViewDataDictionary { { "prodId", Model.Id } });}
@*@{Html.RenderPartial("PartialView_Ads", (IEnumerable<JobsV1.Areas.Products.Models.SmProdAds>)ViewBag.ads, new ViewDataDictionary { { "prodId", Model.Id } });}*@

@{
    if(Model.Code.Contains("SIN")) {
        Html.RenderPartial("TermsAndCondition-SIN");
    }else if(Model.Code.Contains("KL")){
        Html.RenderPartial("TermsAndCondition-KL");
    } else {
        Html.RenderPartial("TermsAndCondition");
    }
}

