@model JobsV1.Areas.Products.Models.SmProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SmProduct</h4>
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contracted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contracted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmProdStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmProdStatu.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmBranch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmBranch.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@{Html.RenderPartial("PartialView_Desc", (IEnumerable<JobsV1.Areas.Products.Models.SmProdDesc>)ViewBag.prodDesc, new ViewDataDictionary { { "prodId", Model.Id } });}
@{Html.RenderPartial("PartialView_Info", (IEnumerable<JobsV1.Areas.Products.Models.SmProdInfo>)ViewBag.prodInfo, new ViewDataDictionary { { "prodId", Model.Id } });}
@{Html.RenderPartial("PartialView_Cat" ,  (IEnumerable<JobsV1.Areas.Products.Models.SmProdCat>)ViewBag.prodCat,  new ViewDataDictionary { { "prodId", Model.Id }, { "prodCatList", ViewBag.prodCatList } });}
@{Html.RenderPartial("PartialView_ProdSup", (IEnumerable<JobsV1.Areas.Products.Models.SmProdSupplier>)ViewBag.prodSup,   new ViewDataDictionary { { "prodId", Model.Id }, { "supList", ViewBag.supList} });}

