@model IEnumerable<JobsV1.Areas.Products.Models.SmProdSupplier >

@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Product Supplier
            </h3>
        </div>
        <div class="col-lg-12">
            @foreach (var prodSup in Model)
            {
                <p>
                    @prodSup.SmSupplier.Name <br />
                     Published: @prodSup.Price.ToString("#,###.00") php <br />
                     Contracted:  @prodSup.Contracted.ToString("#,###.00") php <br />
                     Validity : @prodSup.ValidStart.ToShortDateString() - @prodSup.ValidEnd.ToShortDateString() <br />
                   
                    <a href="" data-toggle="modal" data-target="#editSupModal" 
                       onclick="editProdSup('@prodSup.Id','@prodSup.SmSupplierId','@prodSup.ValidStart','@prodSup.ValidEnd','@prodSup.Price','@prodSup.Contracted')" > 
                       Edit </a>|
                    @Html.ActionLink("Details", "Details","SmSuppliers", new { id = prodSup.SmSupplierId }, null  ) |

                    <a onclick="removeSup('@prodSup.Id','@prodSup.SmSupplier.Name')">Remove</a>
                    @*@Html.ActionLink("Remove", "RemoveProdSup", new { id = prodSup.Id })*@
                </p>
            }
            <a href="" id="catbtn" data-toggle="modal" data-target="#prodSupModal" >Add Supplier</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="prodSupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Product Supplier</h4>
                </div>
                <div class="modal-body" >
                    <div class="row" >
                        <div class="form-group container row" >
                            <div class="col-md-2"><b> Supplier: </b></div>
                            <div class="col-md-6">
                                <select name="Suppliers" class="form-control col-md-4" id="prodsup-suppliers">
                                    @foreach (var supplier in ViewBag.supList as IEnumerable<JobsV1.Areas.Products.Models.SmSupplier>)
                                    {
                                        <option value="@supplier.Id"> @supplier.Name </option>
                                    }
                                </select>
                            </div>
                          @Html.ActionLink("Create New", "Create", "SmSuppliers", null, new { @class = "btn btn-default col-md-2" })

                        </div>

                        <div class="form-group" >
                            <b class="col-md-2"> Valid_Start: </b>
                            <div class="col-md-12">
                                <input id="prodsup-validstart" class="form-control" type="date" value="getDatetoday()">
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Valid_End: </b>
                            <div class="col-md-12">
                                <input id="prodsup-validend" class="form-control" type="date" value="getDatetoday()">
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Price: </b>
                            <div class="col-md-12">
                                <input id="prodsup-price" class="form-control" type="text" value="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Contracted </b>
                            <div class="col-md-12">
                                <input id="prodsup-contracted" class="form-control" type="text" value="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ajax_PostSupplier('@prodId')" >Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
    
    <!-- Edit Supplier Modal -->
    <div class="modal fade" id="editSupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Product Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group hidden">
                            <b class="col-md-2"> Id: </b>
                            <div class="col-md-12">
                                <input id="editsup-Id" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group ">
                            <b class="col-md-2"> Supplier: </b>
                            <div class="col-md-12">
                                <select name="Suppliers" class="form-control" id="editsup-suppliers">
                                    @foreach (var supplier in ViewBag.supList as IEnumerable<JobsV1.Areas.Products.Models.SmSupplier>)
                                    {
                                        <option value="@supplier.Id"> @supplier.Name </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Valid_Start: </b>
                            <div class="col-md-12">
                                <input id="editsup-validstart" class="form-control" type="date">
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Valid_End: </b>
                            <div class="col-md-12">
                                <input id="editsup-validend" class="form-control" type="date">
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Price: </b>
                            <div class="col-md-12">
                                <input id="editsup-price" class="form-control" type="text" value="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-md-2"> Contracted </b>
                            <div class="col-md-12">
                                <input id="editsup-contracted" class="form-control" type="text" value="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ajax_EditSupplier(@prodId)">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<script src="~/Scripts/jquery-3.3.1.js"> </script>
<script src="~/Scripts/DateRangePicker/moment.min.js"> </script>
<script src="~/Areas/Products/Script/ProductSup.js"> </script>
<script>

    $(document).ready(function () {
        const now = new Date();
        var today = moment(now).format('YYYY-MM-DD');
        $("prodsup-validstart").val(today);
        $("prodsup-validend").val(today);
        console.log(today);
    });

</script>