@model IEnumerable<JobsV1.Areas.Products.Models.SmRate >

@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Rates
            </h3>
        </div>
        <div class="col-lg-6">
            <table class="table" id="section-rates">
                <tr>
                    <th>Qty</th>
                    <th>Published</th>
                    <th>Contracted</th>
                    <th></th>
                </tr>
                @foreach (var prodRate in Model)
                {
                    <tr>
                        <td>
                            @prodRate.Qty @prodRate.SmRateUoM.Name
                        </td>
                        <td>
                            @prodRate.Rate
                        </td>
                        <td>
                            @prodRate.DRate
                        </td>
                        <td>
                            <a href="" id="catbtn" data-toggle="modal" data-target="#edit-prodRateModal"
                               onclick="EditRate('@prodRate.Id', '@prodRate.Qty', '@prodRate.SmRateUoM.Id', 
                               '@prodRate.Rate', '@prodRate.DRate' )">
                                Edit
                            </a> |
                            @Html.ActionLink("Remove", "RemoveProdRate", new { id = prodRate.Id })
                        </td>
                    </tr>
                }
            </table>
            <!--Add Rate Link -->
            <a href="" id="catbtn" data-toggle="modal" data-target="#prodRateModal" style="margin-bottom:10px;">Add Rate</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="prodRateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Rate</h4>
                </div>
                <div class="modal-body row">                    
                    <!--Start of Modal Body-->
                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Qty: </b>
                        <div class="col-md-10">
                            <input type="number" maxlength="5" class="form-control" id="prod-rateQty" />
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group col-md-12">
                        <b class="col-md-2"> Unit: </b>
                        <div class="col-md-7">
                            <select name="Suppliers" class="form-control" id="prod-rateUom">
                                @foreach (var unit in ViewBag.rateUOMList as IEnumerable<JobsV1.Areas.Products.Models.SmRateUoM>)
                                {
                                    <option value="@unit.Id"> @unit.Name </option>
                                }
                            </select>
                        </div>
                        <div style="padding-top:10px;">
                            @Html.ActionLink("Create New", "Create", "SmRateUoMs", null, new { @class = " col-md-3" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Published_Rate: </b>
                        <div class="col-md-10">
                            <input type="number" maxlength="20" class="form-control" id="prod-ratePub" />
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Contracted_Rate: </b>
                        <div class="col-md-10">
                            <input type="number" maxlength="20" class="form-control" id="prod-rateCon" />
                        </div>
                    </div>

                    <!--End of Modal Body-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="ajax_PostRate(@prodId)"    >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Edit Modal -->
    <div class="modal fade" id="edit-prodRateModal" tabindex="-1" role="dialog" aria-labelledby="Edit Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Rate</h4>
                </div>
                
                <div class="modal-body row" >                    <!--Start of Modal Body-->
                    <div class="form-group col-md-12" style="display:none;">
                        <b class="col-md-2 "> Id: </b>
                        <div class="col-md-10">
                            <input type="text" maxlength="5" class="form-control" id="edit-rateId" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Qty: </b>
                        <div class="col-md-10">
                            <input type="number" maxlength="5" class="form-control" id="edit-rateQty" />
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group col-md-12">
                        <b class="col-md-2"> Unit: </b>
                        <div class="col-md-7">
                            <select name="Suppliers" class="form-control" id="edit-rateUom">
                                @foreach (var unit in ViewBag.rateUOMList as IEnumerable<JobsV1.Areas.Products.Models.SmRateUoM>)
                                {
                                    <option value="@unit.Id"> @unit.Name </option>
                                }
                            </select>
                        </div>
                        <div style="padding-top:10px;">
                            @Html.ActionLink("Create New", "Create", "SmRateUoMs", null, new { @class = " col-md-3" })
                        </div>
                    </div><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Pub_Rate: </b>
                        <div class="col-md-10">
                            <input type="number" maxlength="20" class="form-control" id="edit-ratePub" />
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Con_Rate: </b>
                        <div class="col-md-10">
                            <input type="number" maxlength="20" class="form-control" id="edit-rateCon" />
                        </div>
                    </div>
                    <!--End of Modal Body-->
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="ajax_EditRate(@prodId)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<script src="~/Scripts/jquery-3.3.1.js"> </script>
<script src="~/Areas/Products/Script/ProductRate.js"></script>