@model JobsV1.Models.Supplier

@{
    ViewBag.Title = "Supplier Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Supplier Details</h2>

<div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr />
    <h3>@Model.Name</h3>


    <p> <b>Website: </b> @Model.Website </p>
    <p> <b>Tel: </b>@Model.Contact1 </p>

    @if (Model.Contact2 != null)
    {
        <p> <b>Fax: </b> <span> @Model.Contact2</span></p>
    }

    @if (Model.Contact3 != null)
    {
        <p> <b>Mobile: </b><span> @Model.Contact3</span></p>
    }
    <p> <b>Email: </b> @Model.Email </p>
    <p> <b>Address: </b> @Model.Address </p>
    <p> <b>Country: </b> @Model.Country.Name </p>
    <p> <b>City: </b>  @Model.City.Name </p>
    <p> <b>Category: </b> @Model.SupplierType.Description </p>


    @*<p> <b>Details: </b> @Model.Details </p>
        <p> <b>City: </b>  @Model.City.Name </p>
        <p> <b>Type: </b>  @Model.SupplierType.Description </p>*@
        <table width="500px">
            <tr>
                <td width="120px">
                    <b> Main Products </b>
                </td>
                <td>
                
                </td>
                <td>

                </td>
            </tr>
           @foreach (var item in Model.SupplierInvItems)
           {
               <tr  width="120px">
                    <td></td>
                    <td>
                        @item.InvItem.Description -
                        <a href="#" id="catbtn" data-toggle="modal" data-target="#createInvRate" onclick="AddRateInitial(@item.Id, '(@item.InvItem.ItemCode) @item.InvItem.Description')">Add Price </a> |
                        <a href="#" onclick="conformDelete(@item.Id, '(@item.InvItem.ItemCode) @item.InvItem.Description')"> Remove </a>
                    </td>
                </tr>
           }
            <tr>
                <td></td>
                <td>
                    <a href="" id="catbtn" data-toggle="modal" data-target="#ItemAddModal" style="margin-bottom:10px;">Add Product</a>
                </td>
            </tr>
        </table>

</div>
<br />
<div >
    <h3> Supplier Contact </h3>
    <div class="col-lg-12">
        <a href="#" id="catbtn" data-toggle="modal" data-target="#createSupContact">Add Contact</a>
    </div>

    <table class="table"> 
        <tr>
            <th>Name</th>
            <th>Landline</th>
            <th>Mobile</th>
            <th>Skype</th>
            <th>Viber</th>
            <th>WhatsApp</th>
            <th>WeChat</th>
            <th>Email</th>
            <th>Position</th>
            <th>Status</th>
            <th>Remarks</th>
            <th></th>
        </tr>

        @foreach (var contact in ViewBag.supContacts as IEnumerable<JobsV1.Models.SupplierContact>)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Landline</td>
                <td>@contact.Mobile</td>
                <td>@contact.SkypeId</td>
                <td>@contact.ViberId</td>
                <td>@contact.WhatsApp</td>
                <td>@contact.WeChat</td>
                <td>@contact.Email</td>
                <td>@contact.Position | @contact.Department</td>
                <td>@contact.SupplierContactStatu.Name</td>
                <td>@contact.Remarks</td>
                <td>
                    <a href="#" id="catbtn" data-toggle="modal" data-target="#editSupContact"
                       onclick="EditContactInitial(@contact.Id, '@contact.Name','@contact.Landline', '@contact.Mobile', '@contact.SkypeId' ,'@contact.ViberId', '@contact.Remarks', '@contact.WhatsApp', '@contact.Email', '@contact.SupplierContactStatusId', '@contact.WeChat', '@contact.Position', '@contact.Department') ">Edit</a> |
                    <a href="#" onclick="ConfirmRemoveContact(@contact.Id,'@contact.Name')">Remove</a>
                </td>
            </tr>
        }

    </table>
</div>


@{Html.RenderPartial("InvItemsPartial", (IEnumerable<JobsV1.Models.SupplierInvItem>)ViewBag.InvItems,
                new ViewDataDictionary { { "SupplierId", Model.Id } , { "Model.Id", Model.Id },
                { "SupplierName", ViewBag.SupplierName } , { "ItemList", ViewBag.ItemList }, { "UnitList", ViewBag.UnitList } });}
            
<!-- Prereq Scripts -->
<script src="~/Scripts/jquery-3.3.1.js"> </script>

@{ Html.RenderPartial("CreateSupContact", new ViewDataDictionary { {"InvItems" ,ViewBag.InvItems } , {"contactStatus", ViewBag.contactStatus } , { "SupplierId", ViewBag.SupplierId} }); }
@{ Html.RenderPartial("EditSupContact", new ViewDataDictionary { {"InvItems" ,ViewBag.InvItems } , {"contactStatus", ViewBag.contactStatus } , { "SupplierId", ViewBag.SupplierId} }); }

<script>
         
    //display confirmation message for removal of contact
    function ConfirmRemoveContact(id, name) {
        var res = confirm("Do you want to remove " + name + " ?")
        if(res){
            ajax_deleteContactId(id);
        }
    }

    //Contact Delete
    function ajax_deleteContactId(Id) {

        //build json object
        var data = {
            id: Id
        };

        console.log(data);

        var url = '/Suppliers/deleteSupContact';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

</script>