@model JobsV1.Models.Supplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Supplier Details</h2>

<div>
    <h4>Supplier</h4>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr />
    <h3>@Model.Name</h3>
    <p> @Model.Contact1 / @Model.Contact2 / @Model.Contact3  </p>
    <p> <b>Email:</b>  @Model.Email </p>
    <p> <b>Details:</b>  @Model.Details </p>
    <p> <b>City:</b>  @Model.City.Name </p>
    <p> <b>Type:</b>  @Model.SupplierType.Description </p>
  
</div>
<br />
<div >
    <h4> Supplier Contact </h4>

    <a href="#" id="catbtn" data-toggle="modal" data-target="#createSupContact">Add Contact</a> 
   
    @foreach (var contact in ViewBag.supContacts as IEnumerable<JobsV1.Models.SupplierContact>)
    {
        <p> <b>Name:</b> @contact.Name  </p>
        <p> <b>Contact No.:</b> @contact.Landline / @contact.Mobile   </p>
        <p> <b>Skype:</b> @contact.SkypeId    </p>
        <p> <b>Viber:</b> @contact.ViberId    </p>
        <p> <b>Remarks:</b> @contact.Remarks    </p>
        <hr />
    }

</div>

<!-- Prereq Scripts -->
<script src="~/Scripts/jquery-3.3.1.js"> </script>

@{ Html.RenderPartial("CreateSupContact"); }
