@model IEnumerable<JobsV1.Models.SupplierInvItem>


<h3>Inventory Products</h3>

@*<a href="" id="catbtn" data-toggle="modal" data-target="#ItemAddModal" style="margin-bottom:10px;">Add Item</a>*@

<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Particulars
        </th>
        <th>
            Price
        </th>
        <th>
            Remarks
        </th>
        <th>
            Date
        </th>
        <th>
            By
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        foreach (var rate in item.SupplierItemRates)
        {

            <tr>
                <td>
                    <p>
                        <b>
                            @Html.DisplayFor(modelItem => item.InvItem.Description)
                        </b>
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => rate.Particulars)
                </td>
                <td>
                    Php  @rate.ItemRate / @rate.SupplierUnit.Unit
                    <a href="#" onclick="confirmRateDelete(@rate.Id, 'Php @rate.ItemRate / @rate.SupplierUnit.Unit')"> [ x ] </a>
                </td>
                <td>
                    @rate.Remarks
                </td>
                <td>
                    (@DateTime.Parse(rate.DtValidFrom).ToString("MMM dd, yyyy") - @DateTime.Parse(rate.DtValidTo).ToString("MMM dd, yyyy") )
                </td>
                <td>
                    @rate.By
                </td>

                <td>
                  @*  <a href="#" id="catbtn" data-toggle="modal" data-target="#createInvRate" onclick="AddRateInitial(@item.Id, '(@item.InvItem.ItemCode) @item.InvItem.Description')">Add Rate</a>*@
                 @*   <a href="#" onclick="conformDelete(@item.Id, '(@item.InvItem.ItemCode) @item.InvItem.Description')"> Remove </a>*@
                </td>
            </tr>
            
        }
        if (item.SupplierItemRates.Count == 0)
        {
            @*
        <tr>
            <td><b>@item.InvItem.Description</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
                <td>
                    <a href="#" id="catbtn" data-toggle="modal" data-target="#createInvRate" onclick="AddRateInitial(@item.Id, '(@item.InvItem.ItemCode) @item.InvItem.Description')">Add Rate</a> |
                    <a href="#" onclick="conformDelete(@item.Id, '(@item.InvItem.ItemCode) @item.InvItem.Description')"> Remove </a>
                </td>
        </tr>
                *@
        }

    }
</table>

@Html.ActionLink("Back to List", "Index")

<!-- Add Item Modal -->
<div class="modal fade" id="ItemAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Item List</h4>
            </div>

            <div class="modal-body" id="modal2-content">

                <div class="list-group" id="categorylist">

                    @foreach (var carList in ViewBag.ItemList as IEnumerable<JobsV1.Models.InvItem>)
                    {
                        <a href="@Url.Action("AddInvItems", "Suppliers", new { InvID = carList.Id, supID = ViewBag.SupplierId},null)" class="list-group-item">
                            @Html.DisplayFor(modelItem => carList.ItemCode)
                            <span>-</span>
                            @Html.DisplayFor(modelItem => carList.Description)
                            <span>-</span>
                            @Html.DisplayFor(modelItem => carList.Remarks)
                        </a>
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Inv Rate Modal -->
<div class="modal fade" id="createInvRate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Rate for <span id="InvRate-ItemName"> Item </span></h4>
            </div>

            <div class="modal-body row" id="modal2-content">

                <div class="form-group cform hidden">
                    <b class="col-md-2"> Id </b>
                    <div class="col-md-10">
                        <input id="InvRate-ItemId" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>


                <div class="form-group cform">
                    <b class="col-md-2"> Particulars </b>
                    <div class="col-md-10">
                        <input id="InvRate-Particulars" class="form-control" type="text" maxlength="80" value="0">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Rate </b>
                    <div class="col-md-10">
                        <input id="InvRate-Rate" class="form-control" type="text" maxlength="80" value="0">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Unit </b>
                    <div class="col-md-10">
                        <select id="InvRate-UnitType" class="form-control">
                            @foreach (var unit in ViewBag.UnitList as IEnumerable<JobsV1.Models.SupplierUnit>)
                            {
                                <option value="@unit.Id"> @unit.Unit</option>

                            }
                        </select>
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Remarks </b>
                    <div class="col-md-10">
                        <input id="InvRate-Remarks" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Valid From</b>
                    <div class="col-md-10">
                        <input id="InvRate-ValidFrom" class="form-control" type="text" maxlength="13">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Valid To </b>
                    <div class="col-md-10">
                        <input id="InvRate-ValidTo" class="form-control" type="text" maxlength="20">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> By </b>
                    <div class="col-md-10">
                        <input id="InvRate-By" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="editDescBtn" onclick="ajax_createInvRate()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script src="~/Scripts/DateRangePicker/daterangepicker.js"></script>
<script src="~/Scripts/Job/SupplierAddRate.js"></script>

<script>
    $(document).ready(new function () {
        var today = moment().format('MM/DD/YYYY');
        var endDate = moment(today).add(366, 'day').format('MM/DD/YYYY');

        $("#InvRate-ValidFrom").val(today);
        $("#InvRate-ValidTo").val(endDate);
    });


    //ADDRESS EDIT
    function ajax_createInvRate() {

        //build json object
        var data = {
            id: $("#InvRate-ItemId").val(),
            Particulars: $("#InvRate-Particulars").val(),
            Rate: $("#InvRate-Rate").val(),
            Unit: $("#InvRate-UnitType").find(":selected").val(),
            ValidFrom: $("#InvRate-ValidFrom").val(),
            ValidTo: $("#InvRate-ValidTo").val(),
            Remarks: $("#InvRate-Remarks").val(),
            By: $("#InvRate-By").val()
        };

        console.log(data);

        var url = '/Suppliers/AddRateInvItems';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

    function conformDelete(Id, desc) {
        var confirmRes = confirm("Do you want to REMOVE " + desc + " ?");
        if (confirmRes) {
            ajax_deleteInv(Id);
        }
    }

    //Item Delete
    function ajax_deleteInv(Id) {

        //build json object
        var data = {
            id: Id,
        };

        console.log(data);

        var url = '/Suppliers/RemoveInvItems';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

    function AddRateInitial(id, itemName) {
        $("#InvRate-ItemId").val(id);
        $("#InvRate-ItemName").text(itemName)
    }

    function confirmRateDelete(id, desc) {
        var res = confirm("Do you want to remove " + desc + "?")
        if (res) {
            ajax_deleteItemRate(id);
        }
    }

    //Item Delete
    function ajax_deleteItemRate(Id) {

        //build json object
        var data = {
            id: Id,
        };

        console.log(data);

        var url = '/Suppliers/RemoveRateInvItem';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

</script>