@model IEnumerable<JobsV1.Models.ItemSchedule>

@{
    ViewBag.Title = "Item Availability";
    List<JobsV1.Models.DayLabel> vLabel = (List<JobsV1.Models.DayLabel>)ViewBag.dtLabel;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Item Availability</h2>
<!--|
@Html.ActionLink("Create New", "Create", "InvItems", null, null)
@Html.ActionLink("Work In Progress", "Index", "JobOrder")
| @Html.ActionLink("Listing", "JobListing", "JobOrder", new { span = 30 }, null)
| @Html.ActionLink("Job Table", "JobTable", "JobMains", new { span = 30 }, null)
| Availability
    -->


<table class="table">
    <tr>
        <td>ITEM</td>
        @foreach (var dtLabel in vLabel)
        {
            <td style="font:300 10px arial;">
                @{
                    string fColor = "darkgray";
                    if (@dtLabel.sDayName == "Sun")
                    { fColor = "red"; }
                    if (@dtLabel.sDayName == "Sat")
                    { fColor = "blue"; }
                }

                <span style="color: @fColor ; ">
                    @dtLabel.sDayNo
                </span>
                <br />
                <span style="color: @fColor ; ">
                    @dtLabel.sDayName
                </span>

            </td>
        }


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td nowrap>
                @foreach (var iconpath in item.Item.InvItemCategories)
                {
                    <img src=@Url.Content(@iconpath.InvItemCat.ImgPath)
                         alt=@iconpath.InvItemCat.ImgPath height="21"
                         title=@iconpath.InvItemCat.ImgPath />
                }
                &nbsp;
                <span style="font:700 12px verdana,arial;">
                    <text>  @item.Item.ItemCode - @item.Item.Description </text>
                </span>
            </td>

            @foreach (var dt in item.dayStatus)
            {
                string sBgColor = "none";
                if (dt.status == 1)
                { sBgColor = "darkgray"; }
                if (dt.status > 1)
                { sBgColor = "red"; }
                if (dt.status == 0 && dt.jobcount > 0)
                { sBgColor = "none"; }

                <td style="border:1px solid red; font:300 8px arial; background-color:@sBgColor;">

                    <span>@Html.DisplayFor(modelItemday => dt.Date.Day)</span>

                    <p>
                        @if (dt.status > 0)
                        {

                            <a class="cursor-pointer" onclick="ajax_LoadItemDetails('@item.ItemId','@item.Item.Description','@dt.Date')" style="position:relative;">
                                <img src="~/Images/CarRental/settings.png" width="20" height="20" />
                                @if (dt.status > 1)
                                {
                                    <span class="label label-success" style="position: absolute; top: 10px; font-size: 8px; left:11px"> @dt.jobcount </span>
                                }
                            </a>

                        }
                        else
                        {
                            if (dt.jobcount > 0)
                            {
                                <a class="cursor-pointer" onclick="ajax_LoadItemDetails('@item.ItemId','@item.Item.Description','@dt.Date')">
                                    <img src="~/Images/CarRental/settings.png" width="20" height="20" />
                                </a>
                            }
                        }
                    </p>

                </td>
            }
        </tr>
    }

</table>

<table class="table" id="moreItemsTable">
    <tr>
        <td class="text-center">
            <a class="cursor-hand" onclick="ajax_loadUnits();"> Click to Show More Items / Units 
                <span class="label label-success">
                    @ViewBag.otherItemCount
                </span>
            </a>
            @*<a onclick="hideUnits();">Hide Items</a>*@
        </td>
    </tr>
</table>



<!-- Modal -->
<div class="modal fade" id="ItemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Jobs on <span id="Itemmodal-DateDesc"> </span></h4>
            </div>
            <div class="modal-body">
                <div class="list-group" id="Itemmodal-categorylist" style="font:500 14px arial, verdana;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts{
    <script src="~/Scripts/InvItems/Availability.js" type="text/javascript"></script>
}