@model IEnumerable<JobsV1.Models.InvItem>

@{
    ViewBag.Title = "Resources";
    Session["ROOTMENUID"] = 6;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    var siteConfig = ViewBag.SiteConfig;
    int showAll = ViewBag.showAll;
    int otherItemCount = ViewBag.otherItemCount;
}

<h2>Item List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            Order No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Categories
        </th>
        @*<th>
                ContactInfo
            </th>
            <th>
                ViewInfo
            </th>
            <th>
                Current Odometer
            </th>
            <th>
                Maintenance
            </th>
            <th>
                Owner
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var isCommiAllowed = false;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description) <br />
                @Html.DisplayFor(modelItem => item.Remarks)<br />
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                <!--List for Inv Item Categories-->
                @foreach (var cat in item.InvItemCategories as IEnumerable<JobsV1.Models.InvItemCategory>)
                {
                    if (cat.InvItemCatId == 2 || cat.InvItemCatId == 3 || cat.InvItemCatId == 4)
                    {
                        isCommiAllowed = true;
                    }

                    <span>
                        @Html.DisplayFor(modelItem => cat.InvItemCat.Name)
                    </span>
                    <br />
                }


                <br />
                <!--List for Inv Item Suppliers-->
                @foreach (var supplier in item.SupplierInvItems as IEnumerable<JobsV1.Models.SupplierInvItem>)
                {


                    @Html.DisplayFor(modelItem => supplier.Supplier.Name)
                    <br />
                }

            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Link", "EditInvCrLogUnit", new { id = item.Id }) |
                @if (isCommiAllowed)
                {
                    <span> @Html.ActionLink("Commission", "Index", "InvItemCommis", new { id = item.Id }, null) | </span>
                }

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>



    }

    <tr>
        <td colspan="5">
            <span class="btn btn-default" onclick="UpdateUrl(@showAll)" style="width:100%">
                @if (showAll == 0)
                {
                    <span> Show more <span class="label label-success"> @otherItemCount </span>  </span>
                }
                else
                {
                    <span> Show less</span>
                }
            </span>
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Show Less", "Index", new { showAll = 0 }) |
    @Html.ActionLink("Show All", "Index", new { showAll = 1 })
</p>

<p>
    @Html.ActionLink("List", "Index", "SupplierItems") |
    Items |
    @Html.ActionLink("Availability", "Availability", "InvItems") |
    @Html.ActionLink("Gate Control", "Index", "InvCarGateControls") |
    @Html.ActionLink("Maintenance", "Index", "InvCarRecords")
</p>


@section Scripts{
    <script>
        function UpdateUrl(showFlag) {
            const urlParams = new URLSearchParams(window.location.search);
            if (showFlag == 0) {
                urlParams.set('showAll', '1');
            } else {
                urlParams.set('showAll', '0');
            }
            window.location.search = urlParams;
        }
    </script>
}
