@model JobsV1.Models.Customer

@{
    ViewBag.Title = "Create Agent";
}

<h2>Create </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            
             <span style="float:left">
                  <button class="btn btn-default" data-toggle="modal" data-target="#AgentSearchModal" style="margin-top:0px;float:left;" type="button">Search Agent</button>
             </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <h4>Company</h4>

        <div class="form-group" hidden>
            <label class="control-label col-md-2"> CustEntMainId </label>
            <div class="col-md-10">
                <input class="form-control" id="CustEntMainId" value="@ViewBag.custEntMainId" />
            </div>
        </div>

        
        <div class="form-group" hidden>
            <label class="control-label col-md-2"> AgentId </label>
            <div class="col-md-10">
                <input class="form-control" id="CustAgentId" name="CustAgentId" />
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2"> Company </label>
            <div class="col-md-10">
                <input class="form-control" name="AgentCompany" id="AgentCompany" value="@ViewBag.AgentCompany" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Position </label>
            <div class="col-md-10">
                <input class="form-control" name="AgentPosition" id="AgentPosition" value="@ViewBag.AgentPosition" type="text" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <p>@Html.ActionLink("Back to Details", "Details", "CustEntMains", new { id = ViewBag.custEntMainId }, null)</p>
</div>


@section Scripts {
    @Html.Partial("_SearchAgentModal")
    <script src="~/Scripts/Customer/CustAgentSearch.js"></script>
    }