@model JobsV1.Models.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

    <div class="row col-sm-12">

        <div class="col-sm-4">
            <div >
                <p>
                    <h3>
                        Customer
                    </h3>
                    <span>
                        @Html.ActionLink("Back to List", "Index") | 
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

                    </span>
                </p>
                <p>
                    <b>
                        @Html.DisplayNameFor(model => model.Name)
                    </b>
                    <span>
                        @Html.DisplayFor(model => model.Name)
                    </span>
                </p>
                <p>
                    <b> @Html.DisplayNameFor(model => model.Email) </b>
                     <a href='mailto:@Html.DisplayFor(model => model.Email)'>  @Html.DisplayFor(model => model.Email) </a>
                </p>
                <p>
                   <b>Contact</b>
                   <a href='tel:@Html.DisplayFor(model => model.Contact1)'>  @Html.DisplayFor(model => model.Contact1) </a> |
                   <a href='tel:@Html.DisplayFor(model => model.Contact2)'>  @Html.DisplayFor(model => model.Contact2) </a>
                </p>
                <p>
                    <b> @Html.DisplayNameFor(model => model.Remarks)</b>
                     @Html.DisplayFor(model => model.Remarks)
                </p>
                <p>
                    <b>Status</b>
                    <span>
                        @Html.DisplayFor(model => model.Status)
                    </span>
                </p>
            </div>
            <div>
                @{Html.RenderPartial("PartialView_CategoryDetails", (List<JobsV1.Models.CustCategory>)ViewBag.categoryDetails, new ViewDataDictionary { { "customerId", Model.Id } });}
            </div>
        </div>

        <div class="col-sm-4">
            <div>
                <br /><br />
                @{Html.RenderPartial("PartialView_CompanyDetails", (List<JobsV1.Models.CustEntMain>)ViewBag.companyList, new ViewDataDictionary { { "customerId", Model.Id }, { "companies", (List<JobsV1.Models.CustEntMain>)ViewBag.companies },{ "companiesPrev", (List<JobsV1.Models.CustEntity>)ViewBag.companiesPrev }, {"custposition",  (string)ViewBag.custposition  } });}
            </div>
            <div>
              @*  @{Html.RenderPartial("PartialView_Files", (List<JobsV1.Models.CustFiles>)ViewBag.fileList, new ViewDataDictionary { { "customerId", Model.Id } });}*@
            </div>
        </div>

        <div class="col-sm-4">
            <br /><br />
            @{Html.RenderPartial("PartialView_CustSocial", (List<JobsV1.Models.CustSocialAcc>)ViewBag.CustSocial, new ViewDataDictionary { { "customerId", Model.Id } });}
        </div>
</div>

<div class="col-lg-12 hidden">

    <div class="row">
        @{Html.RenderPartial("PartialView_JobDetails", (List<JobsV1.Models.CustomerJobDetails>)ViewBag.jobList, new ViewDataDictionary { { "customerId", Model.Id } });}
    </div>
</div>
<hr />