@model IEnumerable<JobsV1.Models.CustomerDetails >

@{
    ViewBag.Title = "Contact Listing";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Contact List</h2>

@*<p>
        @Html.ActionLink("Active", "Index", new { status = "ACTIVE" }, new { @id = "ACTIVE" }) |
        @Html.ActionLink("Inactive", "Index", new { status = "INACTIVE" }, new { @id = "INACTIVE" }) |
        @Html.ActionLink("Bad", "Index", new { status = "BAD" }, new { @id = "BAD" }) |
        @Html.ActionLink("All", "Index", new { status = "ALL" }, new { @id = "ALL" })
    </p>
*@
<p>
    @Html.ActionLink("Create New", "CreateCustomer") |
    @Html.ActionLink("Deactivate Old Users", "DeactivateOldCustomer")
</p>
<p>
    Status:
    <span>
        <span id="ACTIVE"   class="status-link status-active"> Active   </span> |
        <span id="INACTIVE" class="status-link"> Inactive </span> |
        <span id="BAD"      class="status-link"> Bad      </span> |
        <span id="ALL"      class="status-link"> All      </span>
    </span>
</p>
<p>
    Sort:
    <span>
        <span id="DATE" class="status-link status-active"> Date Added </span> |
        <span id="NAME" class="status-link"> Name </span> |
        <span id="JOBSCOUNT" class="status-link"> Job Count </span> |
    </span>
</p>


<p>
    <input class="input-sm" id="srch-field" type="search" />
    <button class="btn btn-default" onclick="ajax_loadContent()">Search</button>
</p>


<table class="table " id="sup-Table">
    <tr>
        <th>Customer</th>
        <th>Contact 1 </th>
        <th id="sup-header-2">Contact 2</th>
        <th id="sup-header-3">Company</th>
        <th id="sup-header-3">Jobs </th>
        <th id="sup-header-4">Status</th>
        <th></th>
    </tr>
    <tr>
        <td colspan="2"> </td>
        <td colspan="5"> 
            <br />
            <img src="~/Images/GIF/loading.gif" height="25"/>
            Loading customers, please wait...
        </td>
    </tr>
</table>

<p>
    Customers 
    @Html.ActionLink("Companies", "Index", "CustEntMains", null, null) 
</p>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/CustomerList.js"></script>