@model IEnumerable<JobsV1.Models.CustomerJobDetails >

@{
    ViewBag.Title = "PartialView_JobDetails";
    int customerid = Convert.ToInt32(ViewData["customerId"]);
}

<br /><br /><br />
<div class="row">

    <p>
        <b>Date: </b>
        <input id="startDate" type="date"  /> - 
        <input id="endDate" type="date" />

        &nbsp;&nbsp;&nbsp;
        <a onclick="getLastJobs(30)">Last 30 Days</a> |
        <a onclick="getLastJobs(60)">Last 60 Days</a>
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Filter" class="btn btn-default" onclick="detailsUpdate(@customerid)" />
    </p>
    <p id="StatusOp">
        <b>Status: </b>
        <a onclick="statusUpdate('ALL')"         id="ALL" >         ALL</a> | 
        <a onclick="statusUpdate('INQUIRY')"     id="INQUIRY" >     INQUIRY</a> | 
        <a onclick="statusUpdate('RESERVATION')" id="RESERVATION" > RESERVATION</a> | 
        <a onclick="statusUpdate('CONFIRMED')"   id="CONFIRMED" >   CONFIRMED</a> | 
        <a onclick="statusUpdate('CLOSED')"      id="CLOSED" >      CLOSED</a> | 
        <a onclick="statusUpdate('CANCELLED')"   id="CANCELLED" >   CANCELLED</a> 
    </p>
    <table  class="table table-striped">

        <tr style="border:1px solid lightgray">
            <th>Job Date </th>
            <th>Description </th>
            <th> No of Days </th>
            <th> No of Pax </th>
            <th> Status </th>
            <th>  </th>
        </tr>
        @foreach (var item in Model)
        {
         <tr style="border:1px solid lightgray">
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.NoOfDays) Day(s)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfPax) Person(s)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRemarks)
            </td>
            <td>
                @Html.ActionLink("Details", "BookingDetails", "JobOrder", new { id = item.Id }, null)
            </td>
        </tr>
        }

    </table>
    <h4>
        @Html.ActionLink("Add Job", "Create", "JobMains", new { id = customerid }, null)
    </h4>

</div>

<script src="~/Scripts/jquery-1.12.4.min.js"> </script>
<script src="~/Scripts/DateRangePicker/moment.min.js" ></script>
<script src="~/Scripts/Job/CustomerReport.js"> </script>

