@model IEnumerable<JobsV1.Models.CustomerJobDetails >

@{
    ViewBag.Title = "PartialView_JobDetails";
    int customerid = Convert.ToInt32(ViewData["customerId"]);
}

<br /><br /><br />
<div class="row">

    <p>
        <b>Date: </b>
        <input id="startDate" type="date"  /> - 
        <input id="endDate" type="date" />

        <input type="button" value="Filter" class="btn btn-default"  style="margin-top:-10px;padding:5px;" onclick="detailsUpdate(30, @customerid)" />
        &nbsp;&nbsp;&nbsp;
        <a onclick="getLastJobs(30,@customerid)">Last 30 Days</a> |
        <a onclick="getLastJobs(60,@customerid)">Last 60 Days</a>
    </p>
    <p>
        <b>Status: </b>
        <a onclick="statusUpdate('ALL',@customerid)">ALL</a> | 
        <a onclick="statusUpdate('INQUIRY',@customerid)">INQUIRY</a> | 
        <a onclick="statusUpdate('RESERVATION',@customerid)">RESERVATION</a> | 
        <a onclick="statusUpdate('CONFIRMED',@customerid)">CONFIRMED</a> | 
        <a onclick="statusUpdate('CLOSED',@customerid)">CLOSED</a> | 
        <a onclick="statusUpdate('CANCELLED',@customerid)">CANCELLED</a> 
    </p>
    <table  class="table table-striped">

        <tr style="border:1px solid lightgray">
            <th>Job Date </th>
            <th>Description </th>
            <th> No of Days </th>
            <th> No of Pax </th>
            <th> Status </th>
            <th>  </th>
        </tr>
        @foreach (var item in Model)
        {
         <tr style="border:1px solid lightgray">
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.NoOfDays) Day(s)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfPax) Person(s)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRemarks)
            </td>
            <td>
                @Html.ActionLink("Details", "BookingDetails", "JobOrder", new { id = item.Id }, null)
            </td>
        </tr>
        }

    </table>
    <h4>
        @Html.ActionLink("Add Job", "Create", "JobMains", new { id = customerid }, null)
    </h4>

</div>

<script src="~/Scripts/jquery-1.12.4.min.js"> </script>
<script src="~/Scripts/Job/CustomerReport.js"> </script>

