@model IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>
@{
    ViewBag.Title = "DriverTripList";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal amount = (decimal)ViewBag.Amount;
    string tripLogErr = (string)ViewBag.tripLogErr;
    decimal TotalDriverFee = 0;
    decimal TotalDriverOT = 0;
    decimal TotalSalary = 0;

    decimal totalPayments = 0;
    decimal totalOT = 0;
    decimal totalCA = 0;
    decimal totalCont = 0;
    decimal total = 0;

    int tripCount = 0;
}

<h2>Driver Trip List</h2>
<p>
    @Html.ActionLink("Back to Cash Transactions", "Index") |
    @Html.ActionLink("Driver Summary", "DriverSummary", "CarRentallog", new { id = ViewBag.DriverId }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Id }, null)
</p>

<h2> @ViewBag.Driver </h2>
<p>
    <b> Release : @ViewBag.DtRelease </b><br />
    <b> Amount : @amount.ToString("#,##0.00") </b><br />
    <b> Remarks :  @ViewBag.Remarks </b><br />
</p>
<table class="table">
    <tr>
        <th> Date </th>
        <th> Company </th>
        <th> Unit </th>
        <th> Remarks </th>
        <th> Rate </th>
        <th> Drivers Fee </th>
        <th> Drivers OT </th>
    </tr>

    @foreach (var log in Model)
    {

        var color = "black";

        if (log.DtTrip.DayOfWeek.ToString() == "Sunday")
        {
            color = "red";
        }
        else if (log.DtTrip.DayOfWeek.ToString() == "Saturday")
        {
            color = "dodgerblue";
        }
        else
        {
            color = "black";
        }

        TotalDriverFee += log.DriverFee;
        TotalDriverOT += log.DriverOT;

        <tr style="color:@color;">
            <td> @log.DtTrip.ToString("MMM dd yyyy (ddd)") @log.DtTrip.DayOfWeek.ToString()</td>
            <td> @log.crLogCompany.Name </td>
            <td> @log.crLogUnit.Description </td>
            <td> @log.Remarks    </td>
            <td> @log.Rate </td>
            <td> @log.DriverFee </td>
            <td> @log.DriverOT </td>
        </tr>

    }


    @foreach (var otherSalary in ViewBag.OtherSalary as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
    {

        TotalDriverFee += otherSalary.Amount;
        <tr>
            <td>
                @otherSalary.DtRelease.ToString("MM/dd/yyyy (ddd)")
            </td>
            <td colspan="3">
                @otherSalary.Remarks
            </td>
            <td>
            </td>
            <td>
                @otherSalary.Amount.ToString("#,##0.00")
            </td>
            <td></td>
        </tr>
    }


    @foreach (var ca in ViewBag.CA as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
    {
         
            TotalDriverFee += ca.Amount;
            <tr>
                <td>
                    @ca.DtRelease.ToString("MM/dd/yyyy (ddd)")
                </td>
                <td colspan="2">

                    @ca.Remarks
                </td>
                <td>
                    CA
                </td>
                <td></td>
                <td>
                    @ca.Amount.ToString("#,##0.00")
                </td>
                <td></td>
            </tr>
    }


    @{
        TotalSalary = TotalDriverFee + TotalDriverOT;
    }
    <tr>
        <td colspan="5">
            <p class="pull-right"> Total </p>
        </td>
        <td>
            @TotalDriverFee.ToString("N0")
        </td>
        <td>
            @TotalDriverOT.ToString("N0")
        </td>
    </tr>



    @foreach (var payment in ViewBag.Payments as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
    {
        totalPayments += payment.Amount;
        <tr>
            <td>
                @payment.DtRelease.ToString("MM/dd/yyyy (ddd)")
            </td>
            <td colspan="2">
                @payment.Remarks
            </td>
            <td>
                Deduction(Payment)
            </td>
            <td></td>
            <td>
                - @payment.Amount.ToString("#,##0.00")
            </td>
            <td></td>
        </tr>
    }

    @foreach (var contribution in ViewBag.Contributions as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
    {
        totalCont += contribution.Amount;
        <tr>
            <td>
                @contribution.DtRelease.ToString("MM/dd/yyyy (ddd)")
            </td>
            <td colspan="2">
                @contribution.Remarks
            </td>
            <td></td>
            <td>
                Contribution
            </td>
            <td>
                - @contribution.Amount.ToString("#,##0.00")
            </td>
            <td></td>
        </tr>
    }

    @foreach (var others in ViewBag.Others as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
    {
        totalCont += others.Amount;
        <tr>
            <td>
                @others.DtRelease.ToString("MM/dd/yyyy (ddd)")
            </td>
            <td colspan="2">
                @others.Remarks
            </td>
            <td></td>
            <td>
                Others
            </td>
            <td>
                - @others.Amount.ToString("#,##0.00")
            </td>
            <td></td>
        </tr>
    }


    @{
        total = TotalSalary + totalCA - totalPayments - totalCont;
    }

    <tr style="border-top:1px solid gray !important;">
        <td colspan="4"> </td>
        <td> Net </td>
        <td> <b>@total.ToString("#,##0.00")</b> </td>
    </tr>


    @*<tr>
            <td colspan="5">
                <p class="pull-right"> Total </p>
            </td>
            <td>
                @TotalSalary.ToString("N0")
            </td>
            <td>
            </td>
        </tr>*@
    @if (tripLogErr.Length > 0)
    {
        <tr>
            <td colspan="5">
                <p class="text-center"> @tripLogErr  </p>
            </td>
        </tr>
    }
</table>
