@model IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>
@{
    ViewBag.Title = "DriverTripList";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    decimal amount = (decimal)ViewBag.Amount;
    string tripLogErr = (string)ViewBag.tripLogErr;
    decimal TotalDriverFee = 0;
    decimal TotalDriverOT = 0;
    decimal TotalSalary = 0;
}

<h2>Driver Trip List</h2>
<p>
    @Html.ActionLink("Back to Cash Transactions", "Index") |
    @Html.ActionLink("Driver Summary", "DriverSummary", "CarRental", new { id = ViewBag.DriverId }, null) 
</p>

<h2> @ViewBag.Driver </h2>
<p>
    <b> Release : @ViewBag.DtRelease </b><br />
    <b> Amount : @amount.ToString("#,##0.00") </b><br />
    <b> Remarks :  @ViewBag.Remarks </b><br />
</p>
<table class="table">
    <tr>
        <th> Date </th>
        <th> Company </th>
        <th> Unit </th>
        <th> Rate </th>
        <th> Drivers Fee </th>
        <th> Drivers OT </th>
    </tr>

    @foreach (var log in Model)
    {

        var color = "black";

        if (log.DtTrip.DayOfWeek.ToString() == "Sunday")
        {
            color = "red";
        }
        else if (log.DtTrip.DayOfWeek.ToString() == "Saturday")
        {
            color = "dodgerblue";
        }
        else
        {
            color = "black";
        }

        TotalDriverFee += log.DriverFee;
        TotalDriverOT += log.DriverOT;

        <tr style="color:@color;">
            <td> @log.DtTrip.ToString("MMM dd yyyy (ddd)") @log.DtTrip.DayOfWeek.ToString()</td>
            <td> @log.crLogCompany.Name </td>
            <td> @log.crLogUnit.Description </td>
            <td> @log.Rate </td>
            <td> @log.DriverFee </td>
            <td> @log.DriverOT </td>
        </tr>

    }
    @{ 
        TotalSalary = TotalDriverFee + TotalDriverOT;
    }
    <tr>
        <td colspan="4">
            <p class="pull-right"> Total </p>
        </td>
        <td>
            @TotalDriverFee.ToString("N0")
        </td>
        <td>
            @TotalDriverOT.ToString("N0")
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p class="pull-right"> Total </p>
        </td>
        <td>
            @TotalSalary.ToString("N0")
        </td>
        <td>
        </td>
    </tr>
    @if (tripLogErr.Length > 0)
    {
        <tr>
            <td colspan="4">
                <p class="text-center"> @tripLogErr  </p>
            </td>
        </tr>
    }
</table>