@model IEnumerable<JobsV1.Areas.Personel.Models.crLogCashRelease>

@{
    ViewBag.Title = "Cash Transaction";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    var StatusId = (int)ViewBag.StatusId;
    var IsAdmin = (bool)ViewBag.IsAdmin;

    int RequestCount = (int)ViewBag.RequestCount;
    int ApprovedCount = (int)ViewBag.ApprovedCount;
    int ReleasedCount = (int)ViewBag.ReleasedCount;

    decimal TotalAmount = 0;
}

<h2>Cash Transaction</h2>
<p>
    @Html.ActionLink("Back to Trip Log", "Index", "CarRentalLog") |
    @Html.ActionLink("Previous Records", "PrevRecords") |
    @Html.ActionLink("Salary Summary", "SalarySummary")   
</p>
<p id="status-list">
    <span class="text-muted"> Status Filter:  </span>
    @Html.ActionLink("Request", "Index", new { statusId = 1 }, new { @id = "status-request" })
    <span class="badge"> @RequestCount </span> |
    @Html.ActionLink("Approved", "Index", new { statusId = 2 }, new { @id = "status-approved" })
    <span class="badge"> @ApprovedCount </span> |
    @Html.ActionLink("Released", "Index", new { statusId = 3 }, new { @id = "status-released" })
    <span class="badge"> @ReleasedCount </span> 
</p>

<p>
    @Html.ActionLink("Add New Cash Trx", "Create")

</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>

        </th>
        <th>
            Driver
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.crLogCashTypeId == 3 || item.crLogCashTypeId == 4 || item.crLogCashTypeId == 5)
        {
            item.Amount = item.Amount * -1;
        }
        TotalAmount += item.Amount;
        <tr>
            <td>
                @item.DtRelease.ToShortDateString()
            </td>
            <td>
                @item.Amount.ToString("#,##0.00")
            </td>
            <td>
                @{ Html.RenderAction("DriverSalaryAmount", new { id = item.Id }); }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogCashType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @switch (StatusId)
                {
                    case 1:
                        if (IsAdmin)
                        {
                            <span>
                                <a class="cursor-hand" onclick="ApproveRequest(this, '@item.Id')"> Approve </a> |
                                @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)
                               
                            </span>
                        }
                        else
                        { 
                            @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)<span> |</span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        }
                        break;
                    case 2:
                        <span>
                            @if (item.crLogCashTypeId == 1)
                            {
                            @Html.ActionLink("Print", "PrintSalaryForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                            }
                            else
                            {
                            @Html.ActionLink("Old Form", "PrintApproveForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                            }
                            
                            <a class="cursor-hand" onclick="ApproveRelease(this, '@item.Id')"> Release </a> |
                            @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)
                        </span>
                        break;
                    case 3:
                    default:
                        <span>
                            @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)
                        </span>
                        break;
                }
                @if (IsAdmin)
                {
                    <span>
                        |
                        @Html.ActionLink("Drivers Summary", "DriverSummary", "CarRentalLog",new { id = item.crLogDriverId }, null) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </span>
                }

            </td>
        </tr>
    }


    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                <p class="text-center"> No Records Found </p>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <span class="pull-right">Total:</span>
            </td>
            <td>
                @TotalAmount.ToString("#,##0.00")
            </td>
            <td colspan="4">
            </td>
        </tr>
    }
</table>



@section Scripts{
    <script src="~/Areas/Personel/Script/CarRentalLogReturn.js"></script>
    <script>
        $(() => {
            FilterStatus('@StatusId');
        });

        function FilterStatus(statusId) {
            switch (statusId) {
                case '1':
                    $("#status-request").css('color', 'black');
                    break;
                case '2':
                    $("#status-approved").css('color', 'black');
                    break;
                case '3':
                    $("#status-released").css('color', 'black');
                    break;
                case '4':
                    $("#status-returned").css('color', 'black');
                    break;
                default:
                    $("#status-request").css('color', 'black');
                    break;
            }
        }

        function ApproveRequest(e, id) {
            $.post("/Personel/CarRentalCashRelease/ApproveRequest", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    //window.location.reload();
                    $(e).parent().parent().parent().remove();
                } else {
                    alert("An Error occured while process your request");
                }
            });
        }

        function ApproveRelease(e,id) {
            $.post("/Personel/CarRentalCashRelease/ApproveRelease", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    //window.location.reload();
                    $(e).parent().parent().parent().remove();
                } else {
                    alert("An Error occured while process your request");
                }
            });
        }
    </script>
}