@model IEnumerable<JobsV1.Areas.Personel.Models.crLogCashRelease>

@{
    ViewBag.Title = "Cash Transaction";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    var StatusId = (int)ViewBag.StatusId;
    var IsAdmin = (bool)ViewBag.IsAdmin;

    int RequestCount = (int)ViewBag.RequestCount;
    int ApprovedCount = (int)ViewBag.ApprovedCount;
    int ReleasedCount = (int)ViewBag.ReleasedCount;

    decimal TotalAmount = 0;

    int STATUS_REQUEST = 1;
    int STATUS_APPROVED = 2;
    int STATUS_RETURNED = 3;
}

<h2>Cash Transaction</h2>
<p>
    @Html.ActionLink("Back to Trip Log", "Index", "CarRentalLog") |
    @Html.ActionLink("Previous Records", "PrevRecords") |
    @Html.ActionLink("Drivers", "Index", "crLogDrivers", null, null) |
    @Html.ActionLink("Salary Summary", "SalarySummary") |
    @Html.ActionLink("Salary Request", "Index", "crLogCashSalaries", null, null)
</p>
<p id="status-list">
    <span class="text-muted"> Status Filter:  </span>
    @Html.ActionLink("Request", "Index", new { statusId = STATUS_REQUEST }, new { @id = "status-request" })
    <span class="badge"> @RequestCount </span> |
    @Html.ActionLink("Approved", "Index", new { statusId = STATUS_APPROVED }, new { @id = "status-approved" })
    <span class="badge"> @ApprovedCount </span> |
    @Html.ActionLink("Released", "Index", new { statusId = STATUS_RETURNED }, new { @id = "status-released" })
    <span class="badge"> @ReleasedCount </span>
</p>

<p>
    @Html.ActionLink("Add New Cash Trx", "Create")

</p>
<p>
    <button type="button" class="btn btn-default" id="approveAll-Btn" onclick="ApproveSelectedItems()" style="display:none">
        Approve Selected
    </button>
</p>

<table class="table" id="cashTrans-Table">
    <tr>
        @if (StatusId == STATUS_REQUEST)
        {
            <th id="tb-hd-forApproval">
                <a class="cursor-hand" onclick="CheckAll()"> Check All </a>
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.DtRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Driver
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(c => c.crLogDriver.Name))
    {
        if (item.crLogCashTypeId == 3 || item.crLogCashTypeId == 4 || item.crLogCashTypeId == 5)
        {
            item.Amount = item.Amount * -1;
        }
        TotalAmount += item.Amount;

        var tripAmount_Driver =  (decimal)0;
        var tripAmount_OT = (decimal)0;
        var total_TripAmount = (decimal)0;
        if (item.crLogClosing != null)
        {
            tripAmount_Driver = item.crLogClosing.crLogTrips.Sum(c => c.DriverFee);
            tripAmount_OT = item.crLogClosing.crLogTrips.Sum(c => c.IncludeOT == true ? c.DriverOT : 0);
            total_TripAmount = tripAmount_Driver + tripAmount_OT;

        }
        <tr>
            @if (StatusId == STATUS_REQUEST) {
            <td class="item-forApproval">
                <input type="checkbox" value="@item.Id" />
            </td>
            }
            <td>
                @item.DtRelease.ToShortDateString()
            </td>
            <td>
                @item.Amount.ToString("#,##0.00")

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </td>
            <td>
                @if (item.crLogCashGroups.Count() > 0)
                {
                    <i class="fa fa-chain" title="Linked to Salary Group"></i>
                }
                @Html.DisplayFor(modelItem => item.crLogCashType.Description)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)


                @if (item.Amount != total_TripAmount && item.crLogCashTypeId == 1 && item.crLogClosing != null)
                {    
                    
                    <i class="fa fa-warning" title="Amount from Trip Logs does not match"> </i>
                    @*<span class="text-warning"> Amount from Trips does not match.  </span>*@
                }
            </td>
            <td>
                @switch (StatusId)
                {
                    case 1:
                        if (IsAdmin)
                        {
                            <span>
                                <a class="cursor-hand" onclick="ApproveRequest(this, '@item.Id')"> Approve </a> |
                                @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)

                            </span>
                        }
                        else
                        {
                            @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)<span> |</span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        }
                        break;
                    case 2:
                        <span>
                            @if (item.crLogCashTypeId == 1)
                            {
                                @Html.ActionLink("Print", "PrintSalaryForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                            }
                            else
                            {
                                @Html.ActionLink("Print", "PrintApproveForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                            }

                            <a class="cursor-hand" onclick="ApproveRelease(this, '@item.Id')"> Release </a> |
                            @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)
                        </span>
                        break;
                    case 3:
                    default:
                        <span>
                            @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)
                        </span>
                        break;
                }
                @if (IsAdmin)
                {
                    <span>
                        |
                        @Html.ActionLink("Drivers Summary", "DriverSummary", "crLogDrivers", new { id = item.crLogDriverId }, null) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </span>
                }

            </td>
        </tr>
    }


    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                <p class="text-center"> No Records Found </p>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <span class="pull-right">Total:</span>
            </td>
            <td>
                @TotalAmount.ToString("#,##0.00")
            </td>
            <td colspan="5">
            </td>
        </tr>
    }
</table>



@section Scripts{
    <script src="~/Areas/Personel/Script/CarRentalLogReturn.js"></script>
    <script src="~/Areas/Personel/Script/CashReleaseApprove.js"></script>
    <script>
        $(() => {
            FilterStatus('@StatusId');
        });

        function FilterStatus(statusId) {
            switch (statusId) {
                case '1':
                    $("#status-request").css('color', 'black');
                    break;
                case '2':
                    $("#status-approved").css('color', 'black');
                    break;
                case '3':
                    $("#status-released").css('color', 'black');
                    break;
                case '4':
                    $("#status-returned").css('color', 'black');
                    break;
                default:
                    $("#status-request").css('color', 'black');
                    break;
            }
        }

        function ApproveRequest(e, id) {
            $.post("/Personel/CarRentalCashRelease/ApproveRequest", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    //window.location.reload();
                    $(e).parent().parent().parent().remove();
                } else {
                    alert("An Error occured while process your request");
                }
            });
        }

        function ApproveRelease(e,id) {
            $.post("/Personel/CarRentalCashRelease/ApproveRelease", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    //window.location.reload();
                    $(e).parent().parent().parent().remove();
                } else {
                    alert("An Error occured while process your request");
                }
            });
        }
    </script>
}