@model JobsV1.Areas.Personel.Models.crLogCashRelease

@{
    ViewBag.Title = "Print Cash Release Form";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    var tripLogs = ViewBag.crLogTrips as IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>;

    decimal actualAmount = ViewBag.ActualAmount;

    decimal subtotalSalary = 0;
    decimal totalSalary = Model.Amount;
    decimal totalPayments = 0;
    decimal totalOT = 0;
    decimal totalCA = 0;
    decimal totalCont = 0;
    decimal total = 0;

    int tripCount = 0;
}

@{ 
    <style>
        .normal-table td{
            border-top: 0px solid gray !important;
            padding:4px !important;
        }
        .normal-table{
            border: 1px solid darkgray !important;
        }
        
        .normal-table th{
            border: 1px solid darkgray !important;
        }
    </style>
}

<div style="display:flex;flex-direction:column;margin-top:-50px;margin-right:20px;">

    <div class="print-form-size">
        <table class="table rpt-table-bordered" style="max-width:670px;">
            <tr>
                <td>
                    <h3 class="pull-left"> Salary Release </h3>
                </td>
            </tr>
            <tr style="font-size:16px;">
                <td colspan="3">
                    <span> Driver: </span>
                    <span>@Model.crLogDriver.Name</span>
                </td>
                <td colspan="1">
                    <span class="pull-right">
                        <span> Date: </span>
                        <span>@Model.DtRelease.ToString("MMM dd yyyy")</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h4> </h4>

                    <table class="table normal-table" style="margin-bottom:0px;">
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Company / Unit
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Rate
                            </th>
                            <th>
                                OT
                            </th>
                        </tr>

                        @foreach (var trip in ViewBag.crLogTrips as List<JobsV1.Areas.Personel.Models.crLogTrip>)
                        {
                            //totalOT = totalOT + trip.DriverOT;
                            subtotalSalary = subtotalSalary + trip.DriverFee;
                            tripCount = tripCount + 1;
                            <tr>
                                <td>
                                    @trip.DtTrip.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @trip.crLogCompany.Name / @trip.crLogUnit.Description
                                </td>
                                <td>
                                    @trip.Remarks
                                </td>
                                <td>
                                    @trip.DriverFee.ToString("#,##0.00")
                                </td>
                                <td>
                                    @*@trip.DriverOT.ToString("#,##0.00")*@
                                </td>
                            </tr>
                        }

                        @if (subtotalSalary == 0)
                        {
                            subtotalSalary = subtotalSalary + actualAmount;
                            <tr>
                                <td>
                                    @Model.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>

                                </td>
                                <td>
                                    @Model.Remarks
                                </td>
                                <td>
                                    @actualAmount.ToString("#,##0.00")
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                        }

                        <tr style="border-top:1px solid gray !important;">
                            <td> @tripCount trips </td>
                            <td> </td>
                            <td> SubTotal </td>
                            <td> <b>@subtotalSalary.ToString("#,##0.00")</b> </td>
                            <td> <b>
                                @*@totalOT.ToString("#,##0.00")*@
                                 </b> </td>
                        </tr>

                        @{
                            totalSalary = subtotalSalary + totalOT;
                        }


                        <tr style="border-top:1px solid gray !important;">
                            <td> </td>
                            <td> </td>
                            <td>  Total </td>
                            <td> <b>@totalSalary.ToString("#,##0.00")</b> </td>
                            <td>  </td>
                        </tr>

                        @foreach (var payment in ViewBag.Payments as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {
                            totalPayments += payment.Amount;
                            <tr>
                                <td>
                                    @payment.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @payment.Remarks
                                </td>
                                <td>
                                    Deduction(Payment)
                                </td>
                                <td>
                                   - @payment.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }

                        @foreach (var ca in ViewBag.CA as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {
                            totalCA += ca.Amount;
                            <tr>
                                <td>
                                    @ca.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @ca.Remarks
                                </td>
                                <td>
                                    CA
                                </td>
                                <td>
                                    @ca.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }

                        @foreach (var contribution in ViewBag.Contributions as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {
                            totalCont += contribution.Amount;
                            <tr>
                                <td>
                                    @contribution.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @contribution.Remarks
                                </td>
                                <td>
                                    Contribution
                                </td>
                                <td>
                                   - @contribution.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }

                        @foreach (var others in ViewBag.Others as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {
                            totalCont += others.Amount;
                            <tr>
                                <td>
                                    @others.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @others.Remarks
                                </td>
                                <td>
                                    Others
                                </td>
                                <td>
                                   - @others.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }


                        @{
                            total = totalSalary + totalCA - totalPayments - totalCont;
                        }
                        <tr style="border-top:1px solid gray !important;">
                            <td> </td>
                            <td> </td>
                            <td> Net </td>
                            <td> <b>@total.ToString("#,##0.00")</b> </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="border-top:0px !important;">
                    <span> Remarks </span>
                    <p> @Model.Remarks </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-top:0px !important;">
                    <span>Released by: _________________________________</span>
                </td>
                <td colspan="2" style="border-top:0px !important;">
                    <span>Recieved by: _________________________________</span>
                </td>
            </tr>
        </table>
    </div>

    <div style="border-top:2px solid black;margin-bottom:10px;">

    </div>

    <div class="print-form-size">
        <table class="table rpt-table-bordered" style="max-width:670px;">
            <tr>
                <td>
                    <h3 class="pull-left"> Salary Release </h3>
                </td>
            </tr>
            <tr style="font-size:16px;">
                <td colspan="3">
                    <span> Driver: </span>
                    <span>@Model.crLogDriver.Name</span>
                </td>
                <td colspan="1">
                    <span class="pull-right">
                        <span> Date: </span>
                        <span>@Model.DtRelease.ToString("MMM dd yyyy")</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h4> </h4>

                    <table class="table normal-table" style="margin-bottom:0px;">
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Company / Unit
                            </th>
                            <th>

                            </th>
                            <th>
                                Rate
                            </th>
                            <th>
                                OT
                            </th>
                        </tr>

                        @foreach (var trip in ViewBag.crLogTrips as List<JobsV1.Areas.Personel.Models.crLogTrip>)
                        {

                            <tr>
                                <td>
                                    @trip.DtTrip.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @trip.crLogCompany.Name / @trip.crLogUnit.Description
                                </td>
                                <td>
                                    @trip.Remarks
                                </td>
                                <td>
                                    @trip.DriverFee.ToString("#,##0.00")
                                </td>
                                <td>
                                    @*@trip.DriverOT.ToString("#,##0.00")*@
                                </td>
                            </tr>
                        }


                        @if (subtotalSalary == 0)
                        {
                            <tr>
                                <td>
                                    @Model.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                    @Model.Remarks
                                <td>
                                    @actualAmount.ToString("#,##0.00")
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                        }

                        <tr style="border-top:1px solid gray !important;">
                            <td> @tripCount trips </td>
                            <td> </td>
                            <td> SubTotal </td>
                            <td> <b>@subtotalSalary.ToString("#,##0.00")</b> </td>
                            <td> <b>@totalOT.ToString("#,##0.00")</b> </td>
                        </tr>



                        <tr style="border-top:1px solid gray !important;">
                            <td> </td>
                            <td> </td>
                            <td>  Total </td>
                            <td> <b>@totalSalary.ToString("#,##0.00")</b> </td>
                            <td>  </td>
                        </tr>

                        @foreach (var payment in ViewBag.Payments as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {

                            <tr>
                                <td>
                                    @payment.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @payment.Remarks
                                </td>
                                <td>
                                    Deduction(Payment)
                                </td>
                                <td>
                                    <span>-</span> @payment.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }

                        @foreach (var ca in ViewBag.CA as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {

                            <tr>
                                <td>
                                    @ca.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @ca.Remarks
                                </td>
                                <td>
                                    CA
                                </td>
                                <td>
                                   - @ca.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }


                        @foreach (var contr in ViewBag.Contributions as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {

                            <tr>
                                <td>
                                    @contr.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @contr.Remarks
                                </td>
                                <td>
                                    Contributions
                                </td>
                                <td>
                                   - @contr.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }


                        @foreach (var others in ViewBag.Others as List<JobsV1.Areas.Personel.Models.crLogCashRelease>)
                        {
                            <tr>
                                <td>
                                    @others.DtRelease.ToString("MM/dd/yyyy (ddd)")
                                </td>
                                <td>
                                    @others.Remarks
                                </td>
                                <td>
                                    Others
                                </td>
                                <td>
                                   - @others.Amount.ToString("#,##0.00")
                                </td>
                            </tr>
                        }

                        <tr style="border-top:1px solid gray !important;">
                            <td> </td>
                            <td> </td>
                            <td> Net </td>
                            <td> <b>@total.ToString("#,##0.00")</b> </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="border-top:0px !important;">
                    <span> Remarks </span>
                    <p> @Model.Remarks </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-top:0px !important;">
                    <span>Released by: _________________________________</span>
                </td>
                <td colspan="2" style="border-top:0px !important;">
                    <span>Recieved by: _________________________________</span>
                </td>
            </tr>
        </table>
    </div>

</div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script>
        $(() => {
            if (parseInt('@Model.crLogCashTypeId')==2) {
                var amount = $("#office-amount").val();
                $("#office-amount").val(" - " + amount);
                $("#driver-amount").val(" - " + amount);
            } else {

            }
        });
    </script>
    