@model IEnumerable<JobsV1.Areas.Personel.Models.crLogCashRelease>

@{
    ViewBag.Title = "Salary Summary";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    var IsAdmin = (bool)ViewBag.IsAdmin;
    decimal TotalAmount = 0;

    //change breakdown
    int OneThousands = 0;
    int FiveHundreds = 0;
    int OneHundreds = 0;
    int Fifties = 0;
    int Twenties = 0;
    int Tens = 0;
    int Fives = 0;
}

<h2>Salary Summary</h2>
<p>
    @Html.ActionLink("Back to Trip Log", "Index", "CarRentalLog") |
    @Html.ActionLink("Cash Transactions ", "Index") |
    <span> Salary Summary </span> |
    @Html.ActionLink("Salary Request", "Index", "crLogCashSalaries", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Driver
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var employeeSalary = 0;
        var itemColor = "black";
        if (item.crLogCashTypeId == 3 || item.crLogCashTypeId == 4 || item.crLogCashTypeId == 5)
        {
            item.Amount = item.Amount * -1;
        }

        if (item.Remarks == "Bank Transfer")
        {
            TotalAmount += 0;
            itemColor = "gray";
        }
        else{

            TotalAmount += item.Amount;
        }
        <tr style="color:@itemColor;">
            <td>
                @item.DtRelease.ToShortDateString()
            </td>
            <td>
                @item.Amount.ToString("#,##0.00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogCashType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @if (item.crLogCashTypeId == 1)
                {
                    @Html.ActionLink("Print", "PrintSalaryForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                }
                else
                {
                    @Html.ActionLink("Print", "PrintApproveForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                }

                @Html.ActionLink("Old Form", "PrintApproveForm", new { id = item.Id }, new { @target = "_blank" })<span> |</span>
                <a class="cursor-hand" onclick="ApproveRelease(this, '@item.Id')"> Release </a> |
                @Html.ActionLink("Trip Logs", "DriverTripList", new { id = item.Id }, null)
            </td>
        </tr>
        <tr hidden>
            @{
                var tempAmount = item.Amount;

                
                if (item.Remarks == "Bank Transfer")
                {
                    tempAmount = 0;//do not include bank transfer to cash breakdown
                }

                //change breakdowns calculations
                var temp1k = 0;
                var temp500 = 0;
                var temp100 = 0;
                var temp50 = 0;
                var temp20 = 0;
                var temp10 = 0;
                var temp5 = 0;

            }

            <td>
                @{
                    temp1k += (int)(tempAmount / 1000);
                    tempAmount = tempAmount - (temp1k * 1000);

                }

                <span>@temp1k</span>
            </td>
            <td>
                @{
                    var tempr = (int)(tempAmount / 500);
                    if (((int)(tempAmount / 500)) > 0)
                    {

                        temp500 += (int)(tempAmount / 500);
                        tempAmount = tempAmount - (temp500 * 500);
                    }
                }

                <span> @temp500 </span>
            </td>
            <td>
                @{

                    if ((int)(tempAmount / 100) > 0)
                    {
                        temp100 += (int)(tempAmount / 100);
                        tempAmount = tempAmount - (temp100 * 100);
                    }

                }
                <span> @temp100</span>
            </td>
            <td>
                @{

                    if ((int)(tempAmount / 50) > 0)
                    {
                        temp50 += (int)(tempAmount / 50);
                        tempAmount = tempAmount - (temp50 * 50);
                    }

                }
                <span> @temp50</span>
            </td>
            <td>
                @{

                    if ((int)(tempAmount / 20) > 0)
                    {
                        temp20 += (int)(tempAmount / 20);
                        tempAmount = tempAmount - (temp20 * 20);
                    }

                }
                <span> @temp20</span>
            </td>
            <td>
                @{

                    if ((int)(tempAmount / 10) > 0)
                    {
                        temp10 += (int)(tempAmount / 10);
                        tempAmount = tempAmount - (temp10 * 10);
                    }

                }
                <span> @temp10</span>
            </td>
            <td>

                @{

                    if ((int)(tempAmount / 5) > 0)
                    {
                        temp5 += (int)(tempAmount / 5);
                        tempAmount = tempAmount - (temp5 * 5);
                    }

                }
                <span> @temp5</span>
            </td>
        </tr>
        
        OneThousands += temp1k;
        FiveHundreds += temp500;
        OneHundreds += temp100;
        Fifties += temp50;
        Twenties += temp20;
        Tens += temp10;
        Fives += temp5;


        }


    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                <p class="text-center"> No Records Found </p>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <span class="pull-right">Total:</span>
            </td>
            <td>
                @TotalAmount.ToString("#,##0.00")
            </td>
            <td colspan="4">
            </td>
        </tr>
    }
</table>


<br />
<br />
<hr />
<h4> Cash Breakdown </h4>
<table class="table">
    <tr>
        <th> 1k </th>
        <th> 500 </th>
        <th> 100 </th>
        <th> 50 </th>
        <th> 20 </th>
        <th> 10 </th>
        <th> 5 </th>
    </tr>
    <tr>
        <td>
            @OneThousands
        </td>
        <td>
            @FiveHundreds
        </td>
        <td>
            @OneHundreds
        </td>
        <td>
            @Fifties
        </td>
        <td>
            @Twenties
        </td>
        <td>
            @Tens
        </td>
        <td>
            @Fives
        </td>
    </tr>
</table>


@section Scripts{
    <script src="~/Areas/Personel/Script/CarRentalLogReturn.js"></script>
    <script>
        $(() => {
            //FilterStatus('');
        });


        function ApproveRequest(e, id) {
            $.post("/Personel/CarRentalCashRelease/ApproveRequest", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    //window.location.reload();
                    $(e).parent().parent().parent().remove();
                } else {
                    alert("An Error occured while process your request");
                }
            });
        }

        function ApproveRelease(e,id) {
            $.post("/Personel/CarRentalCashRelease/ApproveRelease", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    //window.location.reload();
                    $(e).parent().parent().parent().remove();
                } else {
                    alert("An Error occured while process your request");
                }
            });
        }
    </script>
}