@model IEnumerable<JobsV1.Areas.Personel.Models.crLogDriverPayment>

@{
    ViewBag.Title = "Driver Payments";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    int driverId = ViewBag.DriverId;
}

<h2>Driver Payments : @ViewBag.Driver </h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.DriverId }) |
    @Html.ActionLink("Back to Driver Summary", "DriverSummary", "crLogDrivers", new { id = driverId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crLogDriver.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crLogDriver.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
