@model JobsV1.Areas.AutoCare.Data.Appointment

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    var logoSrc = (String)ViewBag.CompanyLogo;

    var slotDesc = (String)ViewBag.Slot;
    var slotId = ViewBag.SlotId;
    var dateString = (String)ViewBag.DateString;

}
<style>
    body {
        background-image: url('/Images/AutoCare/Appointment-bg-2.jpg');
        background-repeat: no-repeat, repeat;
        background-size: cover;
    }

    h1, h2 {
        text-shadow: 1px 1px 3px white;
    }

    .text-shadow {
        text-shadow: 1px 1px 3px white;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0px;
    }


    .company-details {
        margin-top: -25px;
        margin-bottom:10px;
    }


    .company-logo {
        margin-bottom: 25px;
    }

    .control-lable {
        text-align: left;
    }

    .appointment-occupied {
        cursor: not-allowed;
    }

</style>

<div class="row">
    <div class="col-lg-12">
        <img src="@logoSrc" width="270" height="105" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 company-logo" style="max-width:400px;" />
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 company-details">
            <h1> GMS Autocare Center </h1>
            <p class="text-shadow"> Address : Purok 26-A Caimito Bypass Rd., Riverside Maa Davao City </p>
            <p class="text-shadow"> Tel : 082-228-5825 Smart: 0908-771-9928 Globe: 0956-900-6125   </p>
            <p class="text-shadow"> Email: info@gmsautocare.com , GMSautocaredavao@gmail.com </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="padding-left:10px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15837.291218371025!2d125.5917241!3d7.0885282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x619dad0338585e66!2sGMS%20Autocare%20Center!5e0!3m2!1sen!2sph!4v1596280587036!5m2!1sen!2sph" width="250" height="120" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>

<div>
    <h2 class="text-center">  Online Appointment </h2>
</div>
<br />
<div class="panel" style="min-width:380px;max-width:550px;display:flex;margin:auto;display:none;" id="ApmntFormDetails">
    <div class="panel-body" style="max-width:550px;padding-left:50px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 style="text-align: center;"> Appointment Details</h2>
                <hr />
            </div>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" hidden>
                    @Html.LabelFor(model => model.DtEntered, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.DtEntered, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DtEntered, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DtEntered, "Date", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <h4 id="date-display">  </h4>
                        @Html.ValidationMessageFor(model => model.DtEntered, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.DtEntered, "Slot", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <h4 id="slot-display"> </h4>
                        @Html.ValidationMessageFor(model => model.DtEntered, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group" hidden>
                    @Html.LabelFor(model => model.AppointmentDate, "Date", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AppointmentDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AppointmentDate, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group" hidden>
                    @Html.LabelFor(model => model.AppointmentSlotId, "Slot", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("AppointmentSlotId", null, htmlAttributes: new { @class = "form-control", @id = "AppointmentSlotId" })
                        @Html.ValidationMessageFor(model => model.AppointmentSlotId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustCode, "Customer Code", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CustCode, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                        <p style="padding:0px;margin:0px;font-size:9px;" class="text-muted"> ( Optional ) </p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contact, "Mobile", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Plate, "Vehicle Plate", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Plate, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                        @Html.ValidationMessageFor(model => model.Plate, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Conduction, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Conduction, new { htmlAttributes = new { @class = "form-control", @maxlength = "40" } })
                        <p style="padding:0px;margin:0px;font-size:9px;" class="text-muted"> ( Optional ) </p>
                    </div>
                </div>

                <div class="form-group" hidden>
                    @Html.LabelFor(model => model.Request, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Request, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.Request, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AppointmentRequestId, "Request", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("AppointmentRequestId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AppointmentRequestId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        <p style="padding:0px;margin:0px;font-size:9px;" class="text-muted"> ( Optional ) </p>
                    </div>
                </div>

                <div class="form-group" hidden>
                    @Html.LabelFor(model => model.AppointmentStatusId, "AppointmentStatusId", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("AppointmentStatusId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AppointmentStatusId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-5 col-lg-5 col-md-5 col-sm-7 col-xs-10" style="padding-left:15px;">
                        <a href="/Appointment" class="btn btn-default"> Go Back </a>
                        <input type="submit" value="Submit" class="btn btn-primary" style="background-color:dodgerblue;" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@Html.Partial("AppSchedules", null, new ViewDataDictionary { { "Schedules", ViewBag.Schedules } })


@section Scripts{
    <script src="~/Areas/AutoCare/Scipts/Appointments/AppointmentDate.js"></script>

    <script>
        $(document).ready(function () {
            if ('@ViewBag.IsNotValid' == 'True') {
                $("#ApmntFormDate").hide();
                $("#ApmntFormDetails").show();

                $('#date-display').text('@dateString');
                $('#slot-display').text('@slotDesc');
            } else {
                $("#ApmntFormDate").show();
                $("#ApmntFormDetails").hide();
            }
            $('td:nth-child(2),th:nth-child(2)').hide();
        });


        function SelectSchedule(slotId, slot, date) {
            //console.log("slotId : " + slotId);
            //console.log("date : " + date);

            $("#AppointmentSlotId").val(slotId)
            $('input[name="AppointmentDate"').val(moment(date).format("MM/DD/YYYY"))
            $('#date-display').text(moment(date).format("MMM DD YYYY"))
            $('#slot-display').text(slot)

            $("#ApmntFormDate").hide();
            $("#ApmntFormDetails").show();
        }


    </script>
}