
@{
    ViewBag.Title = "Appointments";
    var Schedule = ViewBag.Schedules as JobsV1.Models.Class.ApmntSchedule;
}

<div id="ApmntFormDate" >
    <h2>Select Appointment Date</h2>
    <div class="panel appointment-panel" style="min-width:920px;" >
        <div class="panel-body">

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th  style="min-width:120px;">
                           Appointment Slot
                        </th>
                        @foreach (var apHeader in Schedule.dateLabels)
                        {
                            <th  style="min-width:80px;">
                                @apHeader.DateMonth  @apHeader.Day<br />
                                @apHeader.DateDay

                            </th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Schedule.appointments)
                    {
                        <tr>
                            <td class="appointment-slot">
                                @item.slot.Description
                            </td>

                            @foreach (var schedule in item.apDaysStatuses)
                            {
                                if (schedule.status)
                                {
                                    <td class="appointment-occupied">
                                        @schedule.date.ToString("dd")
                                    </td>
                                }
                                else
                                {
                                    <td class="appointment-cell" onclick="SelectSchedule(@item.slot.Id, '@schedule.date' )">
                                        @schedule.date.ToString("dd")
                                    </td>
                                }
                            }

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
