@using JobsV1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Authentication";
    ViewBag.NoIndex = "noindex";
}
<style>
    body {
        background-image: url("../../Images/AutoCare/background-login.png");
        background-repeat: no-repeat;
        background-size: cover; /* Resize the background image to cover the entire container */
    }

</style>

    <div class="login-panel">
        <section id="loginForm" class="login-body">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="row">
                @Html.AntiForgeryToken()

                <div class="col-lg-12 login-header">
                    <h3 class="col-md-4 col-sm-4 col-xs-12">Login</h3>
                    <div class="col-md-8 col-sm-8  col-xs-12">
                        <div class="top-icons-holder">
                            <span class="top-icons">
                                <img src="~/Images/AutoCare/icons-gear.png" width="40" height="40" />
                            </span>
                            <span class="top-icons">
                                <img src="~/Images/AutoCare/icons-wrench.png" width="40" height="40" />
                            </span>
                            <span class="top-icons">
                                <img src="~/Images/AutoCare/icons-paint-sprayer.png" width="40" height="40" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 login-body-content">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="input-group login-form">
                            <span class="input-group-addon form-icon"> <img src="~/Images/AutoCare/icons-user.png" />  </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-form-input", @placeholder = "Email" })

                        </div>
                        <p>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="input-group login-form">
                            <span class="input-group-addon form-icon"> <img src="~/Images/AutoCare/icons-key.png" height="24" />  </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control login-form-input", @placeholder = "Password" })

                        </div>
                        <p>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12"  style="margin-left:20px;">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new {  @class="login-remember-text" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-2">
                            <input type="submit" value="Log in" class="btn btn-primary" style="background-color:dodgerblue;" />
                        </div>
                    </div>
                </div>
                <p>
                    @*
                    @Html.ActionLink("Register as a new user", "Register")
                    *@
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                  </p>*@
            </div>
            }
        </section>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
