@model JobsV1.Models.CashExpense

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashExpense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecievedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecievedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobMain.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobMain.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
