@model IEnumerable<JobsV1.Models.JobExpenses >

@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h3>@ViewBag.JobOrderName </h3>

<p>
    Date: @ViewBag.jobDate.ToString("dd/MMM/yyyy")
    <br />Description: @ViewBag.jobDesc
    <br />@Html.ActionLink("Edit", "Edit", "JobMains", new { id = ViewBag.JobMainId }, null)
    | @Html.ActionLink("Details", "Details", "JobMains", new { id = ViewBag.JobMainId }, null)

</p>
         
<p>
    @Html.ActionLink("Services", "JobServices", "JobOrder", new { JobMainId = ViewBag.JobMainId }, null) |
    @Html.ActionLink("Itinerary", "JobItinerary", "JobItineraries", new { id = ViewBag.JobMainId }, null) |
    @Html.ActionLink("Notes", "JobNotes", "JobMains", new { id = ViewBag.JobMainId }, null) |
    @Html.ActionLink("Payments", "Payments", "JobPayments", new { id = ViewBag.JobMainId }, null) |
    Expenses
</p>



<h3> Agreed Amount : Php @ViewBag.jobAmount.ToString("#,###.00")  </h3>
<table class="table" id="jobExpenseTbl">
    <tr>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th></th>
        <th>
            Remarks
        </th>
    </tr>


    <tr>
        <td>
            <b> Payment </b>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach(var payments in ViewBag.PaymentRecord as IEnumerable<JobsV1.Models.JobPayment>)
    {

            <tr>
                <td>
                    &nbsp; &nbsp;
                    @payments.Bank.BankName
                </td>
                <td>
                    @payments.PaymentAmt.ToString("#,###.00")
                </td>
                <td></td>
                <td>
                    @payments.Remarks
                </td>
            </tr>
        
    }
     <tr>
         <td><b>
                Expenses
            </b>
         </td>
         <td colspan="3">

         </td>
     </tr>
        @foreach (var services in ViewBag.jobservices as IEnumerable<JobsV1.Models.JobServices>)
        {
            <tr>
                <td colspan="4"> &nbsp; &nbsp;
                   @services.Particulars ( @services.ActualAmt )
                   | @Html.ActionLink("Add Expense", "JobExpenses", "JobExpenses", new { id = services.Id }, null)
                </td>
            </tr>
            foreach (var item in Model)
            {
                if (item.JobServicesId == services.Id)
                {

                <tr>
                    <td>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                        @item.Expens.Name
                    </td>
                    <td></td>
                    <td>
                        @item.Amount.ToString("#,###.00")
                    </td>
                    <td>
                        @item.Remarks
                    </td>
                </tr>

                }
            }
        }
    <tr>
        <td><b>Balance</b></td>
        <td>@ViewBag.totalBalance.ToString("#,###.00")</td>
        <td></td>
        <td></td>
    </tr>
</table>


