@model JobsV1.Areas.Personel.Models.crLogUnit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <h4>crLogUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>


<h4> Expenses / Maintenance Records </h4>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Driver
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var record in Model.crLogFuels)
    {
        <tr>
            <td>
                @record.dtFillup.ToString("MMM dd yyyy")
            </td>
            <td>
                @record.crLogDriver.Name
            </td>
            <td>
                @record.crLogType.Type <br />
                @record.Remarks
            </td>
            <td>
                @record.orAmount
            </td>
        </tr>
    }


</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>