
<!-- Search Customer Modal w/ search field and filter on type-->
<div class="modal fade" id="SearchVehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Vehicle List</h4>
            </div>

            <div class="modal-body" id="modal2-content">

                <input type="text" id="SearchBarCustomer" onkeyup="searchVehicle()" placeholder="Search for names.." title="Type in a name">

                <ul id="SearchListCustomer">
                    @if (ViewBag.VehicleList != null)
                    {
                        foreach (var vehicle in ViewBag.VehicleList as IEnumerable<JobsV1.Models.Vehicle>)
                        {
                            <li style="cursor:pointer;list-style:none;" value="@vehicle.Id">
                                <a onclick="SetVehicle(@vehicle.Id)">
                                    @vehicle.VehicleModel.VehicleBrand.Brand @vehicle.VehicleModel.Make @vehicle.YearModel (@vehicle.PlateNo)
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li style="cursor:pointer;list-style:none;">
                           No Vehicle Found
                        </li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
