@model JobsV1.Models.JobMain

@{
    ViewBag.Title = "jobCreate";
}

<h2>jobCreate</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JobMain</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.JobDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" >
            <b class="control-label col-md-2"> Company </b>
            <div class="col-md-10">
                @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control", @id = "companyId2" })
                @Html.ValidationMessageFor(model => model.JobThruId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> Contact </b>
            <div class="col-md-4"  style="width:320px">
                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" , @id = "customerList"})
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
            <span style="float:left">
                <button class="btn btn-default" href="#" id="catbtn" data-toggle="modal" data-target="#CustomersModal" style="margin-top:0px;float:left;">Search Customer</button>
            </span>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Email</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustContactEmail, new { htmlAttributes = new { @class = "form-control" , @id = "CustContactEmail" } })
                @Html.ValidationMessageFor(model => model.CustContactEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Number</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustContactNumber, new { htmlAttributes = new { @class = "form-control", @id = "CustContactNumber" } })
                @Html.ValidationMessageFor(model => model.CustContactNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2" >Job Name</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = "80", @id = "jobdesc" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> No of Pax </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfPax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOfPax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> No of Days </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOfDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <b class="control-label col-md-2"> Job Remarks </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobRemarks, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                @Html.ValidationMessageFor(model => model.JobRemarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> Job Status </b>
            <div class="col-md-10">
                @Html.DropDownList("JobStatusId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobStatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> Status Remarks </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatusRemarks, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                @Html.ValidationMessageFor(model => model.StatusRemarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> Branch </b>
            <div class="col-md-10">
                @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2"> Job Thru  </b>
            <div class="col-md-10">
                @Html.DropDownList("JobThruId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobThruId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Amount</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgreedAmt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgreedAmt, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new {   })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/DateRangePicker/moment.min.js"></script>

    <script type="text/javascript" src="~/Scripts/Job/Main.js"></script>
}

<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    /* Input validation */

    $(document).ready(function () {
        $("#CompanyId2").val(2);
    });

    //Change job desription bsed on the cutomer name
    $("#customerList").change(function () {
        var customer = $("#customerList option:selected").text();
        //console.log("customer : " + customer);
        $("#jobdesc").val(customer);
        getEmail();
        getNumber();
        getCompany();
    });

    //get email using ajax post
    function getEmail() {
        $.post("/JobOrder/getCustomerEmail",
        {
            id: $("#customerList option:selected").val()
        },
        function (data, status) {
            $("#CustContactEmail").val(data);
            //  alert("Data: " + data + "\nStatus: " + status);
        });
    }

    //get number using ajax post
    function getNumber() {
        $.post("/JobOrder/getCustomerNumber",
        {
            id: $("#customerList option:selected").val()
        },
        function (data, status) {
            $("#CustContactNumber").val(data);
        });
    }

    //get number using ajax post
    function getCompany() {
        //alert($("#customerList option:selected").val());
        $.post("/JobOrder/getCustomerCompany",
        {
            id: $("#customerList option:selected").val()
        },
        function (data, status) {
            $('[name=CompanyId]').val(data);//To select Blue
            //alert("\nData: " + data + "\nStatus: " + status);
        });
    }


    function searchCustomer() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("SearchBarCustomer");
        filter = input.value.toUpperCase();
        ul = document.getElementById("SearchListCustomer");
        li = ul.getElementsByTagName("li");

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }


    function setValue(value) {
        var customer = $("#customerList option:selected").text();
        $('#customerList').val(value);
        $('#CustomersModal').modal('toggle');
        $("#jobdesc").val(customer);
        getEmail();
        getNumber();
        getCompany();

    }
</script>


<!-- Modal -->
<div class="modal fade" id="CustomersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Customer List</h4>
            </div>

            <div class="modal-body" id="modal2-content">

                <input type="text" id="SearchBarCustomer" onkeyup="searchCustomer()" placeholder="Search for names.." title="Type in a name">

                <ul   id="SearchListCustomer">
                    @foreach (var cust in ViewBag.CustomerList as IEnumerable<JobsV1.Models.Customer>)
                    {
                        <li style="cursor:pointer;list-style:none;" value="@cust.Name">
                            <a onclick="setValue(@cust.Id)"  >
                                @cust.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
