@model IEnumerable<JobsV1.Controllers.cJobOrder>

@{
    ViewBag.Title = "Work in Progress";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Status</h2>


<p>
    Filters:
    @Html.ActionLink("OnGoing" , "jobStatus", new { sortid = 1 }, new { @id = "ongoing" }) |
    @Html.ActionLink("Previous", "jobStatus", new { sortid = 2 }, new { @id = "previous"}) |
    @Html.ActionLink("Closed"  , "jobStatus", new { sortid = 3 }, new { @id = "closed" }) 
</p>

<p>
    @ViewBag.today
</p>

<table class="table ">

@foreach (var item in Model) {
    <tr >
        <td id="main@(item.Main.Id)" style="width:10%">
            <div style="background-color:lightgray;text-align:center;">
                <span style="color:darkblue; font: bold 12px arial, verdana;">@item.Main.JobDate.ToString("MMM-yyyy")</span>
                <br /><span style="color:blue; font: bold 24px arial, verdana;">@item.Main.JobDate.ToString("dd")</span>
                <span style="color:blue; font: bold 12px arial, verdana;">(@item.Main.JobDate.ToString("ddd"))</span>

            </div>
        </td>

        <td >
            <div style="min-width:500px;"> 
                <span style="color:darkgreen;font:bold 16px arial, verdana;" >
                    @item.Main.Customer.Name 
                </span>
                |
                @if (@item.Main.AgreedAmt != 0)
                {
                    <span style="color:blue; font: bold 15px arial, verdana;">
                        @string.Format("{0:N}", @item.Main.AgreedAmt)
                    </span>

                }

                @if (@item.Payment != 0)
                {
                    <span style="color:green; font: bold 15px arial, verdana;">
                       / @string.Format("{0:N}", @item.Payment)
                    </span>
                    if (item.Main.JobPayments.Where(s => s.JobMainId == item.Main.Id).FirstOrDefault().BankId == 5)
                    {
                        <span>
                            Paid in
                            <img src="~/Images/paypal.png" width="20" height="20" alt="Paid through paypal" />
                        </span>
                    }
                }
                <br />

                <span style="font:500 10px;color:darkblue;">
                    @item.Main.Description 
                </span>
                <span>
                   [ @item.Main.JobStatus.Status ]
                </span>

                <div class="pull-right" style="margin-top:-25px;">
                    @Html.ActionLink("[ EDIT ]", "JobServices", new { JobMainId = item.Main.Id }, null)
                </div>
            </div>
         </td>
    </tr>
    <tr>
        <td colspan="2" style="width:100%;padding:0px;margin:0px;">

                @Html.Partial("PartialViewServiceList_Status", item.Services, new ViewDataDictionary { { "SvcActionsDone", ViewBag.SvcActionsDone } })
           
        </td>
    </tr>   
    
    
}
</table>

@Html.Partial("PartialViewJS")


<p>
    @Html.ActionLink("Create New", "jobCreate", null, null)
    | Work In Progress
    | @Html.ActionLink("Listing", "JobListing", "JobOrder", new { span = 30 }, null)
    | @Html.ActionLink("Job Table", "JobTable", "JobMains", new { span = 30 }, null)
    | @Html.ActionLink("Availability", "Availability", "InvItems")
</p>

<p>
    Filters:
    @Html.ActionLink("OnGoing" , "Index", new { sortid = 1 }, new { @id = "ongoing-bot" }) |
    @Html.ActionLink("Previous", "Index", new { sortid = 2 }, new { @id = "previous-bot" }) |
    @Html.ActionLink("Closed"  , "Index", new { sortid = 3 }, new { @id = "closed-bot" })
</p>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initialize();

            var mainId = @(ViewBag.mainId);
            if(mainId != ''){

                $('html, body').animate({
                    scrollTop: $("#main@(ViewBag.mainId)").offset().top - 50
                }, 500);
            }
        });

        
        function LoadOverlay(){
            $("#overlay2").css("display","flex");
        }

        
        function disableLoadOverlay(){
            $("#overlay2").css("display","none");
        }

        switch(@(Session["FilterID"] != null? (int)Session["FilterID"]: 1 )){
            case 1:
                $("#ongoing").css("color","black")
                $("#ongoing-bot").css("color","black")
                break;
            case 2:
                $("#previous").css("color","black")
                $("#previous-bot").css("color","black")
                break;
            case 3:
                $("#closed").css("color","black")
                $("#closed-bot").css("color","black")
                break;
            default:

                break;
        }

        function updateval(){
            var iDiv = document.getElementbyId('categorylist');

            // Now create and append to iDiv
            var innerDiv = document.createElement('p');
            innerDiv.className = 'list-group-item';

            // The variable iDiv is still good... Just append to it.
            iDiv.appendChild(innerDiv);
        }


    </script>

}
