@model IEnumerable<JobsV1.Models.Class.AutoCareMonitorJobs>
@{
    ViewBag.Title = "Jobs Monitor";
    Layout = "~/Views/Shared/_MonitorLayout.cshtml";
}
<style>
    body {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
    }

    h1, h2, h3 {
        font-family: 'Archivo Black', sans-serif;
    }

    .container{
        width:100%;
        padding:0px 20px;
    }

    .monitor-job {
        background-color: dodgerblue;
        padding: 0px;
        box-shadow: 1px 1px 5px 1px lightgray;
        margin: 5px 0px;
        border-radius:10px;
    }

    .monitor-job-item {
        color:white;
        height:100%;
    }

    .monitor-job-desc {
        background-color: white;
        color: black;
        border-radius:10px;
    }

    .text-header {
        color:dodgerblue;
    }

</style>
<div class="row">
    <div class="col-lg-12" style="margin-top:-45px;">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img src="~/Images/AutoCare/GMS_AutoCare_logo.jpg" width="240" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
            <h1>GMS AutoCare Center & Auto Supply Davao </h1>
            <p>  </p>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <hr />
        <h1 class="col-lg-9 "> JOBS FOR TODAY </h1>
        <h2 class="col-lg-3 text-header pull-right" id="date-time"> Date Time </h2>
    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div>
            @foreach (var item in Model)
            {
                var svc_durationRem = item.ExpectedTimeDone.Duration();
                var dur_days = Int32.Parse(svc_durationRem.ToString("dd"));
                var dur_hour = Int32.Parse(svc_durationRem.ToString("hh"));
                var dur_min = Int32.Parse(svc_durationRem.ToString("mm"));


                <div class="monitor-job col-lg-12">
                    <div class="monitor-job-item col-lg-3">
                        <h3>@item.AssignedBay</h3>
                        @*<h4>  @item.StartDate.ToString("(ddd) MMM dd yyyy") - @item.EndDate.ToString("(ddd) MMM dd yyyy") </h4>*@
                        <h4>
                            @if (dur_days != 0)
                            {
                                <span> @dur_days </span>
                                if (dur_days == 1)
                                {
                                    <span> Day </span>
                                }
                                else
                                {
                                    <span> Days </span>
                                }
                            }

                            @if (dur_hour != 0)
                            {
                                <span> @dur_hour </span>
                                if (dur_hour == 1)
                                {
                                    <span> Hour </span>
                                }
                                else
                                {
                                    <span> Hours </span>
                                }
                            }

                            @if (dur_min != 0)
                            {
                                <span> @dur_min </span>
                                if (dur_min == 1)
                                {
                                    <span> Minute </span>
                                }
                                else
                                {
                                    <span> Minutes </span>
                                }
                            }
                            @if (svc_durationRem.Ticks > 0)
                            {
                                <span> &nbsp; Remaining </span>

                            }

                        </h4>
                    </div>
                    <div class="col-lg-9 monitor-job-desc">
                        <div class="col-lg-12">
                            <h3> <span class="text-success">@item.Customer / @item.Company</span> - @item.Vehicle</h3>
                        </div>
                        <div class="col-lg-12">
                            <h4 style="color:white;font-weight:bold;">
                                @foreach (var svc in item.Services)
                                {
                                    <b class="btn btn-primary btn-arrow-right">
                                        @svc.ToString()
                                    </b> <span>&#187;</span>
                                }
                            </h4>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="col-lg-12">
            @if (Model.Count() == 0)
            {
                <h1 class="text-center"> No Jobs Found </h1>
                <p class="text-center"> @Html.ActionLink("Go back to Job Orders", "Index", "JobOrder", null, null) </p>
            }
        </div>
        <hr class="col-lg-12" />
    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <p>
            @Html.ActionLink("Go to JobOrder", "Index", "JobOrder", null, null) |  Press F11 to FullScreen
        </p>
    </div>
</div>
@section Scripts{
    <script>
        $(() => {
            $("#date-time").text(moment().format("MMM DD YYYY hh:mm A"));   
            //initialize time
            setInterval(function () {   
                console.log('time updating');        
                window.location.reload();
                $("#date-time").text(moment().format("MMM DD YYYY hh:mm A"));   
            }, 60000)
        });

    </script>
 }