@model IEnumerable<JobsV1.Controllers.cJobService>

<div style="padding-left:0.5em;">

@foreach (var item in Model) {
    DateTime dtstart = (DateTime) item.Service.DtStart;
    DateTime dtend = (DateTime)item.Service.DtEnd;

    <div class="row" >
        <div class="row" style="padding:0.5em;cursor:pointer;margin-left:16px;padding-bottom:0px;margin:0px;background-color:lightgray;" 

             >

            <table class="table" style="background:inherit;border-bottom:0px;padding:0px;margin:0px;">
                <tr>
                    <td style="font-size:12px;margin:0px;margin-right:20px;width:5%;">
                        @dtstart.ToString("MMM-dd")<br />
                        @dtend.ToString("MMM-dd")
                    </td>
                    <td style="font-size:12px;margin:0px;margin-left:10px;width:15%;">
                        &nbsp;<span style="font-weight:600;color:darkblue;padding:0px;margin:0px;">@item.Service.Particulars</span><br />
                        &nbsp;<span style="font:bold 11px;color:darkblue;padding:0px;margin:0px;">&nbsp;[item: @item.Service.SupplierItem.Description]</span>
                    </td>

                    <td style="width:80%;">
                        <!-- Display status list and  add red line below -->
                        @foreach (var done in item.SvcActionsDone)
                        {
                            <span>&#187;</span>
                            if (done.Desc == "On Progress" || done.Desc == "On progress" )
                            {
                                <span class="btn btn-success btn-arrow-right on-progress">
                                    <span style="color:white;font-size:9px;"> @done.Desc </span>
                                </span>
                            }
                            else
                            {
                                <span class="btn btn-success btn-arrow-right">
                                    <span style="color:white;font-size:9px;"> @done.Desc </span>
                                </span>
                            }
                        }

                        @Html.Partial("PartialViewSrvActionItems_Status", item.SvcActions, new ViewDataDictionary(this.ViewData) { { "svcId1", item.Service.Id }, { "SvcActionsDones", ViewBag.SvcActionsDone } })
                    </td>
                </tr>
            </table>
        </div>

    </div>
        
}
</div>
