@model IEnumerable<JobsV1.Models.SrvActionItem>
@{ int SvcId = Convert.ToInt32(ViewData["svcId1"]);  }

    @foreach (var item in Model)
    {

        <span>&#187;</span>
                <a id="@item.Id" data_svcid="@SvcId" name="@item.Desc" href="?serviceId=@(SvcId)&sortid=@((int)Session["FilterID"])" class="clickitem">
                    @{
                        if (item.Desc == "On Progress" || item.Desc == "On progress")
                        {
                            <span class="btn btn-primary btn-arrow-right on-progress">
                                <span style="color:white;font-size:9px;"> @item.Desc </span>
                            </span>
                        }
                        else
                        {
                            <span class="btn btn-primary btn-arrow-right">
                                <span style="color:white;font-size:9px;"> @item.Desc </span>
                            </span>
                        }

                    }
                </a>
    }

@Html.Partial("PartialViewJS", null, null)
