@model IEnumerable<JobsV1.Models.SupplierItem>

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            Supplier
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            InTerval(Days)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interval)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>