@model IEnumerable<ApModels.Models.ApTransaction>

@{
    ViewBag.Title = "Expenses Transactions";
    Layout = "~/Views/Shared/_ModuleLayout_Full.cshtml";

    int status = ViewBag.Status;
    string sortBy = ViewBag.Sort;
    string orderBy = ViewBag.OrderBy;
    DateTime today = ViewBag.Today;
    List<ApModels.Models.ApTransaction> apTransToday = ViewBag.ApTansToday as List<ApModels.Models.ApTransaction>;

    decimal totalAmount = 0;
    decimal totalPayment = 0;
    decimal totalBalance = 0;
    decimal totalBudget = 0;
    decimal totalRelease = 0;
    decimal GrandTotal = 0;

    decimal totalAmount_today = 0;

    bool isAdmin = ViewBag.IsAdmin;

    int TYPE_CASH = 1;
    int TYPE_BANK = 3;
    int TYPE_PO = 2;

    int STATUS_ACTIVE = 0;
    int STATUS_REQUEST = 1;
    int STATUS_APPROVED = 2;
    int STATUS_RELEASED = 3;
    int STATUS_CLOSED = 4;
    int STATUS_RETURNED = 5;
    int STATUS_NEW = 7;
    int STATUS_CANCELLED = 6;
}

<style>
    .header {
        position: sticky;
        top: 0;
    }
</style>

<h2>Expenses Transactions </h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = " btn btn-primary" })
    <a href="/Payables/ApTransactions/"> <button class="btn btn-default" disabled> Expenses </button></a>
    <a href="/Payables/ApTransactions/ReleasedDaily"> <button class="btn btn-default"> Daily Expenses </button></a>
    <a href="/Payables/ApTransactions/ReleasedWeekly"> <button class="btn btn-default"> Monthly Expenses </button></a>
    <a href="/Payables/ApTransactions/PrintRequestList"> <button class="btn btn-default"> Print Requests </button></a>
    <a href="/Payables/ApCashFlows/" class="btn btn-default"> Cash Flow </a>
</p>

<div class="btn-group" style="margin-bottom:5px;margin-right:10px;">
    <button class="btn btn-default" disabled> Status </button>
    <button class="btn btn-default active" id="status-0" onclick="UpdateFilter(@STATUS_ACTIVE, '@sortBy')"> Active </button>
    <button class="btn btn-default active" id="status-0" onclick="UpdateFilter(@STATUS_NEW, '@sortBy')"> New     </button>
    <button class="btn btn-default" id="status-1" onclick="UpdateFilter( @STATUS_REQUEST, '@sortBy')"> Request   </button>
    <button class="btn btn-default" id="status-2" onclick="UpdateFilter( @STATUS_APPROVED, '@sortBy')"> Approved </button>
    <button class="btn btn-default" id="status-3" onclick="UpdateFilter( @STATUS_RELEASED, '@sortBy')"> Released </button>
    <button class="btn btn-default" id="status-5" onclick="UpdateFilter( @STATUS_RETURNED, '@sortBy')"> Returned </button>
    <button class="btn btn-default" id="status-4" onclick="UpdateFilter( @STATUS_CLOSED, '@sortBy')"> Closed     </button>
</div>

<div class="btn-group" style="margin-bottom:5px;">
    <button class="btn btn-default" disabled> Sort by </button>
    <button class="btn btn-default active" id="sort-DueDate" onclick="UpdateFilter( @status, 'DueDate')"> Due Date </button>
    <button class="btn btn-default" id="sort-InvoiceDate" onclick="UpdateFilter( @status, 'InvoiceDate')"> Invoice Date</button>
    <button class="btn btn-default" id="sort-Name" onclick="UpdateFilter( @status, 'Name')"> Name </button>
    <button class="btn btn-default" id="sort-Amount" onclick="UpdateFilter( @status, 'Amount')"> Amount </button>
</div>

<div class="btn-group" style="margin-bottom:5px;">
    @if (status == 2)
    {
        <button class="btn btn-default" onclick="CheckSelected_Print()"> <i class="glyphicon glyphicon-print"></i> Print </button>
        <button class="btn btn-default" onclick="CheckSelected_PrintPO()"> <i class="glyphicon glyphicon-print"></i> Print PO </button>
    }
</div>

@if (status == 0)
{
    @Html.Partial("IndexTodayTrans")
}

<table class="table" id="payables-table">
    <tr>
        <th class="header" scope="col">
            @if (status == 2)
            {
                <a href="#" type="checkbox" id="payables-table-checkAll" onclick="CheckAllPayableItems()">All </a>
            }

        </th>
        <th class="header" scope="col">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th class="header" scope="col">
            JobRef
        </th>
        <th class="header" scope="col">
            Encoded
        </th>
        <th class="header" scope="col">
            Invoice
        </th>
        <th class="header" scope="col">
            @Html.DisplayNameFor(model => model.ApAccount.Name)
        </th>
        <th style="min-width:160px;" class="header" scope="col">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="header" scope="col">
            Due&nbsp;Date
        </th>
        <th style="min-width:100px;" class="header" scope="col">
            Category
        </th>
        <th class="header" scope="col">
            @Html.DisplayNameFor(model => model.ApTransStatu.Status)
        </th>
        <th class="header" scope="col">
            Budget
        </th>
        <th class="header" scope="col">
            Released
        </th>
        <th class="header" scope="col">
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th class="header" scope="col">
            Payment
        </th>
        <th class="header" scope="col">
            Change
        </th>
        <th class="header" scope="col">
        </th>
    </tr>

    @foreach (var payablesGroup in Model.GroupBy(p => p.DtDue.ToString("MMMM yyyy", null)))
    {

        totalAmount = 0;
        totalPayment = 0;
        totalBalance = 0;
        totalRelease = 0;
        totalBudget = 0;

        <tr>
            <td colspan="16">
                <span style="font-weight:bold;">@payablesGroup.Key</span>
            </td>
        </tr>

        foreach (var item in payablesGroup)
        {
            decimal totalTransPayment = 0;
            decimal transChange = 0;
            string paymentDate = "";

            decimal budgetAmount = item.BudgetAmt ?? 0;
            decimal amountVariance = budgetAmount * (decimal)0.3;

            //get total transaction payment
            foreach (var transpayment in item.ApTransPayments)
            {
                if (transpayment.ApPayment.ApPaymentStatusId == STATUS_APPROVED)
                {
                    totalTransPayment += transpayment.ApPayment.Amount;
                    paymentDate = transpayment.ApPayment.DtPayment.ToString("MMM dd yyyy");
                }
            }

            //calculate change from budget and Payment amounts
            if (item.ReleaseAmt != null && !(totalTransPayment == 0))
            {
                transChange = (decimal)item.ReleaseAmt - totalTransPayment;
            }

            //handle text color based on due date
            string textcolor = "black";
            string bgcolor = "none";

            if (item.ApTransStatusId < STATUS_CLOSED)
            {

                if (today.CompareTo(item.DtDue) == 0)
                {
                    textcolor = "black";
                    bgcolor = "lightgray";
                }
                else if (today.CompareTo(item.DtDue) > 0)
                {
                    textcolor = "darkred";
                }
                else if (today.CompareTo(item.DtDue) < 0)
                {
                    textcolor = "black";
                }
                else
                {
                    textcolor = "black";
                }

            }
            else if (item.ApTransStatusId > STATUS_CANCELLED)
            {
                textcolor = "gray";
            }
            else
            {
                textcolor = "darkgreen";
            }


            <tr style="color:@textcolor;background-color:@bgcolor;">
                <td>
                    @if (item.ApTransStatusId == STATUS_RELEASED
                        && (item.ReleaseAmt == 0 || item.ReleaseAmt == null)
                        && item.ApTransTypeId != TYPE_PO)
                    {
                        <img src="~/Images/SalesLead/high-importance.png" width="20" alt="Release Amount is 0 or null" title="Release Amount is 0 or null" />
                    }

                    @if ((item.ApTransStatusId == STATUS_RETURNED && item.ApTransTypeId != TYPE_PO) &&
                            (item.Amount < (item.BudgetAmt - amountVariance) ||
                            item.Amount > (item.BudgetAmt + amountVariance)))
                    {
                        <img src="~/Images/SalesLead/high-importance.png" width="20"
                             alt="Amount returned reached a 30% variance of the budget amount"
                             title="Amount returned reached a 30% variance of the budget amount" />
                    }

                    @if (!item.IsPrinted && status == STATUS_APPROVED)
                    {
                        <input value="@item.Id" type="checkbox" class="print-Checkbox" onclick="CheckRepeatItems(this)" />
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a href="/Reporting/JobSummaryDetails/@item.JobRef" title="Job Summary Details"> @item.JobRef </a>

                    @if (item.ApTransCategory.Name == "Job Expense" && item.JobRef == null)
                    {
                        <img src="~/Images/SalesLead/high-importance.png" width="20"
                             title="Please Provide Job Reference" />
                    }
                </td>
                <td>
                    @item.DtEncoded.ToString("MMM dd yyyy")
                </td>
                <td>
                    @item.DtInvoice.ToString("MMM dd yyyy")<br />
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.ApAccount.Name)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)<br />
                    <span style="font-size:11px;color:gray;">
                        @item.DtService.ToString("MMM dd yyyy") - @item.DtServiceTo.ToString("MMM dd yyyy")
                    </span>

                    @if (!String.IsNullOrEmpty(item.Remarks))
                    {
                        <br />
                        <span style="font-size:11px;color:gray;">
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </span>
                    }
                </td>
                <td>
                    <span>
                        @item.DtDue.ToString("MMM dd yyyy")
                    </span>
                </td>
                <td>
                    @if (item.IsRepeating)
                    {
                        <span alt="repeating" title="Repeating Payables"> &#8635; </span>
                    }

                    @Html.DisplayFor(modelItem => item.ApTransCategory.Name)
                    @Html.DisplayFor(modelItem => item.ApTransType.Type)
                </td>
                <td class="expense-Status" id="expense-Status-@item.Id">
                    @if (item.ApTransStatusId == STATUS_REQUEST)
                    {
                        if (item.Amount == 0 || item.BudgetAmt == 0)
                        {
                            <span class="label label-default">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                        }
                        else
                        {

                            <span class="label label-primary">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                        }
                    }
                    else if (item.ApTransStatusId == STATUS_APPROVED)
                    {
                        <span class="label label-info">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                        if (item.IsFunded == true)
                        {
                            <p style="padding-top:1px;"><span class="label label-info"> Funded </span> </p>
                        }

                    }
                    else if (item.ApTransStatusId == STATUS_RELEASED)
                    {
                        <span class="label label-warning">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == STATUS_RETURNED)
                    {
                        <span class="label label-success">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == STATUS_CANCELLED)
                    {
                        <span class="label label-default">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == STATUS_NEW)
                    {
                        <span class="label label-default">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else
                    {
                        <span class="label label-primary">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                    }

                </td>
                <td>
                    @{ var budget = item.BudgetAmt ?? 0; }

                    @budget.ToString("#,##0.00")
                </td>

                <td>
                    @{ var released = item.ReleaseAmt ?? 0; }

                    @released.ToString("#,##0.00")

                    @if (item.DtRelease != null)
                    {
                        var dtRelease = (DateTime)item.DtRelease;
                        <br />
                        <span style="font-size:11px;color:gray;">
                            @dtRelease.ToString("MMM dd yyyy")
                        </span>
                    }
                </td>

                <td style="background-color:lightgray;">
                    @item.Amount.ToString("#,##0.00")

                    <span style="font-size:11px;color:gray;">
                        @{ var returnedApAction = item.ApActions.Where(ap => ap.ApActionItem.Action == "Payables Returned").FirstOrDefault();}
                        @if (returnedApAction != null && item.ApTransStatusId == 5)
                        {
                            <br />@returnedApAction.DtPerformed.ToString("MMM dd yyyy")
                        }
                    </span>
                </td>

                <td style="background-color:lightgray;">
                    <span class="text-success">
                        @totalTransPayment.ToString("#,##0.00")
                    </span>
                    <br />
                    <span style="font-size:11px;color:gray;">
                        @paymentDate
                    </span>

                </td>

                <td>
                    @if (totalTransPayment != 0 && item.ApTransTypeId != TYPE_PO)
                    {
                        <span>
                            @transChange.ToString("#,##0.00")
                        </span>
                    }

                    @if ((totalTransPayment == 0) && item.ApTransStatusId >= 5
                        && item.ApTransPayments.Count() != 0
                        && item.ApTransTypeId != TYPE_PO)
                    {
                        <span>
                            @released.ToString("#,##0.00")
                        </span>
                    }
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-actions" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-actions">
                            <li>
                                @if (item.ApTransStatusId == STATUS_NEW || item.ApTransStatusId == 8)
                                {
                                    <a class="cursor-link" style="cursor:pointer;" onclick="UpdateStatus(@item.Id, @STATUS_REQUEST)"> Request </a>
                                    <a class="cursor-link" style="cursor:pointer;" onclick="UpdateStatus(@item.Id, @STATUS_CANCELLED)"> Cancel </a>
                                }

                                @if (item.ApTransStatusId == STATUS_REQUEST && isAdmin)
                                {
                                    <a class="cursor-link" style="cursor:pointer;" onclick="UpdateStatusAsync(this,@item.Id, @STATUS_APPROVED)"> Approve </a>
                                    <a class="cursor-link" style="cursor:pointer;" onclick="UpdateStatus(@item.Id, @STATUS_CANCELLED)"> Cancel </a>
                                    <a class="cursor-link" style="cursor:pointer;" onclick="UpdateStatus(@item.Id, @STATUS_NEW)"> New </a>
                                }
                                else if (item.ApTransStatusId == STATUS_APPROVED)
                                {
                                    <a class="cursor-link" style="cursor:pointer;" onclick="ShowReleaseModal(@item.Id,'@item.Description', @item.BudgetAmt, '@item.ApTransType.Type')"> Release </a>

                                    if (item.IsFunded == null || item.IsFunded == false)
                                    {
                                        <a class="cursor-link" style="cursor:pointer;" onclick="FundedTrans(this, '@item.Id')"> Funded </a>
                                    }

                                    if (!item.IsPrinted && item.ApTransTypeId == TYPE_PO)
                                    {
                                        @Html.ActionLink("Print PO", "PrintPOForm", "ApTransactions", new { id = item.Id }, new { @target = "_blank" })
                                    }
                                }
                                else if (item.ApTransStatusId == STATUS_RELEASED)
                                {
                                    if (item.ApTransTypeId != TYPE_PO)
                                    {
                                        <a class="cursor-link" style="cursor:pointer;" onclick="ShowPaymentModal(@item.Id,'@item.Description', @item.Amount)"> Add Payment </a>
                                    }
                                    else
                                    {
                                        <a class="cursor-link" style="cursor:pointer;" onclick="ShowReturnAmountModal(@item.Id,'@item.Description', @item.Amount, @item.BudgetAmt, '@item.DtInvoice.ToString("MM/dd/yyyy")','')">PO Return </a>
                                    }
                                }

                                @if ((item.ApTransPayments.Count() != 0) && item.ApTransTypeId != TYPE_PO)
                                {
                                    //return
                                    <a class="cursor-link" style="cursor:pointer;" onclick="ShowReturnAmountModal(@item.Id,'@item.Description', @item.Amount, @item.BudgetAmt, '@item.DtInvoice.ToString("MM/dd/yyyy")','@item.Remarks')"> Return </a>

                                }

                                @if (item.ApTransStatusId == STATUS_RETURNED && isAdmin)
                                {
                                    <a class="cursor-link" style="cursor:pointer;" onclick="UpdateStatusClose(this, @item.Id)">  Close </a>
                                }
                            </li>
                            <li role="separator" class="divider"></li>
                            @if (item.ApTransStatusId <= STATUS_REQUEST || item.ApTransStatusId >= STATUS_CANCELLED)
                            {
                                <li> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </li>
                            }
                            else
                            {
                                if (isAdmin)
                                {
                                    <li> @Html.ActionLink("Admin Edit", "Edit", new { id = item.Id }) </li>
                                    <li> @Html.ActionLink("History", "ActionHistory", new { id = item.Id }) </li>
                                }
                            }
                            <li> @Html.ActionLink("Details", "Details", new { id = item.Id }) </li>
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                        </ul>
                    </div>

                    @if (item.ApTransStatusId == STATUS_RETURNED && isAdmin)
                    {
                        <a class="cursor-link btn btn-default" style="cursor:pointer;" onclick="UpdateStatusCloseAsync(this, @item.Id)">  Close </a>
                    }
                </td>
            </tr>
            totalPayment += totalTransPayment;
            totalAmount += item.Amount;

            totalBudget += item.BudgetAmt ?? 0;
            totalRelease += item.ReleaseAmt ?? 0;
        }

        {
            totalBalance = totalRelease - totalPayment;
            GrandTotal += totalAmount;
        }
        <tr>
            <td colspan="10">
            </td>
            <td>
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Budget </span><br />
                <span style="font-size:18px;">@totalBudget.ToString("#,##0.00")</span>
            </td>
            <td>
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Released </span><br />
                <span style="font-size:18px;">@totalRelease.ToString("#,##0.00")</span>
            </td>
            <td style="background-color:lightgray;">
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Amount </span><br />
                <span style="font-size:18px;">@totalAmount.ToString("#,##0.00")</span>
            </td>
            <td style="color:darkgreen;background-color:lightgray;">
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Payment </span><br />
                <span style="font-size:18px;">@totalPayment.ToString("#,##0.00")</span>
            </td>
            <td style="font-weight:600;">
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total Diff </span><br />
                <span style="font-size:18px;color:blue;">@totalBalance.ToString("#,##0.00")</span>
            </td>
            <td></td>
        </tr>
    }
</table>

<div>
    <h3>
        <span>Grand Total :</span> @GrandTotal.ToString("#,##0.00")
    </h3>
</div>


@Html.Partial("_IndexModals")

<a href="#" onclick="GetRepeatingPayables()"> Show Repeating Payables </a>

<a href="/Payables/ApCashFlows/DailyCashIn"> Daily Cash-in </a>

@section Scripts{
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ApTransaction.js"></script>
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ApTransRepeating.js"></script>
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ApTransCreate.js"></script>
    <script>
                $(Initialize('@status','@sortBy'));
    </script>
}
