@model IEnumerable<ApModels.Models.ApTransaction>

@{
    ViewBag.Title = "Monthly Expense Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    DateTime today = ViewBag.Today;

    decimal totalAmount = 0;
    decimal totalPayment = 0;
    decimal totalBalance = 0;
    decimal totalBudget = 0;
    decimal totalRelease = 0;
    decimal totalChange = 0;
    decimal GrandTotal = 0;

    bool isAdmin = ViewBag.IsAdmin;

    int TransType = (int)ViewBag.TransType;
    int Category = (int)ViewBag.Category;
}

<h2>Monthly Expense Report </h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = " btn btn-primary" })
    <a href="/Payables/ApTransactions/"> <span class="btn btn-default"> Expenses </span></a>
    <a href="/Payables/ApTransactions/ReleasedDaily"> <span class="btn btn-default"> Daily Expenses </span></a>
    <a href="/Payables/ApTransactions/ReleasedWeekly"> <span class="btn btn-default" disabled> Monthly Expenses </span></a>
    <a href="/Payables/ApTransactions/PrintRequestList"> <span class="btn btn-default"> Print Requests </span></a>
</p>


<div style="display:flex;flex-direction:row;">
    <div class="search-panel input-group">
        @using (Html.BeginForm())
        {
            <div class="input-group-btn" style="width:140px;">
                <input name="search" type="text" width="100" style="margin-left:0px" class="form-control" placeholder="Search" />
            </div>
            <div class="input-group-btn" style="width:140px;">
                <input type="text" class="form-control" name="dateStart" value="@ViewBag.DateStart" />
            </div>
            <div class="input-group-btn" style="width:140px;">
                <input type="text" class="form-control" name="dateEnd" value="@ViewBag.DateEnd" />
            </div>
            <div class="input-group-btn" style="padding-top:5px;">
                <select class="form-control" name="transType" style="width:100px;" id="TransType">
                    <option value="1"> Cash </option>
                    <option value="2"> PO </option>
                </select>
            </div>
            <div class="input-group-btn" style="padding-top:5px;">
                <select class="form-control" name="category" style="width:100px;" id="Category">
                    <option value="0"> All </option>
                    <option value="1"> Overhead </option>
                    <option value="2"> Job Expense </option>
                    <option value="3"> Personal </option>
                    <option value="5"> Maintenance </option>
                </select>
            </div>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" value="Search" id="SubmitSearchBtn">
                    Search
                </button>
            </div>
        }

        <div class="input-group-btn" style="margin-left:8px;">
            <button class="btn btn-default" onclick="FilterDateLast(7)">
                Last 7 Days
            </button>
            <button class="btn btn-default" onclick="FilterDateLast(15)">
                Last 15 Days
            </button>
            <button class="btn btn-default" onclick="FilterDateLast(30)">
                Last 30 Days
            </button>
            <button class="btn btn-default" onclick="FilterCurrentMonth()">
                Current Month
            </button>
        </div>
    </div>
</div>
<br />
<p class="text-muted"> Showing expenses based on Released Date </p>
<table class="table" id="payables-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRef)
        </th>
        <th>
            Invoice
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApAccount.Name)
        </th>
        <th style="min-width:160px;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtDue)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApTransStatu.Status)
        </th>
        <th>
            Budget
        </th>
        <th>
            Released
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Payment
        </th>
        <th>
            Change
        </th>
    </tr>

    @foreach (var payablesGroup in Model.GroupBy(p => p.DtInvoice.ToString("MMMM", null)))
    {

        totalAmount = 0;
        totalPayment = 0;
        totalBalance = 0;


        <tr>
            <td colspan="14">
                <span style="font-weight:bold;">@payablesGroup.Key</span>
            </td>
        </tr>

        foreach (var item in payablesGroup)
        {
            decimal totalTransPayment = 0;
            decimal transChange = 0;
            decimal varianceAmt = 0;

            //get total transaction payment
            if (item.ApTransTypeId != 2) {

                foreach (var transpayment in item.ApTransPayments)
                {
                    if (transpayment.ApPayment.ApPaymentStatusId == 2)
                    {
                        totalTransPayment += transpayment.ApPayment.Amount;
                    }
                }
            }

            //calculate change from budget and Payment amounts
            if (item.ReleaseAmt != null && !(totalTransPayment == 0) && item.ApTransTypeId == 1)
            {
                transChange = (decimal)item.ReleaseAmt - totalTransPayment;

                //calculate variance
                varianceAmt = (decimal)item.ReleaseAmt - (totalTransPayment + transChange);
            }

            //handle text color based on due date
            string textcolor = "black";
            string bgcolor = "none";

            if (item.ApTransStatusId < 4)
            {

                if (today.CompareTo(item.DtDue) == 0)
                {
                    textcolor = "black";
                    bgcolor = "lightgray";
                }
                else if (today.CompareTo(item.DtDue) > 0)
                {
                    textcolor = "darkred";
                }
                else if (today.CompareTo(item.DtDue) < 0)
                {
                    textcolor = "black";
                }
                else
                {
                    textcolor = "black";
                }

            }
            else
            {
                textcolor = "darkgreen";
            }


            <tr style="color:@textcolor;background-color:@bgcolor;">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a href="/JobOrder/JobServices?JobMainId=@item.JobRef"> @item.JobRef </a>
                </td>
                <td>
                    @item.DtInvoice.ToString("MMM dd yyyy")<br />
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.ApAccount.Name)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)<br />
                    <span class="tbl-subtext">
                        @item.DtService.ToString("MMM dd yyyy") -
                        @item.DtServiceTo.ToString("MMM dd yyyy")
                    </span>

                    @if (!String.IsNullOrEmpty(item.Remarks))
                    {
                        <br />
                        <span class="tbl-subtext">
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </span>
                    }
                </td>
                <td>
                    <span>
                        @item.DtDue.ToString("MMM dd yyyy")
                    </span>
                </td>
                <td>
                    @if (item.IsRepeating)
                    {
                        <span alt="repeating" title="Repeating Payables"> &#8635; </span>
                    }

                    @Html.DisplayFor(modelItem => item.ApTransCategory.Name)<br />
                    @Html.DisplayFor(modelItem => item.ApTransType.Type)
                </td>
                <td>
                    @if (item.ApTransStatusId == 1)
                    {
                        <span class="label label-primary">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                    }
                    else if (item.ApTransStatusId == 2)
                    {
                        <span class="label label-info">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == 3)
                    {
                        <span class="label label-warning">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == 5)
                    {
                        <span class="label label-success">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else
                    {
                        <span class="label label-primary">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetAmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseAmt)
                    @if (item.DtRelease != null)
                    {
                        var dtRelease = (DateTime)item.DtRelease;
                        <br />
                        <span class="tbl-subtext">
                            @dtRelease.ToString("MMM dd yyyy")
                        </span>
                    }

                </td>
                <td style="background-color:lightgray;">
                    @item.Amount.ToString("#,##0.00")

                    <span style="font-size:11px;color:gray;">
                        @{ var returnedApAction = item.ApActions.Where(ap => ap.ApActionItem.Action == "Payables Returned").FirstOrDefault();}
                        @if (returnedApAction != null && item.ApTransStatusId == 5)
                        {
                            <br />@returnedApAction.DtPerformed.ToString("MMM dd yyyy")
                        }
                    </span>
                </td>

                <td style="background-color:lightgray;">
                    <span class="text-success"> @totalTransPayment.ToString("#,##0.00") </span>
                </td>
                <td>
                    @transChange.ToString("#,##0.00")
                </td>
            </tr>
            totalPayment += totalTransPayment;
            totalAmount += item.Amount;
            totalBudget += item.BudgetAmt ?? 0;
            totalRelease += item.ReleaseAmt ?? 0;
            totalChange += transChange;
        }


        {
            //totalBalance = totalRelease - totalPayment;
            GrandTotal += totalAmount;
        }
        <tr>
            <td colspan="8">
            </td>
            <td>
                <span class="tbl-total-text"> Total&nbsp;Budget </span>
                <span style="font-size:18px;">@totalBudget.ToString("#,##0.00")</span>
            </td>
            <td>
                <span class="tbl-total-text"> Total&nbsp;Released </span>
                <span style="font-size:18px;">@totalRelease.ToString("#,##0.00")</span>
            </td>
            <td style="background-color:lightgray;">
                <span class="tbl-total-text"> Total&nbsp;Amount </span>
                <span style="font-size:18px;">@totalAmount.ToString("#,##0.00")</span>
            </td>
            <td style="color:darkgreen;background-color:lightgray;">
                <span class="tbl-total-text"> Total&nbsp;Payment </span>
                <span style="font-size:18px;">@totalPayment.ToString("#,##0.00")</span>
            </td>
            <td style="font-weight:600;">
                <span class="tbl-total-text"> Total Diff </span>
                <span style="font-size:18px;color:blue;">@totalBalance.ToString("#,##0.00")</span>
            </td>
            <td></td>
        </tr>

    }


</table>

<!-- Release Payment Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="ReleasePayment-Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Release Payment </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2"> Id  </label>
                        <div class="col-md-10">
                            <input type="text" maxlength="20" id="ReleasePayment-Id" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">  Date  </label>
                        <div class="col-md-10">
                            <input type="text" maxlength="20" id="ReleasePayment-Date" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">  Amount  </label>
                        <div class="col-md-10">
                            <input type="text" maxlength="20" id="ReleasePayment-Amount" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ReleasePayment(this)">Release</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ApTransaction.js"></script>
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ReleasedWeekly.js"></script>
    <script>


        $(Initialize());

        function Initialize() {

            if (@TransType != "") {
                $("#TransType").val("@TransType");
            }


            if (@Category != "") {
                $("#Category").val("@Category");
            }
        }
    </script>

}