@model IEnumerable<ApModels.Models.ApTransaction>

@{
    ViewBag.Title = "Daily Expense Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    int status = ViewBag.Status;
    string sortBy = ViewBag.Sort;
    string orderBy = ViewBag.OrderBy;
    DateTime today = ViewBag.Today;

    decimal totalAmount = 0;
    decimal totalPayment = 0;
    decimal totalBalance = 0;
    decimal totalBudget = 0;
    decimal totalRelease = 0;
    decimal GrandTotal = 0;

    bool isAdmin = true;
}

<h2>Daily Expense Report </h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = " btn btn-primary" })
    <a href="/Payables/ApTransactions/"> <button class="btn btn-default"> Expenses </button></a>
    <a href="/Payables/ApTransactions/ReleasedDaily"> <button class="btn btn-default" disabled> Daily Expenses </button></a>
    <a href="/Payables/ApTransactions/ReleasedWeekly"> <button class="btn btn-default"> Monthly Expenses </button></a>
</p>
<div style="display:flex;flex-direction:row;">
    <div class="search-panel input-group">
        @using (Html.BeginForm())
        {
            <div class="input-group-btn" style="width:140px;">
                <input type="text" class="form-control" name="dateSrch" value="@ViewBag.DateSrch" />
            </div>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" value="Search" id="SubmitSearchBtn">
                    Search 
                </button>
            </div>
        }

    </div>
    <div style="display:flex;order:4;margin-left:5px;" class="btn-group">
        <button class="btn btn-default" onclick="PrevDayFilter()"> Prev </button>
        <button class="btn btn-default" onclick="NextDayFilter()"> Next </button>
    </div>
</div>

<div class="btn-group" style="margin-bottom:5px;">
    @if (status == 2)
    {
        <button class="btn btn-default" onclick="CheckSelected_Print()"> <i class="glyphicon glyphicon-print"></i> Print </button>
    }
</div>

<table class="table" id="payables-table">
    <tr>
        <th>
            @if (status == 2)
            {
                <a href="#" type="checkbox" id="payables-table-checkAll" onclick="CheckAllPayableItems()">All </a>
            }

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRef)
        </th>
        <th>
            Invoice
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApAccount.Name)
        </th>
        <th style="min-width:160px;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtDue)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApTransStatu.Status)
        </th>
        <th>
            Budget
        </th>
        <th>
            Released
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Payment
        </th>
        <th>
            Change
        </th>
    </tr>

    @foreach (var payablesGroup in Model.GroupBy(p => p.DtDue.ToString("MMMM", null)))
    {

        totalAmount = 0;
        totalPayment = 0;
        totalBalance = 0;


        <tr>
            <td colspan="14">
                <span style="font-weight:bold;">@payablesGroup.Key</span>
            </td>
        </tr>

        foreach (var item in payablesGroup)
        {
            decimal totalTransPayment = 0;
            decimal transChange = 0;
            decimal varianceAmt = 0;

            //get total transaction payment
            foreach (var transpayment in item.ApTransPayments)
            {
                if (transpayment.ApPayment.ApPaymentStatusId == 2)
                {
                    totalTransPayment += transpayment.ApPayment.Amount;
                }
            }

            //calculate change from budget and Payment amounts
            if (item.ReleaseAmt != null && !(totalTransPayment == 0))
            {
                transChange = (decimal)item.ReleaseAmt - totalTransPayment;

                //calculate variance
                varianceAmt = (decimal)item.ReleaseAmt - (totalTransPayment + transChange);
            }

            //handle text color based on due date
            string textcolor = "black";
            string bgcolor = "none";

            if (item.ApTransStatusId < 4)
            {

                if (today.CompareTo(item.DtDue) == 0)
                {
                    textcolor = "black";
                    bgcolor = "lightgray";
                }
                else if (today.CompareTo(item.DtDue) > 0)
                {
                    textcolor = "darkred";
                }
                else if (today.CompareTo(item.DtDue) < 0)
                {
                    textcolor = "black";
                }
                else
                {
                    textcolor = "black";
                }

            }
            else
            {
                textcolor = "darkgreen";
            }


            <tr style="color:@textcolor;background-color:@bgcolor;">
                <td>
                    @if (!item.IsPrinted && status == 2)
                    {
                        <input value="@item.Id" type="checkbox" class="print-Checkbox" onclick="CheckRepeatItems(this)" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a href="/JobOrder/JobServices?JobMainId=@item.JobRef"> @item.JobRef </a>
                </td>
                <td>
                    @item.DtInvoice.ToString("MMM dd yyyy")<br />
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>
                <td>
                    <b> @Html.DisplayFor(modelItem => item.ApAccount.Name)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)<br />
                    <span style="font-size:11px;color:gray;">
                        @item.DtService.ToString("MMM dd yyyy") -
                        @item.DtServiceTo.ToString("MMM dd yyyy")
                    </span>

                    @if (!String.IsNullOrEmpty(item.Remarks))
                    {
                        <br />
                        <span style="font-size:11px;color:gray;">
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </span>
                    }
                </td>
                <td>
                    <span>
                        @item.DtDue.ToString("MMM dd yyyy")
                    </span>
                </td>
                <td>
                    @if (item.IsRepeating)
                    {
                        <span alt="repeating" title="Repeating Payables"> &#8635; </span>
                    }

                    @Html.DisplayFor(modelItem => item.ApTransCategory.Name)
                </td>

                <td>
                    @if (item.ApTransStatusId == 1)
                    {
                        <span class="label label-primary">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                    }
                    else if (item.ApTransStatusId == 2)
                    {
                        <span class="label label-info">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == 3)
                    {
                        <span class="label label-warning">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else if (item.ApTransStatusId == 5)
                    {
                        <span class="label label-success">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>

                    }
                    else
                    {
                        <span class="label label-primary">  @Html.DisplayFor(modelItem => item.ApTransStatu.Status) </span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetAmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseAmt)
                    @if (item.DtRelease != null)
                    {
                        var dtRelease = (DateTime)item.DtRelease;
                        <br />
                        <span style="font-size:11px;color:gray;">
                            @dtRelease.ToString("MMM dd yyyy")
                        </span>
                    }
                </td>
                <td style="background-color:lightgray;">
                    @item.Amount.ToString("#,##0.00")
                </td>

                <td style="background-color:lightgray;">
                    <span class="text-success"> @totalTransPayment.ToString("#,##0.00") </span>
                </td>
                <td>
                    @transChange.ToString("#,##0.00")
                </td>

            </tr>
            totalPayment += totalTransPayment;
            totalAmount += item.Amount;

            totalBudget += item.BudgetAmt ?? 0;
            totalRelease += item.ReleaseAmt ?? 0;
        }


        {
            totalBalance = totalRelease - totalPayment;
            GrandTotal += totalAmount;
        }
        <tr>
            <td colspan="8">
            </td>
            <td>
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Budget </span>
                <span style="font-size:18px;">@totalBudget.ToString("#,##0.00")</span>
            </td>
            <td>
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Released </span>
                <span style="font-size:18px;">@totalRelease.ToString("#,##0.00")</span>
            </td>
            <td style="background-color:lightgray;">
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Amount </span>
                <span style="font-size:18px;">@totalAmount.ToString("#,##0.00")</span>
            </td>
            <td style="color:darkgreen;background-color:lightgray;">
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total&nbsp;Payment </span>
                <span style="font-size:18px;">@totalPayment.ToString("#,##0.00")</span>
            </td>
            <td style="font-weight:600;">
                <span style="margin-bottom:0px;font-size:9px;color:gray;"> Total Diff </span>
                <span style="font-size:18px;color:blue;">@totalBalance.ToString("#,##0.00")</span>
            </td>
            <td></td>
        </tr>

    }


</table>

<!-- Release Payment Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="ReleasePayment-Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Release Payment </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2"> Id  </label>
                        <div class="col-md-10">
                            <input type="text" maxlength="20" id="ReleasePayment-Id" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">  Date  </label>
                        <div class="col-md-10">
                            <input type="text" maxlength="20" id="ReleasePayment-Date" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">  Amount  </label>
                        <div class="col-md-10">
                            <input type="text" maxlength="20" id="ReleasePayment-Amount" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ReleasePayment(this)">Release</button>
            </div>
        </div>
    </div>
</div>


@*<a href="#" onclick="GetRepeatingPayables()"> Show Repeating Payables </a>*@

@section Scripts{
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ApTransaction.js"></script>
    <script type="text/javascript" src="~/Areas/Payables/Scripts/ApTransactions/ReleasedDaily.js"></script>
    <script>
        $(Initialize('@status','@sortBy'));
    </script>

}