@model IEnumerable<JobsV1.Areas.Personel.Models.cCrLogFuel>

@{
    ViewBag.Title = "Expenses - Previous Logs";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    var IsAdmin = (bool)ViewBag.IsAdmin;
    Decimal TotalAmount = 0;
}
<style>
    .PanelContainer-main {
        background-color: #eff3f6;
        border: none;
    }

    .td-bg-gray {
        background-color: lightgray;
    }

    .th-bg-gray {
        background-color: gray;
        color: white;
    }

    .status-selected {
        color: black;
    }
</style>

<h2>Expenses - Previous Logs</h2>
<p>
    @Html.ActionLink("Trip Logs", "Index", "CarRentalLog", null, null) |
    @Html.ActionLink("Odo", "Index", "CrLogOdoes", null, null) |
    Expenses
</p>
<p>
    @Html.ActionLink("Back to Current List", "Index")
</p>

<div class="row" style="padding-bottom:15px;">
    @using (Html.BeginForm())
    {


        <div class="col-md-2">
            <select class="form-control" name="unitId">
                <option value="0"> All </option>
                @foreach (var units in ViewBag.UnitList as IEnumerable<JobsV1.Areas.Personel.Models.crLogUnit>)
                {

                    <option value="@units.Id"> @units.Description </option>
                }
            </select>
        </div>

        <div class="col-md-2">
            <input type="text" name="startDate" class="form-control" value="@ViewBag.StartDate" />
        </div>
        <div class="col-md-2">
            <input type="text" name="endDate" class="form-control" value="@ViewBag.EndDate" />
        </div>

        <div class="col-md-6" style="margin-top:-5px;">
            <button type="submit" class="btn btn-default col-md-2"> Search </button>
        </div>
    }
</div>
<table class="table">

    <tr>
        <!-- Request -->
        <th>
            @Html.DisplayNameFor(model => model.crLogFuel.crLogUnit.Description)
        </th>
        <th>
            Date Req
        </th>
        <th>
            Date Paid
        </th>

        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crLogFuel.Amount)
        </th>
        <th>
            OR-Amount
        </th>
        <th>
            Odo
        </th>
        <th>
            Payment Type
        </th>
        <th>
            isFullTank
        </th>
        <th>
            Remarks
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        TotalAmount += item.crLogFuel.orAmount;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.crLogFuel.crLogUnit.Description)
                (&nbsp;@Html.DisplayFor(modelItem => item.crLogFuel.crLogDriver.Name)&nbsp;)
            </td>
            <td>
                @item.crLogFuel.dtRequest.ToString("MMM dd yyyy")
            </td>
            @if (item.LatestStatusId == 4)
            {
                <td>
                    @item.crLogFuel.dtFillup.ToString("MMM dd yyyy")
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.crLogFuel.crLogType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogFuel.Amount)
            </td>
            @if (item.LatestStatusId == 4)
            {

                <td>
                    @Html.DisplayFor(modelItem => item.crLogFuel.orAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.crLogFuel.odoFillup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.crLogFuel.crLogPaymentType.Type)
                </td>
                <td>

                    @if (item.crLogFuel.isFullTank == true)
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </td>
            }
            @switch (item.LatestStatusId)
            {
                case 1:
                    if (IsAdmin)
                    {
                        <td colspan="6"> </td>
                    }
                    else
                    {
                        <td colspan="6"> </td>
                    }
                    break;
                case 2:
                    <td colspan="6"> </td>
                    break;
                case 3:
                    <td colspan="6"> </td>
                    break;
                default:
                case 4:

                    break;
            }
            <td>
                @item.crLogFuel.Remarks
            </td>

            <td>
                @switch (item.LatestStatusId)
                {
                    case 1:
                        if (IsAdmin)
                        {
                            <span>
                                <a class="cursor-hand" onclick="ApproveRequest('@item.crLogFuel.Id')"> Approve </a>
                            </span>
                        }
                        else
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.crLogFuel.Id })
                        }
                        break;
                    case 2:
                        <span>
                            @Html.ActionLink("Print", "PrintApproveForm", new { id = item.crLogFuel.Id }, new { @target = "_blank" }) |
                            <a class="cursor-hand" onclick="ApproveRelease('@item.crLogFuel.Id')"> Release </a>
                        </span>
                        break;
                    case 3:
                        <span>
                            <a class="cursor-hand" onclick="InitReturnLogModal('@item.crLogFuel.Id')"> Return </a>
                        </span>
                        break;
                    default:
                    case 4:
                        <span></span>
                        break;
                }
                @if (IsAdmin)
                {
                    <span>
                        @*| @Html.ActionLink("Edit", "Edit", new { id = item.crLogFuel.Id }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.crLogFuel.Id }) 
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.crLogFuel.Id })*@
                    </span>
                }
            </td>
        </tr>
    }

    <tr>
        <td colspan="4">

        </td>
        <td>
            <span> Total Amount :</span><br />
            <b> @TotalAmount.ToString("#,##0.00") </b>
        </td>

        <td colspan="5">

        </td>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="7">
                <p class="text-center"> No Record Found </p>
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>

        //On Page Load
        $(() => {
            Initialize();
        })


        function ApproveRequest(id) {
            $.post("/Personel/crLogFuels/ApproveRequest", { id: parseInt(id) }, (result) => {
                console.log(result)
                if (result == 'True') {
                    window.location.reload();
                } else {
                    alert("Error. Unable to approve request");
                }
            });
        }

       function  Initialize(){
           $('input[name="startDate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 2000,
                maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    format: 'MM/DD/YYYY'
                }
            }, function (start, end, label) {
            });

           $('input[name="endDate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 2000,
                maxYear: parseInt(moment().format('YYYY'), 10),
                locale: {
                    format: 'MM/DD/YYYY'
                }
            }, function (start, end, label) {
            });
        }
    </script>
}