@model JobsV1.Areas.Personel.Models.crLogFuel

@{
    ViewBag.Title = "Print Approve Form";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<div style="display:flex;flex-direction:column;margin-top:-50px;margin-right:20px;">

    <div style="margin:auto;margin-top:10px;width:700px;">
        <table class="table rpt-table-bordered" style="margin-bottom:5px;">
            <tr>
                <td>
                    <div class="col-md-12">
                        <div class="col-md-6 pull-left">
                            <h3 style="margin-top:20px;margin-bottom:0px;"> RealBreeze Travel & Tours Davao </h3>
                            <p style="margin-top:5px;margin-left:0px;padding-left:0px;margin-bottom:0px;"> Door 1, Travellers Inn, Matina Davao City </p>
                            <p style="margin-top:5px;margin-left:0px;padding-left:0px;margin-bottom:0px;"> Tel: (082) 333-5157 / +63 917-143-8050  </p>
                        </div>
                        <div class="col-md-6 pull-right" style="text-align:right;">
                            <h2> @Model.crLogType.Type Request </h2>
                            <p> PO No : @Model.Id.ToString("D4") </p>
                            <p> Date  : @Model.dtRequest.ToString("MMM dd yyyy") </p>
                        </div>

                        @if (Model.crLogPaymentTypeId == 2)
                        {
                            <div class="form-group col-md-12 col-xs-12" style="margin-left:-10px;">
                                <div class="col-md-10 col-xs-10" style="border:0px dotted black;padding:0px;">
                                    <p> To </p>
                                    <p style="font-weight:600;font-size:20px;margin-bottom:0px;">SHELL STATION </p>
                                    <p style="font-weight:400;margin-bottom:0px;"> KM 4 Quimpo Blvd. Ecoland, Davao City </p>
                                    <p style="font-weight:400;margin-bottom:0px;"> Tel No 299-20-10 </p>
                                </div>
                            </div>
                        }
                    </div>

                </td>
            </tr>
            <tr>
                <td style="padding:0px;">
                    <h3 class="text-center"> Office Copy </h3>
                    <table class="table" style="margin-bottom:0px;">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Date&nbsp;Request </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.dtRequest.ToShortDateString()" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Unit </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.crLogUnit.Description" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Driver </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.crLogDriver.Name" />
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Amount </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.Amount" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Requested&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Released&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left"  value="@ViewBag.ReleaseUser"/>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Date&nbsp;Paid </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> ODO  </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Amount </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Remarks </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" value="@Model.Remarks" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Driver&nbsp;Sign.</label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Confirmed&nbsp; </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Payment&nbsp; </label>
                                    <div class="col-md-9 col-xs-9" style="padding-top:5px;">
                                        <input type="checkbox" id="payment-Cash" /><span style="margin:5px;"> Cash</span>
                                        <input type="checkbox" id="payment-CC" /><span style="margin:5px;"> Credit Card </span>
                                        <input type="checkbox" id="payment-PO" /><span style="margin:5px;"> PO</span>
                                    </div>
                                </div>
                                <div class="form-group col-lg-offset-3 col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> &nbsp; </label>
                                    <div class="col-md-9 col-xs-9" style="padding-left:8px;">
                                        @if (Model.isFullTank)
                                        {
                                            <input type="checkbox" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" />
                                        }
                                        <span>Full Tank</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin:auto;margin-top:10px;width:700px;">
        <table class="table rpt-table-bordered" style="margin-bottom:5px;">
            <tr>
                <td>
                    <div class="col-md-12">
                        <div class="col-md-6 pull-left">
                            <h3 style="margin-top:20px;margin-bottom:0px;"> RealBreeze Travel & Tours Davao </h3>
                            <p style="margin-top:5px;margin-left:0px;padding-left:0px;margin-bottom:0px;"> Door 1, Travellers Inn, Matina Davao City </p>
                            <p style="margin-top:5px;margin-left:0px;padding-left:0px;margin-bottom:0px;"> Tel: (082) 333-5157 / +63 917-143-8050  </p>
                        </div>
                        <div class="col-md-6 pull-right" style="text-align:right;">
                            <h2> @Model.crLogType.Type Request </h2>
                            <p> PO No : @Model.Id.ToString("D4") </p>
                            <p> Date  : @Model.dtRequest.ToString("MMM dd yyyy") </p>
                        </div>


                        @if (Model.crLogPaymentTypeId == 2)
                        {
                            <div class="form-group col-md-12 col-xs-12" style="margin-left:-10px;">
                                <div class="col-md-10 col-xs-10" style="border:0px dotted black;padding:0px;">
                                    <p> To </p>
                                    <p style="font-weight:600;font-size:20px;margin-bottom:0px;">SHELL STATION </p>
                                    <p style="font-weight:400;margin-bottom:0px;"> KM 4 Quimpo Blvd. Ecoland, Davao City </p>
                                    <p style="font-weight:400;margin-bottom:0px;"> Tel No 299-20-10 </p>
                                </div>
                            </div>
                        }
                    </div>


                </td>
            </tr>
            <tr>
                <td style="padding:0px;">
                    <h3 class="text-center"> Drivers Copy </h3>
                    <table class="table" style="margin-bottom:0px;">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Date&nbsp;Request </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.dtRequest.ToShortDateString()" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Unit </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.crLogUnit.Description" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Driver </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.crLogDriver.Name" />
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Amount </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@Model.Amount" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Requested&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Released&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control form-button-margin-left" value="@ViewBag.ReleaseUser"/>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Date&nbsp;Paid </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> ODO  </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> OR&nbsp;Amount </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Remarks </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" value="@Model.Remarks" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Driver&nbsp;Sign. </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Confirmed&nbsp; </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Payment&nbsp; </label>
                                    <div class="col-md-9 col-xs-9" style="padding-top:5px;">
                                        <input type="checkbox" c="payment-copy-Cash" /><span style="margin:5px;"> Cash</span>
                                        <input type="checkbox" id="payment-copy-CC" /><span style="margin:5px;"> Credit Card </span>
                                        <input type="checkbox" id="payment-copy-PO" /><span style="margin:5px;"> PO</span>
                                    </div>
                                </div>
                                <div class="form-group col-lg-offset-3 col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> &nbsp; </label>
                                    <div class="col-md-9 col-xs-9" style="padding-left:8px;">
                                        @if (Model.isFullTank)
                                        {
                                            <input type="checkbox" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" />
                                        }
                                        <span>Full Tank</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(() => {
            console.log('@Model.crLogPaymentTypeId');
            switch ('@Model.crLogPaymentTypeId') {
                case '1':
                    $("#payment-Cash").prop('checked', true);
                    $("#payment-copy-Cash").prop('checked', true);
                    break;
                case '2':
                    $("#payment-CC").prop('checked', true);
                    $("#payment-copy-CC").prop('checked', true);
                    break;
                case '3':
                    $("#payment-PO").prop('checked', true);
                    $("#payment-copy-PO").prop('checked', true);
                    break;

            }
        })
    </script>
}