@model JobsV1.Areas.Personel.Models.crLogFuel

@{
    ViewBag.Title = "Print Approve Form";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<div style="display:flex;flex-direction:column;margin-top:-50px;margin-right:20px;">

    <div style="margin:auto;margin-top:10px;width:700px;">
        <table class="table rpt-table-bordered">
            <tr>
                <td>
                    <h2 class="text-center"> Expenses Request Form </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="text-center"> Office Copy </h3>
                    <table class="table">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Date&nbsp;Request </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.dtRequest.ToShortDateString()" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Unit </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.crLogUnit.Description" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Driver </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.crLogDriver.Name" />
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Amount </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.Amount" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Requested&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Released&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Date&nbsp;Paid </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control"  />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> ODO </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Amount </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Remarks </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Driver </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Confirmed&nbsp; </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin:auto;margin-top:10px;width:700px;">
        <table class="table rpt-table-bordered">
            <tr>
                <td>
                    <h2 class="text-center"> Expenses Request Form </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="text-center"> Drivers Copy </h3>
                    <table class="table">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Date&nbsp;Request </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.dtRequest.ToShortDateString()" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 col-xs-3 control-label form-label"> Unit </label>
                                        <div class="col-md-9 col-xs-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.crLogUnit.Description" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Driver </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.crLogDriver.Name" />
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Amount </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" value="@Model.Amount" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Requested&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label class="col-md-3 col-xs-3 control-label form-label"> Released&nbsp;By </label>
                                        <div class="col-md-9 col-xs-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Date&nbsp;Paid </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control"  />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> ODO </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> OR&nbsp;Amount </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Remarks </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Driver&nbsp;Sign. </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-3 col-xs-3 control-label form-label"> Confirmed&nbsp; </label>
                                    <div class="col-md-9 col-xs-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
