@model IEnumerable<JobsV1.Models.Class.MechanicOilReport>
@{
    ViewBag.Title = "Oil Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    string sDate = ViewBag.DtStart;
    string eDate = ViewBag.DtEnd;
    var mechanicList = ViewBag.MechanicList as IEnumerable<JobsV1.Models.Class.rptMechanicSAList>;
    string mechanicName = ViewBag.MechanicName;
}

<h2>Mechanic Oil Report </h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="col-md-1 col-sm-12 col-xs-12 control-label form-label form-filter-label"> Filter: </h4>
            <div class="col-md-2 col-sm-6 col-xs-12" style="padding-left:0px;">
                <select name="mechanicId" id="mechanicId" class="form-control col-md-12 col-xs-12 form-filter-input" value="@ViewBag.mechanicId">
                    <option value="0"> All </option>
                    @foreach (var mechanic in mechanicList.OrderBy(m => m.Category))
                    {
                        <option value="@mechanic.Id">  @mechanic.Name.Trim() ( @mechanic.Category ) </option>
                    }
                </select>
            </div>
            <div class="form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <input id="DtStart" name="DtStart" type="text" class="form-control form-filter-input" />
            </div>
            <div class="form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <input id="DtEnd" name="DtEnd" type="text" class="form-control form-filter-input" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:0px;">
                <button class="btn btn-default col-lg-2 col-md-2 col-sm-2 col-xs-6 form-filter-input" type="submit"> Filter </button>
            </div>
        </div>
    </div>
}

<h4>
    Showing @mechanicName for @sDate - @eDate
</h4>
<table class="table">
    <tr>
        <th>
            Mechanic /<br />JobId
        </th>
        <th width="200px">
            Date
        </th>
        <th style="min-width:150px;">
            Service
        </th>
        <th style="min-width:150px;">
            Vehicle
        </th>
        <th>
            Motor Oil (L)
        </th>
        <th>
            Gear Oil (L)
        </th>
        <th>
            Trans Oil (L)
        </th>
    </tr>
    @foreach (var groupitem in Model.GroupBy(c => c.Mechanic))
    {
        decimal total_MotorOil = 0;
        decimal total_GearOil = 0;
        decimal total_TransOil = 0;

        <tr>
            <td colspan="7">
                @groupitem.Key 
            </td>
        </tr>

        foreach (var item in groupitem)
        {
            total_MotorOil += (Decimal)item.MotorOil;
            total_GearOil += (Decimal)item.GearOil;
            total_TransOil += (Decimal)item.TransmissionOil;

            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.JobSvcDate
                </td>
                <td>
                    @item.jobService
                </td>
                <td>
                    @item.Vehicle
                </td>
                <td>
                    @item.MotorOil L
                </td>
                <td>
                    @item.GearOil L
                </td>
                <td>
                    @item.TransmissionOil L
                </td>
            </tr>
        }

        <tr>
            <td colspan="3">
            </td>
            <td>
                <p class="pull-right"> Total:</p>
            </td>
            <td>
                <b> @total_MotorOil Liters</b>
            </td>
            <td>
                <b>@total_GearOil Liters</b>
            </td>
            <td>
                <b>@total_TransOil Liters</b>
            </td>
        </tr>

    }
</table>


@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script>
        $(() => {
            Initialize();
        });

        function Initialize() {
            var dtStart = '@ViewBag.DtStart';
            var dtEnd = '@ViewBag.DtEnd';

            if (dtStart == '') {
                $('#DtStart').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtStart').val(moment(dtStart).format("MM/DD/YYYY"));
            }
            if (dtEnd == '') {
                $('#DtEnd').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtEnd').val(moment(dtEnd).format("MM/DD/YYYY"));
            }

            var mechanicId = parseInt('@ViewBag.mechanicId');
            if (mechanicId > 0) {
                $("mechanicId").val(mechanicId);
            } else {
                $("mechanicId").val(0);
            }
        }
    </script>
}