@model IEnumerable<JobsV1.Models.Class.rptReferralJobs>
@{
    ViewBag.Title = "Oil Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    string sDate = ViewBag.DtStart;
    string eDate = ViewBag.DtEnd;
    var agentsList = ViewBag.RefAgentList as IEnumerable<JobsV1.Models.Class.rptItem>;
    string agentName = ViewBag.refAgentName;
    int agentId = (int)ViewBag.refAgentId;
}


<h2>Referral Report </h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="col-md-1 col-sm-12 col-xs-12 control-label form-label form-filter-label"> Filter: </h4>
            <div class="col-md-2 col-sm-6 col-xs-12" style="padding-left:0px;">
                <select name="agentId" id="agentId" class="form-control col-md-12 col-xs-12 form-filter-input" value="@agentId">
                    <option value="0"> All </option>
                    @foreach (var mechanic in agentsList.OrderBy(m => m.Category))
                    {
                        <option value="@mechanic.Id">  @mechanic.Name.Trim() </option>
                    }
                </select>
            </div>
            <div class=" form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <input id="DtStart" name="DtStart" type="text" class="form-control form-filter-input"/>
            </div>
            <div class="form-filter-div col-lg-2 col-md-2 col-sm-2 col-xs-6" style="max-width:120px;">
                <input id="DtEnd" name="DtEnd" type="text" class="form-control form-filter-input"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:0px;">
                <button class="btn btn-default col-lg-2 col-md-2 col-sm-2 col-xs-6 form-filter-input" type="submit"> Filter </button>
            </div>
        </div>
    </div>
}

<h4>
    Showing Jobs of @agentName for @sDate - @eDate
</h4>
<table class="table">
    <tr>
        <th>
            Agent <br />
            JobId
        </th>
        <th width="100px">
            Date
        </th>
        <th>
            Customer <br />
            Company
        </th>
        <th style="min-width:100px;">
            Vehicle <br />
            Job Service
        </th>
        <th>
            Status
        </th>
        <th>
            Payment<br />Status
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var group in Model.GroupBy(c => c.ReferralAgent))
    {
        decimal total_Amount = 0;
        <tr>
            <td colspan="7">
                @group.Key
            </td>
        </tr>
        foreach (var item in group)
        {
            total_Amount += item.Amount;
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.JobDate.ToShortDateString()
                </td>
                <td>
                    @item.Customer <span class="text-muted"> / @item.Company </span>
                </td>
                <td>
                     @Html.ActionLink(item.Vehicle + " - " + item.Service, "JobServices", "JobOrder", new { JobMainId = item.Id }, new { target = "blank" })
                    
                </td>
                <td>
                    @item.JobStatus
                </td>
                <td>
                    @if (item.PaymentStatus == "Paid")
                    {
                        <span class="text-success">
                            @item.PaymentStatus
                        </span>
                    }
                    else if (item.PaymentStatus == "Unpaid")
                    {
                        <span class="text-warning">
                            @item.PaymentStatus
                        </span>
                    }
                    else
                    {
                        <span>
                            @item.PaymentStatus
                        </span>
                    }

                </td>
                <td>
                    @item.Amount.ToString("N0")
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                <span class="pull-right">Total Amount:</span>
            </td>
            <td>
                @total_Amount.ToString("N0")
            </td>
        </tr>
    }


</table>


@section Scripts{
    <script src="~/Scripts/Job/DefaultDate.js"></script>
    <script>
        $(() => {
            Initialize();
        });

        function Initialize() {
            var dtStart = '@ViewBag.DtStart';
            var dtEnd = '@ViewBag.DtEnd';

            if (dtStart == '') {
                $('#DtStart').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtStart').val(moment(dtStart).format("MM/DD/YYYY"));
            }
            if (dtEnd == '') {
                $('#DtEnd').val(moment().format("MM/DD/YYYY"));
            } else {
                $('#DtEnd').val(moment(dtEnd).format("MM/DD/YYYY"));
            }

            var mechanicId = parseInt('@agentId');
            if (mechanicId > 0) {
                $("#agentId").val(mechanicId);
            } else {
                $("#agentId").val(0);
            }
        }
    </script>
}