@model JobsV1.Models.JobMain
@{
    ViewBag.Title = "Repair Order";
    var JobVehicle = ViewBag.JobVehicle as JobsV1.Models.JobVehicle;
    var VehicleHistory = ViewBag.VehicleServiceHistory as IEnumerable<JobsV1.Models.JobVehicle>;
    var jobServices = ViewBag.JobServices as IEnumerable<JobsV1.Models.JobServices>;
    var DiscountAmount = (Decimal)ViewBag.DiscountAmount;
    var logoSrc = (String)ViewBag.CompanyLogo;
}

<link href="~/Content/GMSReport.css" rel="stylesheet"/>
<div style="padding-right:20px;">
    <table class="table" style="min-width:550px;border:none;">
        <tr style="border:none;">
            <td width="60%" style="border:none;" colspan="2">
                @if (logoSrc == "")
                {
                    <h1 style="margin: 0px 10px;">
                        GMS AutoCare Center
                    </h1>
                }
                else
                {
                    <img src="~/@logoSrc" width="270" height="90" company-logo" />
                }

                <div class="rpt-no-line-space">
                    <h2 style="margin:0px;padding-left:10px;padding-top:10px;"> Repair Order </h2>
                    <p> <span class="rpt-jobid"> JOB NO : @Model.Id.ToString("D4") </span></p>
                    <p class="rpt-text-small">
                        <span> INQUIRY THRU: </span>
                        @Model.JobThru.Desc
                    </p>
                </div>
            </td>
            <td style="padding:10px 10px;width:40%;border:none;">
                <div class="rpt-bordered" style="margin:5px 10px;">
                    <h3 class="text-center" style="margin:5px 0px;">

                        @if (JobVehicle.VehicleId != 0)
                        {
                            <span> @JobVehicle.Vehicle.PlateNo</span>
                        }
                        else
                        {
                            <span> No Vehicle Assigned </span>
                        }

                    </h3>
                </div>
                <p class="rpt-no-line-space"><b> GMS AutoCare Center </b> ( @Model.Branch.Name ) </p>
                <p class="rpt-no-line-space rpt-text-small"> Address : @Model.Branch.Address </p>
                <p class="rpt-no-line-space rpt-text-small"> Telephone : @Model.Branch.Landline </p>
                <p class="rpt-no-line-space rpt-text-small"> Smart: 0908-771-9928 Globe: 0956-900-6125    </p>
                <p class="rpt-no-line-space rpt-text-small"> Email : info@gmsautocare.com , GMSautocaredavao@gmail.com  </p>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="rpt-document-title">
               
            </td>
        </tr>
        <tr>
            <!-- Customer Details  -->
            <td colspan="3" style="padding:0px;">
                <table class="rpt-table">
                    <tr>
                        <td width="120px">
                            <p class="rpt-no-line-space"> <b> Job Details </b> </p>
                        </td>
                        <td>
                            <p class="rpt-no-line-space"> <b> Customer Details </b> </p>
                        </td>
                        <td>
                            <p class="rpt-no-line-space"> <b> Vehicle Details </b> </p>

                        </td>
                    </tr>
                    <tr class="rpt-row">
                        <td>
                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Customer No. </p>
                                <p> @Model.CustomerId.ToString("D5") </p>
                            </div>
                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Date Received </p>
                                <p> @Model.JobDate.ToString("MMM dd yyyy") </p>
                            </div>
                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Time Recieved </p>
                                <p>  @Model.JobDate.ToShortTimeString() </p>
                            </div>

                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Job Status </p>
                                <p>  @Model.JobStatus.Status </p>
                            </div>


                            <div class="rpt-bordered-none" style="margin-bottom:5px;">
                                <div>
                                    <p class="text-muted" style="margin-left:5px;"> Payment Status </p>
                                    @if (@Model.JobMainPaymentStatus.FirstOrDefault() != null)
                                    {
                                        <p> @Model.JobMainPaymentStatus.OrderByDescending(s => s.Id).FirstOrDefault().JobPaymentStatu.Status </p>
                                    }
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Customer Name </p>
                                <span class="rpt-text-normal-bold" style="margin-left:10px;"> @Model.Customer.Name </span>

                            </div>

                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Email Address: </p>
                                <p> @Model.CustContactEmail &nbsp; </p>
                            </div>

                            <div class="rpt-bordered-bot">
                                <p class="text-muted"> Tel / Mobile No : </p>
                                <p> @Model.CustContactNumber  &nbsp;  </p>
                            </div>

                            <div class="rpt-bordered-none" style="margin-bottom:0px;">
                                <p class="text-muted"> Company: </p>
                                <p class="rpt-text-normal"> @ViewBag.Company </p>
                                <p class="rpt-text-normal" style="margin-bottom:5px;"> @ViewBag.CompanyAddress </p>
                            </div>
                        </td>

                        <td>
                            <!-- Vehicle Details -->
                            <table class="rpt-table" style="border:none;">
                                <tr>
                                    <td colspan="2" style="border:none;">
                                        <div class="rpt-bordered-bot">
                                            <p class="text-muted">Make / Model / Year: </p>
                                            <p style="font-size:14px;">
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span> @JobVehicle.Vehicle.VehicleModel.VehicleBrand.Brand @JobVehicle.Vehicle.VehicleModel.Make @JobVehicle.Vehicle.VehicleModel.Variant  @JobVehicle.Vehicle.YearModel @JobVehicle.Vehicle.VehicleModel.VehicleTransmission.Type </span>
                                                }
                                                else
                                                {
                                                    <span>  No Vehicle Assigned </span>
                                                }

                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" style="border:none;">
                                        <div class="rpt-bordered-bot">
                                            <p class="text-muted">Chassis NO/Serial No: </p>
                                            <p>
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span>@JobVehicle.Vehicle.ChassisNo &nbsp;</span>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border:none;border-right:1px solid black;">
                                        <div class="rpt-bordered-bot">
                                            <p class="text-muted"> Color : </p>
                                            <p>
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span> @JobVehicle.Vehicle.Color</span>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            </p>
                                        </div>
                                    </td>

                                    <td style="border:none;">
                                        <div class="rpt-bordered-bot">
                                            <p class="text-muted"> Plate No : </p>
                                            <p>
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span>  @JobVehicle.Vehicle.PlateNo</span>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border:none;border-right:1px solid black;">
                                        <div class="rpt-bordered-bot">
                                            <p class="text-muted"> Kilometers KM : </p>
                                            <p>
                                                @if (JobVehicle != null)
                                                {
                                                    <span> @JobVehicle.Mileage </span>
                                                }
                                            </p>
                                        </div>
                                    </td>

                                    <td style="border:none;">
                                        <div class="rpt-bordered-bot">
                                            <p class="text-muted"> Conduction : </p>
                                            <p>
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span>  @JobVehicle.Vehicle.Conduction &nbsp;</span>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border:none;border-right:1px solid black;">
                                        <div class="rpt-bordered-none">
                                            <p class="text-muted"> Engine No : </p>
                                            <p>
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span> @JobVehicle.Vehicle.EngineNo  &nbsp;</span>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            </p>
                                        </div>
                                    </td>

                                    <td style="border:none;">
                                        <div class="rpt-bordered-none">
                                            <p class="text-muted"> Remarks : </p>
                                            <p>
                                                @if (JobVehicle.VehicleId != 0)
                                                {
                                                    <span> @JobVehicle.Vehicle.Remarks &nbsp;</span>
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="padding-left:1px;">
            <td colspan="3" style="background-color:black;color:white;padding:2px;border:1px solid black;">
                <p class="rpt-no-line-space rpt-text-small"> <b> PRODUCT DETAILS </b> </p>
            </td>
        </tr>

        <tr>
            <!-- Service History -->
            <td colspan="3" style="padding:0px;border:1px solid black;">
                <table class="rpt-table">
                    <tr>
                        <td colspan="4" style="padding-top:5px;border:none">
                            <div>
                                <p> <b> SERVICE HISTORY  </b> </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:5px;border:none">
                            <div>
                                <p class="text-muted"> DATE  </p>
                            </div>
                        </td>
                        <td style="padding-top:5px;border:none">
                            <div>
                                <p class="text-muted">JOBORDER NO  </p>
                            </div>
                        </td>
                        <td style="padding-top:5px;border:none">
                            <div>
                                <p class="text-muted"> MILEAGE  </p>
                            </div>
                        </td>
                    </tr>
                    <!-- Services History items-->
                    @foreach (var history in VehicleHistory)
                    {
                        <tr>
                            <td style="padding-top:5px;border:none">
                                <div>
                                    <p> @history.JobMain.JobDate.ToString("MMM dd yyyy")  </p>
                                </div>
                            </td>

                            <td style="padding-top:5px;border:none">
                                <div>
                                    <p> @history.JobMainId.ToString("D4")  </p>
                                </div>
                            </td>

                            <td style="padding-top:5px;border:none">
                                <div>
                                    <p> @history.Mileage.ToString("#,###") KM  </p>
                                </div>
                            </td>
                        </tr>
                    }

                    @if (VehicleHistory.Count() == 0)
                    {
                        <tr>
                            <td class="rpt-td-border-none" colspan="3">
                                <div class="text-center" style="margin:10px auto;">
                                    <p> NO PREVIOUS RECORDS </p>
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="border:none;" colspan="3">
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Job Remakrs -->
        <tr>
            <td colspan="3" style="padding:0px;">
                <table class="rpt-table">
                    <tr>
                        <td>
                            <div style="margin-bottom:20px;">
                                <p> <b> CUSTOMER REQUEST </b> </p>
                                <br />
                            </div>
                        </td>
                        <td>
                            <div style="margin-bottom:20px;">
                                <p> <b> SERVICE ADVISOR INSTRUCTIONS </b> </p>

                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Job Service Items -->
        <tr>
            <td colspan="3" style="padding:0px;">
                <table class="rpt-table">
                    <tr class="rpt-text-small">
                        <td class="rpt-td-border-none text-muted" style="border-right:1px solid black;"> <span style="padding-left:10px;"> START DATE - END DATE</span> </td>
                        <td class="rpt-td-border-none text-muted" style="border-right:1px solid black;"> SERVICE TYPE  </td>
                        <td class="rpt-td-border-none text-muted" style="border-right:1px solid black;"> PARTICULARS  </td>
                        <td class="rpt-td-border-none text-muted" style="border-right:1px solid black;"> ASSIGNED BAY  </td>
                        <td class="rpt-td-border-none text-muted" style="border-right:1px solid black;"> AMOUNT  </td>
                    </tr>
                    @{
                        decimal TotalAmount = 0;
                    }
                    <!-- Items loop here -->
                    @foreach (var services in jobServices)
                    {
                        TotalAmount += services.ActualAmt != null ? (decimal)services.ActualAmt : 0;

                        <tr class="rpt-tr-border-none rpt-text-small">
                            <td span style="padding-left:10px;margin-right:5px;" valign="top">
                                <span> @DateTime.Parse(services.DtStart.ToString()).ToString("MMM dd yyyy") -  @DateTime.Parse(services.DtEnd.ToString()).ToString("MMM dd yyyy") </span>
                            </td>
                            <td valign="top" style="margin-right:5px;">
                                <span> @services.Service.Name </span>
                            </td>
                            <td valign="top" style="margin-right:5px;">
                                <span> @services.Particulars </span>
                                @if (!services.Remarks.IsEmpty())
                                {
                                    <br /><span> Remarks : @services.Remarks </span>
                                }

                                @if (services.Service.Name.Contains("Change Oil"))
                                {
                                    <br />
                                    <span>
                                        [
                                        @{Html.RenderAction("GetVehicleOilRemarks", new { id = services.JobMainId });}
                                        ]
                                    </span>
                                }

                            </td>
                            <td valign="top" style="margin-right:5px;">
                                @foreach (var item in services.JobServiceItems)
                                {
                                    if (@item.InvItem.InvItemCategories.FirstOrDefault() != null)
                                    {
                                        <span> @item.InvItem.InvItemCategories.FirstOrDefault().InvItemCat.Name : </span>
                                    }
                                    <span> @item.InvItem.Description </span><br />
                                }
                            </td>
                            <td valign="top" style="margin-right:5px;">
                                <span> @(((Decimal)services.ActualAmt).ToString("#,##0.00")) </span>
                            </td>
                        </tr>
                    }

                    @if (jobServices.Count() == 0)
                    {
                        <tr class="rpt-tr-border-none rpt-text-small">
                            <td colspan="5">
                                <div class="text-center" style="margin:15px 0px;">
                                    <span style="margin:0px auto;"> NO SERVICES FOUND </span>
                                </div>
                            </td>

                        </tr>
                    }

                    <tr class="rpt-tr-border-none">
                        <td colspan="5">
                            <div style="margin:1px 0px;">
                                &nbsp;
                            </div>
                        </td>
                    </tr>


                    <!-- Discount Amount -->
                    @if(DiscountAmount != 0)
                    {
                        TotalAmount += DiscountAmount; 
                        <tr class="rpt-tr-border-none">
                            <td colspan="3">
                            </td>
                            <td>
                                Discount
                            </td>
                            <td>
                                @DiscountAmount.ToString("#,##0.00")  &nbsp;
                            </td>
                        </tr>
                    }

                    <!-- Total Amount -->
                    <tr class="rpt-tr-border-none">
                        <td colspan="3">
                        </td>
                        <td>
                            <b>TOTAL AMOUNT</b>
                        </td>
                        <td>
                            <b>@TotalAmount.ToString("#,##0.00")</b>
                        </td>
                    </tr>

                    <!-- Total Amount -->
                    <tr class="rpt-tr-border-none">
                        <td colspan="4">
                            <br />
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td colspan="3" style="padding:0px;">
                <table class="rpt-table">
                    <tr>

                        <td style="width:100px;">
                            <div style="height:50px;margin:10px 15px;">
                                <h4 class="text-center">  SERVICE COPY  </h4>
                            </div>
                        </td>


                        <td>
                            <div style="height:50px;">
                                <p> <b> SERVICE START </b> </p>
                                <p>
                                    @ViewBag.StartJobDate
                                    <br />
                                </p>
                            </div>
                        </td>

                        <td>
                            <div style="height:50px;">
                                <p> <b> SERVICE END </b> </p>
                                <p>
                                    @ViewBag.EndJobDate
                                    <br />
                                </p>
                            </div>
                        </td>

                        <td>
                            <div style="height:50px;">
                                <p> <b>  JOB CONTROLLER SIGNATURE & NAME </b> </p>
                                <p>
                                    <br />
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>