@model JobsV1.Models.CustEntMain

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    int customerid = Model.Id;
}
<div class="row">
    <h3>Company Details</h3>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div class="row">
    <div class="col-lg-6">

        <h1> @Html.DisplayFor(model => model.Name) ( <span id="status"> </span> ) </h1>
        @Html.ActionLink("<View History> ", "Index", "CustEntActivities", new { id = Model.Id }, null)
        <h5> <b>Telephone:</b> @Html.DisplayFor(model => model.Contact1) </h5>
        <h5> <b>Fax:</b> @Html.DisplayFor(model => model.Contact2) </h5>
        <h5> <b>Mobile:</b> @Html.DisplayFor(model => model.Mobile) </h5>
        <h5> <b>Website:</b><a href="http://@Html.DisplayFor(model => model.Website)/">  @Html.DisplayFor(model => model.Website) </a> </h5>
        <h5> <b>City:</b> @ViewBag.City </h5>
        <h5>
            <b>Status:</b>

            @switch (Html.DisplayFor(model => model.Status).ToString())
            {
                case "ACC":
                    <text> ACCREDITED </text>;
                    break;
                case "ACP":
                    <text> ACCREDITATION ON PROCESS </text>;
                    break;
                case "BIL":
                    <text> BILLING/TERMS </text>;
                    break;
                case "ACT":
                    <text> ACTIVE </text>;
                    break;
                case "INC":
                    <text> INACTIVE </text>;
                    break;
                case "BAD":
                    <text> BAD ACCOUNT </text>;
                    break;
                case "SUS":
                    <text> SUSPENDED </text>;
                    break;
                case "PRI":
                    <text> PRIORITY </text>;
                    break;
            }
        </h5>
        <h5>
            <b>Assigned To:</b>
            <span>
                @Html.DisplayFor(model => model.AssignedTo)
            </span>
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                @if (ViewBag.isAllowedHistory)
            {
                    @Html.ActionLink("<View History> ", "AssignedRecords", new { companyId = Model.Id })
                }

            </p>
        </h5>
        @* <h5>Address: @Html.DisplayFor(model => model.Address) </h5>*@

    </div>

    <div class="col-lg-6" style="margin-top:80px;">
        <h3>Documents</h3>
        @foreach (var doc in ViewBag.CustDocuments as IEnumerable<JobsV1.Models.CustEntDocuments>)
        {
          <text> 
            @doc.SupDocument.Description 
            <a href="#" onclick="PromptRemoveDocument('@doc.SupDocument.Description', @doc.Id, @Model.Id)" > x </a><br />
          </text>
        }

        <a href="#" id="catbtn" data-toggle="modal" data-target="#createDocuments">Edit</a>
    </div>
</div>



<div class="row">
    <h3> Categories </h3>
    <a href="#" id="catbtn" data-toggle="modal" data-target="#categoryModal">Add Category</a>
    @foreach (var cat in Model.CustEntCats as IEnumerable<JobsV1.Models.CustEntCat>)
    {
        <p>@cat.CustCategory.Name
        <span>@Html.ActionLink("[ x ]", "DeleteCategory",  new { id = cat.Id })</span>
        </p>
    }
</div>

<div class="row">
    <h3>Address</h3>
    @Html.ActionLink("Add Address", "CreateAddress", "CustEntAddresses", new { companyId = Model.Id }, null)
    @foreach (var address in Model.CustEntAddresses as IEnumerable<JobsV1.Models.CustEntAddress>)
    {

        <p>
            @if (address.isPrimary == true && address.isBilling == true)
            {
                <text>
                    Branch / Billing Address:
                </text>
            }
            else if (address.isPrimary == true && address.isBilling == false)
            {
                <text>
                    Branch Address:
                </text>
            }
            else if (address.isPrimary == false && address.isBilling == true)
            {
                <text>
                    Billing Address:
                </text>
            }
            else
            {
                <text> Address:</text>
            }
        </p>
        <p class="comp-address">
            <b> &nbsp;&nbsp; @address.Line1  @address.Line2  @address.Line3  @address.Line4  @address.Line5 </b>
            <span class="comp-address-actions" style="display:none;">
                <a href="#" id="catbtn" data-toggle="modal" data-target="#comAddressEdit"
                   onclick="edit_setAddress(@address.Id,'@address.Line1','@address.Line2','@address.Line3','@address.Line4','@address.Line5','@address.isPrimary','@address.isBilling')"> Edit  </a> |
                <a onclick="ajax_RemoveAddress(@address.Id)">Delete</a>
            </span>
        </p>
    }
</div>

<div class="row">

    <h3>Contacts </h3>
    <a href="#" id="catbtn" data-toggle="modal" data-target="#comContactAdd" > Add Contact  </a> 
    <table class="table table-bordered">
        <tr>
            <th>  Contact Person </th>
            <th>  Position </th>
            <th>  Email </th>
            <th>  Telephone </th>
            <th>  Mobile </th>
            <th>  Social Media </th>
            <th>  Status </th>
        </tr>
        @foreach (var custcompany in Model.CustEntities as IEnumerable<JobsV1.Models.CustEntity>)
        {
            <tr>
                <td>
                    @Html.ActionLink(custcompany.Customer.Name, "Details", "Customers", new { id = custcompany.Customer.Id }, null)
                </td>
                <td>
                    @custcompany.Position
                </td>
                <td>
                    @custcompany.Customer.Email
                </td>
                <td>
                    @custcompany.Customer.Contact1
                </td>
                <td>
                    @custcompany.Customer.Contact2
                </td>
                <td>
                    @foreach (var social in custcompany.Customer.CustSocialAccs.Take(1) as IEnumerable<JobsV1.Models.CustSocialAcc>)
                    {
                        @social.Facebook
                    }
                </td>
                <td>
                   @switch (custcompany.Customer.Status)
                   {
                       case "ACC":
                        <text> ACCREDITED </text>;
                           break;
                       case "ACP":
                        <text> ACCREDITATION ON PROCESS </text>;
                           break;
                       case "BIL":
                        <text> BILLING/TERMS </text>;
                           break;
                       case "ACT":
                          <text> ACTIVE </text>;
                           break;
                       case "INC":
                          <text> INACTIVE </text>;
                           break;
                       case "BAD":
                          <text> BAD ACCOUNT </text>;
                           break;
                       case "SUS":
                          <text> SUSPENDED </text>;
                           break;
                       case "PRI":
                          <text> PRIORITY </text>;
                           break;
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Details", "Customers", new { id = custcompany.Customer.Id }, null) |
                    @Html.ActionLink("Remove", "DeleteContact", "CustEntMains", new { id = custcompany.Id }, null)

                </td>
            </tr>
        }
    </table>
</div>

<!-- Company Clauses -->
<div class="row">
    <h3>Clauses</h3>
    @Html.ActionLink("Add Clause", "CreateClause", new { companyId = Model.Id }, null)
    @foreach (var clause in Model.CustEntClauses as IEnumerable<JobsV1.Models.CustEntClauses>)
                       {

        <div class="comp-clauses">
            <b> @clause.Title </b> &nbsp; &nbsp;
            <span class="comp-clauses-actions" style="display:none;">
                <a href="#" id="catbtn" data-toggle="modal" data-target="#comClauseEdit"
                   onclick="edit_setClause(@clause.Id,'@clause.Title','@clause.ValidStart','@clause.ValidEnd','@clause.Desc1','@clause.Desc2','@clause.Desc3')">Edit</a> |
                <a onclick="ajax_RemoveClause(@clause.Id)">Delete</a>
            </span>
            <p> @clause.ValidStart - @clause.ValidEnd </p>
            <p> @clause.Desc1 </p>
            <p> @clause.Desc2 </p>
            <p> @clause.Desc3 </p>

        </div><br />
    }
</div>

<!-- Sales Leads -->
<div class="row">
    <h3>Sales Leads</h3>

    <table class="table table-striped">
        <tr>
            <th>Details</th>
            <th>Project Name</th>
            <th>Status</th>
            <th>Remarks</th>
        </tr>

        @foreach (var item in ViewBag.SalesLeads as IEnumerable<JobsV1.Models.Class.CompanyLeadsTbl>)
                   {

            <tr>
                <td>
                    @*<a href="@Url.Action("addCategory", "CustEntMains", new { id = item.Id, companyId = Model.Id })" > @item.Desc </a>*@
                    @Html.ActionLink(item.Desc, "LeadDetails", "SalesLeads", new { id = item.id }, null)
                </td>
                <td>
                   @item.Desc
                </td>
                <td>
                    @item.status
                </td>
                <td>
                    @item.Remarks
                </td>
            </tr>
        }

    </table>
</div>

<!-- Job List-->
<div class="row">
    <h3>Job List</h3>
    <p>
        <b>Date: </b>
        <input id="startDate" type="date" /> -
        <input id="endDate" type="date" />
        &nbsp;&nbsp;&nbsp;
        <a onclick="getLastJobs(30)">Last 30 Days</a>
        <a onclick="getLastJobs(60)">Last 60 Days</a>
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Filter" class="btn btn-default" style="margin-top:-10px;padding:5px;" onclick="detailsUpdate(@customerid)" />
    </p>
    <p id="StatusOp">
        <b>Status: </b>
        <a onclick="statusUpdate('ALL')" id="ALL">         ALL</a> |
        <a onclick="statusUpdate('INQUIRY')" id="INQUIRY">     INQUIRY</a> |
        <a onclick="statusUpdate('RESERVATION')" id="RESERVATION"> RESERVATION</a> |
        <a onclick="statusUpdate('CONFIRMED')" id="CONFIRMED">   CONFIRMED</a> |
        <a onclick="statusUpdate('CLOSED')" id="CLOSED">      CLOSED</a> |
        <a onclick="statusUpdate('CANCELLED')" id="CANCELLED">   CANCELLED</a>
    </p>

    <table class="table table-striped">
        <tr>
            <th>Job #</th>
            <th>Job Date</th>
            <th>Description</th>
            <th>Contact Person</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Assigned</th>
            <th>Details</th>
        </tr>
        @foreach (var job in ViewBag.CompanyJobs as IEnumerable<JobsV1.Models.CompanyJobsList>)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.Date</td>
                <td>@job.Description</td>
                <td>@job.Customer</td>
                <td>@job.Amount</td>
                <td>
                   @job.Status
                </td>
                <td>@job.Customer</td>
                <td>@job.AssignedTo</td>
                <td>
                    @Html.ActionLink("Details", "BookingDetails", "JobOrder", new { id = job.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>

<!-- Start of Modal -->
<!-- Add Contact Modal -->
<div class="modal fade" id="comContactAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Contact</h4>
            </div>

            <div class="modal-body row" id="modal2-content">

                <div class="form-group cform">
                    <b class="col-md-2"> Id </b>
                    <div class="col-md-10">

                        @Html.DropDownList("ContactList", null, htmlAttributes: new { @class = "form-control", @id = "ac-custId" })

                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Name </b>
                    <div class="col-md-10">
                        <input id="ac-name" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Position </b>
                    <div class="col-md-10">
                        <input id="ac-position" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Email </b>
                    <div class="col-md-10">
                        <input id="ac-email" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Telephone </b>
                    <div class="col-md-10">
                        <input id="ac-tel" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Mobile </b>
                    <div class="col-md-10">
                        <input id="ac-mobile" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Social  Media </b>
                    <div class="col-md-10">
                        <input id="ac-social" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform hidden">
                    <b class="col-md-2"> Status </b>
                    <div class="col-md-10">
                        <input id="ac-status" class="form-control" type="text" maxlength="80" value="ACT">
                    </div><p></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="editDescBtn" onclick="ajax_AddContact()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Address Edit Modal -->
<div class="modal fade" id="comAddressEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Address</h4>
            </div>

            <div class="modal-body row" id="modal2-content">

                <div class="form-group cform hidden">
                    <b class="col-md-2"> ID </b>
                    <div class="col-md-10">
                        <input id="address-ID" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Line 1 </b>
                    <div class="col-md-10">
                        <input id="Address-1" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Line 2 </b>
                    <div class="col-md-10">
                        <input id="Address-2" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Line 3 </b>
                    <div class="col-md-10">
                        <input id="Address-3" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Line 4 </b>
                    <div class="col-md-10">
                        <input id="Address-4" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Line 5 </b>
                    <div class="col-md-10">
                        <input id="Address-5" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Billing</b>
                    <div class="col-md-10">
                        <input id="EditBill" type="checkbox">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Is this Branch? </b>
                    <div class="col-md-10">
                        <input id="EditPrim" type="checkbox">
                    </div><p></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="editDescBtn" onclick="ajax_EditAddress()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Clause Edit Modal -->
<div class="modal fade" id="comClauseEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Clause</h4>
            </div>

            <div class="modal-body row" id="modal2-content">

                <div class="form-group cform hidden">
                    <b class="col-md-2"> ID </b>
                    <div class="col-md-10">
                        <input id="Clause-ID" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Title </b>
                    <div class="col-md-10">
                        <input id="Clause-Title" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Start Date </b>
                    <div class="col-md-10">
                        <input id="Clause-StartDate" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> End Date </b>
                    <div class="col-md-10">
                        <input id="Clause-EndDate" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Desc 1 </b>
                    <div class="col-md-10">
                        <input id="Clause-Desc1" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
                <div class="form-group cform">
                    <b class="col-md-2"> Desc 2 </b>
                    <div class="col-md-10">
                        <input id="Clause-Desc2" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-2"> Desc 3 </b>
                    <div class="col-md-10">
                        <input id="Clause-Desc3" class="form-control" type="text" maxlength="80">
                    </div><p></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="editDescBtn" onclick="ajax_EditClause()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Categories Modal  -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Category List</h4>
            </div>
            <div class="modal-body" id="modal2-content">
                <div class="list-group" id="categorylist">

                    @foreach (var cat in ViewBag.categories as IEnumerable<JobsV1.Models.CustCategory>)
                    {
                        <a href="@Url.Action("addCategory", "CustEntMains", new { catId = cat.Id, companyId = Model.Id })" class="list-group-item"> @cat.Name </a>
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End of Modal -->


@{ Html.RenderPartial("CreateDocuments", new ViewDataDictionary { { "CompanyId", ViewBag.CompanyId }, { "Documents", ViewBag.Documents } }); }

<link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script src="~/Scripts/DateRangePicker/daterangepicker.js"></script>
<script src="~/Scripts/Job/CompanyDetails.js"></script>
<script src="~/Scripts/Job/CompanyReport.js"></script>

<!-- Start of Scripts -->
<script>
    //Show hide edit / delete of address
    $(document).ready(function () {
        $("p.comp-address").hover(
            function () { //on hover
                //console.log("test hover");
                $(this).children("span.comp-address-actions").show();
            },
            function () { //on leave
                //console.log("test leave");
                $(this).children("span.comp-address-actions").hide();
            }
        );

        $("#status").text(parseStatusText('@Model.Status'));
    });

    //Show hide edit / delete of Clauses
    $(document).ready(function () {
        $("div.comp-clauses").hover(
            function () { //on hover
                //console.log("test hover");
                $(this).children("span.comp-clauses-actions").show();
            },
            function () { //on leave
                //console.log("test leave");
                $(this).children("span.comp-clauses-actions").hide();
            }
        );
    });

    //ADDRESS EDIT - SET INPUT 
    function edit_setAddress(id, line1, line2, line3, line4, line5, isPrimary, isBilling) {
        $("#address-ID").val(id);
        $("#Address-1").val(line1);
        $("#Address-2").val(line2);
        $("#Address-3").val(line3);
        $("#Address-4").val(line4);
        $("#Address-5").val(line5);
        $("#EditPrim").attr("checked", isChecked(isPrimary));
        $("#EditBill").attr("checked", isChecked(isBilling));

        console.log("primary: " + isChecked(isPrimary));
        console.log("billing: " + isChecked(isBilling));
    }

    //ADDRESS EDIT - SET INPUT
    function edit_setClause(id, title, stardate, enddate, desc1, desc2, desc3) {
        $("#Clause-ID").val(id);
        $("#Clause-Title").val(title);
        $("#Clause-StartDate").val(stardate);
        $("#Clause-EndDate").val(enddate);
        $("#Clause-Desc1").val(desc1);
        $("#Clause-Desc2").val(desc2);
        $("#Clause-Desc3").val(desc3);
    }

    function isChecked(input) {
        if (input == "onclick" || input == "on") {
            return true;
        } else {
            return false;
        }
    }
    
    //Add Company Contact
    function ajax_AddContact() {

        //build json object
        var data = {
            companyId : @Model.Id,
            customerId : $("#ac-custId").val(),
            name:   $("#ac-name").val(),
            position: $("#ac-position").val(),
            email:  $("#ac-email").val(),
            tel:    $("#ac-tel").val(),
            mobile: $("#ac-mobile").val(),
            social: $("#ac-social").val(),
            status: $("#ac-status").val()
        };

        console.log("TEST: " + $("#ac-name").val());
        console.log("Add Data: ");
        console.log(data);

        var url = '/CustEntMains/AddContact';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

    //ADDRESS EDIT
    function ajax_EditAddress() {

        //build json object
        var data = {
            id: $("#address-ID").val(),
            line1: $("#Address-1").val(),
            line2: $("#Address-2").val(),
            line3: $("#Address-3").val(),
            line4: $("#Address-4").val(),
            line5: $("#Address-5").val(),
            isPrimary: isChecked($("#EditPrim:checked").val()),
            isBilling: isChecked($("#EditBill:checked").val())
        };

        console.log(data);

        var url = '/CustEntMains/EditAddress';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

    //CLAUSE EDIT
    function ajax_EditClause() {

        //build json object
        var data = {
            id: $("#Clause-ID").val(),
            title: $("#Clause-Title").val(),
            startdate: $("#Clause-StartDate").val(),
            enddate: $("#Clause-EndDate").val(),
            desc1: $("#Clause-Desc1").val(),
            desc2: $("#Clause-Desc2").val(),
            desc3: $("#Clause-Desc3").val()
        };

        console.log(data);

        var url = '/CustEntMains/EditClause';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

    //REMOVE ADDRESS
    function ajax_RemoveAddress(Id) {
        console.log("ID:" + Id);

        //build json object
        var data = {
            id: Id
        };

        var url = '/CustEntMains/DeleteAddress';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);

                location.reload();
            }
        });
    }

    //CLAUSE DELETE
    function ajax_RemoveClause(Id) {

        //build json object
        var data = {
            id: Id
        };

        var url = '/CustEntMains/DeleteClause';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

    
    function parseStatusText(status) {
        var data ;
        switch (status) {
            case 'ACT':
                data = 'ACTIVE';
                break;
            case 'INC':
                data = 'INACTIVE';
                break;
            case 'BAD':
                data = 'BAD ACCOUNT';
                break;
            case 'ACC':
                data = 'ACCREDITED';
                break;
            case 'PRIO':
                data = 'PRIORITY';
                break;
            case 'PRI':
                data = 'PRIORITY';
                break;
            default:
                data = 'NA'
                break;
        }

        $(this).val(data);
        console.log('data: ' + data);

        return data;
    }

    function clickme(event){
        var data = $(event).text();
        console.log('data: ' + data);
        $(this).text(parseStatus('ACT'));
    }

    
    function parseStatus(status) {
        switch (status) {
            case 'PRI':
                return ' PRIORITY';
                break;
            case 'ACC':
                return 'ACCREDITED';
                break;
            case 'ACP':
                return 'ACCREDITATION ON PROCESS';
                break;
            case 'BIL':
                return 'BILLING/TERMS';
                break;
            case 'ACT':
                return 'ACTIVE';
                break;
            case 'INC':
                return 'INACTIVE';
                break;
            case 'BAD':
                return 'BAD ACCOUNT';
                break;
            case 'SUS':
                return 'SUSPENDED';
                break;
            default:
                return 'NA'
                break;
        }
    }


    $('#ac-custId').change(function(){
        ajax_getContactDetails();
    });
    
    //load table content on search btn click
    //request data from server using ajax call
    //then clear and add contents to the table
    function ajax_getContactDetails() {
        var Id = $('#ac-custId').children("option:selected").val();
   
        //build json object
        var data = {
            id: Id
        };
        //console.log(data);
        //request data from server using ajax call
        $.ajax({
            url: '/CustEntMains/getCustomerAccount',
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log("SUCCESS");
            },
            error: function (data) {
                //console.log("ERROR");
                //console.log(data);
                LoadContactFields(data);
            }
        });
    }


    //display simple/limited information 
    //of suppliers
    function LoadContactFields(data) {
    
        //console.log(data);
        //parse data response to json object
        var temp = jQuery.parseJSON(data["responseText"]);
        //console.log(temp);
        //clear table contents except header
        $("#sup-Table").find("tr:gt(0)").remove();
        var jobcount = 0;
        var company  = "";
        var contact1 = "";
        var contact2 = "";

        clearAddContactFields()
        console.log(temp["Name"]);
        console.log(temp["Email"]);
        console.log(temp["Telephone"]);
        console.log(temp["Mobile"]);

        $('#ac-name').val(temp["Name"]);
        $('#ac-email').val(temp["Email"]);
        $('#ac-tel').val(temp["Telephone"]);
        $('#ac-mobile').val(temp["Mobile"]);
        $('#ac-social').val(temp["SocialMedia"]);
        $('#ac-position').val(temp["Position"]);
    }

    function clearAddContactFields(){
        $('#ac-name').val("");
        $('#ac-email').val("");
        $('#ac-tel').val("");
        $('#ac-mobile').val("");
        $('#ac-social').val("");
        $('#ac-position').val("");
    }


    function PromptRemoveDocument(docDesc, Id){
        
        var message = "Do you want to remove "+docDesc+" from the list?";

        if(confirm(message)){
            console.log("YES");
            RemoveDocument(Id)
        }else{
            console.log("NO");
        }
    }

    function RemoveDocument(Id){
   
        //build json object
        var data = {
            id: Id
        };

        //request data from server using ajax call
        $.ajax({
            url: '/CustEntMains/DeleteDocument',
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log("SUCCESS");
            },
            error: function (data) {
                //console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

</script>