@model JobsV1.Models.CustEntMain

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    int customerid = Model.Id;
}
<div class="row">
    <h3>Company Details</h3>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div class="row">
        <h1> @Html.DisplayFor(model => model.Name) </h1>
        <h5> @Html.DisplayFor(model => model.Contact1) / @Html.DisplayFor(model => model.Contact2) </h5>
       @* <h5>Address: @Html.DisplayFor(model => model.Address) </h5>*@
</div>

<div class="row">
    <h3>Address</h3>
    @Html.ActionLink("Add Address", "CreateAddress", "CustEntAddresses", new { companyId = Model.Id }, null)
    <br />
    @foreach (var address in Model.CustEntAddresses as IEnumerable<JobsV1.Models.CustEntAddress>)
    {
        <p>
            @if (address.isPrimary == true && address.isBilling == true)
            {
                <text>
                    Primary / Billing Address:
                </text>
            }
            else if (address.isPrimary == true)
            {
                <text>
                    Billing Address:
                </text>
            }
            else if (address.isBilling == true)
            {
                <text>
                    Billing Address:
                </text>
            }
            else
            {
                <text>Address:</text>
            }
        </p>
        <p> 
            <b>  @address.Line1  @address.Line2  @address.Line3  @address.Line4  @address.Line5 </b>
        </p>
    }


</div>

<div class="row">
    <h3>Contacts </h3>
    @foreach (var customers in Model.CustEntities as IEnumerable<JobsV1.Models.CustEntity>)
    {
        <p> 
            <h4>
                @Html.ActionLink(customers.Customer.Name , "Edit", "Customers", new { id = Model.Id }, null)
            </h4>
        </p>
    }
</div>

<div class="row">
  <h3>Sales Leads</h3> 
  @Html.ActionLink("Add Lead", "Index", "SalesLeads", new { leadId = 1 }, null)
  <table class="table table-striped">
      <tr>
          <th>Details</th>
          <th>Remarks</th>
          <th>Status</th>
      </tr>

      @foreach (var item in ViewBag.SalesLeads as IEnumerable<JobsV1.Models.Class.CompanyLeadsTbl> )
      {
          
      <tr>
           <td>
            @item.Desc
          </td>
          <td>
              @item.Remarks
          </td>
          <td>
              @item.status
          </td>
      </tr>
      }

  </table>
</div>

<div class="row">
    <h3>Job List</h3>
    <p>
        <b>Date: </b>
        <input id="startDate" type="date" /> -
        <input id="endDate" type="date" />
        &nbsp;&nbsp;&nbsp;
        <a onclick="getLastJobs(30)">Last 30 Days</a> 
        <a onclick="getLastJobs(60)">Last 60 Days</a>
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Filter" class="btn btn-default" style="margin-top:-10px;padding:5px;" onclick="detailsUpdate(@customerid)" />
    </p>
    <p id="StatusOp">
        <b>Status: </b>
        <a onclick="statusUpdate('ALL')"            id="ALL">         ALL</a> |
        <a onclick="statusUpdate('INQUIRY')"        id="INQUIRY">     INQUIRY</a> |
        <a onclick="statusUpdate('RESERVATION')"    id="RESERVATION"> RESERVATION</a> |
        <a onclick="statusUpdate('CONFIRMED')"      id="CONFIRMED">   CONFIRMED</a> |
        <a onclick="statusUpdate('CLOSED')"         id="CLOSED">      CLOSED</a> |
        <a onclick="statusUpdate('CANCELLED')"      id="CANCELLED">   CANCELLED</a>
    </p>

    <table class="table table-striped">
        <tr>
            <th>Job Date</th>
            <th>Description</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        @foreach (var job in ViewBag.CompanyJobs as IEnumerable<JobsV1.Models.CompanyJobsList>)
        {
            <tr>
                <td>@job.Date</td>
                <td>@job.Description</td>
                <td>@job.Customer</td>
                <td>@job.Amount</td>
                <td>@job.Status</td>
                <td>
                    @Html.ActionLink("Details", "BookingDetails", "JobOrder", new { id = job.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <h3>Clauses</h3>
    @Html.ActionLink("Add Clause", "CreateClause", new { companyId = Model.Id }, null)
    @foreach (var clause in Model.CustEntClauses as IEnumerable<JobsV1.Models.CustEntClauses>)
    {

        <div>
            <b> @clause.Title </b>
            <p> @clause.ValidEnd - @clause.ValidEnd </p>
            <p> @clause.Desc1 </p>
            <p> @clause.Desc2 </p>
            <p> @clause.Desc3 </p>
        </div><br />
    }

</div>

<script src="~/Scripts/jquery-1.12.4.min.js"> </script>
<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script src="~/Scripts/Job/CompanyReport.js"> </script>

