@model IEnumerable<JobsV1.Areas.Personel.Models.crRptUnitExpense>

@{
    ViewBag.Title = "Unit Expense Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Unit Expense Report</h2>
<p>
    @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog", null, null)
</p>
<p>
    Reports :
    @Html.ActionLink("Trip Report", "ReportFilter", "CarRentalLog", null, null) |
    <a href="" data-toggle="modal" data-target="#VehicleSummaryFilter">Vehicle Summary</a> |
    <a href="" data-toggle="modal" data-target="#VehicleTripFilter">Vehicle TripLog</a> |
    <a href="" data-toggle="modal" data-target="#Vehicle-PaymentSummaryFilter">Vehicle Payment Summary</a> |
    <a href="" data-toggle="modal" data-target="#DriverSummaryFilter">Driver Summary</a> |
    <a href="" data-toggle="modal" data-target="#POSummaryFilter">PO Summary</a>
</p>

<p>
    @Html.ActionLink("Create New Report", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Reports
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(c => c.RptNo))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.CrRptUnits.Count() > 0)
                {
                <span>
                    <a href="" data-toggle="modal" data-target="#ItemVehicleSummaryFilter" onclick="Initial_ItemVehicleSummaryFilter('@item.Id','@item.RptName')"> Summary</a> |
                    <a href="" data-toggle="modal" data-target="#ItemVehicleTripFilter" onclick="Initial_ItemVehicleTripFilter('@item.Id','@item.RptName')"> Trip Logs</a> |
                    <a href="" data-toggle="modal" data-target="#ItemVehicle-PaymentSummaryFilter" onclick="Initial_ItemVehicle_PaymentSummaryFilter('@item.Id','@item.RptName')"> Payment Summary</a> |
                    <a href="" data-toggle="modal" data-target="#ItemDriverSummaryFilter" onclick="Initial_ItemDriverSummaryFilter('@item.Id','@item.RptName')"> Driver Summary </a>|
                    <a href="" data-toggle="modal" data-target="#ItemVehicleExpenseFilter" onclick="Initial_ItemVehicleExpenseFilter('@item.Id','@item.RptName')"> Expense Logs </a>|
                    <a href="" data-toggle="modal" data-target="#ItemPOSummaryFilter" onclick="Initial_ItemPOSummaryFilter('@item.Id','@item.RptName')"> PO Summary </a>
                </span>
                }
                else
                {
                    <span> No Units Assigned. Please click @Html.ActionLink("Details", "Details", new { id = item.Id }) to assign units </span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                @if (item.CrRptUnits.Count() > 0)
                {
                    <span> Delete </span>
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>

@Html.Partial("_VehiclePaymentSummaryFilter")
@Html.Partial("_VehicleSummaryFilter")
@Html.Partial("_VehicleTripFilter")
@Html.Partial("_DriverSummaryFilter")
@Html.Partial("_POSummaryFilter")

@Html.Partial("_ItemVehiclePaymentSummaryFilter")
@Html.Partial("_ItemVehicleSummaryFilter")
@Html.Partial("_ItemVehicleTripFilter")
@Html.Partial("_ItemDriverSummaryFilter")
@Html.Partial("_ItemVehicleExpenseFilter")

<!-- For perItem Report Redirect -->
@Html.Hidden("ItemVehiclePaymentSummaryReport", Url.Action("VehiclePaymentSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", rptId = "_rptId" }))
@Html.Hidden("ItemVehicleSummaryReport", Url.Action("VehicleSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", rptId = "_rptId" }))
@Html.Hidden("ItemVehicleTripReport", Url.Action("VehicleTripReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", rptId = "_rptId" }))
@Html.Hidden("ItemDriverSummaryReport", Url.Action("DriverSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", rptId = "_rptId" }))
@Html.Hidden("ItemVehicleExpenseReport", Url.Action("VehicleExpenseLogsReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", rptId = "_rptId", typeId = "_typeId" }))

<!-- For Report Redirect -->
@Html.Hidden("VehiclePaymentSummaryReport", Url.Action("VehiclePaymentSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId" }))
@Html.Hidden("VehicleSummaryReport", Url.Action("VehicleSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId" }))
@Html.Hidden("VehicleTripReport", Url.Action("VehicleTripReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", unitId = "_unitId", driverId = "_driverId" }))
@Html.Hidden("DriverSummaryReport", Url.Action("DriverSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", driverId = "_driverId" }))
@Html.Hidden("POSummaryReport", Url.Action("POSummaryReport", "CarRentalReport", new { DtStart = "_startDate", DtEnd = "_endDate", driverId = "_driverId" }))



@section Scripts{
    <script src="~/Areas/Personel/Script/RptUnitExpenses.js"></script>
    <script src="~/Scripts/Filters/FormInputFilter.js"></script>
    <script src="~/Scripts/Job/DefaultDate.js"></script>
}