@model IEnumerable<JobsV1.Models.JobPayment>

@{
    ViewBag.Title = "Job Service - Payments";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    decimal PaidTotal = 0;
    decimal discountTotal = 0;
    var service = ViewBag.JobServices as IEnumerable<JobsV1.Models.JobServices>;
    var jobDiscount = (Decimal)ViewBag.JobDiscount;
    var JobStatus = ViewBag.JobStatus as JobsV1.Models.JobStatus;
    var PaymentStatus = ViewBag.JobPaymentStatus as JobsV1.Models.JobPaymentStatus;
    var JobMain = @ViewBag.JobOrder as JobsV1.Models.JobMain;
    var Company = ViewBag.Company;
    var isOwner = ViewBag.IsOwner;

}
<div class="row" style="margin-left:2px;min-width:500px;margin-top:20px;margin-bottom:10px;">
    <h2 class="no-margin">
        @JobMain.Customer.Name / @Company
    </h2>
    <h3 class="pull-left no-margin text-muted">
        Job #: @JobMain.Id.ToString("D4")
    </h3>
    <p class="pull-right " style="margin-right:20px;font-size:20px;margin-top:-20px;">
        Status :
        @if (PaymentStatus.Id == 1)
        {
            <span class="label label-success"> @PaymentStatus.Status  </span>
        }
        else if (PaymentStatus.Id == 2)
        {
            <span class="label label-warning"> @PaymentStatus.Status  </span>
        }
        else if (PaymentStatus.Id == 3)
        {
            <span class="label label-primary"> @PaymentStatus.Status  </span>
        }
        else
        {
            <span class="label label-default"> @PaymentStatus.Status  </span>
        }
    </p>
</div>
<p>
    Date: @ViewBag.JobOrder.JobDate.ToString("dd/MMM/yyyy")
    <br />Description: @ViewBag.JobOrder.Description


    @if (JobStatus.Id == 1)
    {
        <span class="label label-default" style="margin-bottom:5px;margin-top:-5px;font-size:10px;">
            @JobStatus.Status
        </span>
    }
    else if (JobStatus.Id == 2)
    {
        <span class="label label-info" style="margin-bottom:5px;margin-top:-5px;font-size:10px;">
            RESERVED
        </span>
    }
    else if (JobStatus.Id == 3)
    {
        <span class="label label-success" style="margin-bottom:5px;margin-top:-5px;font-size:10px;">
            @JobStatus.Status
        </span>
    }
    else if (JobStatus.Id == 4)
    {
        <span class="label label-primary" style="margin-bottom:5px;margin-top:-5px;font-size:10px;">
            @JobStatus.Status
        </span>
    }
    else
    {
        <span class="label label-warning" style="margin-bottom:5px;margin-top:-5px;font-size:10px;">
            @JobStatus.Status
        </span>
    }
    <br />
    <span>
        Account Type: @{ Html.RenderAction("GetCompanyAccountType", new { id = JobMain.Id }); }
    </span>

</p>
<p>
    @if ((JobStatus.Id < 4 || PaymentStatus.Id > 1) || isOwner)
    {
        <a href="#" id="catbtn" data-toggle="modal" data-target="#EditPaymentStatusModal"> Update Payment Status </a>
    }
</p>
<table class="table">
    <tr>
        <td> Date </td>
        <td> Job Particulars ( Service ) </td>
        <td> Amount </td>
    </tr>

    @foreach (var svc in service)
    {
        <tr>
            <td width="300px">
                @(((DateTime)svc.DtStart).ToString("MMM dd yyyy (ddd)"))
                - @(((DateTime)svc.DtEnd).ToString("MMM dd yyyy (ddd)"))
            </td>
            <td>
                @svc.Particulars ( @svc.Service.Name )
            </td>
            <td>
                @(((Decimal)svc.ActualAmt).ToString("#,#00.00"))
            </td>
        </tr>
    }

    @if (service.Count() == 0)
    {
        <tr>
            <td colspan="3">
                <p class="text-center"> No Job Service Added </p>
            </td>
        </tr>
    }

    <tr>
        <td colspan="2">
            <p class="pull-right">Total Amount:   </p>
        </td>
        <td>
            @{ Html.RenderAction("GetJobTotalAmount", new { id = ViewBag.JobMainId }); }
        </td>
    </tr>
</table>

<h3>Payment Details</h3>
@if ((JobStatus.Id < 4 || PaymentStatus.Id > 1) || isOwner)
{
    @Html.ActionLink("Add Payment", "AddPayment", new { id = ViewBag.JobMainId })
}

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Bank
        </th>
        <th>
            Type
        </th>
        <th>
            Remarks
        </th>
        <th>
            Amount
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Where(p => p.JobPaymentTypeId != 4))
    {
        PaidTotal += item.PaymentAmt;
        <tr>
            <td>
                @item.DtPayment.ToString("MMM dd yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPaymentType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @item.PaymentAmt.ToString("#,##0.00")
            </td>
            <td>
                @if (JobStatus.Id < 4 || PaymentStatus.Id > 1)
                {
                    <span>
                        <a href="#" id="catbtn" data-toggle="modal" data-target="#Edit-PermissionModal" onclick="SetEditPermissionId('@item.Id')"> Edit </a> |
                        <a href="#" id="catbtn" data-toggle="modal" data-target="#Delete-PermissionModal" onclick="SetDeletePermissionId('@item.Id')"> Delete </a>
                    </span>
                }
                else
                {
                    if (isOwner)
                    {
                        <span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </span>
                    }
                }


            </td>
        </tr>
    }

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5">
                <p class="text-center"> No Payments Added</p>
            </td>
        </tr>
    }

    @if (jobDiscount != 0)
    {
        PaidTotal += jobDiscount;
        <tr>
            <td colspan="4">
                <p class="pull-right no-margin ">Discount:   </p>
            </td>
            <td>
                @jobDiscount.ToString("#,##0.00")
            </td>
            <td></td>
        </tr>
    }

    <tr>
        <td colspan="4">
            <p class="pull-right">
                Total Paid:
            </p>
        </td>
        <td colspan="2">
            @PaidTotal.ToString("#,##0.00")
        </td>
    </tr>

</table>


@if (jobDiscount != 0)
{

    <h3>Discount Details</h3>
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Bank
            </th>
            <th>
                Type
            </th>
            <th>
                Remarks
            </th>
            <th>
                Amount
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model.Where(p => p.JobPaymentTypeId == 4))
        {
            discountTotal += item.PaymentAmt;
            <tr>
                <td>
                    @item.DtPayment.ToString("MMM dd yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobPaymentType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @item.PaymentAmt.ToString("#,##0.00")
                </td>
                <td>
                    @if (JobStatus.Id < 4 || PaymentStatus.Id > 1)
                    {
                        <span>
                            <a href="#" id="catbtn" data-toggle="modal" data-target="#Edit-PermissionModal" onclick="SetEditPermissionId('@item.Id')"> Edit </a> |
                            <a href="#" id="catbtn" data-toggle="modal" data-target="#Delete-PermissionModal" onclick="SetDeletePermissionId('@item.Id')"> Delete </a>
                        </span>
                    }
                    else
                    {
                        if (isOwner)
                        {
                            <span>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </span>
                        }
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <p class="pull-right">
                    Total:
                </p>
            </td>
            <td colspan="2">
                @discountTotal.ToString("#,##0.00")
            </td>
        </tr>
    </table>

}


<div class="row job-payment-add-block" id="easy-access-payment">
    <div class="col-md-12">
        <h4> Add Payment </h4>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <label class="control-label"> Amount </label>
            <input type="text" class="form-control input-lg" id="AddPayment-Amount" value="0" style="" />
        </div>
        <div class="col-md-6" style="margin-top:20px;">
            <button class="btn btn-primary btn-lg" id="AddPayment-Submit" onclick="AddPaymentSubmit('@ViewBag.JobMainId')">
                Submit
            </button>
        </div>
    </div>
    <div class="col-sm-12" style="margin-top:20px;">
        <div class="col-md-3">
            <label class="control-label"> Bank </label>
            <select class="form-control" id="AddPayment-Bank">
                <option value="1"> Cash </option>
                <option value="2"> BDO </option>
                <option value="3"> BPI </option>
                <option value="4"> Personal Guarantee </option>
                <option value="3"> Paypal </option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label"> Type </label>
            <select class="form-control" id="AddPayment-Type">
                <option value="1"> Cash </option>
                <option value="2"> Bank </option>
                <option value="3"> Others </option>
                <option value="4"> Discount </option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label"> Remarks </label>
            <input type="text" class="form-control" id="AddPayment-Remarks" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Partial("_PermissionModal")
@Html.Partial("_EditPaymentStatus")


@section Scripts{
    <script src="~/Scripts/Cashier/CashierPayments.js"></script>
    <script>
        $(() => {
            var jobStatusId = parseInt('@JobStatus.Id');
            var paymentStatusId = parseInt('@PaymentStatus.Id');
            if (jobStatusId == 4 && paymentStatusId == 1) {
                $("#easy-access-payment").hide();
            }

        });
    </script>
}