@model IEnumerable<JobsV1.Models.SalesLeadItems>

@{
    Layout = null;
    string USER = ViewBag.User as string;
    bool ISADMIN = (bool)ViewData["IsAdmin"];
    string AssignedTo = ViewData["AssignedTo"] as string;
    int Id = Convert.ToInt32(ViewData["Id"]);
}

<!-- Items with Prices -->
<br />
<br />
<span style="font:bolder 12px, arial, verdana; color:black;font-weight:600;">
    ITEMS
</span>
<br />

    <div id="SalesLeadItems-@Id">
        @foreach (var invItems in Model)
        {
            <div style="border:1px solid lightgray;padding:0px;width:100%;margin-bottom:5px;padding-bottom:5px;">

                <div style="background-color:lightgray;padding:5px;">
                    <b>
                        @invItems.InvItem.Description -
                        @if (invItems.QuotedPrice != null)
                        {
                            <span>P </span>@Decimal.Parse(invItems.QuotedPrice.ToString()).ToString("##,###")
                        }
                        <span style="font:normal 10px arial,verdana;">( @invItems.Remarks )</span>
                    </b>

                    <span class="pull-right">
                        <a id="catbtn" class="cursor-hand" data-toggle="modal" data-target="#EditSupLeadItem" style="margin-bottom:10px;" 
                           onclick="EditLeadItem(@invItems.Id,@invItems.InvItemId,'@invItems.QuotedPrice', '@invItems.Remarks','@invItems.InvItem.Description')">[ Edit ]</a>
                        <a class="cursor-hand" onclick="ajax_RemoveItem(@invItems.Id)">[ x ]</a>
                    </span>
                </div>


                <div id="supItem-@invItems.Id">
                    @foreach (var supItem in invItems.SalesLeadQuotedItems)
                    {
                        var itemText = "none";
                        var itemTextColor = "black";
                        if (supItem.SalesLeadQuotedItemStatusId == 3)
                        {
                            itemText = "line-through";
                            itemTextColor = "gray";
                        }
                        <p style="margin:3px 10px;text-decoration:@itemText; color:@itemTextColor;">
                            <span style="color:green;">
                                @if (supItem.SalesLeadQuotedItemStatusId == 2)
                                {
                                    <img src="~/Images/SalesLead/approve-icon.png" width="15" style="margin:0px 5px;" />
                                }

                                @if (supItem.SupplierItemRate.ItemRate != null)

                                {
                                    @supItem.SupplierItemRate.ItemRate<span> / </span>
                                }

                                @supItem.SupplierItemRate.SupplierUnit.Unit  -
                            </span>

                            <b>@supItem.SupplierItemRate.SupplierInvItem.Supplier.Name</b> |
                            @supItem.SupplierItemRate.Particulars
                            @if (!String.IsNullOrEmpty(supItem.SupplierItemRate.Material))
                            {
                                <span>  - @supItem.SupplierItemRate.Material</span>
                            }

                        </p>
                        <p style="margin-top:-5px;margin-left:10px;font-size:12px;color:gray;">

                            <span style="font:normal 11px arial,verdana;margin-left:10px;">
                                Validity :
                                @{DateTime tempDate, tempDate2; }
                                @if (DateTime.TryParse(supItem.SupplierItemRate.DtValidFrom, out tempDate) &&
                                    DateTime.TryParse(supItem.SupplierItemRate.DtValidTo, out tempDate2))
                                {

                                    @tempDate.ToString("MMM dd yyyy") <span>-</span>
                                    @tempDate2.ToString("MMM dd yyyy")
                                }
                            </span>

                            <span style="margin-left:10px;">
                                @if (supItem.SupplierItemRate.Origin != null)
                                {
                                    <span>Origin: @supItem.SupplierItemRate.Origin</span>
                                }
                            </span>

                            <span style="margin-left:10px;">
                                Procured by: @supItem.SupplierItemRate.ProcBy
                            </span>

                            <span style="margin-left:10px;">
                                @*<a class="cursor-hand" onclick="Init_EditSupItem(@supItem.SupplierItemRateId)">[ Approve ]</a>*@
                                @if (supItem.SalesLeadQuotedItemStatusId == 1)
                                {
                                    //PENDING
                                    <a class="btn btn-default btn-xs no-margin-top" onclick="UpdateLeadItemStatus(@supItem.Id, 2)"> Approve </a>
                                    <a class="btn btn-default btn-xs no-margin-top" onclick="Init_EditSupItem(@supItem.SupplierItemRateId)"> Edit </a>
                                    <a class="btn btn-default btn-danger btn-xs no-margin-top" onclick="RemoveSupItems(@supItem.Id)"> x </a>
                                }
                                else if (supItem.SalesLeadQuotedItemStatusId == 2)
                                {
                                    //APPROVED
                                    <a class="btn btn-default btn-xs no-margin-top" onclick="UpdateLeadItemStatus(@supItem.Id, 3)"> Cancel </a>
                                    <a class="btn btn-default btn-danger btn-xs no-margin-top" onclick="RemoveSupItems(@supItem.Id)"> x </a>
                                }
                                else if (supItem.SalesLeadQuotedItemStatusId == 3)
                                {
                                    //CANCELLED
                                    <a class="btn btn-default btn-xs no-margin-top" onclick="UpdateLeadItemStatus(@supItem.Id, 1)"> Pending </a>
                                    <a class="btn btn-default btn-danger btn-xs no-margin-top" onclick="RemoveSupItems(@supItem.Id)"> x </a>
                                }
                            </span>
                        </p>
                    }
                </div>

                <!--Add Item-->
                <a id="catbtn" class="cursor-hand" data-toggle="modal" data-target="#supItemRate" style="margin-left:15px;" 
                   onclick="GetItemSuppliers(@invItems.InvItemId,'@invItems.InvItem.Description', @invItems.Id, @Id )"> [ Add Supplier Item ] </a>
            </div>
        }
    </div>
<br />