@model IEnumerable<JobsV1.Models.InvCarRecord>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    var unitList = ViewBag.InvItemsList as IEnumerable<JobsV1.Models.InvItem>;
    var unitId = ViewBag.UnitId;
}

<h2>Maintenance Records</h2>

<div id="alerts">

</div>

<form class="form-group form-inline">
    @using (Html.BeginForm())
    {

        <select name="unitId" id="unitId" class="form-control"  >
            <option value="0">All</option>
            @foreach (var unit in unitList)
            {
                <option value="@unit.Id"> @unit.ItemCode - @unit.Description </option>
            }
        </select>

        <button class="btn btn-default" type="submit" style="margin-top:0px;"> <div class="glyphicon glyphicon-search" ></div> </button>
    }
</form>
<p>
    <a href="" id="catbtn" data-toggle="modal" data-target="#carlist" style="margin-bottom:10px;">Add Record </a> |
    @Html.ActionLink("Record Types", "Index", "invCarRecordTypes")
</p>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Record Type
        </th>
        <th>
            Description
        </th>
        <th>
            Odometer
        </th>
        <th>
            NextOdometer
        </th>
        <th>
            NextSched
        </th>
        <th>
            Remarks
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.dtDone.ToString("MMM dd,yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvCarRecordType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvItem.ItemCode) -
                @Html.DisplayFor(modelItem => item.InvItem.Description)
            </td>
            <td>
                @item.Odometer.ToString("N0")
            </td>
            <td>
                @item.NextOdometer.ToString("N0")
            </td>
            <td>
                @item.NextSched.ToString("MMM dd,yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    <tr>
        <td colspan="8">
            <a href="" id="catbtn" data-toggle="modal" data-target="#carlist">Add Record </a>
        </td>
    </tr>

</table>

<!-- Modal -->


@Html.ActionLink("List", "Index", "SupplierItems") |
@Html.ActionLink("Items", "Index", "InvItems") |
@Html.ActionLink("Availability", "Availability", "InvItems") |
@Html.ActionLink("Gate Control", "Index", "InvCarGateControls") |
Maintenance



<div class="modal fade" id="carlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Unit List</h4>
            </div>

            <div class="modal-body" id="modal2-content">
                <div class="list-group" id="categorylist">
                    @foreach (var carList in ViewBag.InvItemsList as IEnumerable<JobsV1.Models.InvItem>)
                    {
                        <a href="@Url.Action("Create", new { carId = carList.Id })" class="list-group-item">
                            @Html.DisplayFor(modelItem => carList.ItemCode) -
                            @Html.DisplayFor(modelItem => carList.Description)
                        </a>
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{

    <script>

        $(() => {
            //onload
            $("#unitId").val("@unitId");
        });

    </script>

}