@model JobsV1.Models.CarUnit

@{
    ViewBag.Title = "Davao Car Rental Details MPV/AUV - RealWheelsDavao";
}

@Styles.Render("~/Content/css/Site")
    <div class="container details-article-container">

        <div class="col-lg-12 col-xs-12">
            <div class="col-lg-8 col-xs-12 details-title">
                <h2>MPV/AUV Rental </h2>
            </div>
        </div>

        <div class="col-lg-8 col-xs-12">

            <div class="col-lg-12 details-container">
                <img src="~/Images/CarRental/innova/toyota-innova.jpg" class="center-block img-responsive details-img" alt="toyota-innova-car-rental-davao" />
                <article>
                    <h2>Toyota Innova</h2>

                    <p>
                        The Toyota Innova is an MPV, a sub-category of the SUV, based on the IMV platform, shared with the Toyota
                        Fortuner and Toyota Hilux. Sporting 7 seats and a softer suspension than its IMV cousins, it has become
                        popular with families in Asia. It comes with either a turbo diesel inline four or a gasoline inline four
                        engine; 2.8L and 2.4L for the diesel variants, 2.0 ad 2.7 for the gasoline variants. Transmission may be
                        a 6-speed automatic, or a 5-speed manual transmission. Despite being based on the same platform as the
                        Fortuner and Hilux, it is not designed as an offroader; it doesn’t come with 4-wheel-drive or a limited
                        slip differential. It being designed by Toyota, the Innova is very reliable whether it is used as a family
                        mover, a daily commuter, even a rental or a cab.  It is definitely designed towards families and is the best
                        of its class here in the Philippines.

                    </p>
                    <p>
                        The Innova is only a little bit smaller than the Toyota Fortuner, a mid-size SUV, thus there is plenty of space
                        for the occupants. The Innova is readily available in a lot car rental companies as it is a very popular vehicle.
                        There is plenty of leg room for the occupants of this vehicle. With the front seats on a reasonable position, the
                        second row has plenty of room, even more room than a lot of SUVs, even when the second rows seats are moved all
                        the way forward to give room to the 3rd row passengers. The third row is a little small for adults over 5ft, but
                        moving the 2nd row forward gives the 3rd a generous amount of leg room. Head room great for all 3 rows, and has
                        plenty in terms of width. The Innova is also comfortable. As stated before, it has a softer suspension than the
                        Fortuner and a lot of other SUVs. The newer models have double wishbone type suspension in front, allowing more
                        movement of the wheels, and less on the passengers. The Innova offers two vents for the second row and another
                        two vents for the third row, insuring that all the occupants are comfortable with the temperature.  Some models
                        come with captain seats, which remove a seat in exchange for a pair of more prestigious seats. The third row can
                        seat three people comfortably and leaves plenty of space for luggage. There is an option to fold the 3rd row making
                        it a 5-seater with a large cargo area, and folding the 2nd row makes way for even more cargo. Renting a car with a
                        driver would be a great way to enjoy the Innova.
                    </p>
                    <p>
                        <a href="http://realwheelsdavao.com/CarRental/toyota-innova-for-rent">Toyota innova</a>&nbsp;
                        is the best MPV/AUV vehicle in the Philippines. With the Innova, you are
                        provided with generous space while having the luxury of comfort. Toyota innova has enough luggage space
                        to accommodate your family's luggages and built tough to give you the right confidence while maintains
                        its soft and comfortable ride.
                    </p>
                </article>
            </div>
            <div class="col-lg-12 details-container">
                <article>
                    <h3>
                        Rent-A-car
                    </h3>
                    <p>
                        <a href="http://realwheelsdavao.com/CarRental/toyota-innova-for-rent">Toyota innova</a>&nbsp;
                        is a multipurpose, versatile vehicle and is one of the favorites in<a href="http://RealWheelsDavao.com"> car rental (rent-a-car) companies</a>
                        business. Rent-a-car companies like <a href="http://RealWheelsDavao.com">Real Wheels Davao</a> choose Toyota Innova due to
                        its reliabiliy, comfort and space that could serve well their guests.
                    </p>
                    <h3>
                        Innova for Rent
                    </h3>
                    <p>
                        <a href="http://realwheelsdavao.com/CarRental/toyota-innova-for-rent">Toyota innova</a>&nbsp;
                        is offered for selfDrive and with driver option by the <a href="http://RealWheelsDavao.com"> car rental company</a>. SelfDrive
                        rental is limited within Davao City areas only. Adjacent cities are considered for long term rentals.
                        With driver option rental is offered in convenient and flexible options. Fuel and Driver's meals/accommodation
                        is flexible and can be discussed openly.
                    </p>
                    <div style="visibility:hidden;">
                        YOAST Analysis
                        -No Images
                    </div>
                </article>
            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">Base Rate</h3>
                <table class="table">
                    <tr>
                        <td>1-6 Days</td>
                        <td>@ViewBag.dailyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>7-21 Days</td>
                        <td>@ViewBag.weeklyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>22 and Above</td>
                        <td>@ViewBag.monthlyRate.ToString("N0") php</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">  Available MPV for rent:</h3>
                <table class="table">
                    <tr>
                        <td>
                            <strong>
                                Toyota Innova 2013
                            </strong>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5 D4d Diesel powered
                            <br />  Manual Transmission
                        </td>
                        <td>
                            Driver + 5-7 persons
                            <br /> 2-4 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>
                                Toyota Innova 2015
                            </strong>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5 D4d Diesel powered
                            <br />  Manual Transmission
                        </td>
                        <td>
                            Driver + 5-7 persons
                            <br /> 2-4 trolleys
                        </td>
                    </tr>


                </table>

            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary"> Services </h3>
                <button class="btn btn-primary dtls-services"> Self-Drive </button>
                <button class="btn btn-primary dtls-services"> With Driver </button>
                <button class="btn btn-primary dtls-services"> Airport Pickup / Drop-off </button>
                <button class="btn btn-primary dtls-services"> Hotel Pickup / Drop-off </button>
                <button class="btn btn-primary dtls-services"> City Tour </button>
                <button class="btn btn-primary dtls-services"> Out of town tour</button>
            </div>

            <div class="col-lg-12 details-container dtls-gallery">
                <h1 class="text-primary">Gallery</h1>
                <a href="~/Images/CarRental/innova/toyota-innova.jpg" target="_blank"><img class="img-thumbnail" src="~/Images/CarRental/innova/toyota-innova.jpg" alt="toyota-innova-car-rental-davao" /></a>
                <a href="~/Images/CarRental/innova/toyota-innova-front-seat.jpg" target="_blank"><img class="img-thumbnail" src="~/Images/CarRental/innova/toyota-innova-front-seat.jpg" alt="toyota-innova-car-rental-davao" /></a>
                <a href="~/Images/CarRental/innova/toyota-innova-back-seat.jpg" target="_blank"><img class="img-thumbnail" src="~/Images/CarRental/innova/toyota-innova-back-seat.jpg" alt="toyota-innova-car-rental-davao" /></a>
                <a href="~/Images/CarRental/innova/toyotainnova_interior.jpg" target="_blank"><img class="img-thumbnail" src="~/Images/CarRental/innova/toyotainnova_interior.jpg" alt="toyota-innova-car-rental-davao" /></a>
            </div>

            <div class="col-lg-12 details-container" style="display:none;">
                <h1 class="text-primary text-center">Book Now! </h1>
                @Html.ActionLink("Cost Estimate and Reservation", "FormRenter", "CarRental", new { id = @ViewBag.Id }, new { @class = "btn btn-primary col-lg-12 rsvr-btn" })
                <p class="text-info text-center" style="font-size:12px;color:gray;">
                    Note: availability of the vehicle will depend on the date of reservation.
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12 no-padding details-nav">
            <div class="col-lg-12 col-xs-12 no-padding" style="display:flex;">
                <div class="col-md-12 col-xs-12 details-article-price">
                    <span class="text-muted">
                        Rate Starts at
                    </span>
                    <span class="text-success">
                        P2,500
                    </span>
                </div>
            </div>

            <div style="margin-bottom:15px;margin-top:10px;">
                @Html.ActionLink("Reserve this Unit", "ReservationRequest", "CarRental", new { id = 4, rsvType = 1 }, new { @class = "list-group-item details-container-list" })
                @Html.ActionLink("Request Quote", "ReservationRequest", "CarRental", new { id = 4, rsvType = 2 }, new { @class = "list-group-item details-container-list" })
            </div>
            <a href="@Url.Action("CarDetail", "CarRental",new { unitid = 1 },null)" class="list-group-item  details-container-list">  Van (10 seater)   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 },null)" class="list-group-item  details-container-list">  Van (14 seater)   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list ">  SUV   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list active">  MPV   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list">  Sedan   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list">  Pickup   </a>
        </div>
    </div>

<p>
    @Html.ActionLink("Back to Home", "Index")
</p>