@model JobsV1.Models.CarUnit

@{
    ViewBag.Title = "Toyota Tourer Van For Rent";
    ViewBag.Description = "Toyota Tourer Van For Rent Davao 2023. For company use, travel and tours, VIP transfers and all types of occasion." +
                " Contact us for van rental inquiries and reservations.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : Van Tourer Car Rental
}

<div class="container details-article-container">
    <div class="col-lg-12 col-xs-12">
        <div class="col-lg-8 col-xs-12 details-title">
            <h1>Toyota GL Grandia Tourer Van For Rent Davao 2023 </h1>
            <p> Updated: March 31 2023 </p>
        </div>
    </div>

    <div class="col-lg-8 col-xs-12">

        <div class="col-lg-12 details-container">
            <img src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019.jpg" class="center-block img-responsive details-img" alt="toyota-gl-grandia-tourer-car-rental-davao" />

            <h2>Toyota Grandia Tourer </h2>
            <article>
                <p>
                    <a href="https://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent" title="Toyota Grandia Tourer For Rent">Toyota GL Grandia Tourer 2020</a>
                    van for rent from Davao City to any point in the Philippines. When traveling up to 14 pax, 
                    <a href="https://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent">Toyota GL Grandia Tourer 2020</a> should be the most comfortable van 
                    to hire and most relaxed to travel.
                </p>
                <p>
                    <a href="https://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent" title="Toyota Grandia Tourer For Rent">Toyota GL Grandia Tourer 2020</a> is the latest addition to Real Wheels Van Rental fleet. The tourer is a high-roof and extended wheelbase van giving the most generous cabin space, head room and leg rooms.

                    It is obviously massive dwarfing the other van models in the market. Despite its size, the van remains well refined and comfortable. The most significant update is the 3-point seatbelt for every cabin seat,

                    folding armrest for each aisle seat, USB charging port for 2nd 3rd and 4th row passengers and the reading lights for most of the cabin seats.
                </p>
                <p>
                    <a href="https://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent" title="Toyota Grandia Tourer For Rent">Toyota GL Grandia Tourer 2020</a> has truly improved in terms of driving, rides and safety. The massive increase in its engine power and torque compared to previous D4D generations, improvement in terms of noise reduction.

                    A well designed suspension for the most comfortable ride, disc brakes for all its four wheels with anti-lock brakes and added stability control giving it a sound and safe travel.
                </p>
                <br />
            </article>

        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary">Base Rate</h3>
            <table class="table">
                <tr>
                    <td>1-6 Days</td>
                    <td>@ViewBag.dailyRate.ToString("N0") php</td>
                </tr>
                <tr>
                    <td>7-21 Days</td>
                    <td>@ViewBag.weeklyRate.ToString("N0") php</td>
                </tr>
                <tr>
                    <td>22 and Above</td>
                    <td>@ViewBag.monthlyRate.ToString("N0") php</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary">  Available Toyota Tourer Vans for rent:</h3>
            <table class="table">
                <tr>
                    <td><strong>Nissan Urvan Premium</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        2.5 Diesel
                        <br /> 5 speed Automatic Transmission
                    </td>
                    <td>
                        Driver + 14 persons
                        <br /> 3-6 trolleys
                    </td>
                </tr>

                <tr>
                    <td><strong>Toyota Super Grandia</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        2.5/3.0 Diesel
                        <br /> 5 speed Manual/Automatic Transmission
                    </td>
                    <td>
                        Driver + 10-12 persons
                        <br /> 2-4 trolleys
                    </td>
                </tr>

                <tr>
                    <td><strong>Toyota GL Grandia</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        2.5/3.0 Diesel
                        <br /> 5 speed Manual/Automatic Transmission
                    </td>
                    <td>
                        Driver + 10-12 persons
                        <br />  2-4 trolleys
                    </td>
                </tr>

                <tr>
                    <td><strong>Toyota GL Grandia Tourer</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        2.8 Diesel
                        <br /> 6-speed Automatic Transmission
                    </td>
                    <td>
                        Driver + 14 persons
                        <br />  2-4 trolleys
                    </td>
                </tr>

            </table>

        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary"> Services </h3>
            <button class="btn btn-primary dtls-services"> With Driver </button>
            <button class="btn btn-primary dtls-services"> Airport Pickup / Drop-off </button>
            <button class="btn btn-primary dtls-services"> Hotel Pickup / Drop-off </button>
            <button class="btn btn-primary dtls-services"> City Tour </button>
            <button class="btn btn-primary dtls-services"> Out of town tour</button>
        </div>

        <div class="col-lg-12 details-container dtls-gallery">
            <p class="text-lg text-primary"> Gallery </p>

            <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-side.jpg" target="_blank" title="Toyota Grandia Tourer Side"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-side.jpg" alt="glgrandia-car-rental-davao" /></a>
            <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-seats.jpg" target="_blank" title="Toyota Grandia Tourer Seats"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-seats.jpg" alt="glgrandia-car-rental-davao" /></a>
            <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-seats.jpg" target="_blank" title="Toyota Grandia Tourer Seats"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-seats.jpg" alt="glgrandia-car-rental-davao" /></a>
            <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-back.jpg" target="_blank" title="Toyota Grandia Tourer Back"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-back.jpg" alt="glgrandia-car-rental-davao" /></a>

        </div>

        <div class="col-lg-12 details-container" style="display:none;">
            <h3 class="text-primary text-center">Book Now! </h3>
            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 7 }, new { @class = "btn btn-primary col-lg-12 rsvr-btn", @title = "Go to Reservation" })
            <p class="text-info text-center" style="font-size:12px;color:gray;">
                Note: availability of the vehicle will depend on the date of reservation.
            </p>
        </div>
    </div>

    <div class="col-lg-3 col-xs-12 no-padding details-nav">
        <div class="col-lg-12 col-xs-12 no-padding" style="display:flex;">
            <div class="col-md-12 col-xs-12 details-article-price">
                <span class="text-muted">
                    Rate Starts at
                </span>
                <span class="text-success">
                    P4,500
                </span>
            </div>
        </div>

        <div style="margin-bottom:15px;margin-top:10px;">
            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 7 }, new { @class = "list-group-item details-container-list", @title = "Request Reservation" })
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 7 }, new { @class = "list-group-item details-container-list", @title = "Request Reservation" })
        </div>

        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 1 },null)" class="list-group-item  details-container-list" title="Van Details">  Van (10 seater) </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 },null)" class="list-group-item  details-container-list active" title="Van Details">  Van (14 seater)   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list" title="SUV Details">  SUV   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list" title="MPV Details">  MPV   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list" title="Sedan Details">  Sedan   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list" title="Pickup Details">  Pickup   </a>
    </div>
</div>

<p>
    @Html.ActionLink("Back to Home", "Index")
</p>



<!-- Google Micro Data-->
<div>
    <div itemtype="http://schema.org/Product" itemscope>
        <meta itemprop="mpn" content="00006" />
        <meta itemprop="name" content="Toyota Tourer Van For Rent in Davao" />
        <link itemprop="image" href="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Nissan-Premium.jpg" />
        <meta itemprop="description" content="Toyota Tourer Van For Rent in Davao City, Philippines. Affordable and Cheap Van For Rent Rates 2023." />
        <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
            <link itemprop="url" href="https://realwheelsdavao.com/CarRental/van-for-rent" />
            <meta itemprop="availability" content="https://schema.org/InStock" />
            <meta itemprop="priceCurrency" content="PHP" />
            <meta itemprop="itemCondition" content="https://schema.org/UsedCondition" />
            <meta itemprop="price" content="3500" />
            <meta itemprop="priceValidUntil" content="2021-12-31" />
        </div>
        <div itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating" itemscope>
            <meta itemprop="reviewCount" content="100" />
            <meta itemprop="ratingValue" content="4.8" />
        </div>
        <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
            <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                <meta itemprop="name" content="John" />
            </div>
            <div itemprop="reviewRating" itemtype="http://schema.org/Rating" itemscope>
                <meta itemprop="ratingValue" content="4.8" />
                <meta itemprop="bestRating" content="5" />
            </div>
        </div>
        <meta itemprop="sku" content="00006" />
        <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
            <meta itemprop="name" content="Toyota" />
        </div>
    </div>
</div>
