@model JobsV1.Models.CarUnit

@{

    ViewBag.Title = "Nissan Premium Van Rental Davao - RealWheelsDavao";
    ViewBag.Description = "Nissan Premium Van Rental Davao. For company use, travel and tours, VIP transfers and all types of occasion. Contact us for van rental inquiries and reservations.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : Van Premium Car Rental
}

    @Styles.Render("~/Content/css/Site")

    <div class="container details-article-container">
        <div class="col-lg-12 col-xs-12">
            <div class="col-lg-8 col-xs-12 details-title">
                <h1> Nissan Premium</h1>
            </div>
        </div>

        <div class="col-lg-8 col-xs-12">
           @* <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Frealwheelsdavao.com%2FCarRental%2Fvan-for-rent&layout=button_count&size=large&mobile_iframe=true&width=85&height=28&appId" width="120" height="28" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>*@
            <div class="col-lg-12 details-container">

               <img src="~/Images/CarRental/nissanPremium/Nissan-Premium-2018.jpg" class="center-block img-responsive details-img" alt="nissan-premium-car-rental-davao" />

                <h2>VAN</h2>
                <article>
                    <p>
                        <a href="https://RealWheelsDavao.com/CarRental/van-for-rent" title="Van For Rent Davao">VAN</a> is the most popular vehicle transporting people for both company and family use. It can
                        comfortably accommodate 10-14 pax with enough luggage.
                        <br />

                        <a href="https://RealWheelsDavao.com/CarRental/van-for-rent" title="Affordable Van For Rent Davao">Nissan Urvan Premium</a> is another contender for van rentals (rent-a-car) due to its
                        capacity which accommodates up to 14 pax and still got extra room for luggages.
                        It's a highroof van that makes it even bigger and have extra head space that
                        makes the van more ventilated and refreshing compared to other regular vans.

                    <h2>VAN rental</h2>
                    <p>
                        <a href="https://RealWheelsDavao.com/CarRental/van-for-rent" title="Van For Rent Davao">Vans</a> are offered as with driver car rental/van rental. It can cater all types of family
                        occasions and any kind of business trips. Short term and Long term van rental with special
                        arrangements, terms and rates are open for negotiation.
                    </p>
                </article>
            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">Base Rate</h3>
                <table class="table">
                    <tr>
                        <td>1-6 Days</td>
                        <td>@ViewBag.dailyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>7-21 Days</td>
                        <td>@ViewBag.weeklyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>22 and Above</td>
                        <td>@ViewBag.monthlyRate.ToString("N0") php</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">  Available Vans for rent:</h3>
                <table class="table">
                    <tr>
                        <td><strong>Nissan Urvan Premium</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5 Diesel
                            <br /> 5 speed Automatic Transmission
                        </td>
                        <td>
                            Driver + 14 persons
                            <br /> 3-6 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Toyota Super Grandia</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5/3.0 Diesel
                            <br /> 5 speed Manual/Automatic Transmission
                        </td>
                        <td>
                            Driver + 10-12 persons
                            <br /> 2-4 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Toyota GL Grandia</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5/3.0 Diesel
                            <br /> 5 speed Manual/Automatic Transmission
                        </td>
                        <td>
                            Driver + 10-12 persons
                            <br />  2-4 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Toyota GL Grandia Tourer</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.8 Diesel
                            <br /> 6-speed Automatic Transmission
                        </td>
                        <td>
                            Driver + 14 persons
                            <br />  2-4 trolleys
                        </td>
                    </tr>

                </table>

            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary"> Services </h3>
                <button class="btn btn-default btn-sm dtls-services"> With Driver </button>
                <button class="btn btn-default btn-sm dtls-services"> Airport Pickup / Drop-off </button>
                <button class="btn btn-default btn-sm dtls-services"> Hotel Pickup / Drop-off </button>
                <button class="btn btn-default btn-sm dtls-services"> City Tour </button>
                <button class="btn btn-default btn-sm dtls-services"> Out of town tour</button>
            </div>

            <div class="col-lg-12 details-container dtls-gallery">
                <h3 class="text-primary">Gallery</h3>
                    <a href="~/Images/CarRental/nissanPremium/Nissan-Premium-2018.jpg" target="_blank"  title="Nissan Premium For Rent"><img class="img-thumbnail" src="~/Images/CarRental/nissanPremium/Nissan-Premium-2018.jpg" alt="nissan-premium-car-rental-davao" /></a>
                    <a href="~/Images/CarRental/nissanPremium/Nissan-Premium-2019-front-seat.jpg" target="_blank" title="Nissan Premium Side For Rent"><img class="img-thumbnail" src="~/Images/CarRental/nissanPremium/Nissan-Premium-2019-front-seat.jpg" alt="nissan-premium-car-rental-davao" /></a>
                    <a href="~/Images/CarRental/nissanPremium/Nissan-Premium-2019-back-seat.jpg" target="_blank" title="Nissan Premium Back Seat For Rent"><img class="img-thumbnail" src="~/Images/CarRental/nissanPremium/Nissan-Premium-2019-back-seat.jpg" alt="nissan-premium-car-rental-davao" /></a>
                    <a href="~/Images/CarRental/nissanPremium/Nissan-Premium-2019-back.jpg" target="_blank" title="Nissan Premium Back For Rent"><img class="img-thumbnail" src="~/Images/CarRental/nissanPremium/Nissan-Premium-2019-back.jpg" alt="nissan-premium-car-rental-davao" /></a>
            </div>

            <div class="col-lg-12 details-container" style="display:none;">
                <h3 class="text-primary text-center">Book Now! </h3>
                @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 2 }, new { @class = "btn btn-primary col-lg-12 rsvr-btn", @title="Request Reservations" })
                <p class="text-info text-center" style="font-size:12px;color:gray;">
                    Note: availability of the vehicle will depend on the date of reservation.
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12 no-padding details-nav">

            <div class="col-lg-12 col-xs-12 no-padding" style="display:flex;">
                <div class="col-md-12 col-xs-12 details-article-price">
                    <span class="text-muted">
                        Rate Starts at
                    </span>
                    <span class="text-success">
                        P3,000
                    </span>
                </div>
            </div>

            <div style="margin-bottom:15px;margin-top:10px;">
                @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 1 }, new { @class = "list-group-item details-container-list", @title = "Request Reservations" })
                @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 1 }, new { @class = "list-group-item details-container-list", @title = "Request Reservations" })
            </div>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 1 },null)" class="list-group-item  details-container-list" title="Van Details">  Van (10 seater) </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 },null)" class="list-group-item  details-container-list active" title="Van Details">  Van (14 seater)   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list" title="SUV Details">  SUV   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list" title="MPV Details">  MPV   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list" title="Sedan Details">  Sedan   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list" title="Pickup Details">  Pickup   </a>
        </div>

    </div>

<p>
    @Html.ActionLink("Back to Home", "Index", null, new { @title="Back to Home" })
</p>
