@model JobsV1.Models.CarUnit

@{
    ViewBag.Title = "Van Rental Davao | Toyota Grandia Tourer 2020 ";
    ViewBag.Description = "Van Rental Davao. The latest Toyota Grandia Tourer Van 2020 Available for Rent. For company use, travel and tours, VIP transfers and all types of occasion. Contact us for van rental inquiries and reservations.";
}

@Styles.Render("~/Content/css/Site")
    <div class="container details-article-container">
        <div class="col-lg-12 col-xs-12">
            <div class="col-lg-8 col-xs-12 details-title">
                <h1>Toyota GL Grandia Tourer </h1>
                @*<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Frealwheelsdavao.com%2FCarRental%2Fvan-for-rent&layout=button_count&size=large&mobile_iframe=true&width=85&height=28&appId" width="120" height="28" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>*@
            </div>
        </div>

        <div class="col-lg-8 col-xs-12">

            <div class="col-lg-12 details-container">
                <img src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019.jpg" class="center-block img-responsive details-img" alt="toyota-gl-grandia-tourer-car-rental-davao" />

                <h2>Toyota Grandia Tourersss</h2>
                <article>
                    <p>

                        <a href="http://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent">Toyota GL Grandia Tourer 2020</a> van is available for rent from Davao City to any point in the Philippines. When travelling up to 14 pax, <a href="http://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent">Toyota GL Grandia Tourer 2020</a> should be the most comfortable van to hire and most relaxed to travel.
                    </p>
                    <p>
                        <a href="http://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent">Toyota GL Grandia Tourer 2020</a> is the latest addition to Real Wheels Van Rental fleet. The tourer is a high-roof and extended wheelbase van giving the most generous cabin space, head room and leg rooms.

                        It is obviously massive dwarfing the other van models in the market. Despite its size, the van remains well refined and comfortable. The most significant update is the 3-point seatbelt for every cabin seat,

                        folding armrest for each aisle seat, USB charging port for 2nd 3rd and 4th row passengers and the reading lights for most of the cabin seats.
                    </p>
                    <p>
                        <a href="http://RealWheelsDavao.com/CarRental/ToyotaTourer-for-rent">Toyota GL Grandia Tourer 2020</a> has truly improved in terms of driving, rides and safety. The massive increase in its engine power and torque compared to previous D4D generations, improvement in terms of noise reduction.

                        A well designed suspension for the most comfortable ride, disc brakes for all its four wheels with anti-lock brakes and added stability control giving it a sound and safe travel.
                    </p>
                    <br />
                </article>

            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">Base Rate</h3>
                <table class="table">
                    <tr>
                        <td>1-6 Days</td>
                        <td>@ViewBag.dailyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>7-21 Days</td>
                        <td>@ViewBag.weeklyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>22 and Above</td>
                        <td>@ViewBag.monthlyRate.ToString("N0") php</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">  Available Vans for rent:</h3>
                <table class="table">
                    <tr>
                        <td><strong>Nissan Urvan Premium</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5 Diesel
                            <br /> 5 speed Automatic Transmission
                        </td>
                        <td>
                            Driver + 14 persons
                            <br /> 3-6 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Toyota Super Grandia</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5/3.0 Diesel
                            <br /> 5 speed Manual/Automatic Transmission
                        </td>
                        <td>
                            Driver + 10-12 persons
                            <br /> 2-4 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Toyota GL Grandia</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5/3.0 Diesel
                            <br /> 5 speed Manual/Automatic Transmission
                        </td>
                        <td>
                            Driver + 10-12 persons
                            <br />  2-4 trolleys
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Toyota GL Grandia Tourer</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.8 Diesel
                            <br /> 6-speed Automatic Transmission
                        </td>
                        <td>
                            Driver + 14 persons
                            <br />  2-4 trolleys
                        </td>
                    </tr>

                </table>

            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary"> Services </h3>
                <button class="btn btn-primary dtls-services"> With Driver </button>
                <button class="btn btn-primary dtls-services"> Airport Pickup / Drop-off </button>
                <button class="btn btn-primary dtls-services"> Hotel Pickup / Drop-off </button>
                <button class="btn btn-primary dtls-services"> City Tour </button>
                <button class="btn btn-primary dtls-services"> Out of town tour</button>
            </div>

            <div class="col-lg-12 details-container dtls-gallery">
                <h1 class="text-primary">Gallery</h1>

                <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-side.jpg" target="_blank"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-side.jpg" alt="glgrandia-car-rental-davao" /></a>
                <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-seats.jpg" target="_blank"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-seats.jpg" alt="glgrandia-car-rental-davao" /></a>
                <a href="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-back.jpg" target="_blank"><img class="img-thumbnail dtls-gallery-img" src="~/Images/CarRental/CarViews/ToyotaTourer/Toyota-Grandia-Tourer-2019-back.jpg" alt="glgrandia-car-rental-davao" /></a>

            </div>

            <div class="col-lg-12 details-container" style="display:none;">
                <h1 class="text-primary text-center">Book Now! </h1>
                @Html.ActionLink("Cost Estimate and Reservation", "FormRenter", "CarRental", new { id = @ViewBag.Id }, new { @class = "btn btn-primary col-lg-12 rsvr-btn" })
                <p class="text-info text-center" style="font-size:12px;color:gray;">
                    Note: availability of the vehicle will depend on the date of reservation.
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12 no-padding details-nav">
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 1 }, null)" class="list-group-item  details-container-list ">  Van (10 seater)   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 }, null)" class="list-group-item  details-container-list active">  Van (14 seater)          </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list">  SUV      </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list">  MPV      </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list">  Sedan    </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list">  Pickup   </a>
        </div>
    </div>

<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
