@model JobsV1.Models.CarUnit

@{
    ViewBag.Title = "Honda City Sedan Car Rental Davao - RealWheelsDavao";
    ViewBag.Description = @"Cheap Honda City Car Rental Sedan in Davao. For Family Use,
                    business meetings or airport transfers within the Davao City.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : Sedan Car Rental Davao
}


<div class="container details-article-container">
    <div class="col-lg-12 col-xs-12">
        <div class="col-lg-8 col-xs-12 details-title">
            <h1>Sedan Car Rental </h1>
        </div>
    </div>

    <div class="col-lg-8 col-xs-12">
        <div class="col-lg-12 details-container">
            <img src="~/Images/CarRental/hondacity/Honda-city-2018.jpg" class="center-block img-responsive details-img" alt="honda-city-car-rental-davao" />

            <h2>Sedan</h2>

            <article>
                <h3>Rent-A-car</h3>
                <p>
                    <strong>Sedan</strong> is the most practical and economical vehicle for
                    business meetings and now, for family use. Sedan is always one of the
                    favorites not only in smaller filipino families but as well as car rental
                    business (rent a car). sedan is usually cheapest in terms of rental rates
                    yet one of the most comfortable, light and easy specially in city driving.
                </p>
                <h3>Sedan for Rent</h3>
                <p>
                    <strong>Sedan</strong> is offered for selfDrive and with driver option by
                    the Rent-a-car company. SelfDrive sedan rental is limited within Davao City
                    areas only. Adjacent cities are considered for long term rentals. With
                    driver rental is offered in convenient and flexible options. Fuel and
                    Driver's meals/accommodation is flexible and can be discussed openly.
                </p>
                <p>
                    <strong>Honda City</strong> is one of the most refined sedan in its class.
                    With the honda city, you are provided with generous space while having the
                    luxury of comfort. honda city has ample luggage space to accommodate your
                    luggages despite of being a sedan. and built to give you the right comfort
                    in your daily travel.
                </p>
                <p>
                    <strong>Toyota Vios</strong> is light and easy to drive. most practical and
                    easy to maintain. same with the other sedans, it can bring you safely to your
                    destinations.
                </p>
            </article>


        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary">Base Rate</h3>
            <table class="table">
                <tr>
                    <td>1-6 Days</td>
                    <td>@ViewBag.dailyRate.ToString("N0") php</td>
                </tr>
                <tr>
                    <td>7-21 Days</td>
                    <td>@ViewBag.weeklyRate.ToString("N0") php</td>
                </tr>
                <tr>
                    <td>22 and Above</td>
                    <td>@ViewBag.monthlyRate.ToString("N0") php</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary">  Available Sedan for rent:</h3>
            <table class="table">
                <tr>
                    <td>
                        <strong>
                            Honda City 2018
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        1.5L
                        <br /> Automatic Transmission
                    </td>
                    <td>
                        Driver + 4 persons
                        <br /> 2 trolleys
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>
                            Toyota vios 2015
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        1.5L
                        <br /> Automatic Transmission
                    </td>
                    <td>
                        Driver + 4 persons
                        <br /> 2 trolleys
                    </td>
                </tr>


            </table>

        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary"> Services </h3>
            <button class="btn btn-default btn-sm dtls-services"> Self-Drive </button>
            <button class="btn btn-default btn-sm dtls-services"> With Driver </button>
            <button class="btn btn-default btn-sm dtls-services"> Airport Pickup / Drop-off </button>
            <button class="btn btn-default btn-sm dtls-services"> Hotel Pickup / Drop-off </button>
            <button class="btn btn-default btn-sm dtls-services"> City Tour </button>
            <button class="btn btn-default btn-sm dtls-services"> Out of town tour</button>
        </div>

        <div class="col-lg-12 details-container dtls-gallery">
            <p class="text-lg text-primary"> Gallery </p>
            <a href="~/Images/CarRental/hondacity/Honda-city-2018.jpg" target="_blank">
                <img class="img-thumbnail" src="~/Images/CarRental/hondacity/Honda-city-2018.jpg" alt="honda-city-car-rental-davao" />
            </a>
            <a href="~/Images/CarRental/hondacity/Honda-city-2018-back.jpg" target="_blank">
                <img class="img-thumbnail" src="~/Images/CarRental/hondacity/Honda-city-2018-back.jpg" alt="honda-city-car-rental-davao" />
            </a>
            <a href="~/Images/CarRental/hondacity/hondacity_interior.jpg" target="_blank">
                <img class="img-thumbnail" src="~/Images/CarRental/hondacity/hondacity_interior.jpg" alt="honda-city-car-rental-davao" />
            </a>
        </div>

        <div class="col-lg-12 details-container" style="display:none;">
            <span class="text-lg text-primary text-center">Book Now! </span>
            @Html.ActionLink("Cost Estimate and Reservation", "PriceQuote", "CarRental", new { id = @ViewBag.Id }, new { @class = "btn btn-primary col-lg-12 rsvr-btn", @title = "Request Price Quotation" })
            <p class="text-info text-center" style="font-size:12px;color:gray;">
                Note: availability of the vehicle will depend on the date of reservation.
            </p>
        </div>
    </div>

    <div class="col-lg-3 col-xs-12 no-padding details-nav">
        <div class="col-lg-12 col-xs-12 no-padding" style="display:flex;">
            <div class="col-md-12 col-xs-12 details-article-price">
                <span class="text-muted">
                    Rate Starts at
                </span>
                <span class="text-success">
                    P2,500
                </span>
            </div>
        </div>

        <div style="margin-bottom:15px;margin-top:10px;">
            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 5 }, new { @class = "list-group-item details-container-list", @title = "Request Reservation" })
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 5 }, new { @class = "list-group-item details-container-list", @title = "Request Quotation" })
        </div>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 1 },null)" class="list-group-item  details-container-list" title="Van Details">  Van (10 seater) </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 },null)" class="list-group-item  details-container-list" title="Van Details">  Van (14 seater)   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list" title="SUV Details">  SUV   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list" title="MPV Details">  MPV   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list active" title="Sedan Details">  Sedan   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list" title="Pickup Details">  Pickup   </a>
    </div>
</div>
<div>
    <p>
        @Html.ActionLink("Back to Home", "Index")
    </p>
</div>


<!-- Google Micro Data-->
<div>
    <div itemtype="http://schema.org/Product" itemscope>
        <meta itemprop="mpn" content="925872" />
        <meta itemprop="name" content="Honda City Sedan For Rent Davao City" />
        <link itemprop="image" href="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Honda-City.jpg" />
        <meta itemprop="description" content="Honda City Sedan For Rent Rental Davao City, Philippines. Affordable and Cheap Rates." />
        <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
            <link itemprop="url" href="https://realwheelsdavao.com/CarRental/van-for-rent" />
            <meta itemprop="availability" content="https://schema.org/InStock" />
            <meta itemprop="priceCurrency" content="PHP" />
            <meta itemprop="itemCondition" content="https://schema.org/UsedCondition" />
            <meta itemprop="price" content="2500" />
            <meta itemprop="priceValidUntil" content="2021-12-31" />
        </div>
        <div itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating" itemscope>
            <meta itemprop="reviewCount" content="56" />
            <meta itemprop="ratingValue" content="4.5" />
        </div>
        <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
            <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                <meta itemprop="name" content="John" />
            </div>
            <div itemprop="reviewRating" itemtype="http://schema.org/Rating" itemscope>
                <meta itemprop="ratingValue" content="4" />
                <meta itemprop="bestRating" content="5" />
            </div>
        </div>
        <meta itemprop="sku" content="0000321" />
        <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
            <meta itemprop="name" content="Honda" />
        </div>
    </div>
</div>
