@model JobsV1.Models.CarUnit

@{
    ViewBag.Title = "SUV Car Rental Davao - RealWheelsDavao";
    ViewBag.Description = "Affordable SUV Rent a Car in Davao City Philippines with Price / Rates. Available for Business trips," +
                "Corporate Travel, Car Rental Tours, Family Use, Self Drive and more.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : SUV Car Rental
}


<div class="container details-article-container">
    <div class="col-lg-12 col-xs-12">
        <div class="col-lg-8 col-xs-12 details-title">
            <h2>
                SUV (Sports Utility Vehicle) Car Rental
            </h2>
          
        </div>

    </div>
    
    <div class="col-lg-8 col-xs-12">
        <div class="col-lg-12 details-container">
            <img src="~/Images/CarRental/ford/ford-everest-front.jpg" class="center-block img-responsive details-img" alt="ford-everest-car-rental-davao" />

            <h3>Sport Utility Vehicles - SUV</h3>

            <article>
                <p>
                    Suvs, or sport utility vehicles, are typically large vehicles that are built on a light truck frame with a
                    wagon body. The first of its kind was rugged, four-wheel-drive vehicles built for off-road and rural
                    terrain such as the 1973 Range Rover and the Toyota Land Cruiser J60. As time went by, SUVs became more
                    refined and better fit for passengers and on-road terrain, while still retaining its off-road capabilities.
                    Plenty of modern SUVs are still large, 4 wheel drive vehicles, but some car companies are manufacturing
                    smaller SUVs, with a unibody chassis called the crossover.
                </p>

                <p>
                    SUVs are still well suited in tackling off-road and rural terrain, making them popular in the undeveloped areas
                    in the Philippines. Its high ground clearance gives confidence when driving through rough and challenging terrain,
                    clearing debris and crossing water. The added height does shift the center of mass, but modern SUVs are also tuned
                    and refined for highway driving, making it safe at high speeds. Four-wheel-drive makes SUVs capable of crossing
                    slippery and loose terrains, such as mud, sand, snow, ice, and water. This can also be paired with a limited-slip-differential
                    or LSD, or a locking differential. As the name implies, limited slip differentials limit the slip of the differential
                    and locking differentials prevents it from slipping. A differential’s job is to allow wheels on opposing sides to travel
                    at different speeds, which is necessary when the vehicle turning.  The simple open differential that comes with most cars
                    gets the job done in many cases, but it allows too much slip, up to the point where all power goes to one wheel. Open
                    differentials are not sufficient for off-road terrain as it easily gets the vehicle stuck. A locking differential is
                    the best option off-road as it allows for no slip at all. It cannot be used on road as it makes it more difficult to
                    turn. LSDs, on the other hand, allows for some slip, which makes it good off road and on road. The capability of the
                    vehicle varies between models, but most are reliable offroad.
                </p>

                <p>
                    Due to the wagon type body of the SUV, most have plenty of space for passengers and cargo.  Most SUVs come with a
                    flexible seating configuration. They can fit 7 to 8 people with space for their bags and some cargo; fold the 3rd
                    row and there is enough room to fit a small furniture and 5 occupants; fold the 2nd row for even more cargo, but a
                    trade-off of having only 2 occupants. This makes it great for family use.  Because the body doesn’t taper off at
                    the back, 2nd-row passengers get plenty of headroom. Although the suspensions between models and brands are tuned
                    differently, they usually offer a balanced ride in both on road and off-road conditions.

                </p>
                <p>
                    In the Philippines, SUVs are the most popular segment for executives and it not hard to see why. They are tall,
                    imposing and comfortable. An added bonus to its ride height is the “king of the road” feel. Some SUVs even sacrifice
                    their offroading capabilities, and plenty SUVs don’t come with 4-wheel-drive. One such example is the Cadillac Escalade
                    with only 9 inches or 22.9 cm. Executives travelling to new areas often rent SUVs because of its prestige.
                </p>
                <p>
                    Three of the most popular SUVs you may find in the Philippines are the Toyota Fortuner, Mitsubishi Montero Sport, and the Ford Everest.
                    All these models come with a reliable turbo diesel engine, and 7 seats The Fortuner is the most popular SUV in the Philippines,
                    based on sales. The Fortuner’s 4x4 variant comes with a locking differential and full time 4 wheel drive. It has side folding seats,
                    which might be challenging when loading wider objects Third-row seats are decently spacious thanks to the fact that you can move
                    the seats forward. The Fortuner is great at tackling challenging terrain with 220mm ground clearance, 700mm water wading;
                    but its ride on road has a lot to be desired. The Montero is the second top-selling SUV in the Philippines. The Montero’s 4x4
                    variant sports a locking differential and an 8-speed transmission. It has a softer ride compared to many SUVs of its class,
                    but common complaints are its body roll. The 3rd-row seats fold flush on the floor, making the rear cargo area wider than the
                    Fortuner. It features 700mm in water wading, and 215mm ground clearance, which is plenty for off-road. The Ford Everest is
                    Ford’s entry to mid-size SUVs. Although the Montero and Fortuner have established their names in the Philippines, the Everest
                    poses as a peer to the duo. The Everest boasts an 800mm in water wading, similar to the Ford Ranger it’s based on; and a 255mm
                    in ground clearance. The 4x4 variant of the SUV only has an LSD, but its more than enough on off-road conditions. The ride is
                    rough on low-speed bumps but nice and smooth on higher speeds. These vehicles are also available for rental in a lot of car rental
                    companies. The Fortuner is also the most available model for rent. Car rentals are a great and affordable way to try out the SUV experience.

                </p>
            </article>
        </div>
        <div class="col-lg-12 details-container">
            <h3>SUV</h3>
            <article>
                <p>
                    <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="Realwheels SUV">SUV (Sports Utility Vehicle)</a> is one of the most popular vehicle for executives, long travels and rough

                    terrain in Philippines. Different SUVs offer different ride quality and terrain capabilities. Most of

                    the SUVs are capable of carrying at least 7 persons and have ample amount of cargo for luggages, tools,

                    and/or equipments. SUVs usually built tough with high ground clearance that gives confidence and command

                    in the road.

                    &nbsp;

                    &nbsp;
                    <h2>Rent-A-car</h2>
                    Ford Everest is one of most popular <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="Realwheels SUV">SUV</a> in the Philippines. The comfort of riding a Ford Everest in long

                    travel makes it the best choice for <a href="https://RealWheelsDavao.com" title="Real wheels Davao Car Rental">Real wheels Davao</a>. Executives also choose the Ford

                    Everest due to its comfort and relaxing ride in the city.

                    <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="SUV Car Rental Details"> Toyota Fortuner 4x4 is a popular tough SUV </a>for rugged terrains. A very popular choice for every <a href="https://RealWheelsDavao.com">Rent-</a>

                    A-car company due to its toughness, high ground clearance and, being Toyota, it durability.

                    &nbsp;
                    <h2>SUVs for Rent</h2>
                    <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="SUV Car Rental Details">Ford Everest</a> is offered as with Driver for SUV rental. It can cater all types of family occasions and

                    any kind of business trips. VIP guests are welcome with special attention from the company. Long term

                    contracts with special arrangements, terms and rates are open for negotiation.

                    <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="SUV Car Rental Details">Toyota Fortuner</a> is offered for selfDrive and with driver option by the Rent-a-car company. SelfDrive

                    rental is limited within Davao City areas only. Adjacent cities are considered for long term rentals.

                    With driver rental is offered in convenient and flexible options. Fuel and Driver's meals/accommodation

                    is flexible and can be discussed openly.
                </p>
            </article>
        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary">Base Rate - Starts at</h3>
            <table class="table">
                <tr>
                    <td>1-6 Days</td>
                    <td>3,000 php</td>
                </tr>
                <tr>
                    <td>7-21 Days</td>
                    <td>3,000 php</td>
                </tr>
                <tr>
                    <td>22 and Above</td>
                    <td>3,000 php</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary">  Available SUV for rent:</h3>
            <table class="table">
                <tr>
                    <td>
                        <strong>
                            <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="SUV Car Rental Details">Ford Everest 2016</a>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        2.2 Diesel
                        <br /> 6 speed Automatic Transmission
                    </td>
                    <td>
                        Driver + 5-7 persons
                        <br /> 2-4 trolleys
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>
                            <a href="https://RealWheelsDavao.com/CarRental/suvpickup4x4-rental-rates" title="SUV Car Rental Details">Toyota fortuner 2011</a>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        3.0 Diesel
                        <br /> 5 speed Manual/Automatic Transmission
                    </td>
                    <td>
                        Driver + 5-7 persons
                        <br /> 2-4 trolleys
                    </td>
                </tr>


            </table>

        </div>

        <div class="col-lg-12 details-container">
            <h3 class="text-primary"> Services </h3>
            <button class="btn btn-default btn-sm dtls-services"> Self-Drive </button>
            <button class="btn btn-default btn-sm dtls-services"> With Driver </button>
            <button class="btn btn-default btn-sm dtls-services"> Airport Pickup / Drop-off </button>
            <button class="btn btn-default btn-sm dtls-services"> Hotel Pickup / Drop-off </button>
            <button class="btn btn-default btn-sm dtls-services"> City Tour </button>
            <button class="btn btn-default btn-sm dtls-services"> Out of town tour</button>
        </div>

        <div class="col-lg-12 details-container dtls-gallery">
            <h3 class="text-primary">Gallery</h3>
            <a href="~/Images/CarRental/ford/ford-everest-front.jpg" target="_blank" title="SUV Ford Everest Front"><img class="img-thumbnail" src="~/Images/CarRental/ford/ford-everest-front.jpg" alt="ford-everest-car-rental-davao" /></a>
            <a href="~/Images/CarRental/ford/Ford-Everest-Back.jpg" target="_blank" title="SUV Ford Everest Back"><img class="img-thumbnail" src="~/Images/CarRental/ford/Ford-Everest-Back.jpg" alt="ford-everest-car-rental-davao" /></a>
            <a href="~/Images/CarRental/ford/fordeverest_interior.jpg" target="_blank" title="SUV Ford Everest Interior"><img class="img-thumbnail" src="~/Images/CarRental/ford/fordeverest_interior.jpg" alt="ford-everest-car-rental-davao" /></a>
        </div>

        <div class="col-lg-12 details-container" style="display:none;">
            <h3 class="text-primary text-center">Book Now! </h3>
            @Html.ActionLink("Cost Estimate and Reservation", "PriceQuote", "CarRental", new { id = @ViewBag.Id }, new { @class = "btn btn-primary col-lg-12 rsvr-btn", @title="Request Quotation" })
            <p class="text-info text-center" style="font-size:12px;color:gray;">
                Note: availability of the vehicle will depend on the date of reservation.
            </p>
        </div>
    </div>
    
    <div class="col-lg-3 col-xs-12 no-padding details-nav">

        <div class="col-lg-12 col-xs-12 no-padding" style="display:flex;">
            <div class="col-md-12 col-xs-12 details-article-price">
                <span class="text-muted">
                    Rate Starts at
                </span>
                <span class="text-success">
                    P3,000
                </span>
            </div>
        </div>
        <div style="margin-bottom:15px;margin-top:10px;">
            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 3 }, new { @class = "list-group-item details-container-list", @title = "Request Resevation" })
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 3 }, new { @class = "list-group-item details-container-list", @title = "Request Quotation" })
        </div>

        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 1 },null)" class="list-group-item  details-container-list" title="Van Details">  Van (10 seater) </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 },null)" class="list-group-item  details-container-list" title="Van Details">  Van (14 seater)   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list" title="SUV Details">  SUV   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list" title="MPV Details">  MPV   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list active" title="Sedan Details">  Sedan   </a>
        <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list" title="Pickup Details">  Pickup   </a>
    </div>


    <div class="col-sm-3" style="margin:30px;">
        <label></label>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<p>
    @Html.ActionLink("Back to Home", "Index")
</p>