@model JobsV1.Models.CarUnit

@{
    ViewBag.Title = "Davao Car Rental Details Pick-up - RealWheelsDavao";
}



@Styles.Render("~/Content/css/Site")

    <div class="container details-article-container">
        <div class="col-lg-12 col-xs-12">
            <div class="col-lg-8 col-xs-12 details-title">
                <h2> Pick-Up Rental </h2>
            </div>
        </div>

        <div class="col-lg-8 col-xs-12">

            <div class="col-lg-12 details-container">
                <img src="~/Images/CarRental/pickup/pickup_front.jpg" class="center-block img-responsive details-img" alt="pickup-car-rental-davao" style="width:65%;"/>

                <h2>Pickup</h2>
                <article>
                    <h3>Rent A car</h3>
                    <p>
                        <strong>Pickup</strong> is the most practical rent a car vehicle for difficult terrains

                        and cargo hauling use. Pickup is always the rent a car favorites specialy for unkown

                        terrains because of its offroad capabilities, power and toughness.
                    </p>
                    <br />
                    <h3>Pickup for Rent</h3>
                    <p>
                        <strong>Pickup</strong> is offered in SelfDrive or with driver option by the Rent a car company.

                        Long term and short term rentals is offered with flexible options. Fuel and Driver's meals/accommodation

                        is be discussed openly.
                    </p>
                </article>
            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary">Base Rate</h3>
                <table class="table">
                    <tr>
                        <td>1-6 Days</td>
                        <td>@ViewBag.dailyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>7-21 Days</td>
                        <td>@ViewBag.weeklyRate.ToString("N0") php</td>
                    </tr>
                    <tr>
                        <td>22 and Above</td>
                        <td>@ViewBag.monthlyRate.ToString("N0") php</td>
                    </tr>
                </table>
            </div>


            <div class="col-lg-12 details-container">
                <h3 class="text-primary">  Available Pickup for rent:</h3>
                <table class="table">
                    <tr>
                        <td>
                            <strong>
                                Mitsubishi Strada
                            </strong>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.5 Diesel
                            <br /> Manual Transmission
                        </td>
                        <td>
                            <!--nothing-->
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>
                                Toyota Hilux 2020
                            </strong>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2.8 Diesel
                            <br /> Automatic Transmission
                        </td>
                        <td>
                            <!--nothing-->
                        </td>
                    </tr>


                </table>

            </div>

            <div class="col-lg-12 details-container">
                <h3 class="text-primary"> Services </h3>
                <button class="btn btn-default btn-sm dtls-services"> Self-Drive </button>
                <button class="btn btn-default btn-sm dtls-services"> With Driver </button>
                <button class="btn btn-default btn-sm dtls-services"> Airport Pickup / Drop-off </button>
                <button class="btn btn-default btn-sm dtls-services"> Hotel Pickup / Drop-off </button>
                <button class="btn btn-default btn-sm dtls-services"> City Tour </button>
                <button class="btn btn-default btn-sm dtls-services"> Out of town tour</button>
            </div>

            <div class="col-lg-12 details-container dtls-gallery">
                <h1 class="text-primary">Gallery</h1>
                <a href="~/Images/CarRental/pickup/pickup_front.jpg" target="_blank">
                    <img class="img-thumbnail" src="~/Images/CarRental/pickup/pickup_front.jpg" alt="pickup-car-rental-davao" />
                </a>
                <a href="~/Images/CarRental/pickup/pickup_sideview.jpg" target="_blank">
                    <img class="img-thumbnail" src="~/Images/CarRental/pickup/pickup_sideview.jpg" alt="pickup-car-rental-davao" />
                </a>
                <a href="~/Images/CarRental/pickup/pickup_interior.jpg" target="_blank">
                    <img class="img-thumbnail" src="~/Images/CarRental/pickup/pickup_interior.jpg" alt="pickup-car-rental-davao" />
                </a>
            </div>

            <div class="col-lg-12 details-container" style="display:none;">
                <h1 class="text-primary text-center">Book Now! </h1>
                @Html.ActionLink("Cost Estimate and Reservation", "FormRenter", "CarRental", new { id = @ViewBag.Id }, new { @class = "btn btn-primary col-lg-12 rsvr-btn" })
                <p class="text-info text-center" style="font-size:12px;color:gray;">
                    Note: availability of the vehicle will depend on the date of reservation.
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12 no-padding details-nav">
            <div class="col-lg-12 col-xs-12 no-padding" style="display:flex;">
                <div class="col-md-12 col-xs-12 details-article-price">
                    <span class="text-muted">
                        Rate Starts at
                    </span>
                    <span class="text-success">
                        P3,500
                    </span>
                </div>
            </div>

            <div style="margin-bottom:15px;margin-top:10px;">
                @Html.ActionLink("Reserve this Unit", "ReservationRequest", "CarRental", new { id = 6, rsvType = 1 }, new { @class = "list-group-item details-container-list" })
                @Html.ActionLink("Request Quote", "ReservationRequest", "CarRental", new { id = 6, rsvType = 2 }, new { @class = "list-group-item details-container-list" })
            </div>
            <a href="@Url.Action("CarDetail", "CarRental",new { unitid = 1 },null)" class="list-group-item  details-container-list">  Van (10 seater)   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 2 },null)" class="list-group-item  details-container-list">  Van (14 seater)   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 3 },null)" class="list-group-item  details-container-list">  SUV   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 4 },null)" class="list-group-item  details-container-list">  MPV   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 5 },null)" class="list-group-item  details-container-list">  Sedan   </a>
            <a href="@Url.Action("CarDetail", "CarRental", new { unitid = 6 },null)" class="list-group-item  details-container-list active">  Pickup   </a>
        </div>


        <div class="col-sm-3" style="margin:30px;">
            <label></label>
        </div>
    </div>

<p>
    @Html.ActionLink("Back to Home", "Index")
</p>