@model IEnumerable<JobsV1.Models.CarUnit>
@{
    ViewBag.Title = "Car Rental - Featured Vehicles - Davao City";
    ViewBag.Description =
    @"Davao Car Rental- reserve the best car that fits your need. Available categories: premium cars,
latest cars, cheapest cars.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : 
}


<div class="jumbotron CarRental-Banner-Default" id="Home">
    <h1>  Car Rental - Featured Vehicles </h1>
    <div>
        <p>
            Check the kind of vehicle you need to rent. We have
            different classifications for you to choose. Reserve the right one.
        </p>

        @*<a href="/" class="btn btn-default" title="Go Back to Home">
            <img src="~/Images/Icons/icons-home.png" width="18" class="banner-sm-icon" alt="go to homepage" />
            Go back home
        </a>
        <a href="/CarRental/PriceList" class="btn btn-default" title="Go to PRice List">
            <img src="~/Images/Icons/icons-peso-symbol.png" width="18" class="banner-sm-icon" alt="go to price list" />
            Go to Vehicles Price List
        </a>*@

    </div>
</div>

<div style="background-color:white;">

    <div id="Premium">
        <!-- Premium Section -->
        <div class="featured-page-section no-margin-top">
            <div class="featured-page-title-section">
                <h2 class="featured-page-title">
                    Premium Vehicles
                </h2>
            </div>
            <p> Experience the luxury of comfort and space. Try the latest development from Toyota, The Toyota Grandia Tourer 2020. </p>
        </div>

        <!-- Featured Items -->
        <div class="page-featured-container">
            <div class="page-featured-item-list">
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Toyota-Grandia-Tourer.jpg" class="center-block img-thumbnail" alt="Toyota Grandia Tourer" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 7,}, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 7 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Grandia Tourer </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle with class" /> AT/MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle with passwenger" /> 10-14 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver </p>
                            
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 7 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:22px;">P 4,000.00 </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-page-section no-margin-top" id="Premium">
            <p>
                Experience the comfort of Ford Everest.
            </p>
        </div>

        <!-- Featured Items -->
        <div class="page-featured-container">
            <div class="page-featured-item-list">
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left" >
                            <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Ford-Everest.jpg" class="center-block img-thumbnail" alt="Ford Everest" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 3 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 3 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Ford Everest 4x2 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle with class" /> AT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle with passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver  </p>
                         
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 3 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:22px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-featured-contact-us">
            <a href="#ContactUs" class="btn btn-primary" title="Contact Us">
                <img src="~/Images/Icons/icon-call-white.png" width="18" class="btn-sm-icon" alt="contact" />
                Contact Us
            </a>
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", null, new { @class = "btn btn-default" })
            @*<a href="/CarRental/PriceList" class="btn btn-default" title="Go to Unit Prices">
                <img src="~/Images/Icons/icons-peso-symbol.png" width="18" class="btn-sm-icon" alt="price" />
                See Similar Priced Units
            </a>*@
        </div>
    </div>
    <div id="Latest">
        <!-- Latest Items Section -->
        <div class="featured-page-section">

            <div class="featured-page-title-section">
                <h2 class="featured-page-title"> Latest vehicles </h2>
            </div>
            <p>
                Experience peace of mind while you travel. We love the feeling of staying in a clean and fresh cabin and away from trouble and breakdowns along the road. Extra bucks will surely make your day.
                @*Items: Toyota Grandia Tourer 2020, Toyota Hilux 2020, Innova 2020, Innova 2019, Rush 2019*@
            </p>
        </div>

        <!-- Featured Items -->
        <div class="page-featured-container">
            <div class="page-featured-item-list">
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/fortuner/Toyota-Fortuner-2022.jpg" class="center-block img-thumbnail" alt="Toyota Fortuner 2022" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 7 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 7}, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Fortuner 2022 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> AT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver  </p>

                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 7 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:22px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/estrada/Mitsubishi-Estrada-2022.jpg" class="center-block img-thumbnail" alt="Mitsubishi Estrada 2022" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 6 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 6}, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Mitsubishi Estrada 2022</p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> AT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle driver" /> With Driver  </p>
                            @*<br />*@
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 6 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:22px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>

                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/innova/Toyota-Innova-2021-Front.jpg" class="center-block img-thumbnail" alt="Toyota Innova 2021" style="height:100px;" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 4 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 4 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Innova 2021 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver or  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-fuel.png" class="featured-sm-icon" alt="vehicle fuel" /> Self Drive  </p>
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 4 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-featured-contact-us">
            <a href="#ContactUs" class="btn btn-primary"  title="Contact Us">
                <img src="~/Images/Icons/icon-call-white.png" width="18" class="btn-sm-icon" alt="call us" />
                Contact Us
            </a>
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", null, new { @class = "btn btn-default" })
            @*<a href="/CarRental/PriceList" class="btn btn-default"  title="Go to Unit Prices">
                <img src="~/Images/Icons/icons-peso-symbol.png" width="18" class="btn-sm-icon" alt="price" />
                See Similar Priced Units
            </a>*@
        </div>
    </div>

    <div id="Cheapest">
        <!-- Cheapest Vehicles -->
        <div class="featured-page-section">
            <div class="featured-page-title-section">
                <h2 class="featured-page-title"> Cheapest vehicles </h2>
            </div>
            <p>
                Older vehicles are priced lower. But it doesn’t mean maintenance is forgotten. Older models get more attention in terms of maintenance. If you are afraid of having breakdown along the road while renting the vehicle, Real Wheels is more afraid due to additional effort and loss aside from inconvenience to both parties.
                @* Items: Toyota Innova 2013, Toyota Innova 2015, Toyota Fortuner 2011*@
            </p>
        </div>

        <!-- Featured Items -->
        <div class="page-featured-container">
            <div class="page-featured-item-list">
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/innova/Toyota-Innova-2019.jpg" class="center-block img-thumbnail" alt="Toyota Innova 2019" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 4 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 4 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Innova 2019 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver or  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-fuel.png" class="featured-sm-icon" alt="vehicle self Drive" /> Self Drive  </p>
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 4 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>

                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/innova/Toyota-Innova-2020-front-side.jpg" class="center-block img-thumbnail" alt="Toyota Innova 2020" style="height:100px;" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 4 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 4 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Innova 2020 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver or  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-fuel.png" class="featured-sm-icon" alt="vehicle fuel" /> Self Drive  </p>
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 4 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>

                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/innova/Toyota-Innova-2021-Front.jpg" class="center-block img-thumbnail" alt="Toyota Innova 2021" style="height:100px;" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 4 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 4 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Innova 2021 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver or  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-fuel.png" class="featured-sm-icon" alt="vehicle fuel" /> Self Drive  </p>
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 4 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left">
                            <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Toyota-Rush.jpg" class="center-block img-thumbnail" alt="Toyota Rush" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 8 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 8 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Rush 4x2 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle with driver" /> With Driver or  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-fuel.png" class="featured-sm-icon" alt="vehicle self Drive" /> Self Drive  </p>
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 8 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-featured-contact-us">
            <a href="#ContactUs" class="btn btn-primary" title="Contact Us">
                <img src="~/Images/Icons/icon-call-white.png" width="18" class="btn-sm-icon" alt="call-us" />
                Contact Us
            </a>
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", null, new { @class = "btn btn-default" })
            @*<a href="/CarRental/PriceList" class="btn btn-default" title="Go to Unit Prices">
                <img src="~/Images/Icons/icons-peso-symbol.png" width="18" class="btn-sm-icon" alt="price" />
                See Similar Priced Units
            </a>*@
        </div>
    </div>

    <div id="OffRoad">

        <div class="featured-page-section">
            <div class="featured-page-title-section">
                <h2 class="featured-page-title"> Rough road / Off road </h2>
            </div>
            <p>
                If you know you are going to difficult terrain, you must have the right vehicle to avoid getting stuck in the mud or nowhere. Vehicles with special offroading features are recommended for rough terrain and offroads. This will surely save your day.
                Toyota Hilux G 4x4 AT 2020 - The Latest, Toyota Fortuner V 4x4 2011- The tank
            </p>
        </div>


        <!-- Featured Items -->
        <div class="page-featured-container">
            <div class="page-featured-item-list">
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left" >
                            <img src="~/Images/CarRental/hilux/Toyota-Hilux-Main.jpg" class="center-block img-thumbnail" alt="Toyota Hilux" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 6 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 6 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Hilux 4x4 2020 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle parking" /> With Driver   </p>
                            <br />
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 6 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-7px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left" >
                            <img src="~/Images/CarRental/fortuner/Toyota-Fortuner-2022.jpg" class="center-block img-thumbnail" alt="Toyota Fortuner" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 3 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 3 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Fortuner 2022 </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 5-7 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle parking" /> With Driver   </p>
                            @*<p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-fuel.png" class="featured-sm-icon" alt="vehicle fuel" /> Self Drive  </p>*@ <br />
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 3 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-featured-contact-us">
            <a href="#ContactUs" class="btn btn-primary" title="Contact Us">
                <img src="~/Images/Icons/icon-call-white.png" width="18" class="btn-sm-icon" alt="call us" />
                Contact Us
            </a>
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", null, new { @class = "btn btn-default" })
            @*<a href="/CarRental/PriceList" class="btn btn-default" title="Go to Unit Prices">
                <img src="~/Images/Icons/icons-peso-symbol.png" width="18" class="btn-sm-icon" alt="price" />
                See Similar Priced Units
            </a>*@
        </div>
    </div>


    <div id="HighRoof">

        <div class="featured-page-section">
            <div class="featured-page-title-section">
                <h2 class="featured-page-title"> Big Vans / High Roof / Long wheelbase </h2>
            </div>
            <p> We opt for better comfort and luxury of space. We offer bigger vans for more fresh air to breath. </p>
        </div>

        <!-- High Roof Items -->
        <div class="page-featured-container">
            <div class="page-featured-item-list">
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left" >
                            <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Toyota-Grandia-Tourer.jpg" class="center-block img-thumbnail" alt="Toyota Grandia Tourer" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 7 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 7 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Toyota Grandia Tourer </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> AT/MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 10-15 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle driver" /> With Driver  </p>
                            <br />
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 7 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
                <div class="page-featured-item-box">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="col-md-6 col-xs-6 no-padding-left" >
                            <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Nissan-Premium.jpg" class="center-block img-thumbnail" alt="Nissan Premium" />
                            @Html.ActionLink("Reserve this Unit", "Reservation", "CarRental", new { id = 2 }, new { @class = "btn btn-warning btn-sm set-max-width" })
                            @*@Html.ActionLink("Request Quote", "PriceQuote", "CarRental", new { id = 2 }, new { @class = "btn btn-default btn-sm set-max-width" })*@
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding">
                            <p class="featured-item-box-p"> Nissan Premium NV350</p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-class.png" class="featured-sm-icon" alt="vehicle class" /> AT/MT </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icon-passenger.png" class="featured-sm-icon" alt="vehicle passenger" /> 10-15 Seater  </p>
                            <p class="featured-item-box-p text-muted no-margin"> <img src="~/Images/Icons/icons-valet-parking.png" class="featured-sm-icon" alt="vehicle driver" /> With Driver  </p>
                            <br />
                            <p class="page-featured-text-link">
                                @*@Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 2 }, null)*@
                            </p>
                            <p class="text-price" style="margin-top:-5px;">P 4,000.00 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-featured-contact-us">
            <a href="#ContactUs" class="btn btn-primary" title="Contact Us">
                <img src="~/Images/Icons/icon-call-white.png" width="18" class="btn-sm-icon" alt="call us" />
                Contact Us
            </a>
            @Html.ActionLink("Request Quote", "PriceQuote", "CarRental", null, new { @class = "btn btn-default" })
            @*<a href="/CarRental/PriceList" class="btn btn-default" title="Go to Vehicle Prices">
                <img src="~/Images/Icons/icons-peso-symbol.png" width="18" class="btn-sm-icon" alt="price" />
                See Similar Priced Units
            </a>*@
        </div>
    </div>
    <br />
</div>


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>


@Html.Action("MobileModalView")

<a href="#Home" id="BackToTop" style="display: block;" name="Back-to-Top"> <span> Back To Top </span></a>


@section Scripts{
    <script type="text/javascript" src="~/Scripts/Modal.js"></script>
    <script>
        $(() => {

            setTimeout(function () {

                $('html,body').animate({
                    scrollTop: $(window).scrollTop() - 50
                });

                var link = $(location).attr('hash');

                $(link).children('h2').addClass('text-primary');
            }, 300);
        });

    </script>
}