
@model IEnumerable<JobsV1.Models.CarUnit>

@{
    //title and description defined in controller
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- For Facebook share/like link -->
@*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '596694584162008',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v7.0'
            });
        };
    </script>
    <div id="fb-root"></div>*@
@*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=596694584162008&autoLogAppEvents=1" nonce="e2XOPjWp"></script>*@

<div class="main-page-full-banner" id="Home">
    <div class="title-container">
        <h1>Davao Car Rental and Tours</h1>
        <p class="lead banner-message">Contact us for inquiries and reservation</p>
        <div class="col-md-12 no-padding">

            @Html.ActionLink(" Request for Quote", "CarReserve", "CarRental", new { id = 1 }, new { @class = "btn btn-warning banner-btn-green " })
            <br />
            <a href="/CarRental/PriceList" class="btn btn-warning banner-btn-green scroll"> Price List Table </a>
        </div>
    </div>

</div>


<div class="linkable-container">
    <div class="col-md-12 no-padding banner-services-container">
        <div class="banner-services" style="padding-top:30px">
            <span class="pull-left banner-services-items hidden-on-mobile" style="margin-left:20px;margin-right:120px;">
                <a href="#Services" class="banner-services-header scroll-text"> Our Services </a>
            </span>
            <a href="#Services-airport" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-airplane-landing-48.png" class="center-block" alt="services airport transfer" />
                <p class="text-center"> Airport Transfer  </p>
            </a>
            <a href="#Services-cityTour" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-city-60.png" class="center-block" alt="services city tour" />
                <p class="text-center">City Tour  </p>
            </a>
            <a href="#Services-corporate" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-vip-50.png" class="center-block" alt="services vip travel" />
                <p class="text-center">Corporate Travel </p>
            </a>
            <a href="#Services-business" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-briefcase-60.png" class="center-block" alt="services business trip" />
                <p class="text-center"> Business Trip  </p>
            </a>
            <a href="#Services-outOfTown" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-beach-48.png" class="center-block" alt="services out of town" />
                <p class="text-center"> Out of Town </p>
            </a>
            <a href="#Services-selfDrive" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-people-in-car-side-view-50.png" class="center-block" alt="services self drive" />
                <p class="text-center"> Self Drive  </p>
            </a>
            <a href="#Services-special" class="pull-left banner-services-items scroll-text">
                <img src="~/Images/CarRental/Home/icons8-event-48.png" class="center-block" alt="services special occassion" />
                <p class="text-center"> Special Occasions  </p>
            </a>
        </div>
    </div>

    <div class="col-md-12 no-padding banner-services-container">
        <div class="banner-services">
            <span class="pull-left banner-services-items hidden-on-mobile linkable-heading-Fleet">
                <a href="#Fleet" class="banner-services-header scroll-text"> Our Fleet </a>
            </span>
            <a href="#CarUnit-1" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-1')">
                <img src="~/Images/CarRental/Home/icon-van.png" class="center-block fleet-vehicle-icon" alt="fleet van" />
                <p class="text-center"> VAN  </p>
            </a>
            <a href="#CarUnit-3" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-3')">
                <img src="~/Images/CarRental/Home/icon-suv.png" class="center-block fleet-vehicle-icon" alt="fleet suv" />
                <p class="text-center"> SUV </p>
            </a>
            <a href="#CarUnit-4" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-4')">
                <img src="~/Images/CarRental/Home/icon-mpv.png" class="center-block fleet-vehicle-icon" alt="fleet mpv" />
                <p class="text-center"> MPV</p>
            </a>
            <a href="#CarUnit-5" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-5')">
                <img src="~/Images/CarRental/Home/icon-sedan.png" class="center-block fleet-vehicle-icon" alt="fleet sedan" />
                <p class="text-center"> SEDAN </p>
            </a>
            <a href="#CarUnit-6" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-6')">
                <img src="~/Images/CarRental/Home/icon-pickup.png" class="center-block fleet-vehicle-icon" alt="fleet pickup" />
                <p class="text-center"> PICKUP </p>
            </a>
        </div>
    </div>
</div>



<div class="row" style="margin:40px 0px;">
    <div class="col-md-1" style="height:0px;width:0px;">
        <p>
            <img src="~/Images/CarRental/honda-city-car-rental.PNG" width="0" alt="Realwheels Car Rental Davao" title="Realwheels Car Rental Davao" style="color:white;" /> &nbsp;
        </p>
    </div>

    <div class="col-md-12 contact-container">
        <div class="col-md-12">
            <h1 class="text-center" style="padding-bottom:30px;font-weight:600;margin-top:50px;">
                Contact Us
            </h1>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-ask-question.png" width="70" alt="Question Customer Service" />
                <p class="home-services-h"> Customer Service </p>
                <p> For general inquiries : </p>
                <p class="mobile-text-link">
                    <a href="mailto:inquiries.realwheels@gmail.com">
                        inquiries.realwheels@gmail.com
                    </a>
                </p>
                <p class="mobile-text-link">
                    <a href="tel:+63822971831">
                        <strong>LandLine:</strong> (+63) 82 333-5157
                    </a>
                </p>
                <p class="mobile-text-link">
                    <a href="tel:+639954508517">
                        <strong>Globe:</strong> (+63) 995-450-8517
                    </a>
                </p>
                <p class="mobile-text-link">
                    <a href="tel:+639193812657">
                        <strong>Smart:</strong> (+63) 919-381-2657
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-company.png" width="70" alt="Contact Us Company" />
                <span class="home-services-h"> Corporate Office </span>
                <p>
                    Door 1, Travelers Inn Bldg.,
                </p>
                <p>  Matina Crossing Rd., Matina Pangi, </p>
                <p>
                    Davao City, 8000
                </p>
            </div>
        </div>


        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-group-task.png" width="70" alt="Contact Us Corporate Sales Team" />
                <p class="home-services-h"> Corporate Sales Team </p>
                <p>
                    Business to Business
                </p>
                <p>
                    <a href="mailto:inquiries.realwheels@gmail.com">
                        Request a Quote
                    </a>
                </p>
                <p>
                    Monday – Saturday
                </p>
                <p>
                    9:00 AM – 6:00 PM
                </p>
                <p>
                    <a href="tel:+639954508517">
                        <strong>Globe:</strong> (+63) 995-450-8517
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-connect.png" width="70" alt="Contact Us Connect With Us" />
                <p class="home-services-h"> Connect With Us </p>
                <p>
                    <a href="https://www.facebook.com/RealWheelsDavao" rel="noreferrer" target="_blank"> <img src="~/Images/Icons/icons-facebook.png" width="50" alt="Real Wheels Davao Facebook Link" /></a>

                    <a href="viber://chat?number=639954508517">
                        <img src="~/Images/Icons/viber-original.png" width="48" alt="Real Wheels Davao Viber Call Us " />
                    </a>

                    <a href="https://wa.me/639954508517">
                        <img src="~/Images/Icons/whatsapp-original.png" width="48" alt="Real Wheels Davao WhatsApp Call Us" />
                    </a>

                </p>
            </div>
        </div>

    </div>
</div>


@*<div class="row" hidden>
        <div class="col-md-12 contact-container">
            <h3> Contact Us </h3>
            <a class="btn btn-primary contact-us-items " href="https://goo.gl/maps/Q5QBmS8mEWn">
                Location
            </a>

            <a class="btn btn-primary contact-us-items " href="viber://chat?number=639954508517">
                <img src="~/Images/Icons/viber-original.png" width="18" />
                <span style="font-size:12px;margin-bottom:0px;">Viber</span>
            </a>

            <a class="btn btn-primary contact-us-items " href="https://wa.me/639954508517">
                <img src="~/Images/Icons/whatsapp-original.png" width="18" />
                <span style="font-size:12px;margin-bottom:0px;">WhatsApp</span>
            </a>

            <a class="btn btn-primary contact-us-items " href="tel:+63822971831">
                <strong>LandLine:</strong> (+63) 82 333-5157
            </a>

            <a class="btn btn-primary contact-us-items " href="tel:+639193812657">
                <strong>Smart:</strong> (+63) 919-381-2657
            </a>
            <a class="btn btn-primary contact-us-items " href="tel:+639954508517">
                <strong>Globe:</strong> (+63) 995-450-8517
            </a>
            <a class="btn btn-primary contact-us-items " href="skype:+639954508517?call">
                <strong>Skype:</strong> (+63) 995-450-8517
            </a>
            <a class="btn btn-primary contact-us-items " href="mailto:inquiries.realwheels@gmail.com">
                <strong>Email:</strong> inquiries.realwheels@gmail.com
            </a>

        </div>
        <div class="col-md-1">
            <p>
                <img src="~/Images/CarRental/honda-city-car-rental.PNG" width="0" alt="Realwheels Car Rental" title="Realwheels Car Rental" /> &nbsp;
            </p>
        </div>

        <div class="col-lg-2">
                <b>Follow us on Facebook</b>
                <div class="fb-like" data-href="https://www.facebook.com/RealWheelsDavao/" data-width="300" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
            </div>
    </div>*@

<!-- Car Selection -->
@*<div class="row" style="padding:15px;" hidden>
        @foreach (var item in Model)
        {
            <div class="col-md-4 car-primary">
                <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
                <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description" loading="lazy">

                <p>&nbsp</p>
                <div>
                    <table class="table-no-border">
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.Remarks)  &nbsp;
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Html.Action("CarRate", new { unitid = int.Parse(@Html.DisplayFor(modelItem => item.Id).ToString()) })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>*@


<!-- Car Selection -->

<div class="row car-container">
    <div class="col-md-12" id="Fleet">
        <h1 class="text-center" style="padding-bottom:30px;font-weight:600;">
            Our Fleet
        </h1>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-md-4 no-padding" id="CarUnit-@item.Id">
            <div class="car-container-details">
                <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description">
                <div class="col-lg-12">
                    <h2 class="carrental-car-title">

                        @Html.ActionLink(item.Description, "CarDetail", "CarRental", new { unitid = item.Id }, null)
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                    </h2>
                    <p>
                        <b>@Html.DisplayFor(modelItem => item.Remarks)</b> -
                        @{
                            string metaDesc = item.CarUnitMetas.FirstOrDefault().MetaDesc;
                            string metaShow = metaDesc;
                            int icnt = 85;
                            if (metaDesc.Length > icnt)
                            {
                                metaShow = metaDesc.Substring(0, icnt) + "...";
                            }
                            else
                            {
                                metaShow = metaDesc.PadRight(icnt);
                            }

                        }
                        @metaShow
                        @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = item.Id }, null)
                    </p>
                    <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-md-6 col-xs-12 no-padding">
                            <p class="text-muted carrental-car-price-desc">Price Starts at </p>
                            <p class="carrental-car-price">
                                @if (item.CarRates.FirstOrDefault() != null)
                                {
                                    @item.CarRates.FirstOrDefault().Daily.ToString("#,##0.00")
                                }
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-12 no-padding">
                            <p class="text-muted carrental-car-price-desc"> <img src="~/Images/CarRental/Driver102.png" width="15" alt="vehicle for rent with driver" /> &nbsp; With Driver </p>
                            <p class="text-muted carrental-car-price-desc"> <img src="~/Images/CarRental/icon-gas.png" width="15" alt="vehicle for rent renters fuel" />  &nbsp; Renters Fuel </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!--Page Description / Articles-->

@{Html.RenderPartial("Partial_content_1");}

@Html.Action("MobileModalView")

<a href="#Home" id="BackToTop" style="display: block;" name="Back-to-Top"> <span> Back To Top </span></a>