
@model IEnumerable<JobsV1.Models.CarUnit>

@{
    //title and description defined in controller
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- For Facebook share/like link -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '596694584162008',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v7.0'
        });
    };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=596694584162008&autoLogAppEvents=1" nonce="e2XOPjWp"></script>

<div class="jumbotron main-page-full-banner">
    <div>
        <h1>Davao Car Rental and Tours</h1>
        <p class="lead">Contact us for inquiries and reservation</p>
         @Html.ActionLink(" Request for Quote", "CarReserve", "CarRental", new { id = 1 }, new { @class = "btn btn-success", @style = "font-size:20px;" })
        @*<a class="btn btn-success" style="font-size:20px;">
            Request for Quote
        </a>*@
    </div>

</div>

<div class="row">
    <div class="col-md-12 contact-container">
        <h3> Contact Us </h3>
        <a class="btn btn-primary contact-us-items " href="https://goo.gl/maps/Q5QBmS8mEWn">
            Location
        </a>

        <a class="btn btn-primary contact-us-items " href="viber://chat?number=639954508517">
            <img src="~/Images/Icons/viber-original.png" width="18" />
            <span style="font-size:12px;margin-bottom:0px;">Viber</span>
        </a>

        <a class="btn btn-primary contact-us-items " href="https://wa.me/639954508517">
            <img src="~/Images/Icons/whatsapp-original.png" width="18" />
            <span style="font-size:12px;margin-bottom:0px;">WhatsApp</span>
        </a>

        <a class="btn btn-primary contact-us-items " href="tel:+63822971831">
            <strong>LandLine:</strong> (+63) 82 333-5157
        </a>
        <a class="btn btn-primary contact-us-items " href="tel:+639193812657">
            <strong>Smart:</strong> (+63) 919-381-2657
        </a>
        <a class="btn btn-primary contact-us-items " href="tel:+639954508517">
            <strong>Globe:</strong> (+63) 995-450-8517
        </a>
        <a class="btn btn-primary contact-us-items " href="skype:+639954508517?call">
            <strong>Skype:</strong> (+63) 995-450-8517
        </a>
        <a class="btn btn-primary contact-us-items " href="mailto:inquiries.realwheels@gmail.com">
            <strong>Email:</strong> inquiries.realwheels@gmail.com
        </a>

    </div>
    <div class="col-md-1">
        <p>
            <img src="~/Images/CarRental/honda-city-car-rental.PNG" width="0" alt="Realwheels Car Rental" title="Realwheels Car Rental" /> &nbsp;
        </p>
    </div>

    <!-- Facebook Like -->
    @*<div class="col-lg-2">
            <b>Follow us on Facebook</b>
            <div class="fb-like" data-href="https://www.facebook.com/RealWheelsDavao/" data-width="300" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
        </div>*@
</div>

<!-- Car Selection -->
<div class="row" style="padding:15px;" hidden>
    @foreach (var item in Model)
    {
        <div class="col-md-4 car-primary">
            <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
            <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description">

            <p>&nbsp</p>
            <div>
                <table class="table-no-border">
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Remarks)  &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.Action("CarRate", new { unitid = int.Parse(@Html.DisplayFor(modelItem => item.Id).ToString()) })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>


<!-- Car Selection -->
<div class="row car-container">
    @foreach (var item in Model)
    {
    <div class="col-md-4 no-padding">
        <div class="car-container-details">
            <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description">
            <div class="col-lg-12">
                <h2 class="carrental-car-title">@Html.DisplayFor(modelItem => item.Description)</h2>
                <p>
                    <b>@Html.DisplayFor(modelItem => item.Remarks)</b> -
                    @{
                        string metaDesc = item.CarUnitMetas.FirstOrDefault().MetaDesc;
                        string metaShow = metaDesc;
                        int icnt = 100;
                        if (metaDesc.Length > icnt)
                        {
                            metaShow = metaDesc.Substring(0, icnt) + "...";
                        }
                        else
                        {
                            metaShow = metaDesc.PadRight(icnt);
                        }

                    }
                    @metaShow
                    @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = item.Id }, null )
                </p>
                <div class="col-md-12 col-xs-12 no-padding">
                    <div class="col-md-6 col-xs-12 no-padding">
                        <p class="text-muted">Price Starts at </p>
                        <p class="carrental-car-price">
                            @if (item.CarRates.FirstOrDefault() != null)
                            {
                                @item.CarRates.FirstOrDefault().Daily.ToString("#,##0.00")
                            }
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-12 no-padding">
                        <p class="text-muted"> <img src="~/Images/CarRental/Driver102.png" width="15" /> &nbsp; With Driver </p>
                        <p class="text-muted"> <img src="~/Images/CarRental/icon-gas.png" width="15" />  &nbsp; Renters Fuel </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>


<!--Page Description / Articles-->
<div class="row" style="padding:25px;">
    <div class="col-md-12">
        @{Html.RenderPartial("Partial_content_1");}
    </div>

</div>


<div class="row" style="padding:35px;">
    <div class="col-md-12">
        @{Html.RenderPartial("Articles"); }
    </div>
</div>


@Html.Action("MobileModalView")

@section Scripts{

}