
@model IEnumerable<JobsV1.Models.CarUnit>

@{
    //title and description defined in controller
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="main-page-full-banner" id="Home">
    <div class="title-container">
        <h1>Davao Car Rental and Tours</h1>
        <p class="lead banner-message no-margin hidden-on-mobile">
            Your trusted travel partner.
            Contact us for inquiries and reservation
        </p>
        <div class="col-md-12 no-padding no-margin">
            <a href="/CarRental/PriceQuote" class="btn btn-warning banner-btn-green"> Request for Quote </a>
            <a href="/CarRental/PriceList" class="btn btn-warning banner-btn-green"> Price List Table </a>
            <br />
            <a href="/CarRental/Reservation" class="btn btn-warning banner-btn-green no-margin"> Online Reservation </a>

            @* @Html.ActionLink(" Request for Quote", "ReservationRequest", "CarRental", new { id = 1, rsvType = 2 }, new { @class = "btn btn-warning banner-btn-green " })*@
            @*  @Html.ActionLink(" Online Reservation ", "ReservationRequest", "CarRental", new { id = 1, rsvType = 1 }, new { @class = "btn btn-warning banner-btn-green no-margin" })*@
        </div>
        <div style="height:0px;width:0px;">
            <p>
                <img src="~/Images/CarRental/hondacity/Honda-City-Default.jpg" width="0" alt="" title="Realwheels Car Rental Davao" style="color:white;" /> &nbsp;
            </p>
        </div>
    </div>
</div>

<!-- Banner Contact Details -->

<div class="featured-container hidden-on-mobile" style="background-color:#3b3b3b;color:white;">
    <p class="no-margin" style="padding:5px 30px;">
        <span> Contact Us : </span>

        <img src="~/Images/Icons/icon-call-white.png" alt="call us" width="20" style="margin:0px 5px;" />
        <a href="tel:+639954508517" class="contact-us-link"> Globe: +63 995-450-8517 </a>
        &nbsp;
        <img src="~/Images/Icons/icon-call-white.png" alt="call us" width="20" style="margin:0px 5px;" />
        <a href="tel:+639292113987" class="contact-us-link"> Smart: +63 929-211-3987 </a>
        &nbsp;
        <img src="~/Images/Icons/icon-email-white.png" alt="email us" width="20" style="margin:0px 5px;" />
        <a href="mailto:inquiries.realwheels@gmail.com" class="contact-us-link">inquiries.realwheels@gmail.com</a>
    </p>
</div>

<!-- Featured Items -->
<div class="featured-container hidden-on-mobile">
    <div class="featured-title">
        <p> FEATURED </p>
    </div>
    <div class="featured-item-list">
        <!-- Premium -->
        <div class="featured-item-box">
            <div class="col-md-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#Premium"> Premium </a> </p>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
                    <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Ford-Everest.jpg" class="center-block img-thumbnail" alt="Ford Everest" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                    <p class="featured-item-box-p no-margin"> Ford Everest </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icon-passenger.png" alt="passenger" style="width:15px;" /> 5-7 Seater
                    </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icons-valet-parking.png" alt="parking" style="width:15px;" /> With Driver
                    </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 3,500.00 </p>
                <a href="/CarRental/Featured#Premium" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>

        <div class="featured-item-box">
            <!-- Latest -->
            <div class="col-md-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#Latest"> Latest </a></p>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
                    <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Toyota-Grandia-Tourer.jpg" class="center-block img-thumbnail" alt="Toyota Grandia Tourer" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                    <p class="featured-item-box-p no-margin"> Toyota Grandia Tourer  </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icon-passenger.png" alt="passenger" style="width:15px;" /> 10-14 Seater
                    </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icons-valet-parking.png" alt="parking" style="width:15px;" /> With Driver
                    </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 3,500.00 </p>
                <a href="/CarRental/Featured#Latest" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>

        <div class="featured-item-box">
            <!-- Cheapest -->
            <div class="col-md-12 col-sm-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#Cheapest">  Cheapest </a></p>
            </div>
            <div class="col-md-12  no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
                    <img src="~/Images/CarRental/innova/Toyota-Innova-sm.jpg" class="center-block img-thumbnail" alt="fleet van" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                    <p class="featured-item-box-p no-margin"> Toyota Innova 2013 </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icon-passenger.png" alt="passenger" style="width:15px;" /> 5-7 Seater
                    </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icons-valet-parking.png" alt="parking" style="width:15px;" /> With Driver
                    </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 2,500.00 </p>
                <a href="/CarRental/Featured#Cheapest" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>

        <div class="featured-item-box">
            <!-- OffRoad -->
            <div class="col-md-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#OffRoad"> Off Road </a></p>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
                    <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Toyota-Hilux.jpg" class="center-block img-thumbnail" alt="fleet van" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                    <p class="featured-item-box-p no-margin"> Toyota Hilux 4x4 2020 </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icon-passenger.png" alt="passenger" style="width:15px;" /> 5 Seater
                    </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">
                        <img src="~/Images/Icons/icons-valet-parking.png" alt="parking" style="width:15px;" /> With Driver
                    </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 3,500.00 </p>
                <a href="/CarRental/Featured#OffRoad" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>
    </div>

    <hr class="col-md-12" style="margin-left:-15px;margin-bottom:0px;" />
</div>


<!-- Flickity HTML init : carousel view -->
<div class="carousel js-flickity show-on-mobile-only" style="margin-bottom:60px;">
    <!-- images from unsplash.com -->
    <div class="carousel-cell">
        <div class="featured-item-box">
            <div class="col-md-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#Premium"> Premium </a> </p>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-6" style="padding-left:0px;">
                    <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Ford-Everest.jpg" class="center-block img-thumbnail" alt="Ford Everest"  />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-6 no-padding">
                    <p class="featured-item-box-p no-margin"> Ford Everest </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin"> 5-7 Seater  </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin"> With Driver  </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 3,500.00 </p>
                <a href="/CarRental/Featured#Premium" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>
    </div>

    <div class="carousel-cell" aria-hidden="false">
        <!-- Latest -->
        <div class="featured-item-box">
            <div class="col-md-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#Latest"> Latest </a></p>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-6" style="padding-left:0px;">
                    <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Toyota-Grandia-Tourer.jpg" class="center-block img-thumbnail" alt="Toyota Grandia Tourer"  />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-6 no-padding">
                    <p class="featured-item-box-p no-margin"> Toyota Grandia Tourer  </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">  10-14 Seater  </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">  With Driver  </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 3,500.00 </p>
                <a href="/CarRental/Featured#Latest" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>
    </div>

    <div class="carousel-cell" aria-hidden="false">
        <!-- Cheapest -->
        <div class="featured-item-box">
            <div class="col-md-12 col-sm-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#Cheapest">  Cheapest </a></p>
            </div>
            <div class="col-md-12  no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-6" style="padding-left:0px;">
                    <img src="~/Images/CarRental/innova/Toyota-Innova-sm.jpg" class="center-block img-thumbnail" alt="fleet van"  />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-6 no-padding">
                    <p class="featured-item-box-p no-margin"> Toyota Innova 2013 </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin"> 5-7 Seater  </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin"> With Driver  </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 2,500.00 </p>
                <a href="/CarRental/Featured#Cheapest" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>
    </div>


    <div class="carousel-cell" aria-hidden="false">
        <!-- OffRoad -->
        <div class="featured-item-box">
            <div class="col-md-12 no-margin no-padding">
                <p class="featured-item-box-header"><a href="/CarRental/Featured#OffRoad"> Off Road </a></p>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <div class="col-md-6 col-sm-12 col-xs-6" style="padding-left:0px;">
                    <img src="~/Images/CarRental/Home/Vehicles/Realwheels-Davao-Toyota-Hilux.jpg" class="center-block img-thumbnail" alt="fleet van" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-6 no-padding">
                    <p class="featured-item-box-p no-margin"> Toyota Hilux 4x4 2020 </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">  5 Seater  </p>
                    <p class="featured-item-box-p featured-item-desc-muted no-margin">  With Driver </p>
                </div>
            </div>
            <div class="col-md-12 no-margin no-padding">
                <p class="text-price pull-left">P 3,500.00 </p>
                <a href="/CarRental/Featured#OffRoad" class="pull-right featured-text-link"> More Items &#8594</a>
            </div>
        </div>
    </div>
</div>

<!-- Home Page Links -->

<div class="main-links-container hidden-on-mobile">
    <div class="main-links-items">
        <a href="#About">
            <img class="hidden-on-mobile" src="~/Images/Icons/icons-company.png" width="70" alt="Contact Us Company" />
            <h2> About Us </h2>
        </a>
    </div>
    <div class="main-links-items">
        <a href="#ServicesNav">
            <img class="hidden-on-mobile" src="~/Images/Icons/icons-car-rental.png" width="70" alt="Car Rental Services"  />
            <h2> Services </h2>
        </a>
    </div>
    <div class="main-links-items">
        <a href="#FleetNav">
            <img class="hidden-on-mobile" src="~/Images/Icons/icons-car-dealership.png" width="70" alt="Car Delearship Fleet"  />
            <h2> Our Fleet </h2>

        </a>
    </div>
    <div class="main-links-items">
        <a href="~/CarRental/PriceList">
            <img class="hidden-on-mobile" src="~/Images/Icons/icons-sale-price-tag.png" width="70" alt="Rental Price Tag" />
            <h2> Rental Prices </h2>
        </a>
    </div>
    <div class="main-links-items">
        <a href="#Contact">
            <img class="hidden-on-mobile" src="~/Images/Icons/icons-group-task.png" width="70" alt="Contact Us Company"  />
            <h2> Contact Us </h2>
        </a>
    </div>
    <div class="main-links-items">
        <a href="#Booking">
            <img class="hidden-on-mobile" src="~/Images/Icons/icons-connect.png" width="70" alt="Booking and Reservation"  />
            <h2> Booking  </h2>
        </a>
    </div>
</div>

<!-- Contact Details For Easy Access -->

<div class="main-links-container hidden-on-mobile">
    <h3 class="no-margin center-block">

        <img src="~/Images/Icons/icon-call-blk.png" alt="call us" width="30" style="margin:5px;" loading="lazy" />
        <a href="tel:+639954508517"> +63 995-450-8517 </a> or
        <img src="~/Images/Icons/icon-email-blk.png" alt="call us" width="30" style="margin:5px;" loading="lazy" />
        <a href="mailto:inquiries.realwheels@gmail.com">inquiries.realwheels@gmail.com</a>
    </h3>
</div>

<!-- About Us -->

@{Html.RenderPartial("Index_About");}

<!-- Services -->

@{Html.RenderPartial("Index_Services");}

<!-- Car Selection -->

<div class="linkable-container">

    <div class="col-md-12 no-padding banner-services-container" id="FleetNav">
        <div class="banner-services">
            <span class="pull-left banner-services-items hidden-on-mobile linkable-heading-Fleet">
                <a href="#Fleet" class="banner-services-header scroll-text"> Our Fleet </a>
            </span>
            <a href="#CarUnit-1" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-1')">
                <img src="~/Images/CarRental/Home/icon-van.png" class="center-block fleet-vehicle-icon" alt="fleet van" />
                <p class="text-center"> VAN  </p>
            </a>
            <a href="#CarUnit-3" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-3')">
                <img src="~/Images/CarRental/Home/icon-suv.png" class="center-block fleet-vehicle-icon" alt="fleet suv" />
                <p class="text-center"> SUV </p>
            </a>
            <a href="#CarUnit-4" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-4')">
                <img src="~/Images/CarRental/Home/icon-mpv.png" class="center-block fleet-vehicle-icon" alt="fleet mpv" />
                <p class="text-center"> MPV</p>
            </a>
            <a href="#CarUnit-5" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-5')">
                <img src="~/Images/CarRental/Home/icon-sedan.png" class="center-block fleet-vehicle-icon" alt="fleet sedan" />
                <p class="text-center"> SEDAN </p>
            </a>
            <a href="#CarUnit-6" class="pull-left banner-fleet-items scroll-text" onclick="HighlightSelectedCar('CarUnit-6')">
                <img src="~/Images/CarRental/Home/icon-pickup.png" class="center-block fleet-vehicle-icon" alt="fleet pickup" />
                <p class="text-center"> PICKUP </p>
            </a>
        </div>
    </div>
</div>



<!-- Fleet Vehicles For Rent -->
<div class="row car-container">
    <div class="col-md-12" id="Fleet">
        <h1 class="text-center" style="padding-bottom:30px;font-weight:600;">
            Our Fleet
        </h1>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-md-4 no-padding" id="CarUnit-@item.Id">
            <div class="car-container-details">
                <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description" >
                <div class="col-lg-12 no-padding">
                    <h2 class="carrental-car-title">

                        @Html.ActionLink(item.Description, "CarDetail", "CarRental", new { unitid = item.Id }, null)
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                    </h2>
                    <p>
                        <b>@Html.DisplayFor(modelItem => item.Remarks)</b> -
                        @{
                            string metaDesc = item.CarUnitMetas.FirstOrDefault().MetaDesc;
                            string metaShow = metaDesc;
                            int icnt = 85;
                            if (metaDesc.Length > icnt)
                            {
                                metaShow = metaDesc.Substring(0, icnt) + "...";
                            }
                            else
                            {
                                metaShow = metaDesc.PadRight(icnt);
                            }

                        }
                        @metaShow
                        @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = item.Id }, null)
                    </p>
                    <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-md-6 col-xs-12 no-padding">
                            <p class="text-muted carrental-car-price-desc">Price Starts at </p>
                            <p class="carrental-car-price">
                                @if (item.CarRates.FirstOrDefault() != null)
                                {
                                    @item.CarRates.FirstOrDefault().Daily.ToString("#,##0.00")
                                }
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-12 no-padding">
                            <p class="text-muted carrental-car-price-desc"> <img src="~/Images/CarRental/Driver102.png" width="15" alt="vehicle for rent with driver" /> &nbsp; With Driver </p>
                            <p class="text-muted carrental-car-price-desc"> <img src="~/Images/CarRental/icon-gas.png" width="15" alt="vehicle for rent renters fuel" />  &nbsp; Renters Fuel </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 no-padding">
                        @Html.ActionLink("Reserve this Unit", "ReservationRequest", "CarRental", new { id = item.Id, rsvType = 1 }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Request a Quote", "ReservationRequest", "CarRental", new { id = item.Id, rsvType = 2 }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<hr class="col-md-12 hidden-on-mobile" style="margin-left:-15px;" />
<!-- Types of Vehicles For Rent -->
<div class="col-md-12 hidden-on-mobile" style="margin:50px 0px;">
    <h2 class="home-heading text-center" style="margin-bottom:30px;">Types of Vehicles for Rent</h2>
    <p class="text-center" style="margin-bottom:20px;padding:10px;">
        As a rent-a-car company, <a href="https://realwheelsdavao.com">Real Wheels Davao</a> offers wide variety of affordable vehicles
        suitable for your travel needs.
    </p>
    <div class="col-md-3">
        <div class="home-panel">
            <img src="~/Images/CarRental/Home/vehicle-type-van.jpg" class="home-vehicle-type-img" alt="Car-rental-vehicle-van" title="Car Rental Vehicle Van" />
            <a href="~/CarRental/van-for-rent"><span class="vehicle-types-title">Van for rent</span></a>
            <ul>
                <li> Toyota Hiace GL Grandia Tourer</li>
                <li> Nissan Urvan Premium</li>
                <li> Toyota Super Grandia</li>
                <li> Toyota Grandia GL </li>
                <li> Toyota Hiace Commuter </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="home-panel ">
            <img src="~/Images/CarRental/Home/vehicle-type-suv.jpg" class="home-vehicle-type-img" alt="Car-rental-vehicle-suv-mpv" title="Car Rental Vehicle SUV MPV" />
            <a href="~/CarRental/suvpickup4x4-rental-rates">
                <span class="vehicle-types-title"> SUV / MPV for rent</span>
            </a>
            <ul>
                <li> Ford Everest </li>
                <li> Mitsubishi Montero Sport </li>
                <li> Toyota Fortuner </li>
                <li> Toyota Innova </li>
                <li> Toyota Rush </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="home-panel">
            <img src="~/Images/CarRental/Home/vehicle-type-sedan.jpg" class="home-vehicle-type-img" alt="Car-rental-vehicle-Sedan" title="Car Rental Business Sedan" />
            <a href="~/CarRental/sedan-rental"><span class="vehicle-types-title">Sedan for rent</span></a>
            <ul>
                <li> Honda City</li>
                <li> Toyota Vios </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="home-panel">
            <img src="~/Images/CarRental/Home/vehicle-type-pickup.jpg" class="home-vehicle-type-img" alt="Car-rental-vehicle-pickup" title="Car Rental Vehicle Pickup" />
            <a href="~/carrental/pickup-rental"><span class="vehicle-types-title">Pickup for rent</span></a>
            <ul>
                <li> Toyota Hilux 2020 </li>
                <li> Mitsubishi Strada </li>
            </ul>
        </div>
    </div>
</div>


<!-- Contact Details -->

@{Html.RenderPartial("Index_Contact");}

<!-- Booking Details and Reservations Info -->

@{Html.RenderPartial("Index_Booking");}

<!-- Articles Links -->

@{Html.RenderPartial("Articles"); }

<!-- Footer -->

@{Html.RenderPartial("Index_Footer");}

<!-- Mobile Contact Links at bottom Screen -->

@Html.Action("MobileModalView")

<!-- Floating Move to up Button -->

<a href="#Home" id="BackToTop" style="display: block;" name="Back-to-Top"> <span> Back To Top </span></a>

@section Scripts{
    <!-- For Carousel using flickity js -->
    <script>
        $(() => {
            var flkty = new Flickity('.main-gallery', {
                // options
                cellAlign: 'left',
                contain: true
            });
        });

    </script>
}