
@model IEnumerable<JobsV1.Models.CarUnit>

@{
    //title and description defined in controller
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- For Facebook share/like link -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '596694584162008',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v7.0'
        });
    };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=596694584162008&autoLogAppEvents=1" nonce="e2XOPjWp"></script>

<div class="main-page-full-banner">
    <div>
        <h1>Davao Car Rental and Tours</h1>
        <p class="lead banner-message">Contact us for inquiries and reservation</p>
        @*<a class="btn btn-success" style="font-size:20px;">
                Request for Quote
            </a>*@
    <div class="col-md-12 no-padding banner-services" >
        <div class="pull-left" >
            <img src="~/Images/CarRental/Home/icons8-airplane-landing-48.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;"> Airport Transfer  </p>
        </div>
        <div class="pull-left">
            <img src="~/Images/CarRental/Home/icons8-city-24.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;">City Tour  </p>
        </div>
        <div class="pull-left">
            <img src="~/Images/CarRental/Home/icons8-vip-24.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;"> Corporate Travel </p>
        </div>
        <div class="pull-left">
            <img src="~/Images/CarRental/Home/icons8-briefcase-24.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;"> Business Trip  </p>
        </div>
        <div class="pull-left">
            <img src="~/Images/CarRental/Home/icons8-beach-24.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;"> Out of Town </p>
        </div>
        <div class="pull-left">
            <img src="~/Images/CarRental/Home/icons8-people-in-car-side-view-30.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;"> Self Drive  </p>
        </div>
        <div class="pull-left">
            <img src="~/Images/CarRental/Home/icons8-event-accepted-tentatively-24.png" class="center-block" width="24" />
            <p class="text-center" style="font-size:9px;padding-top:10px;"> Special Occasions  </p>
        </div>
    </div>
    <div class="col-md-12 no-padding">

        @Html.ActionLink(" Request for Quote", "CarReserve", "CarRental", new { id = 1 }, new { @class = "btn btn-success", @style = "font-size:20px;" })
    </div>
    </div>

</div>


<div class="row" style="margin:40px 0px;">

    <div class="col-md-1" style="height:0px;width:0px:">
        <p>
            <img src="~/Images/CarRental/honda-city-car-rental.PNG" width="0" alt="Realwheels Car Rental" title="Realwheels Car Rental" /> &nbsp;
        </p>
    </div>

    <div class="col-md-12 contact-container">
        <div class="col-md-12" >
            <h1 class="text-center" style="padding-bottom:30px;font-weight:600;">
                Contact Us
            </h1>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-ask-question.png" width="70" />
                <h3> Customer Service </h3>
                <p> For general inquiries : </p>
                <p>
                    <a href="mailto:inquiries.realwheels@gmail.com">
                        inquiries.realwheels@gmail.com
                    </a>
                </p>
                <p>
                    <a href="tel:+63822971831">
                        <strong>LandLine:</strong> (+63) 82 333-5157
                    </a>
                </p>
                <p>
                    <a href="tel:+639954508517">
                        <strong>Globe:</strong> (+63) 995-450-8517
                    </a>
                </p>
                <p>
                    <a href="tel:+639193812657">
                        <strong>Smart:</strong> (+63) 919-381-2657
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-company.png" width="70" />
                <h3> Corporate Office </h3>
                <p>
                    Door 1, Travelers Inn Bldg.,
                </p>
                <p>  Matina Crossing Rd., Matina Pangi, </p>
                <p>
                    Davao City, 8000
                </p>
            </div>
        </div>


        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-group-task.png" width="70" />
                <h3> Corporate Sales Team </h3>
                <p>
                    Business to Business
                </p>
                <p>
                    <a href="mailto:inquiries.realwheels@gmail.com">
                        Request a Quote
                    </a>
                </p>
                <p>
                    Monday – Saturday
                </p>
                <p>
                    9:00 AM – 6:00 PM
                </p>
                <p>
                    <a href="tel:+639954508517">
                        <strong>Globe:</strong> (+63) 995-450-8517
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-connect.png" width="70" />
                <h3> Connect With Us </h3>
                <p>
                    <a href="https://www.facebook.com/RealWheelsDavao" target="_blank"> <img src="~/Images/Icons/icons-facebook.png" width="50" /></a>

                    <a  href="viber://chat?number=639954508517">
                        <img src="~/Images/Icons/viber-original.png" width="50" />
                    </a>

                    <a  href="https://wa.me/639954508517">
                        <img src="~/Images/Icons/whatsapp-original.png" width="50" />
                    </a>

                </p>
                <p>
                    <div class="fb-like" data-href="https://www.facebook.com/RealWheelsDavao/" data-width="300" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                </p>
            </div>
        </div>

    </div>
</div>


<div class="row" hidden>
    <div class="col-md-12 contact-container">
        <h3> Contact Us </h3>
        <a class="btn btn-primary contact-us-items " href="https://goo.gl/maps/Q5QBmS8mEWn">
            Location
        </a>

        <a class="btn btn-primary contact-us-items " href="viber://chat?number=639954508517">
            <img src="~/Images/Icons/viber-original.png" width="18" />
            <span style="font-size:12px;margin-bottom:0px;">Viber</span>
        </a>

        <a class="btn btn-primary contact-us-items " href="https://wa.me/639954508517">
            <img src="~/Images/Icons/whatsapp-original.png" width="18" />
            <span style="font-size:12px;margin-bottom:0px;">WhatsApp</span>
        </a>

        <a class="btn btn-primary contact-us-items " href="tel:+63822971831">
            <strong>LandLine:</strong> (+63) 82 333-5157
        </a> 

        <a class="btn btn-primary contact-us-items " href="tel:+639193812657">
            <strong>Smart:</strong> (+63) 919-381-2657
        </a>
        <a class="btn btn-primary contact-us-items " href="tel:+639954508517">
            <strong>Globe:</strong> (+63) 995-450-8517
        </a>
        <a class="btn btn-primary contact-us-items " href="skype:+639954508517?call">
            <strong>Skype:</strong> (+63) 995-450-8517
        </a>
        <a class="btn btn-primary contact-us-items " href="mailto:inquiries.realwheels@gmail.com">
            <strong>Email:</strong> inquiries.realwheels@gmail.com
        </a>

    </div>
    <div class="col-md-1">
        <p>
            <img src="~/Images/CarRental/honda-city-car-rental.PNG" width="0" alt="Realwheels Car Rental" title="Realwheels Car Rental" /> &nbsp;
        </p>
    </div>

    <!-- Facebook Like -->
    @*<div class="col-lg-2">
            <b>Follow us on Facebook</b>
            <div class="fb-like" data-href="https://www.facebook.com/RealWheelsDavao/" data-width="300" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
        </div>*@
</div>

<!-- Car Selection -->
<div class="row" style="padding:15px;" hidden>
    @foreach (var item in Model)
    {
        <div class="col-md-4 car-primary">
            <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
            <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description" loading="lazy" >

            <p>&nbsp</p>
            <div>
                <table class="table-no-border">
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Remarks)  &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.Action("CarRate", new { unitid = int.Parse(@Html.DisplayFor(modelItem => item.Id).ToString()) })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>


<!-- Car Selection -->
<div class="row car-container">
    <div class="col-md-12">
        <h1 class="text-center" style="padding-bottom:30px;font-weight:600;">
           Our Fleet
        </h1>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-md-4 no-padding">
            <div class="car-container-details">
                <img src="~/CarRental/MainImage/@Html.DisplayFor(modelItem => item.Id)" class="carrental-car-img" alt="@item.Description" title="@item.Description">
                <div class="col-lg-12">
                    <h2 class="carrental-car-title">@Html.DisplayFor(modelItem => item.Description)</h2>
                    <p>
                        <b>@Html.DisplayFor(modelItem => item.Remarks)</b> -
                        @{
                            string metaDesc = item.CarUnitMetas.FirstOrDefault().MetaDesc;
                            string metaShow = metaDesc;
                            int icnt = 95;
                            if (metaDesc.Length > icnt)
                            {
                                metaShow = metaDesc.Substring(0, icnt) + "...";
                            }
                            else
                            {
                                metaShow = metaDesc.PadRight(icnt);
                            }

                        }
                        @metaShow
                        @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = item.Id }, null)
                    </p>
                    <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-md-6 col-xs-12 no-padding">
                            <p class="text-muted">Price Starts at </p>
                            <p class="carrental-car-price">
                                @if (item.CarRates.FirstOrDefault() != null)
                                {
                                    @item.CarRates.FirstOrDefault().Daily.ToString("#,##0.00")
                                }
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-12 no-padding">
                            <p class="text-muted"> <img src="~/Images/CarRental/Driver102.png" width="15" /> &nbsp; With Driver </p>
                            <p class="text-muted"> <img src="~/Images/CarRental/icon-gas.png" width="15" />  &nbsp; Renters Fuel </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!--Page Description / Articles-->
<div class="row">
    <div class="col-md-12">
        @{Html.RenderPartial("Partial_content_1");}
    </div>

</div>

@Html.Action("MobileModalView")

@section Scripts{

}