@model IEnumerable<JobsV1.Models.CarUnit>
@{
    ViewBag.Title = "Car Rental Price - Davao City";
    ViewBag.Description =
    @"Car Rental price in Davao City. Check our price when renting a car in Davao. We give the most reasonable price
according to its class.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;
}

<div class="jumbotron CarRental-Banner-Default" style="margin-bottom: 0px; padding-bottom: 20px;" id="Home">
    <h1> Car Rental Price </h1>
    <div style="max-width:530px;">
        <p style="font-size:16px;margin-bottom:0px;">
            Car Rental rate will vary depending on unit category, destinations and duration. Special rates and discounts
            is available for companies, regular renters and long term rentals.
        </p>
        <a href="/" class="btn btn-default">
            <img src="~/Images/Icons/icons-home.png" width="18" style="margin-right:5px;" alt="price" />
            Go back home
        </a>
        <a href="/CarRental/Featured" class="btn btn-default">
            <img src="~/Images/Icons/icon-class.png" width="18" style="margin-right:5px;" alt="price" />
            Go to Featured Items
        </a>
    </div>
</div>

<div style="background-color:white;">
    @foreach (var unitType in Model.GroupBy(c => c.CarCategory).OrderBy(c => c.Key.Id))
    {

        <div class="pricelist-category">
            <h4> @unitType.Key.Description </h4>
        </div>

        foreach (var unit in unitType.ToList().OrderBy(c => c.SortOrder))
        {

            var carDetails = unit.CarDetails.Where(c => c.CarUnitId == unit.Id).FirstOrDefault();
            var carRates = @unit.CarRates;
            <div class="pricelist-container">

                <div class="pricelist-carImg">
                    <img src="~/Images/CarRental/@unit.CarImages.FirstOrDefault().ImgUrl" width="250" />
                </div>

                <div class="pricelist-carDetails">

                    <table class="table-carDetails">
                        <tr>
                            <th>
                                <h4 class="priceList-CarDesc"> @Html.ActionLink(unit.Remarks, "CarDetail", "CarRental", new { unitid = unit.Id }, null) </h4>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <img class="pricelist-carDetails-icon" width="20" src="~/Images/Icons/icon-fuel.png" />
                                <span class="pricelist-carDetails-label">
                                    Fuel:
                                </span>
                                <span class="pricelist-carDetails-value">
                                    @if (carDetails == null)
                                    {
                                        <span> null </span>
                                    }
                                    else
                                    {
                                        <span> @carDetails.Fuel </span>
                                    }
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="pricelist-carDetails-icon" width="20" src="~/Images/Icons/icon-class.png" />
                                <span class="pricelist-carDetails-label">
                                    Class:
                                </span>
                                <span class="pricelist-carDetails-value">
                                    @if (carDetails == null)
                                    {
                                        <span> null </span>
                                    }
                                    else
                                    {
                                        <span> @carDetails.Class </span>
                                    }
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="pricelist-carDetails-icon" width="20" src="~/Images/Icons/icon-transmission.png" />
                                <span class="pricelist-carDetails-label">
                                    Transmission:
                                </span>
                                <span class="pricelist-carDetails-value">
                                    @if (carDetails == null)
                                    {
                                        <span> null </span>
                                    }
                                    else
                                    {
                                        <span> @carDetails.Transmission </span>
                                    }
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="pricelist-carDetails-icon" width="20" src="~/Images/Icons/icon-passenger.png" />
                                <span class="pricelist-carDetails-label">
                                    Passengers:
                                </span>
                                <span class="pricelist-carDetails-value">
                                    @if (carDetails == null)
                                    {
                                        <span> null </span>
                                    }
                                    else
                                    {
                                        <span> @carDetails.Passengers </span>
                                    }
                                </span>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="pricelist-carRates">
                    <table class="table-carDetails">
                        <tr>
                            <th>
                                <h4 class="rate-header"> RATES </h4>
                            </th>
                        </tr>

                        @foreach (var rate in carRates)
                        {
                            <tr>
                                <td>
                                    <span class="pricelist-carDetails-label">
                                        Daily:
                                    </span>
                                    <span class="pricelist-carDetails-value">
                                        Php @rate.Daily.ToString("#,###.00")
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pricelist-carDetails-label">
                                        Weekly:
                                    </span>
                                    <span class="pricelist-carDetails-value">
                                        Php @rate.Weekly.ToString("#,###.00")
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="pricelist-carDetails-label">
                                        Monthly:
                                    </span>
                                    <span class="pricelist-carDetails-value">
                                        Php @rate.Monthly.ToString("#,###.00")
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pricelist-carDetails-btn-tr">
                                    <a href="#ContactUs" class="btn btn-primary pull-right pricelist-carDetails-btn">
                                        Contact Us
                                    </a>
                                    @Html.ActionLink(" Reserve this Unit ", "Reservation", "CarRental", new { id = unit.Id }, new { @class = "btn btn-primary pull-right pricelist-carDetails-btn" })
                                    @Html.ActionLink(" Request a Quote ", "PriceQuote", "CarRental", new { id = unit.Id }, new { @class = "btn btn-primary pull-right pricelist-carDetails-btn" })

                                </td>
                            </tr>
                        }
                    </table>
                </div>

            </div>

        }
    }

</div>

@*<div class="priceList-contact-details" id="ContactUs">
        <img src="~/Images/Icons/icon-ask-question-100.png" width="100" />
        <h3> For Inquiries and Reservations </h3>
        <p class="mobile-text-link">
            <a href="mailto:inquiries.realwheels@gmail.com">
                <strong>Email:</strong> inquiries.realwheels@gmail.com
            </a>
        </p>
        <p class="mobile-text-link">
            <a href="tel:+63822971831">
                <strong>LandLine:</strong> (+63) 82 333-5157
            </a>
        </p>
        <p class="mobile-text-link">
            <a href="tel:+639954508517">
                <strong>Globe:</strong> (+63) 995-450-8517
            </a>
        </p>
        <p class="mobile-text-link">
            <a href="tel:+639193812657">
                <strong>Smart:</strong> (+63) 919-381-2657
            </a>
        </p>
    </div>*@


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>

@Html.Action("MobileModalView")

<a href="#Home" id="BackToTop" style="display: block;" name="Back-to-Top"> <span> Back To Top </span></a>