@{

    if ( ViewBag.CanonicalURL == null)
    { ViewBag.CanonicalURL = "https://realwheelsdavao.com/"; }
    
    if (ViewBag.NoIndex == null)
    { ViewBag.NoIndex = "all"; }

    // http-->https & www-->non-www
    //string sCan = (string)ViewBag.canonicalURL;
    //ViewBag.CanonicalURL = sCan.Replace("http://", "https://").Replace("//www.","//");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <meta name="theme-color" content="#FFFFFF" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="googlebot" content="@ViewBag.NoIndex" />
    <link rel="canonical" href="@ViewBag.CanonicalURL" />
    <link rel="next" href="https://realwheelsdavao.com/CarRental/About" />
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/Images/CarRental/Home/vehicle-type-sedan.jpg">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:url" content="https://realwheelsdavao.com/" />
    <meta property="og:site_name" content="Real Wheels Car Rental Davao" />

    @Styles.Render("~/Content/base/css")
    @Styles.Render("~/Content/flickity")
    @Styles.Render("~/Content/css/DateRangePicker")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Dashboard.css" rel="stylesheet">

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/Modal.js"></script>
</head>


<body onresize="toggleScreen()" onload="toggleScreen()">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" name="navbar-header" aria-label="navigation header">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" id="navbar-title" name="RealWheels-Home" title="RealwheelsDavao.com">@ViewBag.NavBarTitle</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" name="Home"> Home </a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Control Panel", "Index", "Home")</li>

                    }
                    <li>@Html.ActionLink("About", "About", null, new { @title="About Us" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", null, new { @title = "Contact Us" })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()

       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/flickity")
    @Scripts.Render("~/bundles/DateRangePicker")

    <script type="text/javascript" src="~/serviceworker.js"></script>
    <script>
        //For PWA
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/serviceworker.js')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
