@{

    if ( ViewBag.CanonicalURL == null)
    { ViewBag.CanonicalURL = "https://realwheelsdavao.com/"; }

    if (ViewBag.NoIndex == null)
    { ViewBag.NoIndex = "all"; }

    // http-->https & www-->non-www
    //string sCan = (string)ViewBag.canonicalURL;
    //ViewBag.CanonicalURL = sCan.Replace("http://", "https://").Replace("//www.","//");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <meta name="description" content="@ViewBag.Description" />
    <meta name="googlebot" content="@ViewBag.NoIndex" />
    <link rel="canonical" href="@ViewBag.CanonicalURL" />
    <link rel="next" href="https://realwheelsdavao.com/CarRental/About" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:url" content="https://realwheelsdavao.com/" />
    <meta property="og:site_name" content="Real Wheels Car Rental Davao" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@ViewBag.Description" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta property="og:image" content="https://realwheelsdavao.com/Images/CarRental/Home/Vehicles/RealWheelsDavao-CarRental.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://realwheelsdavao.com/Images/CarRental/Home/Vehicles/RealWheelsDavao-CarRental.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/DateRangePicker")
    @Styles.Render("~/Content/themes/base/css")


</head>


<body onresize="toggleScreen()" onload="toggleScreen()">
    <!-- Facebook sdk -->
    @*<div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="YCuHQl4n"></script>
    *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" id="navbar-title">@ViewBag.NavBarTitle</a>
                @*@Html.ActionLink("AJ88", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "MepuMain")</li>*@
                    <li><a href="/">Home</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Control Panel", "Index", "Home")</li>
                        @*
                            <li>@Html.ActionLink("Jobs", "JobTable", "JobMains", new { span = 30 }, null)</li>
                            <li>@Html.ActionLink("Accounting", "Index", "AsMain", new { Area = "Accounting", span = 30 }, null)</li>
                        *@
                    }
                    <li>@Html.ActionLink("About", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div id="overlay">
        <div class="overlay-msg">
            <div class="spinner"></div>
        </div>
    </div>

    <div id="overlay2">
        <div class="overlay-msg2">
            <div>
                <img src="~/Images/GIF/gif-sending-mail.gif" alt="sending email" title="sending email" style="border-radius:250px;width:150px;" />
                <br />
                <p style="color:white;text-align:center;"> Please wait ... </p>
            </div>
        </div>
    </div>

    <div class="container body-content">
         <div class="col-md-1" style="height:0px;width:0px;font-size:0px;">
            <p>
                <img src="~/Images/CarRental/hondacity/Honda-City-Default.jpg" width="0" alt="Realwheels Car Rental Davao" title="Realwheels Car Rental Davao" style="color:white;" /> &nbsp;
            </p>
        </div>
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Powered By: RealSys - Davao  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DateRangePicker")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Scripts/Job/Scroll.js"></script>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

</body>
</html>
