@using JobsV1.CustomHelper

@{ 
    var ROOTMENUID = Session["ROOTMENUID"] != null ? (int)Session["ROOTMENUID"] : 1;
    var USERNAME = (string)Session["USERNAME"] != null ? (string)Session["USERNAME"] : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">      <!-- Google Fonts : Nunito Regular -->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/DateRangePicker")
    @Styles.Render("~/Content/css/jquerytimepicker")
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <style>
        .CustomBox div span {
            float: left;
        }
    </style>
</head>
<body>

    <!--Top Nav Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" id="navbar-title">@ViewBag.NavBarTitle</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Control Panel", "Index", "Home", new { area = "" }, null)</li>
                       
                    }
                    <li>@Html.ActionLink("About", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">

        <div id="body">
            <section class="content-wrapper main-content clear-fix">

                <div class="container">
                 
                    <div class="row">
                       
                        <div class="PanelContainer-main" style="padding:0px;background-color:#eff3f6;border:none;min-width:98%;">

                            <div class="CustomBox container-module">
                                <div class="pull-left" style="width:100%;"> @Html.Module(Url.Content("~/"), "", "", ROOTMENUID)</div>
                            </div>

                            <div class="CustomBox container-menu">
                                @Html.Menu2(Url.Content("~/"), "", "", ROOTMENUID, USERNAME)
                            </div>

                            <div class="container-content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <footer>
        <div class="content-wrapper">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Realwheelsdavao.com  </p>
            </div>
        </div>
    </footer>


    <div id="overlay">
        <div class="overlay-msg">
            <div class="spinner"></div>
        </div>
    </div>

    <div id="overlay2">
        <div class="overlay-msg2">
            <div>
                <img src="~/Images/GIF/gif-sending-mail.gif" style="border-radius:250px;width:150px;" />
                <br />
                <p style="color:white;text-align:center;" id="overlay2-text"> Sending Email ... </p>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DateRangePicker")
    @Scripts.Render("~/bundles/jquerytimepicker")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';

</script>
