@using JobsV1.CustomHelper

@{ 
    var ROOTMENUID = Session["ROOTMENUID"] != null ? (int)Session["ROOTMENUID"] : 1;
    var USERNAME = (string)Session["USERNAME"] != null ? (string)Session["USERNAME"] : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">     <!-- Google Fonts : Nunito Regular -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/DateRangePicker")
    @Styles.Render("~/Content/themes/base/css")

</head>
<body>
    <!--
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    @Html.ActionLink("NetApps", "Index", "Home")
                    <span class="site-subtitle">@@2015</span>
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
        -->
    <!--Top Nav Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" id="navbar-title">@ViewBag.NavBarTitle</a>
                @*@Html.ActionLink("AJ88", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "MepuMain")</li>*@
                    <li><a href="/">Home</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Control Panel", "Index", "Home")</li>
                        @*
                            <li>@Html.ActionLink("Jobs", "JobTable", "JobMains", new { span = 30 }, null)</li>
                            <li>@Html.ActionLink("Accounting", "Index", "AsMain", new { Area = "Accounting", span = 30 }, null)</li>
                        *@
                    }
                    <li>@Html.ActionLink("About", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">

        <div id="body">
            <section class="content-wrapper main-content clear-fix">

                <div class="container">
                    <div class="row">
                        <!--
                        <td style="vertical-align:top;">
                            <div class="CustomBox" style="float:left;height:110px;width:90%;">
                                <a href="@Url.Action("Index", "Home", new { area = "" })">
                                    <img src="~/Images/Erp/ErpHomeIcon.png" class="ModulePageIcon" alt="Home" />
                                </a>
                            </div>
                        </td>
                        -->
                       
                        <div  style="min-width:300px;">
                            <div class="CustomBox " style="height:110px;width:100%;">
                                @Html.Module(Url.Content("~/"), "", "", ROOTMENUID)
                                @*<div class="col-lg-offset-10 col-lg-2" >
                                    <img src="~/Images/AutoCare/GMS_AutoCare_logo.jpg" class="pull-right" alt="Company-Icon" width="250" />
                                </div>*@
                            </div>
                            
                        </div>

                    </div>
                    <div class="row">
                        <div style="vertical-align:top;min-width:300px;">
                            <div class="CustomBox" style="float:left;width:100%;">
                                @Html.Menu2(Url.Content("~/"), "" , "", ROOTMENUID, USERNAME)
                            </div>
                            <div class="PanelContainer">
                                @RenderSection("LeftInfo", required: false)
                            </div>
                        </div>

                        <div >
                            <div class="PanelContainer-main">
                                @RenderBody()
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </div>
    <footer>
        <div class="content-wrapper">
            <div class="container" >
                <p>&copy; @DateTime.Now.Year -  GMS AutoCare Center & Auto Supply Davao </p>
            </div>
        </div>
    </footer>


    <div id="overlay">
        <div class="overlay-msg">
            <div class="spinner"></div>
        </div>
    </div>

    <div id="overlay2">
        <div class="overlay-msg2">
            <div>
                <img src="~/Images/GIF/gif-sending-mail.gif" style="border-radius:250px;width:150px;" />
                <br />
                <p style="color:white;text-align:center;" id="overlay2-text"> Sending Email ... </p>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DateRangePicker")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>
