@model ApModels.Models.ApPayments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApPayments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApAccount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApAccount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApPaymentType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApPaymentType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApPaymentStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApPaymentStatu.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
