
@{
    ViewBag.Title = "Online Reservation Form";
    decimal dQuotedAmt = ViewBag.Amount;
}
@*<div style="text-align:center;">
       @* <img src="~/Images/Realbreeze.Header.PNG"  style="min-width:400px;width:100%;">
    </div>*@


<div class="container">
    <div class="row">
        <!--Reservation Form-->
        <!--Ads Left Side-->
        <div class="col-sm-4 online-resevation-product-info" style="margin-top:10px;">
            <div style="margin:0px auto;background-image:url('../Images/CarRental/Ads/@ViewBag.ProdImg');width:200px;height:200px;background-size: 200px 250px;">
                @*<img class="online-resevation-main-img" style="margin-left:20px;" height="200" />*@
            </div>
            <hr />

            <div class="col-lg-12">

                <h4> Product </h4>
                <h3> @ViewBag.ProductName </h3>

                <!--Hidden-->
                <div id="product-details">
                    <hr />
                    @foreach (var desc in ViewBag.ProdDesc as IEnumerable<JobsV1.Areas.Products.Models.SmProdDesc>)
                    {
                        <p>
                            @desc.Description
                        </p>
                    }

                    @foreach (var info in ViewBag.ProdInfo as IEnumerable<JobsV1.Areas.Products.Models.SmProdInfo>)
                    {
                        <p>
                            <b>@info.Label :</b> @info.Value
                        </p>
                    }
                </div>

            </div><br />
        </div>

        <div class="col-sm-4 reservation-content-white">

            <h2 class="text-center" style="margin-bottom:10px;">Reservation Form</h2>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Date ( at least 2 days advance)</h5>
                    <input type="text" class="form-control" id="DtStart" onchange="checkdate1()" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 hidden">
                    <h4> Service </h4>
                    <input type="text" class="form-control" id="svcType" maxlength="20" />
                </div>
                <div class="col-lg-12">
                    <h4>Name</h4>
                    <input type="text" class="form-control" id="Name" maxlength="80" onchange="validate(event)" />
                </div>
                <div class="col-lg-12">
                    <h4>Contact Number</h4>
                    <input type="text" class="form-control" id="Number" maxlength="15" onchange="validate(event)" />
                </div>
                <div class="col-lg-12">
                    <h4>Email</h4>
                    <input type="text" class="form-control" id="Email" maxlength="80" onchange="validate(event)" />
                </div>
                <div class="col-lg-12">
                    <h4>Pick-up</h4>
                    <input type="text" class="form-control" id="pickupLocField" maxlength="80" style="width:80%;display:inline-block;" />

                    <button class="btn btn-default" data-toggle="modal" data-target="#ModalPickupList" style="margin-bottom:5px;width:15%;display:inline-block;">...</button>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        @if (ViewBag.svcType == "CAR")
                        {
                            <h4>Number of Days</h4>
                        }
                        else
                        {
                            <h4>Number of @ViewBag.Unit</h4>

                        }

                        <span id="Qty" class="text-primary" style="font-size:25px;margin:10px 25px;padding-top:-20px;padding-top:20px;"> 1 </span>
                    </div>
                    <div class="col-lg-5" style="margin-top:40px;">

                        <buton class="btn btn-default" onclick="addQty()">+</buton>
                        <buton class="btn btn-default" onclick="subQty()">-</buton>

                    </div>
                </div>

                <hr />

                <div class="col-lg-12">
                    <h4> Amount </h4>
                    <h3 id="AmountText"> Php @ViewBag.Amount.ToString("##,###.00") </h3>
                    <br />
                    <h5 class="text-danger" id="name-warning">Name is not valid </h5>
                    <h5 class="text-danger" id="number-warning">Contact Number is not valid </h5>
                    <h5 class="text-danger" id="email-warning">Email is not valid </h5>
                    <h5 class="text-danger" id="date-warning"> Date is not valid </h5>
                    <div id="Paypal-btns-holder">
                        <div id="paypal-button">
                            <h4 id="input-warning">For online payment: </h4>
                            <div onclick="addRecord()"> </div>
                        </div>
                        <img src="~/Images/CarRental/Ads/Paypal-disabled.PNG" id="paypal-btn-disabled" />
                    </div>
                    <div id="submit-review-button">
                        <button class="btn btn-primary" style="width:100%;" onclick="submitInquiry()">Submit </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 online-resevation-ads-sticky" style="padding-top:10px;">

            <p style="color:dimgrey;">Related Products</p>
            @foreach (var ads in ViewBag.ProdAdslist as IEnumerable<JobsV1.Areas.Products.Models.SmProdAds>)
            {
                <div style="background-image:url('../Images/CarRental/Ads/@ads.Image');background-size:150px 160px;heigth:200px;background-repeat: no-repeat;margin-bottom:10px;">
                    <a class="btn btn-danger" href="@ads.Link" style="margin:90px 30px 0px 30px">
                        Book Now
                        @* <img src="../Images/CarRental/Ads/@ads.Image" class="online-resevation-ads-img" width="120" />*@
                    </a>
                    <div style="background-color:white;width:150px;">
                        <a class="btn" style="font-weight:bold;color:red;font-size:12px;position:inherit;margin: 0px auto 0px auto;">Price Starts at P @ads.SmProduct.Price </a>
                    </div>
                </div>
            }

            @*<a href="http://localhost:50382/OnlineReservations/Form?tourCode=DVO-CT">
                    <img src="~/Images/CarRental/Ads/Ads-sedan-2019.png" class="online-resevation-ads-img" width="120" />
                </a>
                <a href="http://localhost:50382/OnlineReservations/Form?tourCode=DVO-CT">
                    <img src="~/Images/CarRental/Ads/Ads-suv-2019.png" class="online-resevation-ads-img" width="120" />
                </a>
                <a href="http://localhost:50382/OnlineReservations/Form?tourCode=DVO-CT">
                    <img src="~/Images/CarRental/Ads/Ads-mpv-2019.png" class="online-resevation-ads-img" width="120" />
                </a>
                <a href="http://localhost:50382/OnlineReservations/Form?tourCode=DVO-CT">
                    <img src="~/Images/CarRental/Ads/Ads-Van-2019.png" class="online-resevation-ads-img" width="120" />
                </a>*@


        </div>

    </div>


</div>

<a href="" id="catbtn" data-toggle="modal" data-target="#ModalRedirect" style="margin-bottom:10px;">Redirect</a>

<!--Redirect Modal-->
<!-- Modal -->
<div class="modal fade" id="ModalRedirect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body row" id="modal-content">
                <h2 style="text-align:center;" id="redirect-Msg">What would you like to do? </h2>
                <a href="../" class="btn btn-default center-block" style="padding:30px 60px;margin:10px;margin-left:60px;text-align:center;">
                    <img src="~/Images/Icons/home.png" width="40" />
                    <h4>Go to Home</h4>

                </a>

                <a style="padding:30px 20px;margin:10px;text-align:center;" class="btn btn-default center-block" data-dismiss="modal">
                    <img src="~/Images/Icons/car-rental.png" width="40" />
                    <h4>Book Another Product</h4>
                </a>

                <h4  style="text-align:center;" >You will be redirected to HOME after 10 seconds.</h4>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Pickup List Modal-->
<!-- Modal -->
<div class="modal fade" id="ModalPickupList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body row" id="modal-content">
                <h2 style="text-align:center;" id="redirect-Msg">Pickup Location </h2>

                <a class="list-group-item skills" onclick="setPickup(this)"> Davao International Airport </a>
                <a class="list-group-item skills" onclick="setPickup(this)"> Marco Polo Hotel </a>
                <a class="list-group-item skills" onclick="setPickup(this)"> Seda Hotel </a>
                <a class="list-group-item skills" onclick="setPickup(this)"> The Pinnacle Hotel and Suites </a>
                <a class="list-group-item skills" onclick="setPickup(this)"> Crown Regency Hotel </a>
                <a class="list-group-item skills" onclick="setPickup(this)"> Waterfront Insular Hotel </a>
                <a class="list-group-item skills" onclick="setPickup(this)"> Sta. Ana Warf </a>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Script/DateRangePicker/moment.min.js"></script>
<script src="~/Script/DateRangePicker/daterangepicker.js"></script>
<script src="~/Scripts/Job/OnlineReservation.js"></script>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>

    var TransId = 0;
    var today = new Date().toLocaleString();
    var TotalAmount = 0;
    var AmountPerPax = 0;
    var QtyCount = 0;

    $(document).ready(function(){
        $('#DtStart').val(moment().add(4,'days').format('MM/DD/YYYY'));

        getcalcAddOn();
        paypalPayment();
        //validate();

        AmountPerPax = @ViewBag.Amount;
        UpdateAmount();

        //set tourType
        $("#svcType").val('@ViewBag.svcType');

        $("#name-warning").hide();
        $("#number-warning").hide();
        $("#email-warning").hide();
        $("#date-warning").hide();
        $("#paypal-button").hide();
        $("#submit-review-button").hide();
        $("#Paypal-btns-holder").show();
    });

    function UpdateAmount(){
        QtyCount = parseInt($("#Qty").text());
        TotalAmount = AmountPerPax * QtyCount;

        console.log("pax: " +QtyCount);
        console.log("TotalAmount: " +TotalAmount);
        var tempAmt = TotalAmount.toLocaleString('en-US', {minimumFractionDigits: 2});
        $("#AmountText").text("Php "+ tempAmt);

    }

    function validate(){

        console.log("validate ");

        var inputValid = true;

        //check name if not null
        var name = $("#Name").val();
        if(name.length == 0){
            inputValid = false;
            $("#name-warning").show();
        }else{
            $("#name-warning").hide();
        }


        //check number if not null
        var contactNum = $("#Number").val();
        if(!checkContactNum()){
            inputValid = false;
            $("#number-warning").show();
        }else{
            $("#number-warning").hide();
        }

        //check email if not null
        var email = $("#Email").val();
        if(!validateEmail(email) || email.length == 0){
            inputValid = false;
            $("#email-warning").show();
        }else{
            $("#email-warning").hide();
        }

        //
        if(contactNum.length == 0){
            $("#number-warning").hide();

        }

        if(email.length == 0){
            $("#email-warning").hide();

        }



        if(inputValid){ // true
            $("#paypal-button").show();
            $("#input-warning").show();
            $("#paypal-btn-disabled").hide();

        }else{
            $("#paypal-button").hide();
            $("#input-warning").hide();
            $("#paypal-btn-disabled").show();
        }

    }


    function paypalPayment(){
        console.log("TotalAmount: " +TotalAmount);
        var count = 0;
        var qty = $("#Qty").text();
            paypal.Button.render({
                // Configure environment
                env: 'production',
                //env: 'sandbox',
                client: {
                    //paypal live
                    sandbox: 'AQx9QuKflAiELK-iXsyxy6sINZ9NxJ9DQUWZnW0Tp4LcxGbBN2HyOg0C3K0-qmrGwLSXnzL-xHRrko3q',
                    production: '@ViewBag.key'
                },
                //Customize button (optional)
                locale: 'en_US',
                style: {
                    layout: 'horizontal',
                    fundingicons: 'true',
                    label: 'pay',
                    size: 'medium',
                    color: 'blue',
                    shape: 'pill',
                },

                // Set up a payment
                payment: function (data, actions) {
                    addRecord();

                    return actions.payment.create({
                        transactions: [{
                            amount: {
                                total: TotalAmount, //'dQuotedAmt.ToString("##,###.00")'
                                currency: 'PHP',
                                details: {
                                    subtotal: TotalAmount, //
                                    tax: '0.00'
                                    //shipping: '0.01',
                                    //handling_fee: '1.00',
                                    //shipping_discount: '0.00',
                                    //insurance: '0.00'
                                }
                            },
                            description: 'RealBreeze Online Reservation.',
                            custom: '@ViewBag.tourCode',// Insert a unique invoice number
                            //invoice_number: 0,// Insert a unique invoice number
                            payment_options: {
                                allowed_payment_method: 'INSTANT_FUNDING_SOURCE'
                            },
                            soft_descriptor: 'Reservation Job Id: @ViewBag.tourCode',
                            item_list: {
                                //item list
                                items: [{
                                    name: '@ViewBag.ProductName',
                                    description: '@ViewBag.ProductName reservation for '+ QtyCount + ' @ViewBag.Unit ',
                                    quantity: '1',
                                    price: TotalAmount,
                                    tax: '0.00',
                                    currency: 'PHP'
                                }]
                            }
                        }]
                    });
                },
                // Execute the payment
                onAuthorize: function (data, actions){
                    return actions.payment.execute()
                    .then(function (response) {
                        // Show a confirmation message to the buyer
                        console.log("Paypal Payment : " );
                        addPaymentRecord(response);
                        ajaxSendEmail(TransId);

                        //show redirect modal
                        $('#ModalRedirect').modal('show');
                    });
                }
            }, '#paypal-button');

    }

    /*
     * Add rescord to db after click on paypal button
     */
    function addRecord(){
        console.log("Add Record");

        var data = {
            tourCode : '@ViewBag.tourCode',
            name: $("#Name").val(),
            number: $("#Number").val(),
            email: $("#Email").val(),
            dtstart:  $("#DtStart").val(),
            qty : $("#Qty").text(),
            pickup : $("#Pickup").val(),
            amount: TotalAmount
        }

        var serviceURL = '/OnlineReservations/AddRecord';

        //loading screen

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async:false,
            success: function(jqXHR, textStatus, errorThrown){
                console.log('Add Record Success');
                console.log(jqXHR);
                TransId = jqXHR;
                console.log("TransId: " + TransId);

                //disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
            }
        });
    }


    //Update record by transactionId
    //after payment success
    function addPaymentRecord(response){

        var today =  moment().format("MM/DD/YYYY");
        var amount = @dQuotedAmt;
        var data = {
            TransId : TransId,
            PaymentAmt : TotalAmount,
            PaymentStatus : "Success : " ,
            DtPayment : today,
            PaymentId : response.id
        }

        var serviceURL = '/OnlineReservations/UpdateRecord';

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(jqXHR, textStatus, errorThrown){
                console.log('success');
                //console.log(jqXHR);
                //TransId = jqXHR;
                //disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                //console.log("textStatus:" + textStatus);
            }
        });
    }

    /*
     * Send Email to Client and Admin after payment success
     */
    function ajaxSendEmail(jobid){

        console.log("ReservationId: " + jobid);

        var type = $("#svcType").val();

        var data = {
            id: jobid,
            svcType : type
        }

        var serviceURL = '/OnlineReservations/SendEmailPayment';

        //loading screen
        LoadOverlay();

        console.log("Payment success email sending");

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                console.log('payment success');
                console.log('response: '+response);
                disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                disableLoadOverlay();
            }
        });
    }


    /*
     * Send Email to Client and Admin after payment success
     */
    function ajaxSendNotifyEmail(jobid){

        console.log("ReservationId: " + jobid);

        var type = $("#svcType").val();

        var data = {
            id: jobid,
            svcType : type
        }

        var serviceURL = '/OnlineReservations/SendEmailNotification';

        //loading screen
        LoadOverlay();

        console.log("Payment success email sending");

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                console.log('payment success');
                console.log('response: '+response);
                disableLoadOverlayNotify();
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                disableLoadOverlayNotify();
            }
        });
    }

    function LoadOverlay(){
        $("#overlay2").css("display","flex");
    }

    function disableLoadOverlay(){

        RedirectText = 'Thank you for payment! Please check your email for the confirmation.';

        $("#overlay2").css("display", "none");

        //show redirect modal
        $('#redirect-Msg').text(RedirectText);
        $('#ModalRedirect').modal('show');
    }


    function disableLoadOverlayNotify(){

        RedirectText = 'Thank you Inquiry! Please check your email for the inquiry details.';

        $("#overlay2").css("display", "none");

        //show redirect modal
        $('#redirect-Msg').text(RedirectText);
        $('#ModalRedirect').modal('show');

        //wait for 5 secs and 
        setTimeout(redirectHome, 10000)
    }

    function redirectHome() {
        location.href = '../';
    }

    function getPaypalFee(){
        var Amount = @dQuotedAmt;

        var fee  = Amount * 0.05;

        //console.log("Paypal fee: " + fee);

        return fee;
    }


    function getcalcAddOn(){
        var Amount = @dQuotedAmt;

        var total = Amount + getPaypalFee();

        //console.log("total: " + total );
        return total;
    }

    function checkdate1(){
        var todayPlus2 = moment().add(2, 'days').format('YYYY-MM-DD');
        var today = moment().format('YYYY-MM-DD');
        var datepicker = moment( $('#DtStart').val()).format('YYYY-MM-DD');

        console.log("------------ ")
        console.log("INPUT DATE: " + datepicker)

        console.log( (datepicker) + " <= " + today + " - " + (datepicker <= today));

        //console.log("today <= datepicker: " + (todayPlus2 <= datepicker));

        if ( datepicker < today ) {
            //invalid date
            var validDate = moment().add(2, 'days').format('MM/DD/YYYY');

            //change date, +2 days
            console.log("Valid date: " + validDate);
            $('#DtStart').val(validDate);

            console.log("Start Date must be at least 2 days in advance");
            $("#date-warning").text("Date must be at least 2 days before the start date");
            $("#date-warning").show();

            //hide submit for review
            $("#submit-review-button").hide();

            //disable paypal button
            $("#Paypal-btns-holder").hide();

        }else if(datepicker >= today && datepicker <= todayPlus2){
            //valid but online booking is disabled
            //inquiry within 48hrs
            console.log("Date is within 48 hrs");
            $("#date-warning").text("Instant confirmation is not available for less than 2 days reservation. Please submit your details and our staff will contact you after checking the availability of the requested item.");
            $("#date-warning").show();

            //disable paypal button
            $("#Paypal-btns-holder").hide();

            //show submit for review
            $("#submit-review-button").show();

        }else{
            //valid date

            $("#date-warning").hide();
            //show paypal button
            $("#Paypal-btns-holder").show();

            //hide submit for review
            $("#submit-review-button").hide();
        }
    }

    function checkdate2(){
        var today = moment().add(2, 'days').format('YYYY-MM-DD');
        var datepicker = moment( $('#DtEnd').val()).format('YYYY-MM-DD');
        //console.log(today > datepicker);

        if (today > datepicker) {
            //alert("Job date is past the valid date.");
            var validDate = moment().add(4, 'days').format('MM/DD/YYYY');
            console.log(validDate)
            $('#DtEnd').val(validDate);
        }
    }

    function addQty(){
        var qty = parseInt($("#Qty").text()) + 1;
        $("#Qty").text(qty);
        UpdateAmount();
    }

    function subQty(){

        var qty = parseInt($("#Qty").text());

        if(qty > 1){
            qty -= 1;
        }

        $("#Qty").text(qty);
        UpdateAmount();
    }

    //Check contact number form if input is valid sa contact number
    //11-12 numbers
    function checkContactNum(){
        var numTemp =  $("#Number").val();
        console.log("num: " + numTemp + " count:" + numTemp.length);

        if( numTemp.length == 10 ){
            if(numTemp.charAt(0) == '0' &&  numTemp.charAt(1) == '9' ){
                return true;
            }
        }

        if( numTemp.length == 11 ){
            if(numTemp.charAt(0) == '0' &&  numTemp.charAt(1) == '9' ){
                return true;
            }
        }

        if( numTemp.length == 12 ){
            if(numTemp.charAt(0) == '6' &&  numTemp.charAt(1) == '3' &&  numTemp.charAt(2) == '9' ){
                return true;
            }
        }
        x
        //if everything fails
        return false;
    }


    function submitInquiry(){
        //add details to the db
       var transactionID = addRecord();
        console.log("transID: " + transactionID );
        //send notification to admin
        ajaxSendNotifyEmail(TransId);

    }

    function setPickup(loc) {
        //console.log(loc.text);
        $('#pickupLocField').val(loc.text);
        $('#ModalPickupList').modal('toggle');
    }

</script>