
@{
    ViewBag.Title = "Online Reservation Form";
    decimal dQuotedAmt = ViewBag.Amount;
}
<div style="text-align:center;">
    <img src="~/Images/Realbreeze.Header.PNG" width="100%" style="min-width:600px;max-width:700px;">
</div>

<h2 class="text-center" style="margin-bottom:-80px;margin-top:50px;">Reservation Form</h2>
<div class="container" style="border:1px solid lightgray;margin:100px auto; padding:50px 150px;width:600px;background-color:white;">
    <div class="row">
        <div class="col-lg-12">
            <h4>Start Date</h4>
            <input type="text" class="form-control" id="DtStart" onchange="checkdate1()"/>
        </div>
        <div class="col-lg-12 hidden">
            <h4>End Date</h4>
            <input type="text" class="form-control" id="DtEnd" onchange="checkdate2()" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Name</h4>
            <input type="text" class="form-control" id="Name" maxlength="80" oninput="validate();" onchange="validate(event)"  />
        </div>
        <div class="col-lg-12">
            <h4>Contact Number</h4>
            <input type="text" class="form-control" id="Number" maxlength="15" oninput="validate();" />
        </div>
        <div class="col-lg-12">
            <h4>Email</h4>
            <input type="text" class="form-control" id="Email" maxlength="80" oninput="validate();"  />
        </div>
        <div class="col-lg-12 hidden">
            <h4>Remarks</h4>
            <input type="text" class="form-control" id="Remarks" maxlength="80" >
        </div>

        <hr />
        <div class="col-lg-12">
            <h4 > Product </h4>
            <h3> @ViewBag.ProductName </h3>
        </div><br />
        <div class="col-lg-12">
            <h4> Amount </h4>
            <h3> Php @ViewBag.Amount.ToString("##,###.00") </h3>
        </div>
        <hr />
        <div class="col-lg-12">
            <h4 id="input-warning">For online payment: </h4>
            <h5 class="text-danger" id="name-warning">Name is not valid </h5>
            <h5 class="text-danger" id="number-warning">Contact Number is not valid </h5>
            <h5 class="text-danger" id="email-warning">Email is not valid </h5>
            <div id="paypal-button" onclick="addRecord()"></div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Script/DateRangePicker/moment.min.js"> </script>
<script src="~/Script/DateRangePicker/daterangepicker.js"> </script>
<script src="~/Scripts/Job/OnlineReservation.js"></script>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>

    $(document).ready(function(){
        $('#DtStart').val(moment().add(4,'days').format('MM/DD/YYYY hh:mm A'));
        $('#DtEnd').val(moment().add(4,'days').format('MM/DD/YYYY hh:mm A'));
        getcalcAddOn();
        paypalPayment();
        //$("#paypal-button").hide();
        validate();
    });

    var TransId = 0;
    var today = new Date().toLocaleString();


    function validate(){

        var inputValid = true;

        //check name if not null
        var name = $("#Name").val();
        if(name == ""){
            inputValid = false;
            $("#name-warning").show();
        }else{
            $("#name-warning").hide();
        }


        //check name if not null
        var contactNum = $("#Number").val();
        if(contactNum == ""){
            inputValid = false;
            $("#number-warning").show();
        }else{
            $("#number-warning").hide();
        }

        //check email if not null
        var email = $("#Email").val();
        if(!validateEmail(email) || email == ''){
            inputValid = false;
            $("#email-warning").show();
        }else{
            $("#email-warning").hide();
        }

        if(inputValid){ // true
            $("#paypal-button").show();
            $("#input-warning").show();

        }else{
            $("#paypal-button").hide();
            $("#input-warning").hide();
        }

    }


    function paypalPayment(){

            var count = 0;
            paypal.Button.render({
                // Configure environment
                //env: 'production',
                env: 'sandbox',
                client: {
                    //paypal live
                    sandbox: 'AQx9QuKflAiELK-iXsyxy6sINZ9NxJ9DQUWZnW0Tp4LcxGbBN2HyOg0C3K0-qmrGwLSXnzL-xHRrko3q',
                    production: '@ViewBag.key'
                },
                //Customize button (optional)
                locale: 'en_US',
                style: {
                    layout: 'horizontal',
                    fundingicons: 'true',
                    label: 'pay',
                    size: 'medium',
                    color: 'blue',
                    shape: 'pill',
                },

                // Set up a payment
                payment: function (data, actions) {
                    addRecord();
                    return actions.payment.create({
                        transactions: [{
                            amount: {
                                total: '@dQuotedAmt.ToString("##,###.00")', //'dQuotedAmt.ToString("##,###.00")'
                                currency: 'PHP',
                                details: {
                                    subtotal: '@dQuotedAmt.ToString("##,###.00")', //
                                    tax: '0.00'
                                    //shipping: '0.01',
                                    //handling_fee: '1.00',
                                    //shipping_discount: '0.00',
                                    //insurance: '0.00'
                                }
                            },
                            description: 'RealBreeze Online Reservation.',
                            custom: '@ViewBag.tourCode',// Insert a unique invoice number
                            //invoice_number: 0,// Insert a unique invoice number
                            payment_options: {
                                allowed_payment_method: 'INSTANT_FUNDING_SOURCE'
                            },
                            soft_descriptor: 'Reservation Job Id: @ViewBag.tourCode',
                            item_list: {
                                //item list
                                items: [{
                                    name: '@ViewBag.ProductName',
                                    description: '@ViewBag.ProductName reservation thru online payment.',
                                    quantity: '1',
                                    price: '@dQuotedAmt.ToString("##,###.00")',
                                    tax: '0.00',
                                    currency: 'PHP'
                                }]
                            }
                        }]
                    });
                },
                // Execute the payment
                onAuthorize: function (data, actions){
                    return actions.payment.execute()
                    .then(function (response) {
                        // Show a confirmation message to the buyer
                        console.log("Paypal Payment : " );
                        updateRecord(response);
                        ajaxPaymentSuccess(TransId);
                    });
                }
            }, '#paypal-button');

    }


    function ajaxSendMail(jobid){
        var data = {
            jobId: jobid,
            mailType: "CLIENT-PAYMENT-SUCCESS"
        }

        var serviceURL = '/JobOrder/onPaymentSuccess';

        //loading screen
        LoadOverlay()

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(){
                console.log('success');
                disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                //console.log(jqXHR.responseText);
                disableLoadOverlay();
            }
        });
    }

    function addRecord(){
        console.log("Add Record");

        var data = {
            tourCode : '@ViewBag.tourCode',
            name: $("#Name").val(),
            number: $("#Number").val(),
            email: $("#Email").val(),
            dtstart:  $("#DtStart").val(),
            dtend: $("#DtStart").val(),
            remarks: $("#Remarks").val()
        }

        var serviceURL = '/OnlineReservations/AddRecord';

        //loading screen

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(jqXHR, textStatus, errorThrown){
                console.log('success');
                //console.log(jqXHR);
                TransId = jqXHR;
                //disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                //console.log(jqXHR);
            }
        });
    }


    //Update record by transactionId
    //after payment success
    function updateRecord(response){

        var today =  moment().format("MM/DD/YYYY hh:mm A");
        var amount = @dQuotedAmt;
        var data = {
            TransId : TransId,
            PaymentAmt : amount,
            PaymentStatus : "Success : " ,
            DtPayment : today,
            PaymentId : response.id
        }

        var serviceURL = '/OnlineReservations/UpdateRecord';

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(jqXHR, textStatus, errorThrown){
                console.log('success');
                //console.log(jqXHR);
                //TransId = jqXHR;
                //disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log("jqXHR:"+jqXHR);
                console.log("textStatus:"+textStatus);
            }
        });
    }

    function ajaxPaymentSuccess(jobid){
        var data = {
            id: jobid,
        }

        var serviceURL = '/OnlineReservations/SendEmailPayment';

        //loading screen
        LoadOverlay();

        console.log("Payment success email sending");

        //send email using ajax
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                console.log('payment success');
                console.log('response: '+response);
                disableLoadOverlay();
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(jqXHR);
                disableLoadOverlay();
            }
        });
    }

    function LoadOverlay(){
        $("#overlay2").css("display","flex");
    }

    function disableLoadOverlay(){

        window.alert('Thank you for payment! Please check your email for the confirmation.'  );

        $("#overlay2").css("display","none");
    }

    function getPaypalFee(){
        var Amount = @dQuotedAmt;

        var fee  = Amount * 0.05;

        //console.log("Paypal fee: " + fee);

        return fee;
    }


    function getcalcAddOn(){
        var Amount = @dQuotedAmt;

        var total = Amount + getPaypalFee();

        //console.log("total: " + total );
        return total;
    }

    function checkdate1(){
        var today = moment().add(4, 'days').format('YYYY-MM-DD');
        var datepicker = moment( $('#DtStart').val()).format('YYYY-MM-DD');
        console.log("today > datepicker: "+today > datepicker);

        if (today > datepicker) {
            //alert("Job date is past the valid date.");
            var validDate = moment().add(4, 'days').format('MM/DD/YYYY hh:mm A');
            console.log(validDate)
            $('#DtStart').val(validDate);
        }
    }

    function checkdate2(){
        var today = moment().add(4, 'days').format('YYYY-MM-DD');
        var datepicker = moment( $('#DtEnd').val()).format('YYYY-MM-DD');
        //console.log(today > datepicker);

        if (today > datepicker) {
            //alert("Job date is past the valid date.");
            var validDate = moment().add(4, 'days').format('MM/DD/YYYY hh:mm A');
            console.log(validDate)
            $('#DtEnd').val(validDate);
        }
    }

</script>