@model JobsV1.Models.JobPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpensesAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpensesAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarRentalInc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarRentalInc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourInc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourInc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OthersInc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OthersInc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobMain.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobMain.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
