@model IEnumerable<JobsV1.Areas.Products.Models.SmSupplierInfo >

@{
    int supId = Convert.ToInt32(ViewData["supId"]);
}

@{
    ViewBag.Title = "Details";
}
<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Supplier Info
            </h3>
        </div>
        <div class="col-lg-12">
            @foreach (var supInfo in Model)
            {
                <p>
                    <b>@supInfo.Label </b> : @supInfo.Value <br />
                    <b>Remarks</b> : @supInfo.Remarks <br />

                    <a href="" id="catbtn" data-toggle="modal" data-target="#editInfoModal" 
                       onclick="EditInfo('@supInfo.Id','@supInfo.Label','@supInfo.Value','@supInfo.Remarks')"> Edit </a> |
                    @Html.ActionLink("Remove", "RemoveSupInfo", new { id = supInfo.Id })
                </p>
            } 
            <a href="" id="catbtn" data-toggle="modal" data-target="#supInfoModal" style="margin-bottom:10px;">Add Info</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="supInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Info</h4>
                </div>

                <div class="modal-body row" id="modal2-content">

                    <div class="form-group">
                        <b class="col-md-2 "> Label: </b>
                        <div class="col-md-12">
                            <input  type="text" maxlength="10" class="form-control" id="sup-Infolabel" />
                        </div>
                    </div>

                    <div class="form-group">
                        <b class="col-md-2"> Value: </b>
                        <div class="col-md-12">
                            <textarea id="sup-InfoValue"  maxlength="80" class="form-control" cols="80" rows="2"></textarea>
                            <span class="col-md-2">  </span>
                            <span style="font-size:9px">80 characters only.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <b class="col-md-2"> Remarks: </b>
                        <div class="col-md-12">
                            <textarea id="sup-InfoRemarks" maxlength="80" class="form-control" cols="80" rows="2"></textarea>
                            <span class="col-md-2">  </span>
                            <span style="font-size:8px">80 characters only.</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="ajax_PostInfo(@supId)" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Edit Modal -->
    <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Info</h4>
                </div>

                <div class="modal-body row" id="modal2-content">

                    <div class="form-group hidden">
                        <b class="col-md-2 "> Id: </b>
                        <div class="col-md-12">
                            <input id="edit-InfoId" type="text" maxlength="10" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <b class="col-md-2 "> Label: </b>
                        <div class="col-md-12">
                            <input id="edit-Infolabel" type="text" maxlength="10" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <b class="col-md-2"> Value: </b>
                        <div class="col-md-12">
                            <textarea id="edit-InfoValue" maxlength="80" class="form-control" cols="80" rows="2"></textarea>
                            <span class="col-md-2">  </span>
                            <span style="font-size:9px">80 characters only.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <b class="col-md-2"> Remarks: </b>
                        <div class="col-md-12">
                            <textarea id="edit-InfoRemarks" maxlength="80" class="form-control" cols="80" rows="2"></textarea>
                            <span class="col-md-2">  </span>
                            <span style="font-size:8px">80 characters only.</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="ajax_EditInfo(@supId)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script src="~/Scripts/jquery-3.3.1.js"> </script>
<script>

    //Add new Info on Suppliers
    //supID : Suppliers Id
    function ajax_PostInfo(supId) {
        var infolabel   = $("#edit-Infolabel").val();
        var infoValue   = $("#edit-InfoValue").val();
        var infoRemarks = $("#edit-InfoRemarks").val();


        //build json object // no use
        var data = {
            supId : supId,
            infolabel : infolabel,
            infoValue : infoValue,
            infoRemarks : infoRemarks
        };
        
        url = "/Products/SmSuppliers/AddSupInfo";

        //Submit data to server using ajax 
        $.ajax({
            url:  url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                //console.log(data);
                location.reload();
            }
        });
    }

    //Update info of Suppliers
    //supID : Suppliers Id
    function ajax_EditInfo(supId) {
        var infoId = $("#edit-InfoId").val();
        var infolabel = $("#edit-Infolabel").val();
        var infoValue = $("#edit-InfoValue").val();
        var infoRemarks = $("#edit-InfoRemarks").val();


        //build json object // no use
        var data = {
            Id: infoId,
            supId: supId,
            infolabel: infolabel,
            infoValue: infoValue,
            infoRemarks: infoRemarks
        };

        url = "/Products/SmSuppliers/EditSupInfo";

        //Submit data to server using ajax 
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
            },
            error: function (data) {
                //// console.log("ERROR");
                //console.log(data);
                location.reload();
            }
        });
    }

    function EditInfo(Id,Label,Value,Remarks) {
        $("#edit-InfoId").val(Id);
        $("#edit-Infolabel").val(Label);
        $("#edit-InfoValue").val(Value);
        $("#edit-InfoRemarks").val(Remarks);
    }

    function refreshPage() {
        location.reload();
    }
</script>