@model JobsV1.Models.SysAccessUser

@{
    ViewBag.Title = "Create";
}

<h2>Add Users to Module</h2>
<p>Please Select a user from the list</p>

<div class="row">
    <div class="col-lg-6">

        <div class="list-group" id="categorylist2">
            @foreach (var user in ViewBag.Users as IEnumerable<JobsV1.Models.AppUser>)
            {

                <a href="@Url.Action("ModuleAddUser", "SysAccessUsers", new {moduleId = ViewBag.moduleId, username = user.UserName}, null)" id="set1" class="list-group-item"> @user.UserName </a>

            }
        </div>
        <h3> @ViewBag.listEmpty </h3>
    </div>
  </div>

<div class="row">
    <div class="col-lg-6">

        <div class="list-group" id="categorylist2">
            @foreach (var user in ViewBag.UsersTest as IEnumerable<JobsV1.Models.AppUser>)
            {

                <a href="@Url.Action("ModuleAddUser", "SysAccessUsers", new {moduleId = ViewBag.moduleId, username = user.UserName}, null)" id="set1" class="list-group-item"> @user.UserName </a>

            }
        </div>
        <h3> @ViewBag.listEmpty </h3>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "ModuleUsers","SysAccessUsers" , new { id = ViewBag.moduleId },null)
</div>
