@model IEnumerable<JobsV1.Models.SysService>

@{
    ViewBag.Title = "ModuleList";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Module List</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Sub Modules", "ModuleSubMenu", new { id=item.Id })  |

            @Html.ActionLink("Users", "ModuleMenuUsers", new { id = item.Id })
        </td>
    </tr>
}

</table>
