@model IEnumerable<JobsV1.Models.SysAccessUser>

@{
    ViewBag.Title = "ModuleUsers";
    Session["ROOTMENUID"] = 1;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2> @ViewBag.MenuName - @ViewBag.SubMenuName</h2>
<div>
    @Html.ActionLink(" Module List", "ModuleList", "SysAccessUsers", new { moduleId = ViewBag.MenuId }, null) |
    @Html.ActionLink(" SubMenu List", "ModuleSubMenu", "SysAccessUsers", new { moduleId = ViewBag.MenuId }, null)
</div>
<p>
    @Html.ActionLink("Add User", "ModuleUserAdd", new { moduleId = ViewBag.MenuId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SysMenu.Menu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysMenu.Menu)
            </td>
            <td>
                @*@Html.ActionLink("Remove", "ModuleSubMenuDelete", new { id = item.Id })*@

                <a onclick="RemoveUser(this, @item.Id)" class="cursor-hand"> Remove </a>
            </td>
        </tr>
    }

</table>



@section Scripts{

    <script>
        function RemoveUser(e, id) {
            $.post('/SysAccessUsers/RemoveUser', { id : id } , (result) => {
                console.log(result);
                if (result == "True") {
                    console.log("User Deleted from menu");
                    $(e).parent().parent().remove();
                } else {
                    console.log("Unable to delete user from menu");
                }
            });
        }
    </script>

}
