@model IEnumerable<JobsV1.Models.SysMenu>

@{
    ViewBag.Title = "ModulesList";
    Session["ROOTMENUID"] = 1;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Module : @ViewBag.MenuName</h2>

<p>
    @Html.ActionLink("Module List", "ModuleList", null, null) |
    @Html.ActionLink("Create Sub Module", "CreateSubModule", new { id = ViewBag.MenuId })
</p>

<table class="table">
    <tr>
        <th>
            Sub Modules
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Menu)
        </td>
        <td>
            @Html.ActionLink("Users", "ModuleUsers", new { id=item.Id }) 
        </td>
            <td>
                @Html.ActionLink("Edit", "EditModuleSubMenu", new { id = item.Id })  |
                @Html.ActionLink("Delete", "DeleteModuleSubMenu", new { id = item.Id })
            </td>
    </tr>
}

</table>
