@model IEnumerable<JobsV1.Models.SysAccessUser>

@{
    ViewBag.Title = "ModuleUsers";
    Session["ROOTMENUID"] = 1;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>@ViewBag.MenuName</h2>
<div>
    @Html.ActionLink(" Module List", "ModuleList", "SysAccessUsers", new { id = ViewBag.MenuId }, null) |
    @Html.ActionLink(" SubMenu List", "ModuleSubMenu", "SysAccessUsers", new { id = ViewBag.MenuId }, null)
</div>
<p>
    @Html.ActionLink("Add User", "ModuleMenuUserAdd", new { moduleId = ViewBag.MenuId })
</p>

<table class="table" id="usersTable">
    <tr>
        <td>
            <a class="cursor-hand" onclick="CheckAll()"> All </a>
        </td>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SysMenu.Menu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="userRow-@item.Id">
            <td class="userCheckbox">
                <input type="checkbox" value="@item.Id" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysMenu.Menu)
            </td>
            <td>
                @*@Html.ActionLink("Remove", "ModuleMenuUserDelete", new { id=item.Id })*@
                <a onclick="RemoveUser(this, @item.Id)" class="cursor-hand"> Remove </a>
            </td>
        </tr>
    }

</table>
<button class="btn btn-primary" onclick="FinalizeRemoveUsers()"> Remove Selected </button>

@section Scripts{

    <script>
        function RemoveUser(e, id) {
            $.post('/SysAccessUsers/RemoveUser', { id: id }, (result) => {
                console.log(result);
                if (result == "True") {
                    console.log("User Deleted from menu");
                    $(e).parent().parent().remove();
                } else {
                    console.log("Unable to delete user from menu");
                }
            });
        }




        function CheckAll() {
            $('#usersTable tr td.userCheckbox input[type="checkbox"]').each(function () {
                $(this).prop('checked', true);
            });
        }


        function FinalizeRemoveUsers() {

            let doneCount = 0;
            $('#usersTable tr td.userCheckbox input[type="checkbox"]').each(function () {
                doneCount = doneCount + 1;
                console.log($(this).val());
                if ($(this).is(':checked')) {
                    console.log("Checked " + $(this).val());

                    let tripId = $(this).val();
                    if (tripId != null || tripId != undefined) {
                        RemoveUserList(this, tripId);
                    }
                }
            });

            if (doneCount == 0) {
                alert("No Selected Trips");
            } else {

                if (GetSelectedCount() == doneCount) {
                    //alert("Done Removing Users");
                }
            }

        }

        function GetSelectedCount() {
            let tripCount = 0;
            $('#usersTable tr td.userCheckbox input[type="checkbox"]').each(function () {
                tripCount = tripCount + 1;
            });

            return tripCount;
        }

        function RemoveUserList(e, id) {
            $.post('/SysAccessUsers/RemoveUser', { id: id }, (result) => {
                console.log(result);
                if (result == "True") {
                    console.log("User Deleted from menu");
                    $(e).parent().parent().remove();
                } else {
                    console.log("Unable to delete user from menu");
                }
            });
        }

    </script>

}


