@model IEnumerable<JobsV1.Models.SysAccessUser>

@{
    ViewBag.Title = "User SubModule List";
    Session["ROOTMENUID"] = 1;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>@ViewBag.Username - @ViewBag.ModuleDesc</h2>

<p>
    @Html.ActionLink("Add SubModule", "UserSubModuleAdd" , new { username = ViewBag.Username , moduleId = ViewBag.ModuleId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SysMenu.Menu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SysMenu.Menu)
        </td>
        <td>
            @Html.ActionLink("Remove", "UserSubModuleDelete", new { id=item.Id, username = ViewBag.Username })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to List", "UserServicesList", new { username = ViewBag.UserName })