<!-- Modal of Items -->
<div class="modal fade" id="supItemRate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Supplier Rate for <span id="modal-supitems-title"> s</span></h4>
            </div>
            <div class="modal-body" id="SupItems-modal-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Add Sales Lead Items -->
<div class="modal fade" id="selectSupItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Item</h4>
            </div>
            <div class="modal-body" id="modal2-content">
                <div class="row">
                    <!--Start of Modal Body-->
                    <div class="form-group col-md-12 hidden">
                        <b class="col-md-2 "> SupId: </b>
                        <div class="col-md-10">
                            <input type="text" maxlength="5" class="form-control" id="supItem-supId" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <b class="col-md-2"> Items: </b>
                        <div class="col-md-7">
                            <select name="InvItems" class="form-control" id="supItem-Items">
                                @*@foreach (var item in ViewData["InvItems"] as IEnumerable<JobsV1.Models.InvItem>)
                                    {
                                        <option value="@item.Id"> @item.Description </option>
                                    }*@
                                @foreach (var item in ViewBag.InvItems as IEnumerable<JobsV1.Models.InvItem>)
                                {
                                    <option value="@item.Id"> @item.Description </option>
                                }
                            </select>
                        </div>
                    </div><br /><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Rate: </b>
                        <div class="col-md-10">
                            <input type="number" value="0" maxlength="25" class="form-control" id="supItem-Rate" onkeypress='validate(event)' />
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Remarks: </b>
                        <div class="col-md-10">
                            <input type="text" maxlength="80" class="form-control" id="supItem-Remarks" />
                        </div>
                    </div>
                    <!--End of Modal Body-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ajax_AddSalesLeadItem()"> Submit </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Edit Sales Lead Item-->
<div class="modal fade" id="EditSupLeadItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Item <span id="editItemName"> </span></h4>
            </div>
            <div class="modal-body" id="modal2-content">
                <!--Start of Modal Body-->
                <div class="row">
                    <div class="form-group col-md-12 hidden">
                        <b class="col-md-2 "> SupId: </b>
                        <div class="col-md-10">
                            <input type="text" maxlength="5" class="form-control" id="edit-supItem-Id" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <b class="col-md-2"> Items: </b>
                        <div class="col-md-7">
                            <select name="InvItems" class="form-control" id="edit-supItem-Items">
                                @*@foreach (var item in ViewData["InvItems"] as IEnumerable<JobsV1.Models.InvItem>)
                                    {
                                        <option value="@item.Id"> @item.Description </option>
                                    }*@
                                @foreach (var item in ViewBag.InvItems as IEnumerable<JobsV1.Models.InvItem>)
                                {
                                    <option value="@item.Id"> @item.Description </option>
                                }
                            </select>
                        </div>
                    </div><br /><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Rate: </b>
                        <div class="col-md-10">
                            <input type="number" value="0" maxlength="25" class="form-control" id="edit-supItem-Rate" onkeypress='validate(event)' />
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group col-md-12">
                        <b class="col-md-2 "> Remarks: </b>
                        <div class="col-md-10">
                            <input type="text" maxlength="80" class="form-control" id="edit-supItem-Remarks" />
                        </div>
                    </div>
                </div>
                <!--End of Modal Body-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ajax_EditLeadItem()"> Save Changes </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Sales Lead Remarks -->
<div class="modal fade" id="SalesLeadRemarksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Sales Lead Remarks </h4>
            </div>
            <div class="modal-body" id="SupItems-modal-content">
                <div class="col-md-12">
                    <label class="form-label col-md-2"> Id </label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" maxlength="120" id="SalesLeadRemarks-Id" />
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="form-label col-md-2"> Remarks </label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" maxlength="120" id="SalesLeadRemarks-Remarks" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="SubmitSalesLeadRemarks()">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->