@model IEnumerable<JobsV1.Models.Class.cSalesLead>

@{
    ViewBag.Title = "Sales Leads ";
    Session["ROOTMENUID"] = 2;
    var SalesStatCode = (List<JobsV1.Models.SalesStatusCode>)ViewBag.StatusCodes;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    string USER = ViewBag.User;
    bool ISADMIN = ViewBag.IsAdmin;

    var BIDDING = "Bidding Only";
    var FIRM = "Firm Inquiry";
    var BUYING = "Buying Inquiry";
}

<link href="/Content/TableStyles.css" rel="stylesheet" />
<style>
    .link-status {
        padding: 10px;
    }

        .link-status:hover {
            color: white;
        }

    .cursor-hand {
        color: #337ab7;
    }

        .cursor-hand:hover {
            text-decoration: underline;
        }

    .filter-link {
        margin-right: 5px;
    }
</style>

<div class="view-header">
    <h2>Sales Lead: List </h2>

    <div class="header-btn-list">
        <div class="btn-group">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>

</div>

<div class="view-content content-min-width">

    @if (ISADMIN)
    {
        <p>
            Viewing as Admin
        </p>
    }
    
    <p>

        Filters:
        <span class="label label-primary filter-link">
            @Html.ActionLink("New", "Index", new { sortid = 1 }, new { @id = "status-1", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 1 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("Sales", "Index", new { sortid = 2 }, new { @id = "status-2", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 2 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("Procurement", "Index", new { sortid = 3 }, new { @id = "status-3", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 3 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("For Approval", "Index", new { sortid = 4 }, new { @id = "status-4", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 4 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("Approved", "Index", new { sortid = 5 }, new { @id = "status-5", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 5 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("Awarded", "Index", new { sortid = 6 }, new { @id = "status-6", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 6 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("Rejected", "Index", new { sortid = 7 }, new { @id = "status-7", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 7 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("Closed", "Index", new { sortid = 8 }, new { @id = "status-8", @class = "link-white" })
            @{Html.RenderAction("GetLeadStatusCount", new { statusId = 8 });}
        </span>
        <span class="label label-primary filter-link">
            @Html.ActionLink("All", "Index", new { sortid = 9 }, new { @id = "status-9", @class = "link-white" })
        </span>

    </p>

    <table class="table table-no-border">

        @foreach (var item in Model)
        {

            if (item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault() != null)
            {
                var company = item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault().CustEntMain;
            }


            <tr>
                <td id="lead@(item.Id)" class="td-no-border" style="padding-right: 20px;">
                    <div style="text-align:center;" class="date-box">
                        <span style="color:darkblue; font: bold 12px arial, verdana;">@item.Date.ToString("MMM-yyyy")</span>
                        <br /><span style="color:blue; font: bold 28px arial, verdana;">@item.Date.ToString("dd")</span>
                        <span style="color:blue; font: bold 12px arial, verdana;">(@item.Date.ToString("ddd"))</span>
                        @if (item.Price != 0)
                        {
                            <br /><br /><span style="color:red; font: normal 18px arial, verdana;">@item.Price.ToString("##,###")</span>
                        }
                    </div>

                    <p>
                        <nobr>
                            @if (item.ItemWeight != null)
                            {

                                if (USER == item.AssignedTo || ISADMIN)
                                {
                                    <a class="cursor-hand" onclick="ShowSalesLeadWeight(@item.Id)">
                                        <img src="~/Images/Icons/icons-weight.png" width="12" />
                                        &nbsp; @item.ItemWeight&nbsp;TONS
                                    </a>
                                }
                                else
                                {
                                    <span>
                                        <img src="~/Images/Icons/icons-weight.png" width="12" />
                                        &nbsp; @item.ItemWeight&nbsp;TONS
                                    </span>
                                }
                            }
                            else
                            {

                                if (USER == item.AssignedTo || ISADMIN)
                                {
                                    <a class="cursor-hand" onclick="ShowSalesLeadWeight(@item.Id)">
                                        <img src="~/Images/Icons/icons-weight.png" width="12" />&nbsp;
                                        Update Weight
                                    </a>
                                }

                            }
                        </nobr>
                    </p>


                    @{
                        foreach (var status in item.SalesStatus)
                        {
                            if (status.SalesStatusCodeId == 5)
                            {
                                <img src="~/Images/Customers/Category/Active-30.png" height="20" alt="ACCEPTED" />
                            }

                            if (status.SalesStatusCodeId == 7)
                            {
                                <img src="~/Images/SalesLead/close-icon.png" height="20" alt="ACCEPTED" />
                            }
                        }
                    }
                </td>
                <td>
                    <!--Sales Lead Status-->
                    <div>
                        @{
                            bool ForApproveOnce = false;
                        }
                        @foreach (var salesstat in SalesStatCode)
                        {
                            if (item.SalesStatus.Where(s => s.SalesStatusStatusId == 1).Select(s => s.SalesStatusCodeId).Contains(salesstat.Id))
                            {
                                //Active Status
                                <span>&#187;</span>
                                <span class="btn btn-success btn-arrow-right">
                                    <span class="link-white"> @salesstat.Name </span>
                                </span>

                            }
                            else
                            {
                                var OneMLimit = 1000000;
                                var ThreeMLimit = 3000000;

                                if (salesstat.Id == 7 || salesstat.Id == 8)
                                {
                                    // REJECT = 7, CLOSED = 8
                                    if (USER == item.AssignedTo || ISADMIN)
                                    {
                                        <span>&#187;</span>
                                        <button class="btn btn-primary btn-arrow-right cursor-hand">
                                            <a class="link-white link-status" onclick="UpdateLeadStatusRemarks(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                        </button>
                                    }
                                    else
                                    {

                                        //disable status
                                        <span>&#187;</span>
                                        <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                            <a class="link-white link-status"> @salesstat.Name </a>
                                        </button>
                                    }
                                }
                                else if (salesstat.Id == 4)
                                {
                                    //FOR APPROVAL - 4
                                    //Check if Weight and price is not 0 or null
                                    if (item.ItemWeight != null)
                                    {
                                        if (item.ItemWeight.Trim() == "" || item.ItemWeight == "0" || item.ItemWeight == "0.00" ||
                                        item.Price == 0)
                                        {

                                            //disable status
                                            <span>&#187;</span>
                                            <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;"
                                                    onclick="alert('Please update the Item WEIGHT and PRICE to proceed to FOR APPROVAL')">
                                                <a class="link-white link-status"> @salesstat.Name </a>
                                            </button>
                                        }
                                        else
                                        {
                                            <span>&#187;</span>
                                            <button class="btn btn-primary btn-arrow-right cursor-hand">
                                                <a class="link-white link-status" onclick="UpdateLeadStatus(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        //disable status
                                        <span>&#187;</span>
                                        <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;"
                                                onclick="alert('Please update the item weight to proceed to FOR APPROVAL')">
                                            <a class="link-white link-status"> @salesstat.Name </a>
                                        </button>
                                    }

                                }
                                else if (salesstat.Id == 5)
                                {
                                    //APPROVED - 5
                                    var actStatusType = item.ActivityStatusType;

                                    if (((item.Price > OneMLimit && item.Price < ThreeMLimit) && actStatusType == BIDDING) ||
                                        ((item.Price <= OneMLimit) && (actStatusType == FIRM || actStatusType == BUYING)) ||
                                          item.Price > ThreeMLimit ||
                                        ((item.Price > OneMLimit && item.Price < ThreeMLimit) && (actStatusType == FIRM || actStatusType == BUYING))
                                         )
                                    {

                                        if (ISADMIN)
                                        {
                                            <span>&#187;</span>
                                            <button class="btn btn-primary btn-arrow-right cursor-hand ">
                                                <a class="link-white link-status" onclick="UpdateLeadStatus(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                            </button>
                                        }
                                        else
                                        {

                                            //disable status
                                            <span>&#187;</span>
                                            <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                                <a class="link-white link-status"> @salesstat.Name </a>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        if (USER == item.AssignedTo || ISADMIN)
                                        {
                                            <span>&#187;</span>
                                            <button class="btn btn-primary btn-arrow-right cursor-hand ">
                                                <a class="link-white link-status" onclick="UpdateLeadStatus(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                            </button>
                                        }
                                        else
                                        {

                                            //disable status
                                            <span>&#187;</span>
                                            <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                                <a class="link-white link-status"> @salesstat.Name </a>
                                            </button>
                                        }
                                    }

                                }
                                else if (salesstat.Id == 15 || salesstat.Id == 16)
                                {
                                    //approved by Aldrin OR Approved by Mario
                                    var statusCode = item.SalesStatus.Where(s => s.SalesStatusCodeId == 15 || s.SalesStatusCodeId == 16).ToList();

                                    var actStatusType = item.ActivityStatusType;
                                    bool isApproved = false;

                                    if (statusCode.Count() > 0)
                                    {
                                        isApproved = true;
                                    }

                                    if ((item.Price > OneMLimit && item.Price < ThreeMLimit) ||
                                        ((item.Price > OneMLimit && item.Price < ThreeMLimit) && actStatusType == BIDDING) ||
                                        ((item.Price <= OneMLimit) && (actStatusType == FIRM || actStatusType == BUYING)))
                                    {
                                        //Check if user is allowed to approved
                                        if (salesstat.SalesStatusRestrictions.Where(s => s.SalesStatusAllowedUser.User == USER).FirstOrDefault() != null)
                                        {
                                            var allowedUser = salesstat.SalesStatusRestrictions.Where(s => s.SalesStatusAllowedUser.User == USER)
                                                .FirstOrDefault().SalesStatusAllowedUser.User;
                                            if (allowedUser == USER)
                                            {
                                                //if not yet approved, allow user to approve
                                                if (!isApproved)
                                                {
                                                    <span>&#187;</span>
                                                    <button class="btn btn-primary btn-arrow-right cursor-hand ">
                                                        <a class="link-white link-status" onclick="UpdateLeadStatus(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                                    </button>
                                                }
                                                else
                                                {
                                                    //disable status
                                                    <span>&#187;</span>
                                                    <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                                        <a class="link-white link-status"> @salesstat.Name </a>
                                                    </button>
                                                }
                                            }
                                            else
                                            {
                                                //disable status
                                                <span>&#187;</span>
                                                <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                                    <a class="link-white link-status"> @salesstat.Name </a>
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            if (!ForApproveOnce && !isApproved)
                                            {
                                                ForApproveOnce = true;
                                                @*<span>&#187;</span>
                                <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                    <a class="link-white link-status"> APPROVED BY MARIO/ALDRIN </a>
                                </button>*@
                                            }
                                        }

                                    }

                                    //Requires Two Approval
                                    //Price is 3M OR 1M AND status type is Firm Inquiry or Buying Inquiry
                                    if (item.Price > ThreeMLimit || (item.Price > ThreeMLimit && actStatusType == BIDDING) ||
                                      ((item.Price > OneMLimit && item.Price < ThreeMLimit) && (actStatusType == FIRM || actStatusType == BUYING)))
                                    //if (item.Price > ThreeMLimit)
                                    {
                                        //approved by Aldrin AND Approved by Mario
                                        if (salesstat.SalesStatusRestrictions.Where(s => s.SalesStatusAllowedUser.User == USER).FirstOrDefault() != null)
                                        {
                                            var allowedUser = salesstat.SalesStatusRestrictions.Where(s => s.SalesStatusAllowedUser.User == USER)
                                                .FirstOrDefault().SalesStatusAllowedUser.User;
                                            if (allowedUser == USER)
                                            {
                                                <span>&#187;</span>
                                                <button class="btn btn-primary btn-arrow-right cursor-hand ">
                                                    <a class="link-white link-status" onclick="UpdateLeadStatus(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                                </button>
                                            }
                                            else
                                            {
                                                //disable status
                                                <span>&#187;</span>
                                                <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                                    <a class="link-white link-status"> @salesstat.Name </a>
                                                </button>
                                            }
                                        }

                                        if (salesstat.SalesStatusRestrictions.Where(s => s.SalesStatusAllowedUser.User != USER).FirstOrDefault() != null)
                                        {
                                            var OtherallowedUsers = salesstat.SalesStatusRestrictions.Where(s => s.SalesStatusAllowedUser.User != USER)
                                                .ToList();


                                            foreach (var otherUsers in OtherallowedUsers)
                                            {
                                                <span>&#187;</span>
                                                <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                                    <a class="link-white link-status"> @salesstat.Name </a>
                                                </button>
                                            }

                                        }

                                    }

                                }
                                else
                                {

                                    if (USER == item.AssignedTo || ISADMIN)
                                    {
                                        <span>&#187;</span>
                                        <button class="btn btn-primary btn-arrow-right cursor-hand ">
                                            <a class="link-white link-status" onclick="UpdateLeadStatus(this, @item.Id, @salesstat.Id)"> @salesstat.Name </a>
                                        </button>
                                    }
                                    else
                                    {

                                        //disable status
                                        <span>&#187;</span>
                                        <button class="btn btn-primary btn-arrow-right" style="cursor:no-drop;">
                                            <a class="link-white link-status"> @salesstat.Name </a>
                                        </button>
                                    }

                                }

                            }
                        }
                    </div>
                    <!-- End of Status -->

                    <div>
                        <span style="color:darkgreen;font:bold 16px arial, verdana;">
                            @try
                            {
                                if (item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault() != null)
                                {
                                    var company = item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault().CustEntMain;

                                    <text>
                                        @company.Name
                                    </text>
                                }
                            }
                            catch { }
                        </span> |
                        <span style="color:maroon;font:bold 12px arial, verdana;">
                            @Html.DisplayFor(modelItem => item.CustName)

                            @if (item.CustPhone.IsEmpty())
                            {
                                <text> / </text>
                                @Html.DisplayFor(modelItem => item.CustPhone)
                            }

                            @if (item.CustEmail.IsEmpty())
                            {
                                <text> / </text>
                                @Html.DisplayFor(modelItem => item.CustEmail)
                            }

                        </span>

                        &nbsp; &nbsp;

                        @if (USER == item.AssignedTo || ISADMIN)
                        {

                            @*@Html.ActionLink("Edit Contact", "CompanyDetail", new { slid = item.Id, CustId = item.CustomerId }) |*@
                            @*@Html.ActionLink("Files List", "FileList", new { custid = item.CustomerId, salesleadId = item.Id })*@
                            @*@Html.ActionLink("Details", "LeadDetails", new { id = item.Id }) |*@

                            <span>
                                [
                                @Html.ActionLink("Edit Lead", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Profitability", "SalesLeadCat", new { id = item.Id }) |
                                <span class="cursor-hand" onclick="RevisionConfirmation(@item.Id)"> For Revision  </span>
                                ]
                            </span>

                        }

                        <span style="margin-left:10px;">
                            @foreach (var salescat in item.SalesLeadCategories)
                            {
                                <img src=@Url.Content(@salescat.SalesLeadCatCode.iconPath)
                                     alt=@salescat.SalesLeadCatCode.CatName height="20" width="20"
                                     title=@salescat.SalesLeadCatCode.CatName />
                                @*<span class="label label-default">@salescat.SalesLeadCatCode.CatName  </span>*@
                            }
                        </span>
                        @*<span class="label label-default" style="margin-left:5px;"> Status: @{Html.RenderAction("GetLastestActivityType", new { id = item.Id }); } </span>*@

                        <br />
                        <span style="font-weight:600;color:#282828;">
                            @Html.DisplayFor(modelItem => item.SalesCode) -
                        </span>

                        <span style="font-weight:600;color:darkblue;">
                            @Html.DisplayFor(modelItem => item.Details)
                        </span>
                        <br />
                        <span style="font:500 arial, verdana;">
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </span>
                        <br />

                        <span style="font:bold 8px, arial, verdana; color:maroon ;">
                            Activities
                            @if (USER == item.AssignedTo || ISADMIN)
                            {
                                <span class="label label-default cursor-hand" onclick="ShowUpdateActivityStatus_Modal(@item.Id)"
                                      style="color:white;">
                                    @item.ActivityStatus - @item.ActivityStatusType
                                </span>
                            }
                            else
                            {
                                <span class="label label-default" style="color:white;cursor:no-drop;">
                                    @item.ActivityStatus - @item.ActivityStatusType
                                </span>
                            }

                            <br />
                        </span>



                        <!-- Activities-->
                        @if (!String.IsNullOrWhiteSpace(item.SalesCode))
                        {

                            if (item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault() != null)
                            {
                                var company = item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault().CustEntMain;

                                Html.RenderAction("CustActivitiesPartial", new { salesCode = item.SalesCode, slId = item.Id });

                                if (USER == item.AssignedTo || ISADMIN)
                                {
                                    <span>
                                        @Html.ActionLink("[ Add Activity ]", "ListCustActivityCodes",
                                        new
                                            {
                                                id = item.Id,
                                                salesCode = item.SalesCode,
                                                projectName = item.Details,
                                                amount = item.Price,
                                                companyId = company.Id
                                            })
                                    </span>
                                }

                            }
                            if (ISADMIN)
                            {
                                <br />
                                <br />
                                <span style="font:bold 8px, arial, verdana; color:maroon ;">
                                    Procurement Activities
                                </span>
                                <span style="font:bold 8px, arial, verdana; color: royalblue;">
                                    @foreach (var procActGroup in item.SalesLeadSupActivities.GroupBy(s => s.SupplierActivity.Supplier.Name))
                                    {
                                        <br /><span style="color:darkred;font-weight:600;padding-top:10px;"> @procActGroup.Key </span><br />
                                        foreach (var procAct in procActGroup)
                                        {
                                            var tmpAct = procAct.SupplierActivity;
                                            var amount = tmpAct.Amount ?? 0;
                                            if (tmpAct.SupplierActActionStatusId == 1)
                                            {
                                                <span style="color:red;font-weight:800;">! </span>
                                                <img src=@Url.Content(@tmpAct.SupplierActActionCode.IconPath)
                                                     alt=@tmpAct.SupplierActActionCode.IconPath height="16"
                                                     title=@tmpAct.SupplierActActionCode.IconPath />

                                                <span style="color:maroon;"> @tmpAct.SupplierActActionCode.Name - @amount.ToString("N0") @tmpAct.Currency - @tmpAct.Type | @tmpAct.Remarks </span>
                                                <span style="font:status-bar;color:darkgray;">
                                                    @tmpAct.DtActivity.ToString("MMM-dd-yyyy")
                                                    &nbsp;By: @tmpAct.Assigned.Split('@')[0]
                                                </span>
                                                @*<span class="cursor-hand" onclick="UpdateProcActivity_Done(@tmpAct.Id)"> Done | </span>*@
                                                @*<span class="cursor-hand" onclick="UpdateProcActivity_Remove(@tmpAct.Id)"> [ x ] </span>*@

                                                @*@Html.ActionLink("Done |", "ProcActivityDone", new { id = tmpAct.Id }, new { @id = "prevDefault", })*@
                                                @*@Html.ActionLink(" [x]", "ProcActivityRemove", new { id = tmpAct.Id })*@

                                                <br />
                                            }
                                            if (tmpAct.SupplierActActionStatusId == 2)
                                            {
                                                <span style="color:darkgray;font-weight:800;">&#10004; </span>
                                                <img src=@Url.Content(@tmpAct.SupplierActActionCode.IconPath)
                                                     alt=@tmpAct.SupplierActActionCode.IconPath height="16"
                                                     title=@tmpAct.SupplierActActionCode.IconPath />
                                                <span style="color:darkgray;"> @tmpAct.SupplierActActionCode.Name  - @amount.ToString("N0") @tmpAct.Currency -  @tmpAct.Type | @tmpAct.Remarks</span>
                                                <span style="font:status-bar;color:darkgray;"> @tmpAct.DtActivity.ToString("MMM-dd-yyyy")</span>
                                                <br />
                                            }
                                            if (tmpAct.SupplierActActionStatusId == 3)
                                            {
                                                <span style="color:darkgray;font-weight:800;">&#x2022; </span>
                                                <img src=@Url.Content(@tmpAct.SupplierActActionCode.IconPath)
                                                     alt=@tmpAct.SupplierActActionCode.IconPath height="16"
                                                     title=@tmpAct.SupplierActActionCode.IconPath />
                                                <strike style="color:darkgray;">
                                                    <span style="color:darkgray;"> @tmpAct.SupplierActActionCode.Name - @amount.ToString("N0") @tmpAct.Currency -  @tmpAct.Type | @tmpAct.Remarks</span>
                                                    <span style="font:status-bar;color:darkgray;"> @tmpAct.DtActivity.ToString("MMM-dd-yyyy")</span>
                                                </strike>
                                                <br />
                                            }
                                        }
                                    }
                                </span>
                            }
                        }
                        else
                        {
                            var salesCode = item.SalesCode ?? "";
                            @*@String.IsNullOrWhiteSpace(item.SalesCode)*@
                            <span style="font:bold 8px, arial, verdana; color:maroon ;">
                                Activities
                                @* <span class="label label-default" style="margin-left:5px;"> @{Html.RenderAction("GetLastestActivityType", new { id = item.Id }); } </span>*@
                                <br />
                            </span>

                            <span style="font:bold 8px, arial, verdana; color: royalblue;">
                                @foreach (var tmpAct in item.SalesActivities)
                                {
                                    if (tmpAct.SalesActStatusId == 1)
                                    {
                                        <span style="color:red;font-weight:800;">! </span>
                                        <img src=@Url.Content(@tmpAct.SalesActCode.iconPath)
                                             alt=@tmpAct.SalesActCode.iconPath height="16"
                                             title=@tmpAct.SalesActCode.iconPath />

                                        <span style="color:maroon;"> @tmpAct.SalesActCode.Name - @tmpAct.Particulars  </span>
                                        <span style="font:status-bar;color:darkgray;"> @tmpAct.DtActivity.ToString("MMM-dd-yyyy")</span>
                                        @Html.ActionLink("Done |", "SalesActivityDone", new { id = tmpAct.Id }, new { @id = "prevDefault", })
                                        @Html.ActionLink(" [x]", "SalesActivityRemove", new { id = tmpAct.Id })

                                        <br />
                                    }
                                    if (tmpAct.SalesActStatusId == 2)
                                    {
                                        <span style="color:darkgray;font-weight:800;">&#10004; </span>
                                        <img src=@Url.Content(@tmpAct.SalesActCode.iconPath)
                                             alt=@tmpAct.SalesActCode.iconPath height="16"
                                             title=@tmpAct.SalesActCode.iconPath />
                                        <span style="color:darkgray;">@tmpAct.Particulars</span>
                                        <span style="font:status-bar;color:darkgray;"> @tmpAct.DtActivity.ToString("MMM-dd-yyyy")</span>
                                        <br />
                                    }
                                    if (tmpAct.SalesActStatusId == 3)
                                    {
                                        <span style="color:darkgray;font-weight:800;">&#x2022; </span>
                                        <img src=@Url.Content(@tmpAct.SalesActCode.iconPath)
                                             alt=@tmpAct.SalesActCode.iconPath height="16"
                                             title=@tmpAct.SalesActCode.iconPath />
                                        <span style="color:darkgray;">@tmpAct.Particulars</span>
                                        <span style="font:status-bar;color:darkgray;"> @tmpAct.DtActivity.ToString("MMM-dd-yyyy")</span>
                                        <br />
                                    }
                                }
                            </span>

                            if (USER == item.AssignedTo || ISADMIN)
                            {
                                <span>[ @Html.ActionLink("Add Activity", "ListActivityCodes", new { id = item.Id }) ]</span>
                            }
                        }


                        <!-- Items with Prices -->
                        <br /><br />
                        <span style="font:bolder 12px, arial, verdana; color:black;font-weight:600;">
                            ITEMS
                        </span> <br />

                        <div id="SalesLeadItems-@item.Id">
                            @foreach (var invItems in item.SalesLeadItems)
                            {
                                <div style="border:1px solid lightgray;padding:0px;width:100%;margin-bottom:5px;padding-bottom:5px;">

                                    <div style="background-color:lightgray;padding:5px;">
                                        <b>
                                            @invItems.InvItem.Description -
                                            @if (invItems.QuotedPrice != null)
                                            {
                                                <span>P </span>@Decimal.Parse(invItems.QuotedPrice.ToString()).ToString("##,###")
                                            }
                                            <span style="font:normal 10px arial,verdana;">( @invItems.Remarks )</span>
                                        </b>

                                        @if (USER == item.AssignedTo || ISADMIN)
                                        {
                                            <span class="pull-right">
                                                <a id="catbtn" class="cursor-hand" data-toggle="modal" data-target="#EditSupLeadItem" style="margin-bottom:10px;" onclick="EditLeadItem(@invItems.Id,@invItems.InvItemId,'@invItems.QuotedPrice', '@invItems.Remarks','@invItems.InvItem.Description')">[ Edit ]</a>
                                                <a class="cursor-hand" onclick="ajax_RemoveItem(@invItems.Id)">[ x ]</a>
                                            </span>
                                        }
                                    </div>

                                    <div id="supItem-@invItems.Id">
                                        @foreach (var supItem in invItems.SalesLeadQuotedItems)
                                        {
                                            if (supItem.SalesLeadQuotedItemStatusId == 2 || ISADMIN)
                                            {
                                                <p style="margin:3px 20px;">
                                                    <span style="color:green;">


                                                        @if (supItem.SupplierItemRate.ItemRate != null)

                                                        {
                                                            @Decimal.Parse(supItem.SupplierItemRate.ItemRate).ToString("##,###") <span> / </span>
                                                        }

                                                        @supItem.SupplierItemRate.SupplierUnit.Unit  -
                                                    </span>

                                                    <b>@supItem.SupplierItemRate.SupplierInvItem.Supplier.Name</b> |
                                                    @supItem.SupplierItemRate.Particulars
                                                    @if (!String.IsNullOrEmpty(supItem.SupplierItemRate.Material))
                                                    {
                                                        <span>  - @supItem.SupplierItemRate.Material</span>
                                                    }

                                                    @*<a class="cursor-hand" onclick="removeSupItems(@supItem.Id)">[ x ]</a>*@
                                                </p>

                                                <p style="margin-top:-5px;margin-left:20px;font-size:12px;color:gray;">

                                                    <span style="font:normal 11px arial,verdana;margin-left:10px;">
                                                        Validity :
                                                        @{DateTime tempDate, tempDate2; }
                                                        @if (DateTime.TryParse(supItem.SupplierItemRate.DtValidFrom, out tempDate) &&
                                                            DateTime.TryParse(supItem.SupplierItemRate.DtValidTo, out tempDate2))
                                                        {

                                                            @tempDate.ToString("MMM dd yyyy") <span>-</span>
                                                            @tempDate2.ToString("MMM dd yyyy")
                                                        }
                                                    </span>


                                                    <span style="margin-left:10px;">
                                                        @if (supItem.SupplierItemRate.Origin != null)
                                                        {
                                                            <span>Origin: @supItem.SupplierItemRate.Origin</span>
                                                        }
                                                    </span>

                                                    <span style="margin-left:10px;">
                                                        Procured by: @supItem.SupplierItemRate.ProcBy
                                                    </span>

                                                </p>
                                            }

                                        }
                                    </div>

                                    <!--Add Item-->
                                    @*<a id="catbtn" class="cursor-hand" data-toggle="modal" data-target="#supItemRate" style="margin-left:15px;" onclick="getItemSuppliers(@invItems.InvItemId,'@invItems.InvItem.Description', @invItems.Id )">[ Add Supplier ]</a>*@

                                </div>
                            }
                        </div>
                        <br />
                        @if (USER == item.AssignedTo || ISADMIN)
                        {
                            <span>
                                <a id="catbtn" class="cursor-hand" data-toggle="modal" data-target="#selectSupItem" style="margin-bottom:10px;" onclick="setLeadId(@item.Id)">[ Add Item ]</a>
                            </span>
                        }
                        <!--Add Item-->

                        <br />
                        <span style="font: status-bar; color:gray;">
                            Entered: @Html.DisplayFor(modelItem => item.EnteredBy)
                            @@ @Html.DisplayFor(modelItem => item.DtEntered)
                        </span>
                        <br />
                        <span style="font: status-bar; color:gray;">
                            Assigned: @Html.DisplayFor(modelItem => item.AssignedTo)
                        </span>
                    </div>
                </td>
            </tr>
        }

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="2">
                    <h3 class="text-center text-muted"> No Sales Lead Found </h3>
                </td>
            </tr>
        }

    </table>
</div>


@{Html.RenderPartial("AddSupItemPartial");}
@{Html.RenderPartial("_UpdateActivityStatus");}
@{Html.RenderPartial("_AddLeadWeight");}

<div class="view-content" hidden>

    <p>
        @*@Html.ActionLink("Create New", "Create") |
            Sales Lead |*@
        @* @Html.ActionLink("Quotation", "JobLeads", "JobMains")*@
    </p>
    <p>
        Filters:
        @Html.ActionLink("New Lead", "Index", null, null) |
        @Html.ActionLink("OnGoing", "Index", new { sortid = 4 }) |
        @Html.ActionLink("Accepted", "Index", new { sortid = 1 }) |
        @Html.ActionLink("Closed", "Index", new { sortid = 2 }) |
        @Html.ActionLink("All", "Index", new { sortid = 3 }, null)
    </p>
</div>

@section scripts
{
    <script src="~/Scripts/Job/Scroll.js"></script>
    <script type="text/javascript" src="~/Scripts/SalesLead/SalesLead.js"></script>
    <script type="text/javascript" src="~/Scripts/SalesLead/AddSupItem.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ('@(ViewBag.LeadId)' != '') {
                $('html, body').animate({
                    scrollTop: $("#lead@(ViewBag.LeadId)").offset().top - 50
                }, 750);
            }
           

            if(@((int)Session["SLFilterID"]) != null){
                var statusId = @((int)Session["SLFilterID"]);
                switch(statusId){
                    case statusId:
                        $("#status-" + statusId).css("color", "black");
                        $("#status-" + statusId).parent().addClass("label-default");
                        $("#status-" + statusId).parent().removeClass("label-primary");
                        //$("#status-" + statusId).parent().siblings().removeClass("label-primary");
                        break;
                    default:
                        $("#newLead").css("color", "black");
                        break;
                }
            }
        });


        function UpdateLeadItemStatus(leadItemId, statusId ) {

            $.post('/Procurement/UpdateLeadItemStatus',  { id: leadItemId, statusId: statusId })
                .done((result) => {
                    console.log(result);
                    if (result == "True") {
                        window.location.reload(false);
                    } else {
                        alert("Unable to Update Sales Lead Item Status");
                    }
                })
                .fail((err) => {
                    alert("Unable to Update Sales Lead Item Status");
                });
        }

        function ShowSalesLeadWeight(leadId) {
            $("#AddLeadWeight-LeadId").val(leadId);

            $("#AddLeadWeightModal").modal("show");

            //get sales item lead weight
            GetSalesLeadWeight(leadId);
        }

        function Submit_AddSalesLeadWeight() {
            var leadId = $("#AddLeadWeight-LeadId").val();
            var input_weight = $("#AddLeadWeight-Weight").val();

            console.log("leadID:" + leadId);
            console.log("input_weight:" + input_weight);

            $.post("/SalesLeads/UpdateLeadWeight", { id: leadId, weight : input_weight })
                .done(() => {
                    window.location.reload(false);
                })
                .fail(() => {
                    console.log("Unable to update weight");
                });
        }

        function CustActivityEdit(activityId) {
            window.location.href = "/SalesLeads/EditCustActivityCode/" + activityId;
        }

        function GetSalesLeadWeight(leadId) {  
            //GetLeadWeight
            
            $.get("/SalesLeads/GetLeadWeight", { id: leadId})
                .done((res) => {
                    $("#AddLeadWeight-Weight").val(res);
                })
                .fail(() => {
                    console.log("Unable to update weight");
                });
        }

    </script>

}
