@model IEnumerable<JobsV1.Areas.Personel.Models.crLogPassengerMaster>

@{
    ViewBag.Title = "Passenger Master List";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Passenger Master List</h2>
<p>
    @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog") |
    @Html.ActionLink("Passenger Areas", "Index", "crLogPassengerAreas")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @if (ViewBag.SortBy == "Name")
            {
                <span>&#9660;</span>
                @Html.ActionLink("Name", "Index", new { sortBy = "Name" })
            }
            else
            {
                @Html.ActionLink("Name", "Index", new { sortBy = "Name" })
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupPoint)
        </th>
        <th>
            @if (ViewBag.SortBy == "PickupTime")
            {
                <span>&#9660;</span>
                @Html.ActionLink("PickupTime", "Index", new { sortBy = "PickupTime" })
            }
            else
            {
                @Html.ActionLink("PickupTime", "Index", new { sortBy = "PickupTime" })
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropTime)
        </th>
        <th>
            @if (ViewBag.SortBy == "Area")
            {
                <span>&#9660;</span>
                @Html.ActionLink("Area", "Index", new { sortBy = "Area" })
            }
            else
            {
                @Html.ActionLink("Area", "Index", new { sortBy = "Area" })
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
