@model IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>

@{
    ViewBag.Title = " Copy Passenger Trip Log";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Copy Passenger Trip Log</h2>
<p>
    @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog") 
</p>
<p>
    @Html.ActionLink("Search Again", "CopyPassTrip", null, new { @class = "btn btn-default" })

    @*<button class="btn btn-primary" onclick="ShowCopyLogsModal()">
        Copy Selected
    </button>*@
</p>
<table class="table" id="LogsTable">
    <tr>
        <th>
            Date
        </th>
        <th>
            Driver
        </th>
        <th>
            Description
        </th>
        <th>
            Passengers 
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
       
        <tr>
            @*<td class="td-checkbox"> <input type="checkbox" value="@item.Id" checked /> </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DtTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogDriver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogUnit.Description)
                /
                @Html.DisplayFor(modelItem => item.crLogCompany.Name)
                /
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a href="~/Personel/crLogPassengers/TripPassengers/@item.Id" title="See Passengers list" target="_blank">

                    @{Html.RenderAction("GetTripPassengersCount", new { id = item.Id });}
                </a>
            </td>
            <td>
                <button class="btn btn-primary" onclick="ShowCopyLogsModal(this,@item.Id)">
                    Copy 
                </button>
            </td>
        </tr>
    }

</table>


<!-- Search Date Modal -->
<!-- Modal -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal fade" role="dialog" id="FindLogDateModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="width:350px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Find Passenger Trips by Date</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-left:10px;">
                        <form class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Date:</label>
                                <input type="text" class="form-control" id="findLogDate" name="srchDate">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Company:</label>
                                <div class="col-md-10" style="padding-left:0px;">
                                    @Html.DropDownList("companyId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" value="Create" class="btn btn-primary" >Submit</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Copied Logs Date -->
<div class="modal fade" role="dialog" id="CopiedLogDateModal">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Cancel_SubmitPassCopyLogs()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Ongoing Trip</h4>
            </div>

            <div class="modal-body">
                <div class="row" style="margin-left:0px;">
                    <form class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-form-label">Select Trip:</label>
                            <div class="col-md-10" style="padding-left:0px;margin-top:10px;">
                                @Html.DropDownList("tripId", null, htmlAttributes: new { @class = "form-control", id = "copiedTripLog" })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  onclick="Cancel_SubmitPassCopyLogs()">Close</button>
                <button type="submit" value="Create" class="btn btn-primary" onclick="SubmitPassCopyLogs()">Submit</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Areas/Personel/Script/CopyTrip.js"></script>
    <script>
        var SELECTED_ID = 0;
        var SelectObj = HTMLElement;
       
        $(document).ready(() => {
            if ('@ViewBag.isSubmitted' == 'False') {
                $("#FindLogDateModal").modal("show");
            }
            $("#findLogDate").val(moment().add(-1,'days').format("MM/DD/YYYY"));
            $("#copiedLogDate").val(moment().format("MM/DD/YYYY"));
        });


        function SubmitCopyLogs() {
            let cDate = $("#copiedLogDate").val();
            let count = 0;
            console.log(cDate);

            $('#LogsTable  tr:gt(0)').each(function () {
                var current_row = $(this);
                var selected_Id = current_row.find("td:eq(0)").children('input:checked').val();
                console.log(selected_Id);
                //submit and copy logs to new logs
                ajax_CopyLogs(selected_Id, cDate);
                count++;
            });

            if (count > 0) {
                alert("Copying Done !");
                window.location.href = "../CarRentalLog/";
            } else {
                alert("No Items were selected");
            }
        }

        //submit log id and date to copy selected logs to a new logs
        function ajax_CopyLogs(id, cDate) {
           var res = $.post("/Personel/crLogPassengers/CopyPassTripSubmit", { id : id, copyDate: cDate }, (result) => {
               console.log("result:" + result);
               return result;
           });
        }

        function ShowCopyLogsModal(e, id) {
            $("#CopiedLogDateModal").modal("show");

            var findLogDate = $("#findLogDate").val();
            $("#copiedLogDate").val(moment(findLogDate).add(1, 'days').format("MM/DD/YYYY"));

            //set selectedID 
            SetSelectedID(id);
            $(SelectObj).addClass('disabled');

            SelectObj = e; 
        }

        function SetSelectedID(selected_Id) {
            this.SELECTED_ID = selected_Id;
        }

        function SubmitPassCopyLogs() {
            let cTripLogId = $("#copiedTripLog").val();

            console.log("selected_Id : " + SELECTED_ID);
            console.log("cTripLogId : " + cTripLogId);

             $.post("/Personel/crLogPassengers/CopyPassTripSubmit", { id: SELECTED_ID, destTripId: cTripLogId }, (result) => {
                console.log("result:" + result);

                 if (result == "True") {
                     alert("Copying Done !");
                     //close modal
                     $("#CopiedLogDateModal").modal("hide");
                     //$(SelectObj).addClass('disabled');
                } else {
                     alert("An Error occured while copying.");
                     $(SelectObj).removeClass('disabled');
                }
            });

        }

        function Cancel_SubmitPassCopyLogs() {
            $(SelectObj).removeClass('disabled');
        }

    </script>
}