@model IEnumerable<JobsV1.Areas.Personel.Models.crLogPassenger>

@{
    ViewBag.Title = "Drivers Trip Passengers";
    int TripId = ViewBag.TripId ?? 0;
    int DriversId = ViewBag.DriversId ?? 0;
    int ForPickupCount = 0;
    int ContactedCount = 0;
    int BoardedCount = 0;
    int FailedCount = 0;
    int DeclinedCount = 0;
    int DroppedCount = 0;
    var timeNow = DateTime.Now.TimeOfDay;
}

<div class="col-md-12">
    <h3>  @ViewBag.Driver / @ViewBag.UnitDetails </h3>
    <h4>
        <span class="text-muted">Trip :</span>

        @if (TripId == 0)
        {
            <span> No Trip Found. Try again later. </span>
        }
        else
        {
            @ViewBag.TripDetails
        }


    </h4>

    <button class="btn btn-default" onclick="location.reload()" style="width:105%;">
        Refresh List
    </button>

    @*<button class="btn btn-default" onclick="GetPassengerList()" style="width:100%;">
        Get List
    </button>*@
</div>

<div class="col-md-12" style="padding-right:0px;">
    <div class="list-group text-md" id="passengers-list">
        @foreach (var item in Model)
        {
           

            <a href="#" class="list-group-item" onclick="ShowPassengerAction(@item.Id,'@item.Name','@item.Contact', '@item.crLogPassStatusId')">
                <div class="driverTripPass-pickup">
                    <h5 class="mb-1">
                        @Html.DisplayFor(modelItem => item.PickupTime) -
                        @Html.DisplayFor(modelItem => item.PickupPoint)
                    </h5>
                    <div class="pull-right">
                        @if (item.crLogPassStatusId == 1)
                        {
                            ForPickupCount += 1;
                            <span class="badge badge-secondary"> @item.crLogPassStatu.Status </span>
                        }
                        @if (item.crLogPassStatusId == 2)
                        {
                            ContactedCount += 1;
                            <span class="badge badge-primary"> @item.crLogPassStatu.Status </span>
                        }
                        @if (item.crLogPassStatusId == 3)
                        {
                            BoardedCount += 1;
                            <span class="badge badge-info"> @item.crLogPassStatu.Status </span>
                        }
                        @if (item.crLogPassStatusId == 4)
                        {
                            DroppedCount += 1;
                            <span class="badge badge-success"> @item.crLogPassStatu.Status </span>
                        }
                        @if (item.crLogPassStatusId == 5)
                        {
                            DeclinedCount += 1;
                            <span class="badge badge-warning"> @item.crLogPassStatu.Status </span>
                        }
                        @if (item.crLogPassStatusId == 6)
                        {
                            FailedCount += 1;
                            <span class="badge badge-danger"> @item.crLogPassStatu.Status </span>
                        }
                    </div>
                </div>
                <p class="mb-1" style="font-size:19px;">
                    <span hidden>
                        @try
                        {
                            <!-- Contact -->
                            if (item.timeContacted.Length > 2 && item.crLogPassStatusId == 2)
                            {
                                if (item.crLogPassStatusId == 5)
                                {
                                    //declined
                                    <span class="status-circle-lightblue"> </span>
                                }
                                else if (item.crLogPassStatusId == 6)
                                {
                                    //failed
                                    <span class="status-circle-red"> </span>
                                }
                                else
                                {
                                    //success
                                    <span class="status-circle-green"> </span>
                                }
                            }
                            else
                            {
                                if (item.crLogPassStatusId == 1)
                                {
                                    //not yet contacted
                                    if (DateTime.Parse(item.PickupTime).TimeOfDay <= timeNow)
                                    {
                                        //handle late boarding
                                        <span class="status-circle-orange"> </span>
                                    }
                                    else
                                    {

                                        <span class="status-circle-gray"> </span>
                                    }
                                }
                            } <!-- End of Contact -->

                            <!-- Boarding -->
                            if (item.timeBoarded.Length > 2 && item.crLogPassStatusId == 3)
                            {
                                if (DateTime.Parse(item.timeBoarded).TimeOfDay >= timeNow)
                                {
                                    //handle late boarding
                                    <span class="status-circle-orange"> </span>
                                }
                                else
                                {
                                    if (item.crLogPassStatusId == 5)
                                    {
                                        //declined
                                        <span class="status-circle-lightblue"> </span>
                                    }
                                    else if (item.crLogPassStatusId == 6)
                                    {
                                        //failed
                                        <span class="status-circle-red"> </span>
                                    }
                                    else
                                    {
                                        //success
                                        <span class="status-circle-green"> </span>
                                    }
                                }
                            }
                            else
                            {
                                //not yet boarded
                                if (DateTime.Parse(item.PickupTime).TimeOfDay <= timeNow)
                                {
                                    //handle late boarding
                                    <span class="status-circle-orange"> </span>
                                }
                            } <!-- End of Boarding -->
                            <!-- Drop Off -->
                            if (item.timeDelivered.Length > 2 && item.crLogPassStatusId == 3)
                            {
                                if (DateTime.Parse(item.timeDelivered).TimeOfDay >= timeNow)
                                {
                                    //handle late boarding
                                    <span class="status-circle-orange"> </span>
                                }
                                else
                                {
                                    if (item.crLogPassStatusId == 5)
                                    {
                                        //declined
                                        <span class="status-circle-lightblue"> </span>
                                    }
                                    else if (item.crLogPassStatusId == 6)
                                    {
                                        //failed
                                        <span class="status-circle-red"> </span>
                                    }
                                    else
                                    {
                                        //success
                                        <span class="status-circle-green"> </span>
                                    }
                                }
                            }
                            else
                            {
                                //not yet dropped
                                if (DateTime.Parse(item.DropTime).TimeOfDay <= timeNow)
                                {
                                    //handle late boarding
                                    <span class="status-circle-orange"> </span>
                                }
                            }

                            if (item.crLogPassStatusId == 5)
                            {
                                //declined
                                <span class="status-circle-orange"> </span>
                            }

                            if (item.crLogPassStatusId == 6)
                            {
                                //declined
                                <span class="status-circle-red"> </span>
                            }
                        }
                        catch
                        {
                            <span> Error </span>
                        }
                    </span>

                    <span>
                        @if (item.timeContacted.Trim().Length > 2)
                        {
                            <span class="status-circle-green"> </span>
                        }
                        else
                        {
                            DateTime dt0 = System.DateTime.Now;
                            string st1 = item.PickupTime;
                            DateTime dt1 = new DateTime(
                                dt0.Year, dt0.Month, dt0.Day,
                                int.Parse(st1.Substring(0, st1.IndexOf(":"))) + 12,
                                int.Parse(st1.Substring(st1.IndexOf(":") + 1, 2)),
                                0).AddHours(-1);

                            if (DateTime.Compare(dt0, dt1) <= 0)
                            {
                                <span class="status-circle-gray"> </span>
                            }
                            else
                            {
                                <span class="status-circle-red"> </span>
                            }

                        }

                        @if (item.timeBoarded.Trim().Length > 2)
                        {
                            <span class="status-circle-green"> </span>
                        }
                        else
                        {

                            DateTime dt0 = System.DateTime.Now;
                            string st1 = item.PickupTime;
                            DateTime dt1 = new DateTime(
                                dt0.Year, dt0.Month, dt0.Day,
                                int.Parse(st1.Substring(0, st1.IndexOf(":"))) + 12,
                                int.Parse(st1.Substring(st1.IndexOf(":") + 1, 2)),
                                0);

                            if (DateTime.Compare(dt0, dt1) <= 0)
                            {
                                <span class="status-circle-gray"> </span>
                            }
                            else
                            {
                                <span class="status-circle-red"> </span>
                            }

                        }

                        @if (item.timeDelivered.Length > 2)
                        {
                            <span class="status-circle-green"> </span>
                        }
                        else
                        {
                            <span class="status-circle-gray"> </span>
                        }
                        &nbsp;

                    </span>

                    <span>
                        @item.Name - @item.Contact
                    </span>

                </p>
            </a>
        }
    </div>
</div>

@if (TripId != 0)
{
    <div class="col-md-12">
        <h3>Summary</h3>
        <p class="driverTripPass-summary">
            <button type="button" class="btn btn-primary" >
                For Pickup <span class="badge badge-light">@ForPickupCount</span>
                <span class="sr-only">passengers</span>
            </button>
            <button type="button" class="btn btn-primary">
                Contacted <span class="badge badge-light">@ContactedCount</span>
                <span class="sr-only">passengers</span>
            </button>
            <button type="button" class="btn btn-info">
                On Board <span class="badge badge-light">@BoardedCount</span>
                <span class="sr-only">passengers</span>
            </button>
            <button type="button" class="btn btn-success">
                Dropped <span class="badge badge-light">@DroppedCount</span>
                <span class="sr-only">passengers</span>
            </button>
            <button type="button" class="btn btn-warning">
                Declined <span class="badge badge-light">@DeclinedCount</span>
                <span class="sr-only">passengers</span>
            </button>
            <button type="button" class="btn btn-danger">
                Missed <span class="badge badge-light">@FailedCount</span>
                <span class="sr-only">passengers</span>
            </button>
        </p>
    </div>
}

<p class="col-md-12">
    <a href="/mod/110/driver/@DriversId" class="btn btn-default" style="width:105%;">
        Back to My Trip List
    </a>
   @* @Html.ActionLink("Back to Trip List", "DriversTripList", new { id = DriversId })*@
</p>

<!-- Passenger Action -->
<div class="modal fade" role="dialog" id="PassDetailsModal">
    <div class="modal-dialog" style="width:330px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Cancel_SubmitPassCopyLogs()" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"> Passenger Actions </h5>
            </div>

            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div class="driverTripPass-action-pass">
                        <h3 id="passDetails-name"> Customer Name </h3>
                        <a href="tel:09" id="passDetails-contact" class="btn btn-default">
                            <img src="~/Images/Icons/icon-call-blk.png" width="16" style="margin-right:5px;" />
                            <span id="passDetails-contact-text"> 0912-345-6789</span>
                        </a>
                    </div>
                    <a href="#" id="passDetails-contacted" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ShowConfirmAction(2)">
                        <div style="display:flex;justify-content:center;">
                            <h5 class="mb-1" style="font-weight:600;">
                                CONTACTED
                            </h5>
                        </div>
                    </a>
                    <a href="#" id="passDetails-board" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ShowConfirmAction(3)">
                        <div style="display:flex;justify-content:center;">
                            <h5 class="mb-1" style="font-weight:600;">
                                BOARDED
                            </h5>
                        </div>
                    </a>
                    <a href="#" id="passDetails-drop" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ShowConfirmAction(4)">
                        <div style="display:flex;justify-content:center;">
                            <h5 class="mb-1" style="font-weight:600;">
                                DROPPED
                            </h5>
                        </div>
                    </a>

                </div>

                <input id="PassId" type="text" value="0" hidden />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Confirm Action -->
<div class="modal fade" role="dialog" id="ConfirmActionModal">
    <div class="modal-dialog" style="width:330px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Cancel_SubmitPassCopyLogs()" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"> Passenger Status </h5>
            </div>

            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div class="driverTripPass-action-pass">
                        <h3 id="confirm-passDetails-name">
                            Customer Name Contacted ?
                        </h3>
                    </div>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-top:20px;" onclick="ConfirmActionStatus()">
                        <div style="display:flex;justify-content:center;">
                            <h5 class="mb-1" style="font-weight:600;">
                                YES
                            </h5>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ShowDeclinedModal()">
                        <div style="display:flex;justify-content:center;">
                            <h5 class="mb-1" style="font-weight:600;">
                                YES, but declined
                            </h5>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ShowFailedModal()">
                        <div style="display:flex;justify-content:center;">
                            <h5 class="mb-1" style="font-weight:600;">
                                NO
                            </h5>
                        </div>
                    </a>
                </div>
                <input id="confirmActionId" type="text" value="0" hidden />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Declined Action -->
<div class="modal fade" role="dialog" id="DeclinedActionModal">
    <div class="modal-dialog" style="width:330px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Declined Action </h4>
            </div>

            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div class="driverTripPass-action-pass">
                        <h3>
                            State reason
                        </h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmDeclinedAction(this)">
                            Passenger has private service
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmDeclinedAction(this)">
                            Passenger on rest day
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmDeclinedAction(this)">
                            Passenger commuted
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmDeclinedAction(this)">
                            Passenger declined
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmDeclinedAction(this)">
                            Passenger unspecified reason
                        </a>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Failed Action -->
<div class="modal fade" role="dialog" id="FailedActionModal">
    <div class="modal-dialog" style="width:330px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Failed Action </h4>
            </div>

            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div class="driverTripPass-action-pass">
                        <h3>
                            Please provide a reason
                        </h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger not anwering text/call
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger not on the pickup location
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger did not arrive on time
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger will be late
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger is absent / on-leave / rest day
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Unspecified reason
                        </a>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Failed Action -->
<div class="modal fade" role="dialog" id="ModalFailed">
    <div class="modal-dialog" style="width:330px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Failed Action </h4>
            </div>

            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div style="display:flex;justify-content:center;flex-direction:column;">
                        <h3 style="margin-top:0px;display:flex;justify-content:center;">
                            Please provide a reason
                        </h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger not anwering text/call
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger not on the pickup location
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger did not arrive on time
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger will be late
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Passenger is absent / on-leave / rest day
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" onclick="ConfirmFailedAction(this)">
                            Unspecified reason
                        </a>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        function GetPassengerList() {
            var tripId = @TripId;
            // get driver list of passengers

            var res = $.get("/Personel/crLogPassengers/GetTripPassList", { id: tripId }, (result) => {
                var parsedResult = JSON.parse(result)
                console.log(parsedResult);
                if (parsedResult.length > 0) {
                    //populate list
                    for (var i = 0; i < parsedResult.length; i++) {
                        var passDetails = '<a href="#" class="list-group-item"  onclick="ShowPassengerAction(' + parsedResult[i]["Id"] + ',"' + parsedResult[i]["Name"] + '","' + parsedResult[i]["Contact"] + '", "' + parsedResult[i]["crLogPassStatusId"]+'")"> '
                            + '<div class="driverTripPass-pickup">'
                            + ' <h5 class="mb-1">'
                            + parsedResult[i]["PickupTime"] + ' - ' + parsedResult[i]["PickupPoint"]
                            + '</h5>'
                            + '<div class="pull-right"> <span class="badge badge-primary">' + parsedResult[i]["Status"] + '</span></div>'
                            + '</div> '
                            + '<p class="mb-1" style="font-size:19px;">'
                            + parsedResult[i]["Name"] + ' - ' + parsedResult[i]["Contact"]
                            + '</p>'
                            + '</a>';

                        $("#passengers-list").append(passDetails);
                    }
                } else {
                    console.log("Unable to update")
                }
            });
        }

        function ShowPassengerAction(passId, passName, passContact, statusId) {
            $("#PassDetailsModal").modal('show');
            $("#passDetails-name").text(passName);
            $("#passDetails-contact-text").text(passContact);
            $("#passDetails-contact").attr("href", "tel:" + passContact.replace(/-/g, ''));

            $("#PassId").val(passId);
            //confirmation
            console.log("setting passid :" + passId);

            //reset status
            $("#passDetails-drop").removeClass('disabled');
            $("#passDetails-board").removeClass('disabled');
            $("#passDetails-contacted").removeClass('disabled');

            //filter status
            if (statusId == 1) {
                $("#passDetails-board").addClass('disabled');
                $("#passDetails-drop").addClass('disabled');
            } else if (statusId == 2) {
                $("#passDetails-contacted").addClass('disabled');
                $("#passDetails-drop").addClass('disabled');
            } else if (statusId == 3) {
                $("#passDetails-contacted").addClass('disabled');
                $("#passDetails-board").addClass('disabled');
            } else if (statusId == 4) {
                $("#passDetails-drop").addClass('disabled');
                $("#passDetails-board").addClass('disabled');
                $("#passDetails-contacted").addClass('disabled');
            } else {
                $("#passDetails-drop").addClass('disabled');
                $("#passDetails-board").addClass('disabled');
                $("#passDetails-contacted").addClass('disabled');
            }
        }


        function ShowConfirmAction(actionId) {
            $("#ConfirmActionModal").modal('show');
            $("#PassDetailsModal").modal('hide');


            var passName = $("#passDetails-name").text();
            var action = "Contacted ";
            switch (actionId) {
                case 2:
                    action = "Contacted ";
                    break;
                case 3:
                    action = "Boarded ";
                    break;
                case 4:
                    action = "Delivered ";
                    break;
                default:
                    action = "Contacted ";
                    break;

            }

            console.log("action: "+action);

            $("#confirmActionId").val(actionId);

            $("#confirm-passDetails-name").text(" Is " + passName + " " + action + " ?");

        }

        function ConfirmActionStatus() {

            console.log("Updating status");
            var actId = $("#confirmActionId").val();
            var passId = $("#PassId").val();

            var d = new Date();
            //remove seconds from time string
            var timeNow = d.toLocaleTimeString(navigator.language, { hour: '2-digit', minute: '2-digit', hour12: true });



            console.log("actId : " + actId);
            console.log("passId : " + passId);
            console.log("time : " + timeNow);

            var res = $.post("/Personel/crLogPassengers/PassengerStatusUpdate", { id: passId, actId: actId, time: timeNow, reason: " " }, (result) => {
                console.log("result:" + result);

                if (result == "True") {
                    //close modal
                    $("#ConfirmActionModal").modal("hide");
                    //reload page
                    location.reload();
                } else {

                    alert("An Error occured while updating status.");
                }
            });
            console.log(res);
        }

        function CancelActionStatus() {
            var reason = $("#confirmAction_No").find(":selected").text();
            $("#ConfirmActionModal").modal('hide');
            console.log("passId : " + passId);
        }

        //Declined
        function ShowDeclinedModal() {
            $("#ConfirmActionModal").modal('hide');
            $("#DeclinedActionModal").modal('show');
            //$("#ConfirmActionModal").modal('hide');
        }

        function ConfirmDeclinedAction(e) {
            var reason = $(e).text().trim();
            console.log("reason: " + reason);
            $("#DeclinedActionModal").modal('hide');

            var actId = 5; //declined
            var passId = $("#PassId").val();

            var d = new Date();
            var timeNow = d.toLocaleTimeString(navigator.language, { hour: '2-digit', minute: '2-digit', hour12: true });


            console.log("actId : " + actId);
            console.log("passId : " + passId);
            console.log("time : " + timeNow);

            var res = $.post("/Personel/crLogPassengers/PassengerStatusUpdate", { id: passId, actId: actId, time: timeNow, reason: reason  }, (result) => {
                console.log("result:" + result);

                if (result == "True") {
                    //alert("Pasenger Status Done!");

                    //close modal
                    $("#DeclinedActionModal").modal("hide");
                    //reload page
                    location.reload();
                } else {

                    alert("An Error occured while updating status.");
                }
            });
        }


        function ShowFailedModal() {
            $("#ConfirmActionModal").modal('hide');
            $("#FailedActionModal").modal('show');
        }
        function ConfirmFailedAction(e) {
            var reason = $(e).text().trim();
            console.log("reason: " + reason);
            $("#FailedActionModal").modal('hide');

            var actId = 6; //failed
            var passId = $("#PassId").val();

            var d = new Date();
            var timeNow = d.toLocaleTimeString(navigator.language, { hour: '2-digit', minute: '2-digit', hour12: true });


            console.log("actId : " + actId);
            console.log("passId : " + passId);
            console.log("time : " + timeNow);


            var res = $.post("/Personel/crLogPassengers/PassengerStatusUpdate", { id: passId, actId: actId, time: timeNow, reason : reason }, (result) => {
                console.log("result:" + result);

                if (result == "True") {
                    //alert("Pasenger Status Done!");

                    //close modal
                    $("#FailedActionModal").modal("hide");

                    //reload page
                    location.reload();
                } else {

                    alert("An Error occured while updating status.");
                }
            });
        }
    </script>
}