@model IEnumerable<JobsV1.Areas.Personel.Models.crLogPassenger>

@{
    ViewBag.Title = "Drivers_TripPassengers";
}

<h2>Drivers_TripPassengers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupPoint)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogPassStatu.Status)
            </td>
            <td>
                <button class="btn btn-default"> Status </button>
            </td>
        </tr>
    }

</table>
