@model IEnumerable<JobsV1.Areas.Personel.Models.crLogPassenger>

@{
    ViewBag.Title = "Passenger List";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    var tripDetails = ViewBag.TripDetails as JobsV1.Areas.Personel.Models.crLogTrip;
    var tripId = ViewBag.tripId ?? 0;
    DateTime datetimeNow = ViewBag.DateTimeNow;
    TimeSpan timeNow = datetimeNow.TimeOfDay;

}

<h2>@tripDetails.DtTrip.ToString("MMM dd yyyy")- @tripDetails.crLogCompany.Name / @tripDetails.crLogUnit.Description / @tripDetails.crLogDriver.Name </h2>
<h2>Passenger List</h2>

<p>
    @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog")
</p>
<p>
    @Html.ActionLink("Add Passenger", "CreatePassTrip", new { id = tripId }) |
    <a href="#" onclick="ShowCopyLogsModal(@tripId)">  Copy Passengers </a> |
    <a href="#" onclick="ShowMasterPassengerModal(@tripId)">  Copy From Master List </a>
    @*@Html.ActionLink("Copy From Master File", "CopyPassengersFromMaster", new { tripId = tripId })*@
</p>

<p>
    Sort :
    @Html.ActionLink("By Pickup Time", "TripPassengers", new { id = tripId , sortBy = "PickupTime" }) |
    @Html.ActionLink("By Area ", "TripPassengers", new { id = tripId , sortBy = "Area"}) 
</p>

<p>
    <span style="margin-right:10px;">Time : @datetimeNow.ToString("hh:mm tt")</span>
    <span style="margin-right:10px;">
        <span class="status-circle-green"> </span> Done
    </span>
    <span style="margin-right:10px;">
        <span class="status-circle-lightblue"> </span> Declined
    </span>
    <span style="margin-right:10px;">
        <span class="status-circle-orange"> </span> Late
    </span>
    <span style="margin-right:10px;">
        <span class="status-circle-red">  </span> Failed
    </span>
</p>
<table class="table">
    <tr>
        <th style="min-width:60px;">
            Status
        </th>
        <th>
            Passenger
        </th>
        <th>
            @if (ViewBag.SortBy == "PickupTime")
            {
                <text>
                    &#9660;
                </text>
            }

            @Html.ActionLink("PickupPoint", "TripPassengers", new { id = tripId, sortBy = "PickupTime" })
            <span class="text-primary" id="sort-default-time">


            </span>
        </th>
        <th>
            @if (ViewBag.SortBy == "Area")
            {
                <text>
                    &#9660;
                </text>
            }
            @Html.ActionLink("Area", "TripPassengers", new { id = tripId, sortBy = "Area" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropPoint)
        </th>
        <th>
            Contacted
        </th>
        <th width="80">
            Boarded
        </th>
        <th>
            Delivered
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crLogPassStatu.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @try
                {
                    DateTime tripDt = item.crLogTrip.DtTrip;
                    DateTime dtNow = datetimeNow;

                    string pt = item.PickupTime;
                    string dt = item.DropTime;

                    string tripDt_Pickup_string = tripDt.ToShortDateString() + " " + item.PickupTime;
                    string tripDt_Drop_string = tripDt.ToShortDateString() + " " + item.DropTime;

                    DateTime dtPickup = new DateTime();
                    DateTime dtBoard = new DateTime();
                    DateTime dtDropped = new DateTime();

                    if (!DateTime.TryParse(tripDt_Pickup_string, out dtPickup))
                    {
                        dtPickup = new DateTime(
                               tripDt.Year, tripDt.Month, tripDt.Day,
                               int.Parse(pt.Substring(0, pt.IndexOf(":"))) + 12,
                               int.Parse(pt.Substring(pt.IndexOf(":") + 1, 2)),
                               0);
                    }

                    if (!DateTime.TryParse(tripDt_Drop_string, out dtDropped))
                    {
                        dtPickup = new DateTime(
                               tripDt.Year, tripDt.Month, tripDt.Day,
                               int.Parse(pt.Substring(0, pt.IndexOf(":"))) + 12,
                               int.Parse(pt.Substring(pt.IndexOf(":") + 1, 2)),
                               0);
                    }

                    dtBoard = dtPickup;

                    if (item.NextDay == true)
                    {
                        dtPickup = dtPickup.AddDays(1);
                        dtBoard = dtBoard.AddDays(1);
                        dtDropped = dtDropped.AddDays(1);
                    }

                    if (dtPickup > dtDropped)
                    {
                        dtDropped = dtDropped.AddDays(1);
                    }
                    DateTime TwelveTime = new DateTime(
                               tripDt.Year, tripDt.Month, tripDt.Day,
                                12, 0, 0);

                    //adjust time less hour for driver notification
                    dtPickup = dtPickup.AddHours(-1);

                    <!-- Contact -->
                    if (item.timeContacted.Length > 2)
                    {
                        if (item.crLogPassStatusId == 5)
                        {
                            //declined
                            <span class="status-circle-lightblue"> </span>
                        }
                        else if (item.crLogPassStatusId == 6)
                        {
                            //failed
                            <span class="status-circle-red"> </span>
                        }
                        else
                        {
                            //success
                            <span class="status-circle-green"> </span>
                        }
                    }
                    else
                    {
                        //not yet contacted
                        if (dtPickup <= dtNow)
                        {
                            //handle late boarding

                            if (item.crLogPassStatusId == 5)
                            {
                                //declined
                                <span class="status-circle-lightblue"> </span>
                            }
                            else if (item.crLogPassStatusId == 6)
                            {
                                //failed
                                <span class="status-circle-red"> </span>
                            }
                            else
                            {
                                //handle late boarding
                                <span class="status-circle-red"> </span>
                            }
                        }
                        else
                        {
                            <span class="status-circle-gray"> </span>
                        }
                    } <!-- End of Contact -->

                    <!-- Boarding -->
                    if (item.timeBoarded.Length > 2)
                    {

                        if (dtBoard >= dtNow)
                        {
                            if (item.crLogPassStatusId == 5)
                            {
                                //declined
                                <span class="status-circle-lightblue"> </span>
                            }
                            else if (item.crLogPassStatusId == 6)
                            {
                                //failed
                                <span class="status-circle-red"> </span>
                            }
                            else
                            {
                                //handle late boarding
                                <span class="status-circle-orange"> </span>
                            }
                        }
                        else
                        {
                            if (dtBoard >= dtNow)
                            {
                                //handle late boarding
                                <span class="status-circle-orange"> </span>
                            }
                            else
                            {

                                //success
                                <span class="status-circle-green"> </span>

                            }
                        }
                    }
                    else
                    {

                        //not yet boarded
                        if (dtBoard <= dtNow)
                        {
                            if (item.crLogPassStatusId == 5)
                            {
                                //declined
                                <span class="status-circle-lightblue"> </span>
                            }
                            else if (item.crLogPassStatusId == 6)
                            {
                                //failed
                                <span class="status-circle-red"> </span>
                            }
                            else
                            {
                                //handle late boarding
                                <span class="status-circle-red"> </span>
                            }
                        }
                        else
                        {
                            <span class="status-circle-gray"> </span>
                        }
                    } <!-- End of Boarding -->
                    <!-- Drop Off -->
                    if (item.timeDelivered.Length > 2)
                    {
                        if (item.crLogPassStatusId == 5)
                        {
                            //declined
                            <span class="status-circle-lightblue"> </span>
                        }
                        else if (item.crLogPassStatusId == 6)
                        {
                            //failed
                            <span class="status-circle-red"> </span>
                        }
                        else
                        {
                           
                           //success
                           <span class="status-circle-green"> </span>
                        }
                    }
                    else
                    {

                        //not yet dropped
                        if (dtDropped <= dtNow)
                        {
                            if (item.crLogPassStatusId == 5)
                            {
                                //declined
                                <span class="status-circle-lightblue"> </span>
                            }
                            else if (item.crLogPassStatusId == 6)
                            {
                                //failed
                                <span class="status-circle-red"> </span>
                            }
                            else
                            {
                                //handle late boarding
                                <span class="status-circle-red"> </span>
                            }
                        }
                        else
                        {
                            <span class="status-circle-gray"> </span>
                        }
                    }
                }
                catch
                {
                    <span> Error </span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) -
                @Html.DisplayFor(modelItem => item.Contact)<br />
                <span class="text-muted"> @Html.DisplayFor(modelItem => item.PassAddress)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupTime) -
                @Html.DisplayFor(modelItem => item.PickupPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropTime) -
                @Html.DisplayFor(modelItem => item.DropPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeContacted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeBoarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogPassStatu.Status)
            </td>
            <td>
                <a href="#" onclick="ShowTranferPassengerModal(@item.Id)"> Transfer </a> |
                @Html.ActionLink("Edit", "EditPassTrip", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "DeletePassTrip", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<!-- Copied Logs Date -->
<div class="modal fade" role="dialog" id="CopiedTripLogModal">
    <div class="modal-dialog" style="min-width:330px;max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Cancel_SubmitPassCopyLogs()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Previous Trip</h4>
            </div>

            <div class="modal-body">
                <div style="margin-left:0px;">
                    <form>
                        <div class="form-group">
                            <div class="list-group ">
                                @foreach (var trip in ViewBag.tripList as IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>)
                                {
                                    if (trip.Id != tripId)
                                    {
                                        <a href="#" class="list-group-item" onclick="SelectTripToCopy(@trip.Id)" style="display:flex;justify-content:space-between">
                                            @trip.DtTrip.ToString("MMM dd") - @trip.crLogCompany.Name / @trip.crLogDriver.Name / @trip.crLogUnit.Description
                                            <div style="display:inline-block;">
                                                <span class="badge badge-primary badge-pill" title="Passengers">
                                                    @trip.crLogPassengers.Count()
                                                </span>
                                            </div>
                                        </a>
                                    }

                                }
                                @if (ViewBag.tripList == null)
                                {
                                    <p>
                                        No trips found
                                    </p>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Copied Logs Date -->
<div class="modal fade" role="dialog" id="CopiedTripPassengersModal">
    <div class="modal-dialog" style="min-width:330px;max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Passengers to Copy</h4>
            </div>

            <div class="modal-body">
                <div style="margin-left:0px;">
                    <form>
                        <div class="form-group">
                            <table class="table" id="CopyFrom-TripPassengerList">
                                <tr>
                                    <th> Passenger </th>
                                    <th>
                                        <input type="checkbox" onclick="SelectAllCheckBox();" id="select-all-checkbox" /> Copy All
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" value="Create" class="btn btn-primary" onclick="SubmitPassCopy()">Submit</button>
            </div>
        </div>
    </div>
</div>


<!-- Transfer Passenger to Trip -->
<div class="modal fade" role="dialog" id="TransferPassengerModal">
    <div class="modal-dialog" style="min-width:330px;max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Previous Trip</h4>
            </div>

            <div class="modal-body">
                <div style="margin-left:0px;">
                    <form>
                        <div class="form-group">
                            <div class="list-group ">
                                @foreach (var trip in ViewBag.tripList as IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>)
                                {
                                    if (trip.Id != tripId)
                                    {
                                        <a href="#" class="list-group-item" onclick="SelectTripFor_PassTransfer( @trip.Id)" style="display:flex;justify-content:space-between">
                                            @trip.DtTrip.ToString("MMM dd") - @trip.crLogCompany.Name / @trip.crLogDriver.Name / @trip.crLogUnit.Description
                                            <div style="display:inline-block;">
                                                <span class="badge badge-primary badge-pill" title="Passengers">
                                                    @trip.crLogPassengers.Count()
                                                </span>
                                            </div>

                                        </a>
                                    }

                                }
                                @if (ViewBag.tripList == null)
                                {
                                    <p>
                                        No trips found
                                    </p>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Transfer Passenger from Master List -->
<div class="modal fade" role="dialog" id="ShowMasterPassengerModal">
    <div class="modal-dialog" style="min-width:330px;max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Passenger Master List</h4>
            </div>

            <div class="modal-body">
                <div style="margin-left:0px;">
                    <form>
                        <div class="form-group">
                            <p> Select Passengers to Copy </p>
                            <div class="list-group">
                                @foreach (var pass in ViewBag.passMasters as IEnumerable<JobsV1.Areas.Personel.Models.crLogPassengerMaster>)
                                {
                                    if (pass.Id != tripId)
                                    {
                                        <a href="#" class="list-group-item" onclick="SelectPassMaster(this,@pass.Id)" style="display:flex;justify-content:space-between">
                                            @pass.Name
                                            <div style="display:inline-block;"> </div>
                                        </a>
                                    }

                                }
                                @if (ViewBag.tripList == null)
                                {
                                    <p>
                                        No trips found
                                    </p>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload();">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Areas/Personel/Script/CopyTrip.js"></script>
    <script src="~/Areas/Personel/Script/CopyPassengers.js"></script>

}