@model IEnumerable<JobsV1.Areas.Personel.Models.crLogPassenger>

@{
    ViewBag.Title = "Passenger List";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    var tripDetails = ViewBag.TripDetails as JobsV1.Areas.Personel.Models.crLogTrip;
    var tripId = ViewBag.tripId ?? 0;
}

<h2>@tripDetails.DtTrip.ToString("MMM dd yyyy")- @tripDetails.crLogCompany.Name / @tripDetails.crLogUnit.Description / @tripDetails.crLogDriver.Name </h2>
<h2>Passenger List</h2>

<p>
    @Html.ActionLink("Back to Trip Logs", "Index", "CarRentalLog")
</p>
<p>
    @Html.ActionLink("Add Passenger", "CreatePassTrip", new { id = tripId }) |

    <a href="#" onclick="ShowCopyLogsModal(@tripId)">
        Copy Trip
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            Passenger
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropPoint)
        </th>
        <th>
            Contacted
        </th>
        <th>
            Boarded
        </th>
        <th>
            Delivered
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crLogPassStatu.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.timeContacted.Length > 2)
                {
                    if (item.crLogPassStatusId == 5)
                    {
                        //declined
                        <span class="status-circle-orange"> </span>
                    }
                    else if (item.crLogPassStatusId == 6)
                    {
                        //failed
                        <span class="status-circle-red"> </span>
                    }
                    else
                    {
                        //success
                        <span class="status-circle-green"> </span>
                    }
                }
                else
                {
                    <span class="status-circle-gray"> </span>
                }

                @if (item.timeBoarded.Length > 2)
                {
                    if (item.crLogPassStatusId == 5)
                    {
                        //declined
                        <span class="status-circle-orange"> </span>
                    }
                    else if (item.crLogPassStatusId == 6)
                    {
                        //failed
                        <span class="status-circle-red"> </span>
                    }
                    else
                    {
                        //success
                        <span class="status-circle-green"> </span>
                    }
                }
                else
                {
                    <span class="status-circle-gray"> </span>
                }

                @if (item.timeDelivered.Length > 2)
                {
                    <span class="status-circle-green"> </span>
                }
                else
                {
                    <span class="status-circle-gray"> </span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) -
                @Html.DisplayFor(modelItem => item.Contact)<br />
                <span class="text-muted"> @Html.DisplayFor(modelItem => item.PassAddress)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupTime) -
                @Html.DisplayFor(modelItem => item.PickupPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropTime) -
                @Html.DisplayFor(modelItem => item.DropPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeContacted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeBoarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crLogPassStatu.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPassTrip", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeletePassTrip", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<!-- Copied Logs Date -->
<div class="modal fade" role="dialog" id="CopiedTripLogModal">
    <div class="modal-dialog" style="min-width:330px;max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Cancel_SubmitPassCopyLogs()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Select Ongoing Trip</h4>
            </div>

            <div class="modal-body">
                <div style="margin-left:0px;">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Select Trip:</label>
                            <div class="list-group ">
                                @foreach (var trip in ViewBag.tripList as IEnumerable<JobsV1.Areas.Personel.Models.crLogTrip>)
                                {

                                <a href="#" class="list-group-item" onclick="SelectTripToCopy(@trip.Id)" style="display:flex;justify-content:space-between">
                                    @trip.DtTrip.ToString("MMM dd") - @trip.crLogCompany.Name / @trip.crLogDriver.Name / @trip.crLogUnit.Description
                                    <div style="display:inline-block;">
                                        <span class="badge badge-primary badge-pill" title="Passengers" >
                                            @trip.crLogPassengers.Count()
                                        </span>
                                    </div>

                                </a>
                                }
                                @if (ViewBag.tripList == null)
                                {
                                    <p>
                                        No trips found
                                    </p>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Cancel_SubmitPassCopyLogs()">Close</button>
                <button type="submit" value="Create" class="btn btn-primary" onclick="SubmitPassCopyLogs()">Submit</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Areas/Personel/Script/CopyTrip.js"></script>
    <script>
        var SELECTED_ID = 0;

        $(document).ready(() => {
            //Initialize
        });

        function ShowCopyLogsModal(id) {
            $("#CopiedTripLogModal").modal("show");

            //set selectedID
            SetSelectedID(id);
        }

        function SetSelectedID(selected_Id) {
            this.SELECTED_ID = selected_Id;
        }

        //submit
        function SelectTripToCopy(source_tripId) {
            console.log("selected_Id : " + SELECTED_ID);
            console.log("tripId : " + source_tripId);

            $.post("/Personel/crLogPassengers/CopyPassTripSubmit", { id: source_tripId, destTripId: SELECTED_ID}, (result) => {
                console.log("result:" + result);

                if (result == "True") {
                    alert("Copying Done !");
                    //close modal
                    $("#CopiedTripLogModal").modal("hide");
                    location.reload();
                } else {
                    alert("An Error occured while copying.");
                }
            });

        }

        function Cancel_SubmitPassCopyLogs() {
        }

    </script>
}